<?xml version="1.0" encoding="gb2312"?>
<syncparams>
  <!--上传的数据是否做数据校验，0不校验，1校验-->
  <checkReceivedDB>1</checkReceivedDB>
  <!--控制基础档案同步周期，单位：分钟-->
  <SyncPeriodBaseInfo>10</SyncPeriodBaseInfo>
  <!--控制务数据同步周期，单位：分钟-->
  <SyncPeriodBusiInfo>10</SyncPeriodBusiInfo>
  <!--生成数据文件最小时间间隔，单位：分钟-->
  <DBFileCreateTime>10</DBFileCreateTime>
  <!--生成数据文件最大值，超过此值后，重新生成，单位：M-->
  <MaxDBSize>50</MaxDBSize>
  <Config>
    <Module name="AA" filePath="PDA_AA_Sync.config"/>
    <Module name="SM" filePath="PDA_SM_Sync.config"/>
  </Config>
</syncparams>