<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="reportAssociate" type="Ufida.T.BAP.Base.Report.ReportAssociateConfigSection,Ufida.T.BAP.Base"/>
  </configSections>
  <reportAssociate>
    <report>
      <!--总账模块-->

      <add name="GL_GLSumRpt" type="Ufida.T.GL.Report.Service.GLSumRpt,Ufida.T.GL.Service"/>
      <add name="GL_GLDetailRpt" type="Ufida.T.GL.Report.Service.GLDetailRpt,Ufida.T.GL.Service"/>
      <add name="GL_AuxGLSumRpt" type="Ufida.T.GL.Report.Service.AuxGLSumRpt,Ufida.T.GL.Service"/>
      <add name="GL_AuxGLDetailRpt" type="Ufida.T.GL.Report.Service.AuxGLDetailRpt,Ufida.T.GL.Service"/>
      <add name="GL_DailySumRpt" type="Ufida.T.GL.Report.Service.DailySumRpt,Ufida.T.GL.Service"/>
      <add name="GL_DailyDetailRpt" type="Ufida.T.GL.Report.Service.DailyDetailRpt,Ufida.T.GL.Service"/>
      <add name="GL_BalanceSumRpt" type="Ufida.T.GL.Report.Service.BalanceSumRpt,Ufida.T.GL.Service"/>
      <add name="GL_AuxBalanceSumRpt" type="Ufida.T.GL.Report.Service.AuxBalanceSumRpt,Ufida.T.GL.Service"/>
      <add name="GL_CashFlowSumRpt" type="Ufida.T.GL.Report.Service.CashFlowSumRpt,Ufida.T.GL.Service"/>
      <add name="GL_CustomerAgeAnalysisSumRpt" type="Ufida.T.GL.Report.Service.CustomerAgeAnalysisSumRpt,Ufida.T.GL.Service"/>
      <add name="GL_SupplierAgeAnalysisSumRpt" type="Ufida.T.GL.Report.Service.SupplierAgeAnalysisSumRpt,Ufida.T.GL.Service"/>
      <add name="GL_PersonAgeAnalysisSumRpt" type="Ufida.T.GL.Report.Service.PersonAgeAnalysisSumRpt,Ufida.T.GL.Service"/>

      <add name="ST_CurrentStockRpt" type="Ufida.T.ST.Report.Service.CurrentStockRpt,Ufida.T.ST.Report.Service"/>
      <add name="ST_ProductReceiveSumRpt" type="Ufida.T.ST.Report.Service.ProductReceiveSumRpt,Ufida.T.ST.Report.Service"/>
      <add name="ST_DelegateReceiveSumRpt" type="Ufida.T.ST.Report.Service.DelegateReceiveSumRpt,Ufida.T.ST.Report.Service"/>
      <add name="ST_OtherReceiveSumRpt" type="Ufida.T.ST.Report.Service.OtherReceiveSumRpt,Ufida.T.ST.Report.Service"/>
      <add name="ST_ShapeVoucherSumRpt" type="Ufida.T.ST.Report.Service.ShapeVoucherSumRpt,Ufida.T.ST.Report.Service"/>
      <add name="ST_TransVoucherSumRpt" type="Ufida.T.ST.Report.Service.TransVoucherSumRpt,Ufida.T.ST.Report.Service"/>
      <add name="ST_RDSPositionTotalRpt" type="Ufida.T.ST.Report.Service.RDSPositionTotalRpt,Ufida.T.ST.Report.Service"/>
      <add name="ST_PurchaseReceiveSumRpt" type="Ufida.T.ST.Report.Service.PurchaseReceiveSumRpt,Ufida.T.ST.Report.Service"/>
      <add name="ST_RDSInventoryTotalRpt" type="Ufida.T.ST.Report.Service.RDSInventoryTotalRpt,Ufida.T.ST.Report.Service"/>
      <add name="ST_SaleDispatchSumRpt" type="Ufida.T.ST.Report.Service.SaleDispatchSumRpt,Ufida.T.ST.Report.Service"/>
	  <add name="ST_RetailDispatchSumRpt" type="Ufida.T.ST.Report.Service.RetailDispatchSumRpt,Ufida.T.ST.Report.Service"/>
      <add name="ST_MaterialDispatchSumRpt" type="Ufida.T.ST.Report.Service.MaterialDispatchSumRpt,Ufida.T.ST.Report.Service"/>
      <add name="ST_DelegateDispatchSumRpt" type="Ufida.T.ST.Report.Service.ST_DelegateDispatchSumRpt,Ufida.T.ST.Report.Service"/>
      <add name="ST_OtherDispatchSumRpt" type="Ufida.T.ST.Report.Service.OtherDispatchSumRpt,Ufida.T.ST.Report.Service"/>
      <add name="ST_AssemDetachSumRpt" type="Ufida.T.ST.Report.Service.AssemDetachSumRpt,Ufida.T.ST.Report.Service"/>
      <add name="ST_TempValueBalanceRpt" type="Ufida.T.ST.Report.Service.TempValueBalanceRpt,Ufida.T.ST.Report.Service"/>
      <add name="ST_RDSRunningAccountRpt" type="Ufida.T.ST.Report.Service.RDSRunningAccountRpt,Ufida.T.ST.Report.Service"/>
      <add name="ST_RDSTraceRpt" type="Ufida.T.ST.Report.Service.RDSTraceRpt,Ufida.T.ST.Report.Service"/>
      <add name="ST_PeriodStartOfStockRpt" type="Ufida.T.ST.Report.Service.PeriodStartOfStockRpt,Ufida.T.ST.Report.Service"/>
      <add name="ST_MaterialTurnoverRpt" type="Ufida.T.ST.Report.Service.MaterialTurnoverRpt,Ufida.T.ST.Report.Service"/>
      <add name="ST_CapitalOccupancyRpt" type="Ufida.T.ST.Report.Service.CapitalOccupancyRpt,Ufida.T.ST.Report.Service"/>
      <add name="ST_RevenueCostAnalysisRpt" type="Ufida.T.ST.Report.Service.RevenueCostAnalysisRpt,Ufida.T.ST.Report.Service"/>
      <add name="ST_RDSTempValueRpt" type="Ufida.T.ST.Report.Service.RDSTempValueRpt,Ufida.T.ST.Report.Service"/>
	  <add name="ST_InvCostAnalysisRpt" type="Ufida.T.ST.Report.Service.InvCostAnalysisRpt,Ufida.T.ST.Report.Service"/>
      
      <!--采购模块-->
      <add name="PU_PurchaseOrderSumRpt" type="Ufida.T.PU.Report.Service.PurchaseOrderSumRpt,Ufida.T.PU.Report.Service"/>
      <add name="PU_PurchaseArrivalSumRpt" type="Ufida.T.PU.Report.Service.PurchaseArrivalSumRpt,Ufida.T.PU.Report.Service"/>
      <add name="PU_PurchaseIntegratedSumRpt" type="Ufida.T.PU.Report.Service.PurchaseIntegratedSumRpt,Ufida.T.PU.Report.Service"/>
      <add name="PU_PurchaseInvoiceSumRPT" type="Ufida.T.PU.Report.Service.PurchaseInvoiceSumRPT,Ufida.T.PU.Report.Service"/>
      <add name="PU_PuchaseRequisitionSumRPT" type="Ufida.T.PU.Report.Service.PuchaseRequisitionSumRPT,Ufida.T.PU.Report.Service"/>
      <add name="PU_PurchaseOrderExecuteRpt" type="Ufida.T.PU.Report.Service.PurchaseOrderExecuteRpt,Ufida.T.PU.Report.Service"/>
      <add name="PU_PurchaseArrivalExecuteRpt" type="Ufida.T.PU.Report.Service.PurchaseArrivalExecuteRpt,Ufida.T.PU.Report.Service"/>
      <add name="PU_PuchaseRequisitionExecuteRPT" type="Ufida.T.PU.Report.Service.PuchaseRequisitionExecuteRPT,Ufida.T.PU.Report.Service"/>
      <add name="PU_PurchaseInvoiceExecuteRPT" type="Ufida.T.PU.Report.Service.PurchaseInvoiceExecuteRPT,Ufida.T.PU.Report.Service"/>

      <!--销售模块-->
      <add name="SA_SaleQuotationSumRPT" type="Ufida.T.SA.Report.Service.SaleQuotationSumRpt,Ufida.T.SA.Report.Service"/>
      <add name="SA_SaleOrderSumRpt" type="Ufida.T.SA.Report.Service.SaleOrderSumRpt,Ufida.T.SA.Report.Service"/>
      <add name="SA_SaleDeliverySumRpt" type="Ufida.T.SA.Report.Service.SaleDeliverySumRpt,Ufida.T.SA.Report.Service"/>
      <add name="SA_SaleInvoiceSumRpt" type="Ufida.T.SA.Report.Service.SaleInvoiceSumRpt,Ufida.T.SA.Report.Service"/>
      <add name="SA_SaleSumAnalysisRpt" type="Ufida.T.SA.Report.Service.SaleSumAnalysisRpt,Ufida.T.SA.Report.Service"/>
      <add name="SA_SaleOrderExecuteRpt" type="Ufida.T.SA.Report.Service.SaleOrderExecuteRpt,Ufida.T.SA.Report.Service"/>
      <add name="SA_SaleDeliveryExecuteRpt" type="Ufida.T.SA.Report.Service.SaleDeliveryExecuteRpt,Ufida.T.SA.Report.Service"/>
      <add name="SA_SaleInvoiceExecuteRpt" type="Ufida.T.SA.Report.Service.SaleInvoiceExecuteRpt,Ufida.T.SA.Report.Service"/>
      <add name="SA_SaleDispatchBilledExecuteRpt" type="Ufida.T.SA.Report.Service.SaleDispatchBilledExecuteRpt,Ufida.T.SA.Report.Service"/>
      <add name="SA_SaleOrderPurchaseExecuteSumRpt" type="Ufida.T.SA.Report.Service.SaleOrderPurchaseExecuteSumRpt,Ufida.T.SA.Report.Service"/>
      <add name="SA_SaleOrderPurManuExecuteRPT" type="Ufida.T.SA.Report.Service.SaleOrderPurManuExecuteRPT,Ufida.T.SA.Report.Service"/>
      <add name="SA_BusinessGrossProfitSumRpt" type="Ufida.T.SA.Report.Service.BusinessGrossProfitSumRpt,Ufida.T.SA.Report.Service"/>
      <add name="SA_GrossProfitAnalysisRpt" type="Ufida.T.SA.Report.Service.GrossProfitAnalysisRpt,Ufida.T.SA.Report.Service"/>
      <add name="SA_SalesComprehensiveRankRpt" type="Ufida.T.SA.Report.Service.SalesComprehensiveRankRpt,Ufida.T.SA.Report.Service"/>
      <!--往来模块-->
      <add name="ARAP_ReceiveVoucherSumRpt" type="Ufida.T.ARAP.Report.Service.ReceiveVoucherSumRpt,Ufida.T.ARAP.Service"/>
      <add name="ARAP_PaymentVoucherSumRpt" type="Ufida.T.ARAP.Report.Service.PaymentVoucherSumRpt,Ufida.T.ARAP.Service"/>
      <add name="ARAP_ReceiveAccountSumRpt" type="Ufida.T.ARAP.Report.Service.AccountRpt.ReceiveAccountSumRpt,Ufida.T.ARAP.Service"/>
      <add name="ARAP_PaymentAccountSumRpt" type="Ufida.T.ARAP.Report.Service.AccountRpt.PaymentAccountSumRpt,Ufida.T.ARAP.Service"/>
      <!--现金钱流模块-->
      <add name="CS_BankCashAccessVoucherSumRpt" type="Ufida.T.CS.Report.Service.BankCashAccessVoucherSumRpt,Ufida.T.CS.Service"/>
      <add name="CS_ExpenseVoucherSumRpt" type="Ufida.T.CS.Report.Service.ExpenseVoucherSumRpt,Ufida.T.CS.Service"/>
      <add name="CS_IncomeVoucherSumRpt" type="Ufida.T.CS.Report.Service.IncomeVoucherSumRpt,Ufida.T.CS.Service"/>
      <add name="CS_CashSumAccountRpt" type="Ufida.T.CS.Report.Service.CashSumAccountRpt,Ufida.T.CS.Service"/>

      <!--生产-->
      <add name="MP_IntendSaleOrderSumRpt" type="Ufida.T.MP.Report.Service.IntendSaleOrderSumRpt,Ufida.T.MP.Service"/>
      <add name="MP_ManufactureOrderMaterialSumRpt" type="Ufida.T.MP.Report.Service.ManufactureOrderMaterialSumRpt,Ufida.T.MP.Service"/>
      <add name="MP_ManufactureOrderSumRpt" type="Ufida.T.MP.Report.Service.ManufactureOrderSumRpt,Ufida.T.MP.Service"/>
      <add name="MP_ManufactureOrderExecuteRpt" type="Ufida.T.MP.Report.Service.ManufactureOrderExecuteRpt,Ufida.T.MP.Service"/>
      <add name="MP_IntendSaleOrderExecuteRpt" type="Ufida.T.MP.Report.Service.IntendSaleOrderExecuteRpt,Ufida.T.MP.Service"/>

      <!--零售模块-->
      <add name="ME_MemberIntegralTraceRpt" type="Ufida.T.ME.Service.Report.MemberIntegralTraceRpt,Ufida.T.ME.Service"/>
      <add name="ME_MemberUseSumRpt" type="Ufida.T.ME.Service.Report.MemberUseSumRpt,Ufida.T.ME.Service"/>
      <add name="ME_RetailNoRecordDetailRpt" type="Ufida.T.ME.Service.Report.RetailNoRecordDetailRpt,Ufida.T.ME.Service"/>
      <add name="RE_ShiftVoucherSumRpt" type="Ufida.T.RE.Service.Report.SummaryRpt.ShiftVoucherSumRpt,Ufida.T.RE.Service"/>
      <add name="RE_CashierAccountSumRpt" type="Ufida.T.RE.Service.Report.SummaryRpt.CashierAccountSumRpt,Ufida.T.RE.Service"/>
      <add name="RE_RetailRankRpt" type="Ufida.T.RE.Service.Report.SummaryRpt.RetailRankRpt,Ufida.T.RE.Service"/>
      <add name="RE_CounterCheck" type="Ufida.T.RE.Service.Report.SummaryRpt.CounterCheckRpt,Ufida.T.RE.Service"/>
      <add name="RE_RetailPeriodSumRpt" type="Ufida.T.RE.Service.Report.SummaryRpt.RetailPeriodSumRpt,Ufida.T.RE.Service"/>
      <add name="RE_RetailSumRpt" type="Ufida.T.RE.Service.Report.SummaryRpt.RetailSumRpt,Ufida.T.RE.Service"/>
      <add name="RE_RetailSettleSumRpt" type="Ufida.T.RE.Service.Report.SummaryRpt.RetailSettleSumRpt,Ufida.T.RE.Service"/>
	  <add name="RE_StoreRunSumRpt" type="Ufida.T.RE.Service.Report.SummaryRpt.StoreRunSumRpt,Ufida.T.RE.Service"/>
	  
	  <!--分销模块-->
      <add name="DI_DistributionSummaryAnalysisRpt" type="Ufida.T.DI.Service.Report.Analysis.DistributionSummaryAnalysisRpt,Ufida.T.DI.Service"/>
      <add name="DI_StockRequestExecuteRpt" type="Ufida.T.DI.Service.Report.ExecuteRpt.StockRequestExecuteRpt,Ufida.T.DI.Service"/>
      <add name="DI_StockSalesAnalysisRpt" type="Ufida.T.DI.Service.Report.Analysis.StockSalesAnalysisRpt,Ufida.T.DI.Service"/>
      <add name="DI_StockRequestSumRpt" type="Ufida.T.DI.Service.Report.SummaryRpt.StockRequestSummaryRpt,Ufida.T.DI.Service"/>
      <add name="DI_DistributionSummaryRpt" type="Ufida.T.DI.Service.Report.SummaryRpt.DistributionSummaryRpt,Ufida.T.DI.Service"/> 
      <add name="DI_TerminalSaleAnalysisRpt" type="Ufida.T.DI.Service.Report.Analysis.TerminalSaleAnalysisRpt,Ufida.T.DI.Service"/>
	  
	  <!--会员模块-->
      <add name="ME_MemberStorageSumRpt" type="Ufida.T.ME.Service.Report.MemberStorageSumRpt,Ufida.T.ME.Service"/>
      <add name="ME_IntegralChangeSumRpt" type="Ufida.T.ME.Service.Report.IntegralChangeSumRpt,Ufida.T.ME.Service"/>


	  <!--资产管理-->
      <add name="AM_AMDetailRpt" type="Ufida.T.AM.Report.Service.AMDetailRpt,Ufida.T.AM.Service"/>
      <add name="AM_AssetSumRpt" type="Ufida.T.AM.Report.Service.AssetSumRpt,Ufida.T.AM.Service"/>
      <add name="AM_ValueAccountingForAnalysisRpt" type="Ufida.T.AM.Report.Service.ValueAccountingForAnalysisRpt,Ufida.T.AM.Service"/>
      <add name="AM_AMGLCheckRpt" type="Ufida.T.AM.Report.Service.AMGLCheckRpt,Ufida.T.AM.Service"/>

    </report>
  </reportAssociate>
</configuration>
