<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="reportPrint" type="Ufida.T.BAP.Base.Report.ReportPrintConfigSection,Ufida.T.BAP.Base"/>
    <section name="reportFilterPrint" type="Ufida.T.BAP.Base.Report.ReportFilterPrintConfigSection,Ufida.T.BAP.Base"/>
  </configSections>
  <!--特殊打印处理-->
  <reportPrint>
    <report>
      <!--总账模块-->
      <add name="GL_GLSumRpt" type="Ufida.T.GL.Report.Service.GLSumRpt,Ufida.T.GL.Service"/>
      <add name="GL_GLDetailRpt" type="Ufida.T.GL.Report.Service.GLDetailRpt,Ufida.T.GL.Service"/>
      <add name="GL_MultiColumnDetailRpt" type="Ufida.T.GL.Report.Service.MultiColumnDetailRpt,Ufida.T.GL.Service"/>
      <add name="GL_DailyDetailRpt" type="Ufida.T.GL.Report.Service.DailyDetailRpt,Ufida.T.GL.Service"/>
      <add name="GL_CashFlowDetailRpt" type="Ufida.T.GL.Report.Service.CashFlowDetailRpt,Ufida.T.GL.Service"/>
      <add name="GL_CashFlowSumRpt" type="Ufida.T.GL.Report.Service.CashFlowSumRpt,Ufida.T.GL.Service"/>
      <add name="GL_AuxGLDetailRpt" type="Ufida.T.GL.Report.Service.AuxGLDetailRpt,Ufida.T.GL.Service"/> 
      <add name="NewVoucher001" type="Ufida.T.AM.Service.Report.AssetSumRpt,Ufida.T.AM.Service"/>
    </report>
  </reportPrint>
  <!--二次过滤打印处理-->
  <reportFilterPrint>
    <report>
      <!--总账模块-->
      <add name="GL_GLSumRpt" type="Ufida.T.GL.Report.Service.GLSumRpt,Ufida.T.GL.Service"/>
      <add name="GL_GLDetailRpt" type="Ufida.T.GL.Report.Service.GLDetailRpt,Ufida.T.GL.Service"/>
      <add name="GL_AuxGLSumRpt" type="Ufida.T.GL.Report.Service.AuxGLSumRpt,Ufida.T.GL.Service"/>
      <add name="GL_AuxGLDetailRpt" type="Ufida.T.GL.Report.Service.AuxGLDetailRpt,Ufida.T.GL.Service"/>
      <add name="GL_DailySumRpt" type="Ufida.T.GL.Report.Service.DailySumRpt,Ufida.T.GL.Service"/>
      <add name="GL_DailyDetailRpt" type="Ufida.T.GL.Report.Service.DailyDetailRpt,Ufida.T.GL.Service"/>
      <add name="GL_BalanceSumRpt" type="Ufida.T.GL.Report.Service.BalanceSumRpt,Ufida.T.GL.Service"/>
      <add name="GL_AuxBalanceSumRpt" type="Ufida.T.GL.Report.Service.AuxBalanceSumRpt,Ufida.T.GL.Service"/>
      <add name="GL_CashFlowSumRpt" type="Ufida.T.GL.Report.Service.CashFlowSumRpt,Ufida.T.GL.Service"/>
      <add name="GL_CustomerAgeAnalysisSumRpt" type="Ufida.T.GL.Report.Service.CustomerAgeAnalysisSumRpt,Ufida.T.GL.Service"/>
      <add name="GL_SupplierAgeAnalysisSumRpt" type="Ufida.T.GL.Report.Service.SupplierAgeAnalysisSumRpt,Ufida.T.GL.Service"/>
      <add name="GL_PersonAgeAnalysisSumRpt" type="Ufida.T.GL.Report.Service.PersonAgeAnalysisSumRpt,Ufida.T.GL.Service"/>
      <add name="GL_MultiColumnDetailRpt" type="Ufida.T.GL.Report.Service.MultiColumnDetailRpt,Ufida.T.GL.Service"/>
      <add name="GL_AccountSumRpt" type="Ufida.T.GL.Report.Service.AccountSumRpt,Ufida.T.GL.Service"/>
      <add name="GL_AuxMultiColumnDetailRpt" type="Ufida.T.GL.Report.Service.AuxMultiColumnDetailRpt,Ufida.T.GL.Service"/>
      <add name="GL_CustomerAgeAnalysisDetailRpt" type="Ufida.T.GL.Report.Service.CustomerAgeAnalysisDetailRpt,Ufida.T.GL.Service"/>
      <add name="GL_CustomerCheckAmountRpt" type="Ufida.T.GL.Report.Service.CustomerCheckAmountRptService,Ufida.T.GL.Service"/>
      <add name="GL_PersonAgeAnalysisDetailRpt" type="Ufida.T.GL.Report.Service.PersonAgeAnalysisDetailRpt,Ufida.T.GL.Service"/>
      <add name="GL_PersonCheckAmountRpt" type="Ufida.T.GL.Report.Service.PersonCheckAmountRptService,Ufida.T.GL.Service"/>
      <add name="GL_SupplierAgeAnalysisDetailRpt" type="Ufida.T.GL.Report.Service.SupplierAgeAnalysisDetailRpt,Ufida.T.GL.Service"/>
      <add name="GL_SupplierCheckAmountRpt" type="Ufida.T.GL.Report.Service.SupplierCheckAmountRptService,Ufida.T.GL.Service"/>
      <add name="GL_AmountForecastSumRpt" type="Ufida.T.GL.Report.Service.AmountForecastSumRpt,Ufida.T.GL.Service"/>
      <add name="GL_ArapWriteOffSumRpt" type="Ufida.T.GL.Report.Service.ArapWriteOffSumRpt,Ufida.T.GL.Service"/>
      <add name="GL_CashFlowDetailRpt" type="Ufida.T.GL.Report.Service.CashFlowDetailRpt,Ufida.T.GL.Service"/>

      <!--库存模块-->
      <add name="ST_RDSRunningAccountRpt" type="Ufida.T.ST.Report.Service.NewStockReportFactory,Ufida.T.ST.Report.Service"/>
      <add name="ST_RDSPositionDetailRpt" type="Ufida.T.ST.Report.Service.NewStockReportFactory,Ufida.T.ST.Report.Service"/>
      <add name="ST_RDSPositionTotalRpt" type="Ufida.T.ST.Report.Service.NewStockReportFactory,Ufida.T.ST.Report.Service"/>
      <add name="ST_RDSInventoryDetailRpt" type="Ufida.T.ST.Report.Service.NewStockReportFactory,Ufida.T.ST.Report.Service"/>
      <add name="ST_RDSInventoryTotalRpt" type="Ufida.T.ST.Report.Service.NewStockReportFactory,Ufida.T.ST.Report.Service"/>

	    <!--资产管理模块-->
	    <add name="AM_AMDetailRpt" type="Ufida.T.AM.Report.Service.AMRptServiceFactory,Ufida.T.AM.Service"/>
	    <add name="AM_AssetSumRpt" type="Ufida.T.AM.Report.Service.AMRptServiceFactory,Ufida.T.AM.Service"/>
      
      <!--业务往来-->
      <add name="ARAP_CustomerAccountRpt" type="Ufida.T.ARAP.Report.Service.ArapReportService,Ufida.T.ARAP.Service"/>
    </report>
  </reportFilterPrint>
</configuration>
