<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="toBeAuditList" type="Ufida.T.PRT.Interface.ToBeAuditConfigSection,Ufida.T.PRT.Interface"/>
	</configSections>
  <toBeAuditList>
    <toBeAudit>
      <add name="SYS0932" idbusitypefield="idbusiType" iddepartmentfield="iddepartment" idpartnerfield="idpartner" wheresql=" idvouchertype='EB475F0D-3379-4568-BB37-77877E830594' "/>
      <add name="ST1021" idbusitypefield="idbusiType" iddepartmentfield="iddepartment" idpartnerfield="idpartner" wheresql=" idvouchertype='BB007F33-C0F0-4A19-8588-1E0E314D1F56' "/>
      <add name="SYS0931" idbusitypefield="idbusiType" iddepartmentfield="iddepartment" idpartnerfield="idpartner" wheresql=" idvouchertype='0CD1BD25-C2E3-4015-8044-6891F33A75CD' "/>
      <add name="ST1001" idbusitypefield="idbusiType" iddepartmentfield="iddepartment" idpartnerfield="idpartner" wheresql=" idvouchertype='9A2C7C5A-A428-4669-AA40-0AA07758241B' "/>
      <add name="ST1002" idbusitypefield="idbusiType" iddepartmentfield="iddepartment" idpartnerfield="" wheresql=" idvouchertype='5BC94E04-28DF-4B00-B809-198E3943BE16' "/>
      <add name="ST1003" idbusitypefield="idbusiType" iddepartmentfield="iddepartment" idpartnerfield="" wheresql=" idvouchertype='D4BCB761-85B3-4F2B-9F8A-1B2A28C78AC6' "/>
      <add name="ST1004" idbusitypefield="idbusiType" iddepartmentfield="iddepartment" idpartnerfield="" wheresql=" idvouchertype='71778230-49C1-4C8A-8AFB-1C462CDFB3ED' and (idsourcevouchertype!='9CDE6B76-266C-47F3-AAF6-347D3B23F10B' or idsourcevouchertype is null) "/>
      <add name="ST1022" idbusitypefield="idbusiType" iddepartmentfield="iddepartment" idpartnerfield="" wheresql=" idvouchertype='8D7408AD-00B4-4B5B-A2EB-1E3E19386C0A' "/>
      <add name="ST1023" idbusitypefield="idbusiType" iddepartmentfield="iddepartment" idpartnerfield="" wheresql=" idvouchertype='C3BE052D-F6CE-4D17-970F-270111C59518' "/>
      <add name="ST1024" idbusitypefield="idbusiType" iddepartmentfield="iddepartment" idpartnerfield="" wheresql=" idvouchertype='21EA9921-40C1-46EB-BF55-2DF64C7CDDFB'  and (idsourcevouchertype!='9CDE6B76-266C-47F3-AAF6-347D3B23F10B'  or idsourcevouchertype is null)"/>
      <add name="ST1031" idbusitypefield="idbusiType" iddepartmentfield="iddepartment" idpartnerfield="" wheresql=""/>
      <add name="ST1032" idbusitypefield="" iddepartmentfield="iddepartment" idpartnerfield="" wheresql=""/>
      <add name="ST1033" idbusitypefield="" iddepartmentfield="iddepartment" idpartnerfield="" wheresql=""/>
      <add name="ST1034" idbusitypefield="idbusiType" iddepartmentfield="iddepartment" idpartnerfield="" wheresql=""/>
      <add name="ST1035" idbusitypefield="" iddepartmentfield="iddepartment" idpartnerfield="" wheresql=""/>
	  <add name="ST2004" idbusitypefield="" iddepartmentfield="iddepartment" idpartnerfield="idpartner" wheresql=" idvouchertype='F20C24F5-8559-419F-9C14-1C9FF7F01E28' "/>
      <add name="ST2005" idbusitypefield="" iddepartmentfield="iddepartment" idpartnerfield="idpartner" wheresql=" idvouchertype='145FE0D6-1939-4EA4-8FCC-31C6C2C1BBA0' "/>

	</toBeAudit>
  </toBeAuditList>
</configuration>
