<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="toBeAuditList" type="Ufida.T.PRT.Interface.ToBeAuditConfigSection,Ufida.T.PRT.Interface"/>
	</configSections>
  <toBeAuditList>
    <toBeAudit>
      <add name="SYS0921" idbusitypefield="idbusinesstype" iddepartmentfield="iddepartment" idpartnerfield="idcustomer" wheresql="isBeforeSystemInuse=1"/>
      <add name="SA01" idbusitypefield="" iddepartmentfield="iddepartment" idpartnerfield="idcustomer" wheresql=""/>
      <add name="SA03" idbusitypefield="idbusinesstype" iddepartmentfield="iddepartment" idpartnerfield="idcustomer" wheresql=""/>
      <add name="SA04" idbusitypefield="idbusinesstype" iddepartmentfield="iddepartment" idpartnerfield="idcustomer" wheresql="isBeforeSystemInuse=0"/>
      <add name="SA05" idbusitypefield="idbusinesstype" iddepartmentfield="iddepartment" idpartnerfield="idcustomer" wheresql=""/>
	</toBeAudit>
  </toBeAuditList>
</configuration>
