<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="toBeAuditList" type="Ufida.T.PRT.Interface.ToBeAuditConfigSection,Ufida.T.PRT.Interface"/>
	</configSections>
  <toBeAuditList>
    <toBeAudit>
	  <add name="DI15" maintable="DI_StockRequest" requesturl="BAPView/Voucher.aspx?mId=DI15&amp;sysId=DI&amp;pId=voucherView"
  idbusitypefield="idBusitype" idstorefield="idstore" notcontroldataauthfield="idWarehouse,idPerson,idproject"  iddepartmentfield="iddepartment" idpartnerfield="idcustomer" wheresql="" hasstorecolumn="1"/>
		<add name="DI20" maintable="DI_Distribution" requesturl="BAPView/Voucher.aspx?mId=DI20&amp;sysId=DI&amp;pId=voucherView"
  idbusitypefield="idBusitype" idstorefield="idstore" notcontroldataauthfield="idinWarehouse,idoutWarehouse,idproject" iddepartmentfield="" idpartnerfield="idcustomer" wheresql="" hasstorecolumn="1"/>
		<add name="DI25" maintable="DI_StockSalesReport" requesturl="BAPView/Voucher.aspx?mId=DI25&amp;sysId=DI&amp;pId=voucherView"
  idbusitypefield="" iddepartmentfield="" idpartnerfield="idcustomer" wheresql=""/>
	</toBeAudit>
  </toBeAuditList>
</configuration>
