<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="userDefineQuery" type="Ufida.T.BAP.Base.UserDefineItem.UserDefineItemConfigSection,Ufida.T.BAP.Base"/>
  </configSections>
  <userDefineQuery>
    <userDefineItems>
      <add name="RDRecordDTO" type="Ufida.T.SCM.Base.UserDefineItem.UserDefineItemQuery,Ufida.T.SCM.Base"></add>
      <add name="AdjustCostVoucherDTO" type="Ufida.T.SCM.Base.UserDefineItem.UserDefineItemQuery,Ufida.T.SCM.Base"></add>
      <add name="SaleDeliveryDTO" type="Ufida.T.SCM.Base.UserDefineItem.UserDefineItemQuery,Ufida.T.SCM.Base"></add>
      <add name="PurchaseArrivalDTO" type="Ufida.T.SCM.Base.UserDefineItem.UserDefineItemQuery,Ufida.T.SCM.Base"></add>
      <add name="ArapReceivePaymentDTO" type="Ufida.T.UA.ARAP.ArapUserDefineItemQuery,Ufida.T.UA.ARAP"></add>
      <add name="AssetDTO" type="Ufida.T.UA.AM.SM.UseDefineItemQuery.AssetDTOUserDefineItemQuery,Ufida.T.UA.AM"></add>
    </userDefineItems>
  </userDefineQuery>
</configuration>
