<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="EsnCallList" type="Ufida.T.BAP.Base.Config.EsnCallConfigSection,Ufida.T.BAP.Base"/>
	</configSections>
  <EsnCallList>
    <EsnCallItem>
	  <add name="GetSalePrice" method="GetSalePrice" type="Ufida.T.AA.Interface.PriceStrategy.IPriceStrategyService,Ufida.T.AA.Interface" result2json="0"/>
	  <add name="QueryCurentStock" method="QueryCurentStock" type="Ufida.T.SCM.ESN.Interface.IENSCurentStockService,Ufida.T.SCM.ESN.Interface" result2json="0"/>
	  <add name="GenerateSaleVoucher" method="GenerateVoucher" type="Ufida.T.SCM.ESN.Interface.IENSSaleOrderService,Ufida.T.SCM.ESN.Interface" result2json="0"/>
	  <add name="UpdateSaleVoucher" method="UpdateVoucher" type="Ufida.T.SCM.ESN.Interface.IENSSaleOrderService,Ufida.T.SCM.ESN.Interface" result2json="0"/>
	  <add name="DeleteSaleVoucher" method="DeleteVoucher" type="Ufida.T.SCM.ESN.Interface.IENSSaleOrderService,Ufida.T.SCM.ESN.Interface" result2json="0"/>
	  <add name="GetGoodsWithAuth" method="GetGoodsWithAuth" type="Ufida.T.AA.Interface.IInventoryService,Ufida.T.AA.Interface" result2json="0"/>
	</EsnCallItem>
  </EsnCallList>
</configuration>
