<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ForcastWarning" type="Ufida.T.PRT.Interface.ForcastWarningInAppServerSeciton,Ufida.T.PRT.Interface"/>
  </configSections>
  <ForcastWarning>
    <warnings>
      <add name="UsePurchaseWarning" type="Demo.Service.Service1,Demo.Service"/>
    </warnings>
  </ForcastWarning>
</configuration>
