<?xml version="1.0"?>
<configuration>
  <!--版本区隔-->
  <VersionSet>
    <!--版本-->
    <version name="YYTPro" functions="StdIERP,Stock,PS,Retail,Promotion,Distribution,Member,Manufacture,StdAccount,Ledger,TUFO,Asset,CashBankMoneyFlow,CS" default=""/>
  </VersionSet>
  <!--功能列表-->
  <FunctionEnable>
    <!--功能项-->
    <function SysID='SM' Info='321' Name='StdIERP' Caption='普及进销存' >
      <PeriodStatusValidate status='BizTerminal'></PeriodStatusValidate>
      <FunctionUpgradeValidate funsLink='[StdIERP]-[Stock,PS]'></FunctionUpgradeValidate>
      <MutexFunctionValidate mutexFuns='Stock'></MutexFunctionValidate>
      <FunctionEnableConsistentOperator Funs='CashBankMoneyFlow'></FunctionEnableConsistentOperator>
    </function>
    <!--功能项-->
    <function SysID='SM' Info='301' Name='Stock' Caption='库存核算' >
      <PeriodStatusValidate status='BizTerminal'></PeriodStatusValidate>
      <FunctionUpgradeValidate funsLink='[StdIERP]-[Stock,PS]'></FunctionUpgradeValidate>
      <MutexFunctionValidate mutexFuns='StdIERP'></MutexFunctionValidate>
    </function>
    <!--功能项-->
    <function SysID='SM' Info='302' Name='PS' Caption='购销管理' >
      <!--功能启用规则-->
      <PeriodStatusValidate status='BizTerminal'></PeriodStatusValidate>
      <PreFunctionValidate preFuns='Stock'></PreFunctionValidate>
      <FunctionUpgradeValidate funsLink='[StdIERP]-[Stock,PS]'></FunctionUpgradeValidate>
      <MutexFunctionValidate mutexFuns='StdIERP'></MutexFunctionValidate>
      <FunctionEnableConsistentOperator Funs='CashBankMoneyFlow'></FunctionEnableConsistentOperator>
    </function>
    <function SysID='SM' Info='315' Name='Retail' Caption='零售管理'>
      <PeriodStatusValidate status='BizTerminal'></PeriodStatusValidate>
      <PreFunctionValidate preFuns='PS|StdIERP'></PreFunctionValidate>
    </function>
    <function SysID='SM' Info='316' Name='Distribution' Caption='分销管理'>
      <PeriodStatusValidate status='BizTerminal'></PeriodStatusValidate>
      <PreFunctionValidate preFuns='PS|StdIERP'></PreFunctionValidate>
    </function>
    <function SysID='SM' Info='320' Name='Promotion' Caption='促销管理'>
      <PeriodStatusValidate status='BizTerminal'></PeriodStatusValidate>
      <PreFunctionValidate preFuns='PS|StdIERP|Retail'></PreFunctionValidate>
    </function>
    <function SysID='SM' Info='317' Name='Member' Caption='会员管理'>
      <PeriodStatusValidate status='BizTerminal'></PeriodStatusValidate>
      <PreFunctionValidate preFuns='PS|StdIERP|Retail'></PreFunctionValidate>
    </function>
    <!--function SysID='SM' Info='318' Name='NetShop' Caption='网店管理'>
      <PeriodStatusValidate status='BizTerminal'></PeriodStatusValidate>
      <PreFunctionValidate preFuns='PS|StdIERP'></PreFunctionValidate>
    </function-->
    <function SysID='SM' Info='303' Name='CashBankMoneyFlow' Caption='现金银行-钱流' >
      <PeriodStatusValidate status='BizTerminal'></PeriodStatusValidate>
      <!--PreFunctionValidate preFuns='PS'></PreFunctionValidate>
      <FunctionEnableConsistentOperator Funs='PS'></FunctionEnableConsistentOperator-->
      <PeriodConsistentOperator Funs='CS'></PeriodConsistentOperator>
    </function>
    <function SysID='SM' Info='304' Name='Manufacture' Caption='自制加工' >
      <PeriodStatusValidate status='BizTerminal'></PeriodStatusValidate>
      <PreFunctionValidate preFuns='PS|StdIERP'></PreFunctionValidate>
    </function>
    <function SysID='SM' Info='305' Name='ConsignManufacture' Caption='委外加工' >
      <PeriodStatusValidate status='BizTerminal'></PeriodStatusValidate>
      <PreFunctionValidate preFuns='PS|StdIERP'></PreFunctionValidate>
    </function>
    <function SysID='SM' Info='306' Name='Costing' Caption='成本核算' >
      <PeriodStatusValidate status='BizTerminal'></PeriodStatusValidate>
      <PreFunctionValidate preFuns='Manufacture,ConsignManufacture'>
      </PreFunctionValidate>
    </function>
    <function SysID='SM' Info='307' Name='MRP' Caption='MRP运算' >
      <PeriodStatusValidate status='BizTerminal'></PeriodStatusValidate>
      <PreFunctionValidate preFuns='Manufacture,ConsignManufacture'>
      </PreFunctionValidate>
    </function>
    <function SysID='SM' Info='308' Name='Process' Caption='工序管理' >
      <PeriodStatusValidate status='BizTerminal'></PeriodStatusValidate>
    </function>
    <function SysID='SM' Info='309' Name='StdAccount' Caption='普及账表' >
      <PeriodStatusValidate status='FITerminal'></PeriodStatusValidate>
      <FunctionUpgradeValidate funsLink='[StdAccount]-[Ledger,TUFO]'></FunctionUpgradeValidate>
      <MutexFunctionValidate mutexFuns='Ledger,TUFO'></MutexFunctionValidate>
    </function>
    <function SysID='SM' Info='310' Name='ProAccount' Caption='专业账表' >
      <PeriodStatusValidate status='FITerminal'></PeriodStatusValidate>
      <FunctionUpgradeValidate funsLink='[StdAccount]-[ProAccount]'></FunctionUpgradeValidate>
      <MutexFunctionValidate mutexFuns='StdAccount'></MutexFunctionValidate>
    </function>
    <function SysID='SM' Info='322' Name='Ledger' Caption='总账' >
      <PeriodStatusValidate status='FITerminal'></PeriodStatusValidate>
      <FunctionUpgradeValidate funsLink='[StdAccount]-[Ledger,TUFO]'></FunctionUpgradeValidate>
      <MutexFunctionValidate mutexFuns='StdAccount'></MutexFunctionValidate>
    </function>
    <function SysID='SM' Info='323' Name='TUFO' Caption='T-UFO' >
      <PeriodStatusValidate status='FITerminal'></PeriodStatusValidate>
      <FunctionUpgradeValidate funsLink='[StdAccount]-[Ledger,TUFO]'></FunctionUpgradeValidate>
      <MutexFunctionValidate mutexFuns='StdAccount'></MutexFunctionValidate>
    </function>
    <function SysID='SM' Info='319' Name='Asset' Caption='资产管理'>
      <PeriodStatusValidate status='FITerminal'></PeriodStatusValidate>
    </function>
    <function SysID='SM' Info='311' Name='CS' Caption='现金银行-出纳' >
      <PeriodStatusValidate status='FITerminal'></PeriodStatusValidate>
      <PeriodConsistentOperator Funs='CashBankMoneyFlow'></PeriodConsistentOperator>
    </function>
    <function SysID='SM' Info='312' Name='DocPrint' Caption='票据打印' >
      <PeriodStatusValidate status='FITerminal'></PeriodStatusValidate>
      <PreFunctionValidate preFuns='CS'></PreFunctionValidate>
    </function>
    <function SysID='SM' Info='313' Name='TaxAccrual' Caption='税务核算与申报' >
      <PeriodStatusValidate status='BizTerminal'></PeriodStatusValidate>
      <PreFunctionValidate preFuns='CS,StdAccount|ProAccount'></PreFunctionValidate>
    </function>
    <function SysID='SM' Info='314' Name='IncomeTaxSettlement' Caption='所得税汇算' >
      <PeriodStatusValidate status='BizTerminal'></PeriodStatusValidate>
      <PreFunctionValidate preFuns='StdAccount|ProAccount'></PreFunctionValidate>
    </function>
  </FunctionEnable>
</configuration>
