<?xml version="1.0" ?>
<config>
  <!-- 数据库是否进行加N操作 -->
  <!--<isaddnop>1</isaddnop>-->
	
  <!-- 应用服务器监听端口 -->
  <port>81</port>

  <!-- 允许的最大连接数 -->
  <maxClients>200</maxClients>
  
  <!-- 长连接超时时间 ms -->
  <longConnTimeOut>1800000</longConnTimeOut>

  <!-- 短连接超时时间 ms -->
  <shortConnTimeOut>120000</shortConnTimeOut>

  <!-- web短连接超时时间 ms -->
  <webConnTimeOut>30000</webConnTimeOut>

  <!-- 授权连接  0 否 1 是 查看users.xml设置 -->
  <connCheck>0</connCheck>

  <!--持久状态存储目录 -->
  <persistPath></persistPath>

  <!-- 会话设置 -->
  <!-- 会话超时时间 -->
  <sessionTime>18000000</sessionTime>

  <!--会话存储目录 -->
  <sessionPath></sessionPath>

  <!-- 会话存储 1：本进程  0:外部进程(中心服务器)-->
  <sessionInProc>1</sessionInProc>

  <!---缓存服务器地址-->
  <CacheServer>localhost</CacheServer>

  <!---缓存服务器地址-->
  <CacheServerPort>90</CacheServerPort>

  <!---加密服务器地址-->
  <EncryptServer>localhost</EncryptServer>

  <!-- 中心服务器(master)调用方式 1:IPC 0:TCP -->
  <sessionByIPC>0</sessionByIPC>

  <!-- 中心服务器(master)IP地址 -->
  <centerServerIP>localhost</centerServerIP>

  <!-- 中心服务器端口 -->
  <centerServerPort>89</centerServerPort>


  <!-- 负载均衡设置 -->
  <!-- 多播地址 224.0.0.0-239.255.255.255 -->
  <muticastIP>224.233.233.110</muticastIP>

  <!-- 多播地址 224.0.0.0-239.255.255.255 -->
  <muticastPort>86</muticastPort>

  <!-- 负载均衡控制  1:cluster 0:single Server -->
  <cluster>0</cluster>

  <!-- 负载均衡服务器列表, localhost:83,localhost:84,localhost:85,localhost:86 the Server list -->
  <clusters></clusters>

  <appserverurl></appserverurl>

  <!--配置独立进程的端口号 -->
  <YWTPort>83</YWTPort>
  <CGTPort>84</CGTPort>
  <GMTPort>85</GMTPort>
  <YYTPort>86</YYTPort>
  <CWTProPort>87</CWTProPort>
  <CWTPopPort>88</CWTPopPort>
</config>