<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="toBeAuditList" type="Ufida.T.PRT.Interface.ToBeAuditConfigSection,Ufida.T.PRT.Interface"/>
	</configSections>
  <toBeAuditList>
    <toBeAudit>
<add name="ME25" maintable="ME_IntegralForGift" requesturl="BAPView/Voucher.aspx?mId=ME25&amp;pId=voucherView&amp;sysId=ME" idbusitypefield="" iddepartmentfield="" idpartnerfield="idpartner" wheresql=""  hasstorecolumn="1"/>
	</toBeAudit>
  </toBeAuditList>
</configuration>
