<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="toBeAuditList" type="Ufida.T.PRT.Interface.ToBeAuditConfigSection,Ufida.T.PRT.Interface"/>
	</configSections>
  <toBeAuditList>
    <toBeAudit>
      <add name="PR0501" maintable="" requesturl="BAPView/Voucher.aspx?mId=PR0501&amp;pId=voucherView&amp;sysId=PR" idbusitypefield="" iddepartmentfield="" idpartnerfield="" wheresql="promotiontype = 'C018DBA3-37D9-4848-A5E4-F2AEFEE8EABC'"/>
      <add name="PR0502" maintable="" requesturl="BAPView/Voucher.aspx?mId=PR0502&amp;pId=voucherView&amp;sysId=PR" idbusitypefield="" iddepartmentfield="" idpartnerfield="" wheresql="promotiontype = 'E07C1A72-E23F-42A0-B01F-4A193EC578F7'"/>
      <add name="PR0503" maintable="" requesturl="BAPView/Voucher.aspx?mId=PR0503&amp;pId=voucherView&amp;sysId=PR" idbusitypefield="" iddepartmentfield="" idpartnerfield="" wheresql="promotiontype = '97DFA9AA-866C-42D1-891C-43C575CFD178'"/>
      <add name="PR0504" maintable="" requesturl="BAPView/Voucher.aspx?mId=PR0504&amp;pId=voucherView&amp;sysId=PR" idbusitypefield="" iddepartmentfield="" idpartnerfield="" wheresql="promotiontype = '7AF7524C-D5B2-4966-A64B-9ACC22BADE3C'"/>
      <add name="PR0505" maintable="" requesturl="BAPView/Voucher.aspx?mId=PR0505&amp;pId=voucherView&amp;sysId=PR" idbusitypefield="" iddepartmentfield="" idpartnerfield="" wheresql="promotiontype = '0371448B-611D-439B-A098-46F2399835FC'"/>
      <add name="PR0506" maintable="" requesturl="BAPView/Voucher.aspx?mId=PR0506&amp;pId=voucherView&amp;sysId=PR" idbusitypefield="" iddepartmentfield="" idpartnerfield="" wheresql="promotiontype = 'CCD27637-1ACB-4231-922A-0505461756D8'"/>
      <add name="PR0507" maintable="" requesturl="BAPView/Voucher.aspx?mId=PR0507&amp;pId=voucherView&amp;sysId=PR" idbusitypefield="" iddepartmentfield="" idpartnerfield="" wheresql="promotiontype = '6353AAA6-F501-4CE6-B2D1-9EBAE5AF78EA'"/>
      <add name="PR0508" maintable="" requesturl="BAPView/Voucher.aspx?mId=PR0508&amp;pId=voucherView&amp;sysId=PR" idbusitypefield="" iddepartmentfield="" idpartnerfield="" wheresql="promotiontype = '0898A668-6B92-40CC-8208-7D1CFD0FE668'"/>
      <add name="PR0509" maintable="" requesturl="BAPView/Voucher.aspx?mId=PR0509&amp;pId=voucherView&amp;sysId=PR" idbusitypefield="" iddepartmentfield="" idpartnerfield="" wheresql="promotiontype = '4389DACB-5E27-412B-8244-C7AF495E6802'"/>
      <add name="PR0510" maintable="" requesturl="BAPView/Voucher.aspx?mId=PR0510&amp;pId=voucherView&amp;sysId=PR" idbusitypefield="" iddepartmentfield="" idpartnerfield="" wheresql="promotiontype = '3D620899-E3EF-4491-A20A-5ACA2CA4A808'"/>
    </toBeAudit>
  </toBeAuditList>
</configuration>