<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="toBeAuditList" type="Ufida.T.PRT.Interface.ToBeAuditConfigSection,Ufida.T.PRT.Interface"/>
	</configSections>
  <toBeAuditList>
    <toBeAudit>
	  <add name="RE20" maintable="RE_RetailSettle" requesturl="BAPView/Voucher.aspx?sysId=RE&amp;mId=RE20&amp;pId=voucherView"
  idbusitypefield="" iddepartmentfield="" idpartnerfield="idCustomer" wheresql=""  hasstorecolumn="1"/>
	</toBeAudit>
  </toBeAuditList>
</configuration>
