<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="toBeAuditList" type="Ufida.T.PRT.Interface.ToBeAuditConfigSection,Ufida.T.PRT.Interface"/>
  </configSections>
  <toBeAuditList>
    <toBeAudit>
      <add name="ARAP01" idbusitypefield="idbusitype" iddepartmentfield="iddepartment" idpartnerfield="idpartner"   idstorefield="idstore"   wheresql="isReceiveFlag=1"/>
      <add name="ARAP02" idbusitypefield="idbusitype" iddepartmentfield="iddepartment" idpartnerfield="idpartner" wheresql="isReceiveFlag=0"/>
      <add name="ARAP0301" idbusitypefield="idbusitype" iddepartmentfield="" idpartnerfield="" wheresql="idbusitype='750084EA-499B-4BBD-8CBE-D2E4D52B17AD'"/>
      <add name="ARAP0302" idbusitypefield="idbusitype" iddepartmentfield="" idpartnerfield="" wheresql="idbusitype='C7FE03E9-A335-448B-B58B-76C284B01197'"/>
      <add name="ARAP0303" idbusitypefield="idbusitype" iddepartmentfield="" idpartnerfield="" wheresql="idbusitype='2CF3FBDE-DD73-41B8-A0F9-58E144200476'"/>
      <add name="ARAP0304" idbusitypefield="idbusitype" iddepartmentfield="" idpartnerfield="" wheresql="idbusitype='AC5C5D9E-FA21-4FFE-8DAB-4718E40E1E9B'"/>
      <add name="ARAP0305" idbusitypefield="idbusitype" iddepartmentfield="" idpartnerfield="" wheresql="idbusitype='656A055C-74B0-4338-A89A-581397673410'"/>
      <add name="ARAP05" idbusitypefield="" iddepartmentfield="" idpartnerfield="" wheresql=""/>
    </toBeAudit>
  </toBeAuditList>
</configuration>
