<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="toBeAuditList" type="Ufida.T.PRT.Interface.ToBeAuditConfigSection,Ufida.T.PRT.Interface"/>
  </configSections>
  <toBeAuditList>
    <toBeAudit>
		<add name="ToBeAudit_PR" filepath="config\ToBeAudit_PR.config"/>
		<add name="ToBeAudit_RE" filepath="config\ToBeAudit_RE.config"/>
		<add name="ToBeAudit_ME" filepath="config\ToBeAudit_ME.config"/>
		<add name="ToBeAudit_DI" filepath="config\ToBeAudit_DI.config"/>		
		<add name="ToBeAudit_SA" filepath="config\ToBeAudit_SA.config"/>
		<add name="ToBeAudit_ST" filepath="config\ToBeAudit_ST.config"/>
		<add name="ToBeAudit_PU" filepath="config\ToBeAudit_PU.config"/>
		<add name="ToBeAudit_MP" filepath="config\ToBeAudit_MP.config"/>
		<add name="ToBeAudit_CS" filepath="config\ToBeAudit_CS.config"/> 
		<add name="ToBeAudit_ARAP" filepath="config\ToBeAudit_ARAP.config"/> 
	</toBeAudit>
  </toBeAuditList>
</configuration>
