<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="toBeAuditList" type="Ufida.T.PRT.Interface.ToBeAuditConfigSection,Ufida.T.PRT.Interface"/>
	</configSections>
  <toBeAuditList>
    <toBeAudit>
	  <add name="CS01" idbusitypefield="idbusinessType" iddepartmentfield="" idpartnerfield="" wheresql=""/>
      <add name="CS02" idbusitypefield="idbusinessType" iddepartmentfield="iddepartment"  idstorefield="idstore"  idpartnerfield="idpartner" wheresql=""/>
      <add name="CS03" idbusitypefield="idbusinessType" iddepartmentfield="iddepartment"  idstorefield="idstore"  idpartnerfield="idpartner" wheresql=""/>
      <add name="CS07" idbusitypefield="" iddepartmentfield="" idpartnerfield="" wheresql=""/>
	</toBeAudit>
  </toBeAuditList>
</configuration>
