<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
        <section name="toBeAuditList" type="Ufida.T.PRT.Interface.ToBeAuditConfigSection,Ufida.T.PRT.Interface"/>
  </configSections>	
  <toBeAuditList>
    <toBeAudit>
		<add name="MP01" maintable="MP_IntendSaleOrder" requesturl="BAPView/Voucher.aspx?mId=mp01&amp;pId=voucherView&amp;sysId=mp" idbusitypefield="" iddepartmentfield="iddepartment" idpartnerfield="" wheresql=""/>
		<add name="MP05" maintable="MP_ManufactureOrder" requesturl="BAPView/Voucher.aspx?mId=mp05&amp;pId=voucherView&amp;sysId=mp" idbusitypefield="" iddepartmentfield="iddepartment" idpartnerfield="" wheresql=""/>
    <add name="MP08" maintable="MP_CostAllocationOrder" requesturl="BAPView/Voucher.aspx?sysId=mp&amp;mId=mp08&amp;pId=voucherView" idbusitypefield="" iddepartmentfield="" idpartnerfield="" wheresql=""/>
    </toBeAudit>
  </toBeAuditList>
</configuration>

