<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="toBeAuditList" type="Ufida.T.PRT.Interface.ToBeAuditConfigSection,Ufida.T.PRT.Interface"/>
	</configSections>
  <toBeAuditList>
    <toBeAudit>
		<add name="PU01" maintable="PU_PurchaseRequisition" requesturl="BAPView/Voucher.aspx?mId=PU01&amp;pId=voucherView&amp;sysId=PU" idbusitypefield="" iddepartmentfield="iddepartment" idpartnerfield="idsuggPartner" wheresql=""/>
		<add name="PU02" maintable="PU_PurchaseOrder" requesturl="BAPView/Voucher.aspx?mId=PU02&amp;pId=voucherView&amp;sysId=PU" idbusitypefield="idbusinessType" iddepartmentfield="iddepartment" idpartnerfield="idpartner" wheresql=""/>
		<add name="PU03" maintable="PU_PurchaseArrival" requesturl="BAPView/Voucher.aspx?mId=PU03&amp;pId=voucherView&amp;sysId=PU" idbusitypefield="idbusinessType" iddepartmentfield="iddepartment" idpartnerfield="idpartner" wheresql="IsBeforeSystemInuse=0"/>
		<add name="SYS0923" maintable="PU_PurchaseArrival" requesturl="BAPView/Voucher.aspx?mId=SYS0923&amp;pId=voucherView&amp;sysId=PU" idbusitypefield="idbusinessType" iddepartmentfield="iddepartment" idpartnerfield="idpartner" wheresql="IsBeforeSystemInuse=1"/>
		<add name="PU04" maintable="PU_PurchaseInvoice" requesturl="BAPView/Voucher.aspx?mId=PU04&amp;pId=voucherView&amp;sysId=PU" idbusitypefield="idbusinessType" iddepartmentfield="iddepartment" idpartnerfield="idpartner" wheresql=""/>
	</toBeAudit>
  </toBeAuditList>
</configuration>