<?xml version="1.0" encoding="utf-8"?>
<Config>
  <Modules>
    <Module name="EAP" filePath="config/UAConfig/EAP_UAConfig.config"/>
    <Module name="SM" filePath="config/UAConfig/SM_UAConfig.config"/>
    <Module name="AA" filePath="config/UAConfig/AA_UAConfig.config"/>
    <!--促销管理-->
    <Module name="PR" filePath="config/UAConfig/PR_UAConfig.config"/>
    <!--分销管理-->
    <Module name="DI" filePath="config/UAConfig/DI_UAConfig.config"/>
    <!--零售管理-->
    <Module name="RE" filePath="config/UAConfig/RE_UAConfig.config"/>
    <!--分销零售档案-->
    <Module name="AADR" filePath="config/UAConfig/AADR_UAConfig.config"/>
    <!--会员管理-->
    <Module name="ME" filePath="config/UAConfig/ME_UAConfig.config"/>
    <Module name="ARAP" filePath="config/UAConfig/ARAP_UAConfig.config"/>
    <Module name="CS" filePath="config/UAConfig/CS_UAConfig.config"/>
    <Module name="PU" filePath="config/UAConfig/PU_UAConfig.config"/>
    <Module name="SA" filePath="config/UAConfig/SA_UAConfig.config"/>
    <Module name="ST" filePath="config/UAConfig/ST_UAConfig.config"/>
    <Module name="GL" filePath="config/UAConfig/GL_UAConfig.config"/>
    <Module name="MP" filePath="config/UAConfig/MP_UAConfig.config"/>
    <Module name="FC" filePath="config/UAConfig/FC_UAConfig.config"/>
    <Module name="AAFI" filePath="config/UAConfig/AAFI_UAConfig.config"/>
    <Module name="AM" filePath="config/UAConfig/AM_UAConfig.config"/>
    <Module name="TUFO" filePath="config/UAConfig/TUFO_UAConfig.config"/>
    <!--删除系统管理对象后的后置操作-->
    <Module name="SM_Delete" filePath="config/UAConfig/SM_Delete_UAConfig.config"/>
  </Modules>
</Config>
