<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="updateAcc" type="Ufida.T.BAP.Base.UpdateAcc.UpdateBusiDataConfigSection,Ufida.T.BAP.Base"/>
  </configSections>
  <updateAcc>
    <version name="11.1.0">
      <updateBusinessData>
        <add name="ST" type=""></add>
      </updateBusinessData>
    </version>
    <version name="11.2.0">
      <updateBusinessData>
        <add name="ST" type=""></add>
      </updateBusinessData>
    </version>

  </updateAcc>
</configuration>
