<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="voucherQueryList" type="Ufida.T.PRT.Interface.VoucherQueryConfigSection,Ufida.T.PRT.Interface"/>
  </configSections>
  <voucherQueryList>
    <vouchers>
      <add name="SA01" type="Ufida.T.SA.Service.SaleQuotationService,Ufida.T.SA.Service"/>
      <add name="SA03" type="Ufida.T.SA.Service.SaleOrderService,Ufida.T.SA.Service"/>
      <add name="SA04" type="Ufida.T.SA.Service.SaleDeliveryService,Ufida.T.SA.Service"/>
       <add name="SYS0921" type="Ufida.T.SA.Service.SaleDeliveryService,Ufida.T.SA.Service"/>
      <add name="SA05" type="Ufida.T.SA.Service.SaleInvoiceService,Ufida.T.SA.Service"/> 
      <add name="SA08" type="Ufida.T.SA.Service.SaleExpenseAllocationService,Ufida.T.SA.Service"/> 

      <add name="SYS0931" type="Ufida.T.ST.Service.VoucherQueryOfStock,Ufida.T.ST.Service"/>
      <add name="SYS0932" type="Ufida.T.ST.Service.VoucherQueryOfStock,Ufida.T.ST.Service"/>
      <add name="ST1001" type="Ufida.T.ST.Service.VoucherQueryOfStock,Ufida.T.ST.Service"/>
      <add name="ST1002" type="Ufida.T.ST.Service.VoucherQueryOfStock,Ufida.T.ST.Service"/>
      <add name="ST1003" type="Ufida.T.ST.Service.VoucherQueryOfStock,Ufida.T.ST.Service"/>
      <add name="ST1004" type="Ufida.T.ST.Service.VoucherQueryOfStock,Ufida.T.ST.Service"/>
      <add name="ST1021" type="Ufida.T.ST.Service.VoucherQueryOfStock,Ufida.T.ST.Service"/>
      <add name="ST1022" type="Ufida.T.ST.Service.VoucherQueryOfStock,Ufida.T.ST.Service"/>
      <add name="ST1023" type="Ufida.T.ST.Service.VoucherQueryOfStock,Ufida.T.ST.Service"/>
      <add name="ST1024" type="Ufida.T.ST.Service.VoucherQueryOfStock,Ufida.T.ST.Service"/>
      <add name="ST1025" type="Ufida.T.ST.Service.VoucherQueryOfStock,Ufida.T.ST.Service"/>
      <add name="ST1031" type="Ufida.T.ST.Service.VoucherQueryOfStock,Ufida.T.ST.Service"/>
      <add name="ST1032" type="Ufida.T.ST.Service.VoucherQueryOfStock,Ufida.T.ST.Service"/>
      <add name="ST1033" type="Ufida.T.ST.Service.VoucherQueryOfStock,Ufida.T.ST.Service"/>
      <add name="ST1034" type="Ufida.T.ST.Service.VoucherQueryOfStock,Ufida.T.ST.Service"/>
      <add name="ST1035" type="Ufida.T.ST.Service.VoucherQueryOfStock,Ufida.T.ST.Service"/>
      <add name="ST2004" type="Ufida.T.ST.Service.VoucherQueryOfStock,Ufida.T.ST.Service"/>
      <add name="ST2005" type="Ufida.T.ST.Service.VoucherQueryOfStock,Ufida.T.ST.Service"/>
      <add name="ST2003" type="Ufida.T.ST.Service.VoucherQueryOfStock,Ufida.T.ST.Service"/>
      <add name="ST2008" type="Ufida.T.ST.Service.VoucherQueryOfStock,Ufida.T.ST.Service"/>
      <add name="ST2009" type="Ufida.T.ST.Service.VoucherQueryOfStock,Ufida.T.ST.Service"/>
      <add name="ST2002" type="Ufida.T.ST.Service.VoucherQueryOfStock,Ufida.T.ST.Service"/>

      <add name="MP01" type="Ufida.T.MP.Service.IntendSaleOrderService,Ufida.T.MP.Service"/>
      <add name="MP2810" type="Ufida.T.MP.Service.PraVoucherService,Ufida.T.MP.Service"/>
      <add name="MP05" type="Ufida.T.MP.Service.ManufactureOrderService,Ufida.T.MP.Service"/>

      <add name="PU01" type="Ufida.T.PU.Service.PurchaseRequisitionService,Ufida.T.PU.Service"/>
      <add name="PU02" type="Ufida.T.PU.Service.PurchaseOrderService,Ufida.T.PU.Service"/>
      <add name="PU03" type="Ufida.T.PU.Service.PurchaseArrivalService,Ufida.T.PU.Service"/>
      <add name="SYS0923" type="Ufida.T.PU.Service.PurchaseOrigArrivalService,Ufida.T.PU.Service"/>
      <add name="PU04" type="Ufida.T.PU.Service.PurchaseInvoiceService,Ufida.T.PU.Service"/>

      <add name="ARAP01" type="Ufida.T.ARAP.Service.ArapReceivePaymentService,Ufida.T.ARAP.Service"/>
      <add name="ARAP02" type="Ufida.T.ARAP.Service.ArapReceivePaymentService,Ufida.T.ARAP.Service"/>
      <add name="ARAP0301" type="Ufida.T.ARAP.Service.ArapStrikeBalanceService,Ufida.T.ARAP.Service"/>
      <add name="ARAP0302" type="Ufida.T.ARAP.Service.ArapStrikeBalanceService,Ufida.T.ARAP.Service"/>
      <add name="ARAP0303" type="Ufida.T.ARAP.Service.ArapStrikeBalanceService,Ufida.T.ARAP.Service"/>
      <add name="ARAP0304" type="Ufida.T.ARAP.Service.ArapStrikeBalanceService,Ufida.T.ARAP.Service"/>
      <add name="ARAP0305" type="Ufida.T.ARAP.Service.ArapStrikeBalanceService,Ufida.T.ARAP.Service"/>
      <add name="ARAP05" type="Ufida.T.ARAP.Service.ArapExchangeAdjustService,Ufida.T.ARAP.Service"/>
      <add name="CS01" type="Ufida.T.CS.Service.BankCashAccessVoucherService,Ufida.T.CS.Service"/>
      <add name="CS02" type="Ufida.T.CS.Service.ExpenseVoucherService,Ufida.T.CS.Service"/>
      <add name="CS03" type="Ufida.T.CS.Service.IncomeVoucherService,Ufida.T.CS.Service"/>
      <add name="CS07" type="Ufida.T.CS.Service.CashCheckVoucherService,Ufida.T.CS.Service"/>

	  <add name="DI15" type="Ufida.T.DI.Service.VoucherQuery,Ufida.T.DI.Service"/>
	  <add name="DI20" type="Ufida.T.DI.Service.VoucherQuery,Ufida.T.DI.Service"/>
	  <add name="DI25" type="Ufida.T.DI.Service.VoucherQuery,Ufida.T.DI.Service"/>
	  <add name="RE20" type="Ufida.T.RE.Service.RetailSettleService,Ufida.T.RE.Service"/>

	  <add name="PR0501" type="Ufida.T.PR.Service.SalesPromotionService,Ufida.T.PR.Service"/>
	  <add name="PR0502" type="Ufida.T.PR.Service.SalesPromotionService,Ufida.T.PR.Service"/>
  	  <add name="PR0503" type="Ufida.T.PR.Service.SalesPromotionService,Ufida.T.PR.Service"/>
	  <add name="PR0504" type="Ufida.T.PR.Service.SalesPromotionService,Ufida.T.PR.Service"/>
	  <add name="PR0505" type="Ufida.T.PR.Service.SalesPromotionService,Ufida.T.PR.Service"/>
	  <add name="PR0506" type="Ufida.T.PR.Service.SalesPromotionService,Ufida.T.PR.Service"/>
	  <add name="PR0507" type="Ufida.T.PR.Service.SalesPromotionService,Ufida.T.PR.Service"/>
	  <add name="PR0508" type="Ufida.T.PR.Service.SalesPromotionService,Ufida.T.PR.Service"/>

	  <add name="PR0509" type="Ufida.T.PR.Service.SalesPromotionService,Ufida.T.PR.Service"/>
	  <add name="PR0510" type="Ufida.T.PR.Service.SalesPromotionService,Ufida.T.PR.Service"/>

	  <add name="ME25" type="Ufida.T.ME.Service.IntegralForGiftService,Ufida.T.ME.Service"/>
	  <add name="RE10" type="Ufida.T.RE.Service.RetailService,Ufida.T.RE.Service"/>
	  <add name="ES040102" type="Ufida.T.ES.Service.ESaleOrderService,Ufida.T.ES.Service"/>

    <add name="MP08" type="Ufida.T.MP.Service.CostAllocationOrderService,Ufida.T.MP.Service"/>
	</vouchers>
  </voucherQueryList>
</configuration>
