<?xml version="1.0" encoding="gb2312"?>
<syncparams>
 <tables>
         <table>
        <!--会计期间-->
        <name>SM_Period</name>
        <fields>id,currentyear,currentperiod,begindate,enddate,bizterminalstate,ts</fields>
        <where></where>
        <synctype>1</synctype>
      </table>
      <table>
        <!--DTO属性表-->
        <name>eap_dto</name>
        <fields>id,name,title,tablename,namefield,codefield</fields>
        <where>Name like '%UserDefinearticleDTO%' or TableName like 'aa_%'</where>
        <synctype>2</synctype>
      </table>
     
    
      <table>
        <!--编码对照表-->
        <name>SM_TransferredCode</name>
        <fields>id,basearchiveid,basearchivecode,basearchivename,transferredcode,ts</fields>
        <where></where>
        <synctype>1</synctype>
      </table>

      <table>
        <!--columnset-->
        <name>eap_columnset</name>
        <fields>id,field,caption,issystem,ts</fields>
        <where>  1=1  </where>
        <synctype>1</synctype>
      </table>
    </tables>
</syncparams>