<?xml version="1.0" encoding="utf-8"?>
<Config>
  <!--功能启用前置校验和后置操作-->
  <FunctionEnable>

    <!--零售管理-->
    <option name="Retail">
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.AA.DR.SM.FunctionEnable.AADRREValidator" loadFrom="server\Ufida.T.UA.AA.DR.dll" moduleName="AADR" />
      </validators>
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AA.DR.SM.FunctionEnable.AADRREOperator" loadFrom="server\Ufida.T.UA.AA.DR.dll" moduleName="AADR"></concreteOperator>
      </operators>
    </option>

    <!--会员管理-->
    <option name="Member">
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.AA.DR.SM.FunctionEnable.AADRMEValidator" loadFrom="server\Ufida.T.UA.AA.DR.dll" moduleName="AADR" />
      </validators>
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AA.DR.SM.FunctionEnable.AADRMEOperator" loadFrom="server\Ufida.T.UA.AA.DR.dll"    moduleName="AADR"></concreteOperator>
      </operators>
    </option>

  </FunctionEnable>
  <!--账套选项前置校验和后置操作类配置-->
  <AccountOptions>
	<!-- IsUsedPOSCode -->
	<option name="CashierCheckAccount">
	  <validators>
		  <concreteValidator isLoad="true" className="Ufida.T.UA.AA.DR.SM.AccountOption.AADRCashierCheckAccountValidatorForStore" loadFrom="server\Ufida.T.UA.AA.DR.dll" moduleName="AADR" />
	  </validators>
	</option>  
    <!-- 多币种 -->
    <option name="IsMultiCurrency">
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.AA.DR.SM.AccountOption.AADRCurrencyValidator" loadFrom="server\Ufida.T.UA.AA.DR.dll" moduleName="AADR" />
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AA.DR.SM.AccountOption.AADRCurrencyOperator" loadFrom="server\Ufida.T.UA.AA.DR.dll" moduleName="AADR" />
      </operators>
    </option>
    <!-- 存货分类管理 -->
    <option name="IsInventoryClass">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AA.DR.SM.AccountOption.AADRInventoryClassOperator" loadFrom="server\Ufida.T.UA.AA.DR.dll" moduleName="AADR" />
      </operators>
    </option>
    <!-- 汇率小数位 -->
    <option name="ExchangeRatePrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AA.DR.SM.AccountOption.AADRExchangRateOperator" loadFrom="server\Ufida.T.UA.AA.DR.dll" moduleName="AADR" />
      </operators>
    </option>
    <!-- 营销机构管理 -->
    <option name="IsMultiMarketing">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AA.DR.SM.AccountOption.AADRMarketingOrganOperator" loadFrom="server\Ufida.T.UA.AA.DR.dll" moduleName="AADR" />
      </operators>
    </option>
    <!-- 跑店管理 -->
    <option name="UseRunShop">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AA.DR.SM.AccountOption.AADRUseRunShopOperator" loadFrom="server\Ufida.T.UA.AA.DR.dll" moduleName="AADR" />
      </operators>
    </option>
  </AccountOptions>
  <!--单据审核后置操作处理器配置-->
  <VoucherAudit>
  </VoucherAudit>
  <!--期末处理处理器配置-->
  <ClosingProcess>
  </ClosingProcess>
  <!--期间结转处理器配置-->
  <CarryForward>
    <Processors>
      <Processor isLoad="true" className="Ufida.T.UA.AA.DR.SM.CarryForward.AADRForwardProcessor" moduleName="AADR" description="AADRIsCarryForwarding" loadFrom="server\Ufida.T.UA.AA.DR.dll" />
    </Processors>
  </CarryForward>
  <!--版本控制处理器配置-->
  <VersionControl>
  </VersionControl>
  <!--单据期间结转处理类配置-->
  <VoucherCarryForwards>
  </VoucherCarryForwards>
  <!--页面前置校验处理-->
  <PagePreCondition>
    <Runtimes>
      <!--页面前置校验处理类程序集-->
      <Runtime Assembly="Ufida.T.BAP.BusinessApplication.dll" />
      <!--DTO程序集，判断DTO是否被并发删除时使用-->
      <Runtime Assembly="Ufida.T.AA.DTO.dll" />
      <Runtime Assembly="Ufida.T.SA.DTO.dll" />
    </Runtimes>
    <PagePreConditions>
      <!--单据校验-->
      <PagePreCondition Code="AA1060" Name="会员" Url="BAPView/BaseInfoList.aspx?sysId=AADR&amp;mId=AA1060&amp;pId=baseInfoList&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
      <PagePreCondition Code="aa1070" Name="会员类型" Url="BAPView/BaseInfoList.aspx?sysId=AADR&amp;mId=aa1070&amp;pId=baseInfoList&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
      <PagePreCondition Code="aa1065" Name="门店" Url="BAPView/BaseInfoList.aspx?sysId=AADR&amp;mId=aa1065&amp;pId=baseInfoList&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />

    </PagePreConditions>
    <Reports>
    </Reports>
  </PagePreCondition>

  <MessageCenter>
  </MessageCenter>

  <!--自由项后置 -->
  <FreeItemUpdated>
  </FreeItemUpdated>

  <!--自定义项后置 -->
  <UserDefineItemUpdated>
  </UserDefineItemUpdated>
  <!--数据清除-->
  <AccountManage>
    <AccountClear>
      <concreteOperator isLoad="true" className="Ufida.T.UA.AA.DR.SM.AccountClear.AADRAccountClearProcessor" loadFrom="server\Ufida.T.UA.AA.DR.dll" moduleName="AADR" />
    </AccountClear>
  </AccountManage>
</Config>