<?xml version="1.0" encoding="utf-8"?>
<Config>
  <!--账套选项前置校验和后置操作类配置-->
  <FunctionEnable>
    <!--资产管理-->
    <option name="Asset">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AA.FI.FunctionEnable.Operators.AAFIFunctionEnableOperate" loadFrom="server\Ufida.T.UA.AA.FI.dll" moduleName="AAFI"></concreteOperator>
      </operators>
    </option>
  </FunctionEnable>
  
  <AccountOptions>
 	<!--凭证类别--> 
                <option name="DocType"> 
                        <validators> 
                                <concreteValidator isLoad="true" className="Ufida.T.UA.AA.FI.AccountOptionService.DocTypeValidator" loadFrom="server\Ufida.T.UA.AA.FI.dll" moduleName="AAFI" /> 

                        </validators> 
                        <!--后置操作--> 
                        <operators> 
                                <concreteOperator isLoad="true" className="Ufida.T.UA.AA.FI.AccountOptionService.AADocTypeOperator" loadFrom="server\Ufida.T.UA.AA.FI.dll" moduleName="AAFI"></concreteOperator>

                        </operators> 
                </option>


	  <!--行业性质 -->
		<option name="TradeKind">
			<validators>
				<concreteValidator isLoad="true" className="Ufida.T.UA.FI.AccountOptionService.PresetAccountValidator" loadFrom="server\Ufida.T.UA.AA.FI.dll" moduleName="AAFI" />
			</validators>
			<operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.FI.AccountOptionService.PresetAccountTypeOperator" loadFrom="server\Ufida.T.UA.AA.FI.dll" moduleName="AAFI" />
        <concreteOperator isLoad="true" className="Ufida.T.UA.AA.FI.SM.AccountOption.Operators.PresetDataOperator" loadFrom="server\Ufida.T.UA.AA.FI.dll" moduleName="AAFI" />
			</operators>
		</option>
		<!--按行业性质预置科目 -->
		<option name="IsSetAccountCodingByTradeKind">
			<validators>
				<concreteValidator isLoad="true" className="Ufida.T.UA.FI.AccountOptionService.PresetAccountValidator" loadFrom="server\Ufida.T.UA.AA.FI.dll" moduleName="AAFI" />
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FI.AccountOptionService.PresetAccountOperator" loadFrom="server\Ufida.T.UA.AA.FI.dll" moduleName="AAFI" />
			</operators>
		</option>
      <!-- 科目编码级级长 -->
		<option name="AccountCodingLevelItemLength">
			<validators>
				<concreteValidator isLoad="true" className="Ufida.T.UA.FI.AccountOptionService.AccountCodingLevelValidator" loadFrom="server\Ufida.T.UA.AA.FI.dll" moduleName="AAFI" />
			</validators>
			<operators />
		</option>
		
    <!--条形码管理-->
    <option name="BarCodeManage">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AA.FI.SM.AccountOption.Operators.AAFIBarCodeManageOperator" loadFrom="server\Ufida.T.UA.AA.FI.dll" moduleName="AAFI" />
      </operators>
    </option>
  </AccountOptions>
</Config>