<?xml version="1.0" encoding="utf-8"?>
<Config>
	<!--功能启用前置校验和后置操作类配置-->
	<FunctionEnable>
		<!--资产管理-->
		<option name="Asset">
			<validators>
				<concreteValidator isLoad="true" className="Ufida.T.UA.FunctionEnable.AM.AMValidate" loadFrom="server\Ufida.T.UA.AM.dll" moduleName="AM" />
			</validators>
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FunctionEnable.AM.AMFunctionEnableOperate" loadFrom="server\Ufida.T.UA.AM.dll" moduleName="AM"></concreteOperator>
			</operators>
		</option>
		<!--普及账表-->
		<option name="StdAccount">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FunctionEnable.AM.AMProAccountOperate" loadFrom="server\Ufida.T.UA.AM.dll" moduleName="AM"></concreteOperator>
			</operators>
		</option>
		<!--总账-->
		<option name="Ledger">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FunctionEnable.AM.AMProAccountOperate" loadFrom="server\Ufida.T.UA.AM.dll" moduleName="AM"></concreteOperator>
			</operators>
		</option>
	</FunctionEnable>

	<!--账套选项前置校验和后置操作类配置-->
	<AccountOptions>
		<!--条形码管理-->
		<option name="BarCodeManage">
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AM.SM.AccountOption.Operators.AMBarCodeManageOperator" loadFrom="server\Ufida.T.UA.AM.dll" moduleName="AM" />
			</operators>
		</option>
		<!-- 包含未记账 -->
		<option name="ContainsWithoutAccount">
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AM.SM.AccountOption.Operators.AMContainsWithoutAccountOperator" loadFrom="server\Ufida.T.UA.AM.dll" moduleName="AM" />
			</operators>
		</option>
	</AccountOptions>


	<!--页面前置校验处理-->
	<PagePreCondition>
		<Runtimes>
			<!--页面前置校验处理类程序集-->
			<Runtime Assembly="Ufida.T.BAP.BusinessApplication.dll" />
			<!--DTO程序集，判断DTO是否被并发删除时使用-->
			<Runtime Assembly="Ufida.T.AA.FI.DTO.dll" />
			<Runtime Assembly="Ufida.T.AM.DTO.dll" />
		</Runtimes>
		<PagePreConditions>
			<!--单据校验-->
			<PagePreCondition Code="AM1010" Name="卡片管理" Url="BAPView/VoucherList.aspx?pId=voucherListView&amp;sysId=am&amp;mId=am1020&amp;SourceType=FromMenu" Type="Ufida.T.UA.PagePreCondition.AM.AssetListPreCondition" loadFrom="server\Ufida.T.UA.AM.dll" />
			<PagePreCondition Code="AM1020" Name="新增卡片" Url="BAPView/Voucher.aspx" Type="Ufida.T.UA.PagePreCondition.AM.AssetPreCondition" loadFrom="server\Ufida.T.UA.AM.dll" />
			<PagePreCondition Code="AM1040" Name="拆分单" Url="BAPView/Voucher.aspx" Type="Ufida.T.UA.PagePreCondition.AM.SplitVoucherCondition" loadFrom="server\Ufida.T.UA.AM.dll" />
			<PagePreCondition Code="AM1030" Name="变动单" Url="BAPView/VoucherList.aspx?mId=AM1030&amp;pId=voucherListView&amp;sysId=am&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="AM3010" Name="折旧摊销清单" Url="BAPView/VoucherList.aspx?mId=AM3010&amp;pId=voucherListView&amp;sysId=am&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="AM3010" Name="折旧/摊销清单" Url="BAPView/Voucher.aspx?mId=am3010&amp;sysId=am&amp;pId=voucherView" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="AM1050" Name="处置单" Url="BAPView/VoucherList.aspx?mId=AM1050&amp;pId=voucherListView&amp;sysId=am&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="AM3020" Name="工作量统计单" Url="BAPView/Voucher.aspx" Type="Ufida.T.UA.PagePreCondition.AM.UOPVoucherPreCondition" loadFrom="server\Ufida.T.UA.AM.dll" />
			<PagePreCondition Code="AM20" Name="资产盘点单" Url="BAPView/Voucher.aspx" Type="Ufida.T.UA.PagePreCondition.AM.CheckVoucherPreCondition" loadFrom="server\Ufida.T.UA.AM.dll" />
			<PagePreCondition Code="AM40" Name="与总账对账" Url="BAPView/ReportWithSimpleSearch.aspx" Type="Ufida.T.UA.AM.SM.PagePreCondition.AMGLRptCondition" loadFrom="server\Ufida.T.UA.AM.dll" />
		</PagePreConditions>
		<Reports>
			<!--仅总账、明细账不含简单查询-->
			<!--<Report ReportName="AM_AMGLCheckRpt" Code="AM40" title="与总账对账"/>-->
			<Report ReportName="AM_AMAssetDetailRpt" Code="AM5010" title="卡片明细表"/>
			<Report ReportName="AM_AMAttachmentDetailRpt" Code="AM5020" title="附属设备明细表"/>
			<Report ReportName="AM_AMMaintainDetailRpt" Code="AM5030" title="维护明细表"/>
			<Report ReportName="AM_AMIncDecStatisticsRpt" Code="AM6010" title="增减统计表"/>
			<Report ReportName="AM_AMDeprStatisticsRpt" Code="AM6020" title="折旧/摊销统计表"/>
			<Report ReportName="AM_AMOverOrOnUseRpt" Code="AM6030" title="役龄/逾龄分析表"/>
			<Report ReportName="AM_ValueAccountingForAnalysisRpt" Code="AM6040" title="价值占比分析表"/>
			<Report ReportName="AM_AssetSumRpt" Code="AM7010" title="资产总账"/>
			<Report ReportName="AM_AMDetailRpt" Code="AM7020" title="资产明细账"/>
		</Reports>
	</PagePreCondition>

	<!-- 财务期末结账 -->
	<FITerminalProcessors>
		<Processors>
			<Processor isLoad="true" className="Ufida.T.UA.TerminalProcess.AM.AMFITerminalProcessor" moduleName="AM" description="AMTerminalProcessing" loadFrom="server\Ufida.T.UA.AM.dll"  processIndex="110">
				<FunctionName name="Asset" functionEnabled="true" />
			</Processor>
		</Processors>
		<UnProcessors>
			<UnProcessor isLoad="true" className="Ufida.T.UA.TerminalProcess.AM.AMUnFITerminalProcessor" moduleName="AM" description="AMUnTerminalProcessing" loadFrom="server\Ufida.T.UA.AM.dll" processIndex="910">
				<FunctionName name="Asset" functionEnabled="true" />
			</UnProcessor>
		</UnProcessors>
	</FITerminalProcessors>

	<!--期间结转处理器配置-->
	<CarryForward>
		<Processors>
			<Processor isLoad="true" className="Ufida.T.UA.CarryForward.AM.AMForwardProcessor" moduleName="AM" description="AMIsCarryForwarding" loadFrom="server\Ufida.T.UA.AM.dll" />
		</Processors>
	</CarryForward>

  <!--数据清除-->
  <AccountManage>
    <AccountClear>
      <concreteOperator isLoad="true" className="Ufida.T.UA.AccountClear.AM.AMAccountClear" loadFrom="server\Ufida.T.UA.AM.dll" moduleName="AM" />
    </AccountClear>
  </AccountManage>

  <!--会计期间前置校验-->
  <PeriodSettings>
    <!--前置校验-->
    <validators>
      <!--事例:<concreteValidator isLoad="true" className="Ufida.T.UA.SA.FunctionEnable.Stock" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA"></concreteValidator>-->
      <!--资产管理模块-->
      <concreteValidator isLoad="true" className="Ufida.T.UA.AM.SM.PeriodSetting.Validate.AMValidate" loadFrom="server\Ufida.T.UA.AM.dll" moduleName="AM"></concreteValidator>
    </validators>
  </PeriodSettings>
</Config>