<?xml version="1.0" encoding="utf-8"?>
<Config>
  <!--功能启用前置校验和后置操作-->
  <FunctionEnable>
    <!--零售管理-->
    <option name="Retail">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.FunctionEnable.ARAP.ARAPRetailOperate" loadFrom="server\Ufida.T.UA.ARAP.dll" moduleName="ARAP" />
      </operators>
    </option>    
    <!--库存核算-->
    <option name="Stock">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    <!--购销管理-->
    <option name="PS">
      <!--前置校验-->
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.FunctionEnable.ARAP.ARAPPSValidate" loadFrom="server\Ufida.T.UA.ARAP.dll" moduleName="ARAP" />
      </validators>
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.FunctionEnable.ARAP.ARAPPurchaseSaleOperate" loadFrom="server\Ufida.T.UA.ARAP.dll" moduleName="ARAP" />
      </operators>
    </option>
    <!--普及进销存-->
    <option name="StdIERP">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.FunctionEnable.ARAP.ARAPPurchaseSaleOperate" loadFrom="server\Ufida.T.UA.ARAP.dll" moduleName="ARAP" />
      </operators>
    </option>    
    <!--自制加工-->
    <option name="Manufacture">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    <!--委外加工-->
    <option name="ConsignManufacture">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    <!--成本核算-->
    <option name="Costing">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    <!--MRP运算-->
    <option name="MRP">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    <!--工序管理-->
    <option name="Process">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    <!--普及账表-->
    <option name="StdAccount">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    <!--专业账表-->
    <option name="ProAccount">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    <!--现金银行-钱流-->
    <option name="CashBankMoneyFlow">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    <!--现金银行-出纳-->
    <option name="CS">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    <!--票据打印-->
    <option name="DocPrint">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    <!--税务核算与申报-->
    <option name="TaxAccrual">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    <!--所得税汇算-->
    <option name="IncomeTaxSettlement">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    <!--会员管理-->
    <option name="Member">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.ARAP.ARAPMemberManageAndMultipleStoreOperate" loadFrom="server\Ufida.T.UA.ARAP.dll" moduleName="ARAP" />
      </operators>
    </option>
  </FunctionEnable>

  <!--会计期间前置校验-->
  <PeriodSettings>
    <!--前置校验-->
    <validators>
    </validators>
  </PeriodSettings>

  <!--账套选项前置校验和后置操作类配置-->
  <AccountOptions>
    <!-- 多币种 -->
    <option name="IsMultiCurrency">
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.AccountOption.ARAP.ArapCurrencyValidator" loadFrom="server\Ufida.T.UA.ARAP.dll" moduleName="ARAP" />
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.ARAP.ArapCurrencyOperator" loadFrom="server\Ufida.T.UA.ARAP.dll" moduleName="ARAP" />
      </operators>
    </option>
    <!--加盟店App-->
    <option name="APP_Chanjet_Franchise">
      <!--后置操作-->
      <validators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.ARAP.ARAPMemberManageAndMultipleStoreOperate" loadFrom="server\Ufida.T.UA.ARAP.dll" moduleName="ARAP" />
      </validators>
    </option>
    <!-- 存货批号管理 -->
    <option name="IsBatchNumberManage">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.ARAP.ArapBatchOperator" loadFrom="server\Ufida.T.UA.ARAP.dll" moduleName="ARAP" />
      </operators>
    </option>
    <!-- 存货有效期管理 -->
    <option name="IsQualityPeriodManage">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.ARAP.ArapQualityOperator" loadFrom="server\Ufida.T.UA.ARAP.dll" moduleName="ARAP" />
      </operators>
    </option>
    <!-- 货位管理 -->
    <option name="IsInvLocationManage">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.ARAP.ArapInvLocationOperator" loadFrom="server\Ufida.T.UA.ARAP.dll" moduleName="ARAP" />
      </operators>
    </option>
    <!-- 委外加工 -->
    <option name="IsMadeByOthers">
      <validators>
      </validators>
      <operators>
      </operators>
    </option>
    <!-- 数量小数位 -->
    <option name="QuantityPrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.ARAP.ArapQuantityPrecisionOperator" loadFrom="server\Ufida.T.UA.ARAP.dll" moduleName="ARAP" />
      </operators>
    </option>
    <!-- 单价小数位 -->
    <option name="PricePrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.ARAP.ArapPricePrecisionOperator" loadFrom="server\Ufida.T.UA.ARAP.dll" moduleName="ARAP" />
      </operators>
    </option>
    <!-- 发票单价小数位 -->
    <option name="InvoicePricePrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.ARAP.ArapInvoicePrecisionOperator" loadFrom="server\Ufida.T.UA.ARAP.dll" moduleName="ARAP" />
      </operators>
    </option>
    <!-- 汇率小数位 -->
    <option name="ExchangeRatePrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.ARAP.ArapExchangRateOperator" loadFrom="server\Ufida.T.UA.ARAP.dll" moduleName="ARAP" />
      </operators>
    </option>
    <!-- 换算率小数位 -->
    <option name="ProportionRatePrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.ARAP.ArapSwapRateOperator" loadFrom="server\Ufida.T.UA.ARAP.dll" moduleName="ARAP" />
      </operators>
    </option>
    <!-- 批号和计价法联用 -->
    <option name="IsBatchNumberWithPriceMode">
      <validators>
      </validators>
      <operators>
      </operators>
    </option>
    <!-- 计价模式 -->
    <option name="PriceMode">
      <validators>
      </validators>
      <operators>
      </operators>
    </option>
    <!-- 暂估处理方式 -->
    <option name="TemporayEstimateMode">
      <validators>
      </validators>
      <operators>
      </operators>
    </option>
    <!-- 计价时机 -->
    <option name="PriceOpportunity">
      <validators>
      </validators>
    </option>
    <!-- 销售流程 -->
    <option name="SAWorkflow">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.ARAP.ConcreteSAWorkflowControlByARAP" loadFrom="server\Ufida.T.UA.ARAP.dll" moduleName="ARAP" />
      </operators>
    </option>
    <!-- 采购流程 -->
    <option name="PUWorkflow">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.ARAP.ConcretePUWorkflowControlByARAP" loadFrom="server\Ufida.T.UA.ARAP.dll" moduleName="ARAP" />
      </operators>
    </option>
    <!-- 进货单自动生成入库单 -->
    <option name="IsPurchaseOrderAutoStockOrder">
      <operators>
      </operators>
    </option>
    <!-- 销货单自动生成出库单 -->
    <option name="IsDeliveryOrderAutoStockOrder">
      <operators>
      </operators>
    </option>
    <!-- 是否已经有货品使用了多计量 -->
    <option name="HaveUsedMultiUnit">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.ARAP.ArapMultiUnitOperator" loadFrom="server\Ufida.T.UA.ARAP.dll" moduleName="ARAP" />
      </operators>
    </option>
    <!-- 存货分类管理 -->
    <option name="IsInventoryClass">
      <operators>
      </operators>
    </option>
    <!-- 往来单位分类管理 -->
    <option name="IsPartnerClass">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.ARAP.ARAPPartnerClassOperator" loadFrom="server\Ufida.T.UA.ARAP.dll" moduleName="ARAP" />
      </operators>
    </option>
    <!-- 账套性质 -->
    <option name="AccoutType">
      <operators>
      </operators>
    </option>
    <!-- 核销方式 -->
    <option name="CheckMode">
      <operators>
        <summaryOperator className="Ufida.T.BAP.BusinessApplication.AccountOption.GeneralOperations" loadFrom="" />
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.ARAP.ConcreteArapCheckModeControl" loadFrom="server\Ufida.T.UA.ARAP.dll" moduleName="ARAP" />
      </operators>
    </option>
    <!-- 采购立账类型 -->
    <option name="PUAccount">
      <validators />
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.ARAP.ARAPInvoiceAccountOperator" loadFrom="server\Ufida.T.UA.ARAP.dll" moduleName="ARAP"/>
      </operators>
    </option>
    <!-- 销售立账类型 -->
    <option name="SAAccount">
      <validators />
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.ARAP.ARAPInvoiceAccountOperator" loadFrom="server\Ufida.T.UA.ARAP.dll" moduleName="ARAP"/>
      </operators>
    </option>
    <!-- 项目档案分类管理 -->
    <option name="IsProgramDossier">
      <validators />
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.ARAP.ARAPProjectClassOperator" loadFrom="server\Ufida.T.UA.ARAP.dll" moduleName="ARAP"/>
      </operators>
    </option>
    <!-- 成品率小数位 -->
    <option name="ProductRateDecimalDigits">
      <validators />
      <operators />
    </option>
    <!-- 损耗率小数位 -->
    <option name="ShrinkageRateDecimalDigits">
      <validators />
      <operators />
    </option>
    <!-- 考虑成品率 -->
    <option name="IsRelationWithProductRate">
      <validators />
      <operators />
    </option>
    <!-- 考虑损耗率 -->
    <option name="IsRelationWithShrinkageRate">
      <validators />
      <operators />
    </option>
    <!-- 采购需求累计下达数超建议 -->
    <option name="IsStockAcquireNumOvertopAdvice">
      <validators />
      <operators />
    </option>
    <!-- 已订未出货 -->
    <option name="IsOrderedButNoSend">
      <validators />
      <operators />
    </option>
    <!-- 销售应收款 -->
    <option name="IsReceivableAccount">
      <validators />
      <operators />
    </option>
    <!-- 预收款 -->
    <option name="IsPrepay">
      <validators />
      <operators />
    </option>
    <!-- 已出货未立账 -->
    <option name="IsSendedButNoBalance">
      <validators />
      <operators />
    </option>
    <!-- 收入单 -->
    <option name="IsRevenueBill">
      <validators />
      <operators />
    </option>
    <!-- 领料数量计算方式 -->
    <option name="CalculateTypeOfDrawMaterial">
      <validators />
      <operators />
    </option>
    <!-- 生产待入量 -->
    <option name="IsManufacturedWaitIncept">
      <validators />
      <operators />
    </option>
    <!-- 生产待发量 -->
    <option name="IsManufacturedWaitSend">
      <validators />
      <operators />
    </option>
    <!-- 计价周期类型 -->
    <option name="AccountValueCycleType">
      <validators />
      <operators />
    </option>
    <!-- 计价周期 -->
    <option name="AccountValueCycle">
      <validators />
      <operators />
    </option>
    <!-- 考虑成本率 -->
    <option name="MRPOprationWithProductRate">
      <validators />
      <operators />
    </option>
    <!-- 考虑损耗率 -->
    <option name="MRPOprationWithShrinkageRate">
      <validators />
      <operators />
    </option>
    <!-- MRP累计下达数量允许超建议量 -->
    <option name="IsMRPAcquireNumOvertopAdvice">
      <validators />
      <operators />
    </option>
    <!-- 产成品入库控制 -->
    <option name="ProductInceptControl">
      <validators />
      <operators />
    </option>
    <!-- 产成品入库控制范围 -->
    <option name="ProductInceptControlBound">
      <validators />
      <operators />
    </option>
    <!-- 产成品入库控制方式 -->
    <option name="ProductInceptControlType">
      <validators />
      <operators />
    </option>
    <!-- 产成品入库控制密码 -->
    <option name="ProductInceptControlPwd">
      <validators />
      <operators />
    </option>
    <!-- 委外价格控制 -->
    <option name="IsConsignTiptopPriceControl">
      <validators />
      <operators />
    </option>
    <!-- 委外价格控制方式 -->
    <option name="ConsignTiptopPriceControlType">
      <validators />
      <operators />
    </option>
    <!-- 委外价格控制密码 -->
    <option name="ConsignTiptopPriceControlPwd">
      <validators />
      <operators />
    </option>
    <!-- 成本计算方式 -->
    <option name="CostCalculateType">
      <validators />
      <operators />
    </option>
    <!-- 在产品成本分配方式（原材料） -->
    <option name="WIPCostAllocationTypeMaterial">
      <validators />
      <operators />
    </option>
    <!-- 在产品成本分配方式（费用） -->
    <option name="WIPCostAllocationTypeCharges">
      <validators />
      <operators />
    </option>
    <!-- 工序日报严格按工序流程控制 -->
    <option name="IsManuControlByProcess">
      <validators />
      <operators />
    </option>
    <!-- 控制范围 -->
    <option name="IsManuProcessControlRange">
      <validators />
      <operators />
    </option>
    <!-- 控制方式 -->
    <option name="IsManuProcessControlType">
      <validators />
      <operators />
    </option>
    <!-- 控制密码 -->
    <option name="IsManuProcessControlTypePwd">
      <validators />
      <operators />
    </option>
    <!-- 材料超计划领用 -->
    <option name="IsMaterialDrawExceedPlan">
      <validators />
      <operators />
    </option>
    <!-- 材料超计划领用控制方式 -->
    <option name="MaterialDrawControlType">
      <validators />
      <operators />
    </option>
    <!-- 材料超计划领用控制密码 -->
    <option name="MaterialDrawControlTypePwd">
      <validators />
      <operators />
    </option>
    <!-- 制单序时控制 -->
    <option name="IsControlWhenGenerateDoc">
      <validators />
      <operators />
    </option>
    <!-- 现金流量必录 -->
    <option name="IsCashFlowMustInput">
      <validators />
      <operators />
    </option>
    <!-- 制单人与审核人可以为同一人 -->
    <option name="CanMakerIsAuditor">
      <validators />
      <operators />
    </option>
    <!-- 科目编码级次 -->
    <option name="AccountCodingLevel">
      <validators />
      <operators />
    </option>
    <!-- 凭证需审核才可记账 -->
    <option name="IsBookkeepOnlyWhenVoucherAudit">
      <validators />
      <operators />
    </option>
    <!-- 出纳凭证必须经由出纳签字 -->
    <option name="IsPayOnlyWhenCashierSignature">
      <validators />
      <operators />
    </option>
    <!-- 凭证必须经由主管签字 -->
    <option name="IsVoucherNeedSupervisorSign">
      <validators />
      <operators />
    </option>
    <!-- 资金及往来赤字控制 -->
    <option name="IsControlCapAndARAPDeficit">
      <validators />
      <operators />
    </option>
    <!-- 资金及往来赤字控制方式 -->
    <option name="IsControlCapAndARAPDeficitMode">
      <validators />
      <operators />
    </option>
    <!-- 支票是否自动核对 -->
    <option name="IsCheckAutoCheck">
      <validators />
      <operators />
    </option>
    <!-- 手工录入 -->
    <option name="IsManualInputData">
      <validators />
      <operators />
    </option>
    <!-- 引自业务数据 -->
    <option name="IsFromBusinessData">
      <validators />
      <operators />
    </option>
    <!-- 所得税汇算申报类型 -->
    <option name="IncomeTaxCalculateType">
      <validators />
      <operators />
    </option>
    <!-- 税务核算处理方式 -->
    <option name="TaxAccrualProcessingType">
      <validators />
      <operators />
    </option>
    <!-- 多营销机构 -->
    <option name="IsMultiMarketing">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.ARAP.ARAPIsMultiMarketingOperator" loadFrom="server\Ufida.T.UA.ARAP.dll" moduleName="ARAP"/>
      </operators>
    </option>
  </AccountOptions>
  <!--单据审核后置操作处理器配置-->
  <VoucherAudit>
    <Processors>
      <Processor isLoad="true" className="Ufida.T.UA.VoucherTypeSetting.ARAP.ARAPAuditProcessor" moduleName="ARAP" loadFrom="server\Ufida.T.UA.ARAP.dll" />
    </Processors>
  </VoucherAudit>
  <!--期末处理处理器配置-->
  <ClosingProcess>
    <Processors>
      <Processor isLoad="true" className="Ufida.T.UA.TerminalProcess.ARAP.ARAPTerminalProcessor" moduleName="ARAP" description="ARAPTerminalProcessing" loadFrom="server\Ufida.T.UA.ARAP.dll" />
    </Processors>
    <UnProcessors>
      <UnProcessor isLoad="true" className="Ufida.T.UA.TerminalProcess.ARAP.ARAPUnTerminalProcessor" moduleName="ARAP" description="ARAPUnTerminalProcessing" loadFrom="server\Ufida.T.UA.ARAP.dll" />
    </UnProcessors>
  </ClosingProcess>
  <!-- 财务期末结账 -->
  <FITerminalProcessors>
    <Processors>
    </Processors>
    <UnProcessors>
    </UnProcessors>
  </FITerminalProcessors>
  <!--期间结转处理器配置-->
  <CarryForward>
    <Processors>
      <Processor isLoad="true" className="Ufida.T.UA.CarryForward.ARAP.ARAPForwardProcessor" moduleName="ARAP" description="ARAPIsCarryForwarding" loadFrom="server\Ufida.T.UA.ARAP.dll" />
    </Processors>
  </CarryForward>


  <!--版本控制处理器配置-->
  <VersionControl>
    <Versions>
      <!--仓管通-->
      <Version name="CGTStd">
        <Processors>
          <!--往来模块-->
          <processor isLoad="true" className="Ufida.T.UA.VersionControl.ARAP.ARAP_CGT_VersionControlProcessor" moduleName="ARAP" loadFrom="server\Ufida.T.UA.ARAP.dll" />
        </Processors>
      </Version>
      <!--业务通标准版-->
      <Version name="YWTStd">
        <Processors>
        </Processors>
      </Version>
      <!--业务通专业版-->
      <Version name="YWTPro">
        <Processors>
          <!--往来模块-->
          <processor isLoad="true" className="Ufida.T.UA.VersionControl.ARAP.ARAP_YWTPro_VersionControlProcessor" moduleName="ARAP" loadFrom="server\Ufida.T.UA.ARAP.dll" />
        </Processors>
      </Version>
      <!--工贸通标准版-->
      <Version name="GMTStd">
        <Processors>
        </Processors>
      </Version>
      <!--工贸通专业版-->
      <Version name="GMTPro">
        <Processors>
        </Processors>
      </Version>
      <!--财务通标准版-->
      <Version name="CWTStd">
        <Processors>
        </Processors>
      </Version>
      <!--财务通专业版-->
      <Version name="CWTPro">
        <Processors>
        </Processors>
      </Version>
      <!--用友通专业版-->
      <Version name="YYTPro">
        <Processors>
          <processor isLoad="true" className="Ufida.T.UA.VersionControl.ARAP.ARAP_YYTPro_VersionControlProcessor" moduleName="ARAP" loadFrom="server\Ufida.T.UA.ARAP.dll" />
        </Processors>
      </Version>
    </Versions>
  </VersionControl>


  <!--单据期间结转处理类配置-->
  <VoucherCarryForwards>
    <!-- 往来模块-->
    <VoucherCarryForward Code="ARAP51" Name="期初应收" Type="Ufida.T.UA.CarryForward.ARAP.ArOriginalCarryForwardBP" loadFrom="server\Ufida.T.UA.ARAP.dll" />
    <VoucherCarryForward Code="ARAP53" Name="期初应付" Type="Ufida.T.UA.CarryForward.ARAP.ApOriginalCarryForwardBP" loadFrom="server\Ufida.T.UA.ARAP.dll" />
    <VoucherCarryForward Code="ARAP01" Name="收款单" Type="Ufida.T.UA.CarryForward.ARAP.ArapReceiveCarryForwardBP" loadFrom="server\Ufida.T.UA.ARAP.dll" />
    <VoucherCarryForward Code="ARAP02" Name="付款单" Type="Ufida.T.UA.CarryForward.ARAP.ArapPaymentCarryForwardBP" loadFrom="server\Ufida.T.UA.ARAP.dll" />
    <VoucherCarryForward Code="ARAP0301" Name="预收冲应收" Type="Ufida.T.UA.CarryForward.ARAP.ArapAdvReceiveArCarryForwardBP" loadFrom="server\Ufida.T.UA.ARAP.dll" />
    <VoucherCarryForward Code="ARAP0302" Name="预付冲应付" Type="Ufida.T.UA.CarryForward.ARAP.ArapAdvPaymentApCarryForwardBP" loadFrom="server\Ufida.T.UA.ARAP.dll" />
    <VoucherCarryForward Code="ARAP0303" Name="应收冲应收" Type="Ufida.T.UA.CarryForward.ARAP.ArapArArCarryForwardBP" loadFrom="server\Ufida.T.UA.ARAP.dll" />
    <VoucherCarryForward Code="ARAP0304" Name="应付冲应付" Type="Ufida.T.UA.CarryForward.ARAP.ArapApApCarryForwardBP" loadFrom="server\Ufida.T.UA.ARAP.dll" />
    <VoucherCarryForward Code="ARAP0305" Name="应收冲应付" Type="Ufida.T.UA.CarryForward.ARAP.ArapArApCarryForwardBP" loadFrom="server\Ufida.T.UA.ARAP.dll" />
    <VoucherCarryForward Code="ARAP05" Name="汇兑损益" Type="Ufida.T.UA.CarryForward.ARAP.ArapExchangeCarryForwardBP" loadFrom="server\Ufida.T.UA.ARAP.dll" />
    <VoucherCarryForward Code="ARAPXX" Name="应收应付账" Type="Ufida.T.UA.CarryForward.ARAP.ArapDetailCarryForwardBP" loadFrom="server\Ufida.T.UA.ARAP.dll" />
    <VoucherCarryForward Code="ARAPDetailSecond" Name="往来辅账" Type="Ufida.T.UA.CarryForward.ARAP.ArapDetailSecondCarryForwardBP" loadFrom="server\Ufida.T.UA.ARAP.dll" />
  </VoucherCarryForwards>
  <!--页面前置校验处理-->
  <PagePreCondition>
    <PagePreConditions>
      <!--单据校验-->
      <PagePreCondition Code="SYS0912" Name="往来期初余额" Url="ARAP/OriginalAmountEdit.aspx?SourceType=FromMenu" Type="Ufida.T.UA.PagePreCondition.ARAP.OriginalAmountCondition" loadFrom="server\Ufida.T.UA.ARAP.dll" />
      <PagePreCondition Code="ARAP01" Name="收款单" Url="ARAP/ReceiveVoucherEdit.aspx?SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="ARAP02" Name="付款单" Url="ARAP/PaymentVoucherEdit.aspx?SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="ARAP0301" Name="预收冲应收" Url="ARAP/StrikeBalanceAdvReceiveArEdit.aspx?SourceType=FromMenu" Type="Ufida.T.UA.PagePreCondition.ARAP.AdvReceiveArCondition" loadFrom="server\Ufida.T.UA.ARAP.dll" />
      <PagePreCondition Code="ARAP0302" Name="预付冲应付" Url="ARAP/StrikeBalanceAdvPaymentApEdit.aspx?SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="ARAP0303" Name="应收冲应收" Url="ARAP/StrikeBalanceArArEdit.aspx?SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="ARAP0304" Name="应付冲应付" Url="ARAP/StrikeBalanceApApEdit.aspx?SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="ARAP0305" Name="应收冲应付" Url="ARAP/StrikeBalanceArApEdit.aspx?SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="ARAP0306" Name="批量预收冲应收" Url="ARAP/ArapAdvReceiveArPage.aspx?SourceType=FromMenu" Type="Ufida.T.UA.PagePreCondition.ARAP.BatchCancelCondition" loadFrom="server\Ufida.T.UA.ARAP.dll" />
      <PagePreCondition Code="ARAP0307" Name="批量预付冲应付" Url="ARAP/ArapAdvReceiveArPage.aspx?SourceType=FromMenu" Type="Ufida.T.UA.PagePreCondition.ARAP.BatchCancelCondition" loadFrom="server\Ufida.T.UA.ARAP.dll" />
      <PagePreCondition Code="ARAP0308" Name="加盟店储值卡冲销" Url="DR/Retail/BranchStrikeBalance/BranchStrikeBalance.aspx?SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="ARAP05" Name="汇兑损益调整单" Url="ARAP/ExchangeAdjustEdit.aspx?SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
    </PagePreConditions>
    <Reports>
      <!-- 往来报表 -->
      <Report ReportName="ARAP_ReceiveVoucherDetailRpt" Code="ARAP4001" title="收款单明细表" />
      <Report ReportName="ARAP_PaymentVoucherDetailRpt" Code="ARAP4002" title="付款单明细表" />
      <Report ReportName="ARAP_ReceiveVoucherSumRpt" Code="ARAP6001" title="收款单统计表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ARAP_ReceiveVoucherSumRpt" />
      <Report ReportName="ARAP_PaymentVoucherSumRpt" Code="ARAP6002" title="付款单统计表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ARAP_PaymentVoucherSumRpt" />
      <Report ReportName="ARAP_ReceiveAccountDetailRpt" Code="ARAP8003" title="应收明细账" />
      <Report ReportName="ARAP_PaymentAccountDetailRpt" Code="ARAP8021" title="应付明细账" />
      <Report ReportName="ARAP_ReceiveAccountSumRpt" Code="ARAP8001" title="应收总账" />
      <Report ReportName="ARAP_PaymentAccountSumRpt" Code="ARAP8002" title="应付总账" />
      <Report ReportName="ARAP_ReceiveVoucherExecuteRpt" Code="ARAP6521" title="应收执行表" />
      <Report ReportName="ARAP_PaymentVoucherExecuteRpt" Code="ARAP6522" title="应付执行表" />
      <Report ReportName="ARAP_CustomerAccountRpt" Code="ARAP7002" title="客户期间对账单" />
      <Report ReportName="ARAP_VendorAccountRpt" Code="ARAP7022" title="供应商期间对账单" />
      <Report ReportName="ARAP_AmountForecastSumRpt" Code="ARAP6023" title="往来资金预测表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ARAP_AmountForecastSumRpt" />
      <Report ReportName="ARAP_PaymentAgeAnalysisSumRpt" Code="ARAP6042" title="应付账龄分析" />
      <Report ReportName="ARAP_ReceiveAgeAnalysisSumRpt" Code="ARAP6041" title="应收账龄分析" />
    </Reports>
  </PagePreCondition>
  <MessageCenter>
    <!--构建数据-->
    <ConstituteData>
      <!--单据消息设置-->
      <Module name="VoucherMessage">
        <Option name="ARAP01">
          <add key="assemblyName" className="Ufida.T.ARAP.Service.ArapReceivePaymentService" classLoadFrom="server\Ufida.T.ARAP.Service.dll"></add>
          <add key="methodName" findDTOList="FindListWithDetail" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
        </Option>
        <Option name="ARAP02">
          <add key="assemblyName" className="Ufida.T.ARAP.Service.ArapReceivePaymentService" classLoadFrom="server\Ufida.T.ARAP.Service.dll"></add>
          <add key="methodName" findDTOList="FindListWithDetail" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
        </Option>
        <Option name="ARAP0301">
          <add key="assemblyName" className="Ufida.T.ARAP.Service.ArapStrikeBalanceService" classLoadFrom="server\Ufida.T.ARAP.Service.dll"></add>
          <add key="methodName" findDTOList="FindListWithDetail" findDTOByID="FindById" doReceiptMethod="Audit" getUFTableMethod="FindTable"></add>
        </Option>
        <Option name="ARAP0302">
          <add key="assemblyName" className="Ufida.T.ARAP.Service.ArapStrikeBalanceService" classLoadFrom="server\Ufida.T.ARAP.Service.dll"></add>
          <add key="methodName" findDTOList="FindListWithDetail" findDTOByID="FindById" doReceiptMethod="Audit" getUFTableMethod="FindTable"></add>
        </Option>
        <Option name="ARAP0303">
          <add key="assemblyName" className="Ufida.T.ARAP.Service.ArapStrikeBalanceService" classLoadFrom="server\Ufida.T.ARAP.Service.dll"></add>
          <add key="methodName" findDTOList="FindListWithDetail" findDTOByID="FindById" doReceiptMethod="Audit" getUFTableMethod="FindTable"></add>
        </Option>
        <Option name="ARAP0304">
          <add key="assemblyName" className="Ufida.T.ARAP.Service.ArapStrikeBalanceService" classLoadFrom="server\Ufida.T.ARAP.Service.dll"></add>
          <add key="methodName" findDTOList="FindListWithDetail" findDTOByID="FindById" doReceiptMethod="Audit" getUFTableMethod="FindTable"></add>
        </Option>
        <Option name="ARAP0305">
          <add key="assemblyName" className="Ufida.T.ARAP.Service.ArapStrikeBalanceService" classLoadFrom="server\Ufida.T.ARAP.Service.dll"></add>
          <add key="methodName" findDTOList="FindListWithDetail" findDTOByID="FindById" doReceiptMethod="Audit" getUFTableMethod="FindTable"></add>
        </Option>
        <Option name="ARAP05">
          <add key="assemblyName" className="Ufida.T.ARAP.Service.ArapExchangeAdjustService" classLoadFrom="server\Ufida.T.ARAP.Service.dll"></add>
          <add key="methodName" findDTOList="FindListWithDetail" findDTOByID="FindById" doReceiptMethod="Audit" getUFTableMethod="FindTable"></add>
        </Option>
      </Module>
      <Module name="SearchMessage">
        <Option name="ARAP7002">
          <add key="assemblyName" className="Ufida.T.ARAP.Service.ArapCommonService" classLoadFrom="server\Ufida.T.ARAP.Service.dll"></add>
          <add key="methodName" GetCustomerAccountDic="GetCustomerAccountDic"></add>
        </Option>
      </Module>
    </ConstituteData>
  </MessageCenter>
  <!--数据清除-->
  <AccountManage>
    <AccountClear>
      <concreteOperator isLoad="true" className="Ufida.T.UA.AccountClear.ARAP.ARAPAccountClear" loadFrom="server\Ufida.T.UA.ARAP.dll" moduleName="ARAP" />
    </AccountClear>
  </AccountManage>
  <!--自定义项后置 -->
  <UserDefineItemUpdated>
    <!--往来单位-->
    <Voucher name="Partner">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.ARAP.SM.DefinedItem.DefinedItemsOfARAPForSearchGroupOperate" loadFrom="server\Ufida.T.UA.ARAP.dll" moduleName="ARAP" />
      </operators>     
    </Voucher>
  </UserDefineItemUpdated>
</Config>