<?xml version="1.0" encoding="utf-8"?>
<Config>
  <!--功能启用前置校验和后置操作-->
  <FunctionEnable>
    <!--库存核算-->
    <option name="Stock">
      <!--后置操作-->
      <operators>
	<!--<concreteOperator isLoad="true" className="Ufida.T.SM.UserDefineArticle.FunctionEnable.UserDefineArticleFuncEnable" loadFrom="server\Ufida.T.SM.UserDefineArticle.FunctionEnable.dll" moduleName="UAP"></concreteOperator>-->
      </operators>
    </option>
    <!--购销管理-->
    <option name="PS">
      <!--后置操作-->
      <operators>
	<!--<concreteOperator isLoad="true" className="Ufida.T.SM.UserDefineArticle.FunctionEnable.UserDefineArticleFuncEnable" loadFrom="server\Ufida.T.SM.UserDefineArticle.FunctionEnable.dll" moduleName="UAP"></concreteOperator>-->
      </operators>
    </option>
    <!--购销管理-->
    <option name="CashBankMoneyFlow">
      <!--后置操作-->
      <operators>
	<!--<concreteOperator isLoad="true" className="Ufida.T.SM.UserDefineArticle.FunctionEnable.UserDefineArticleFuncEnable" loadFrom="server\Ufida.T.SM.UserDefineArticle.FunctionEnable.dll" moduleName="UAP"></concreteOperator>-->
      </operators>
    </option>
    <!--自制加工-->
    <option name="Manufacture">
      <!--后置操作-->
      <operators>
	<!--<concreteOperator isLoad="true" className="Ufida.T.SM.UserDefineArticle.FunctionEnable.UserDefineArticleFuncEnable" loadFrom="server\Ufida.T.SM.UserDefineArticle.FunctionEnable.dll" moduleName="UAP"></concreteOperator>-->
      </operators>
    </option>
    <!--委外加工-->
    <option name="ConsignManufacture">
      <!--后置操作-->
      <operators>
	<!--<concreteOperator isLoad="true" className="Ufida.T.SM.UserDefineArticle.FunctionEnable.UserDefineArticleFuncEnable" loadFrom="server\Ufida.T.SM.UserDefineArticle.FunctionEnable.dll" moduleName="UAP"></concreteOperator>-->
      </operators>
    </option>
    <!--成本核算-->
    <option name="Costing">
      <!--后置操作-->
      <operators>
	<!--<concreteOperator isLoad="true" className="Ufida.T.SM.UserDefineArticle.FunctionEnable.UserDefineArticleFuncEnable" loadFrom="server\Ufida.T.SM.UserDefineArticle.FunctionEnable.dll" moduleName="UAP"></concreteOperator>-->
      </operators>
    </option>
    <!--MRP运算-->
    <option name="MRP">
      <!--后置操作-->
      <operators>
	<!--<concreteOperator isLoad="true" className="Ufida.T.SM.UserDefineArticle.FunctionEnable.UserDefineArticleFuncEnable" loadFrom="server\Ufida.T.SM.UserDefineArticle.FunctionEnable.dll" moduleName="UAP"></concreteOperator>-->
      </operators>
    </option>
    <!--工序管理-->
    <option name="Process">
      <!--后置操作-->
      <operators>
	<!--<concreteOperator isLoad="true" className="Ufida.T.SM.UserDefineArticle.FunctionEnable.UserDefineArticleFuncEnable" loadFrom="server\Ufida.T.SM.UserDefineArticle.FunctionEnable.dll" moduleName="UAP"></concreteOperator>-->
      </operators>
    </option>
    <!--普及账表-->
    <option name="StdAccount">
      <!--后置操作-->
      <operators>
      <concreteOperator isLoad="true" className="Ufida.T.EAP.FormReport.FunctionEnable.UFOFuncEnable" loadFrom="server\Ufida.T.EAP.FormReport.FunctionEnable.dll" moduleName="UAP"></concreteOperator>
      <!--<concreteOperator isLoad="true" className="Ufida.T.SM.UserDefineArticle.FunctionEnable.UserDefineArticleFuncEnable" loadFrom="server\Ufida.T.SM.UserDefineArticle.FunctionEnable.dll" moduleName="UAP"></concreteOperator>-->
      </operators>
    </option>
    <!--专业账表ProAccount-->
    <!--总账-->
    <option name="Ledger">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.EAP.FormReport.FunctionEnable.UFOFuncEnable" loadFrom="server\Ufida.T.EAP.FormReport.FunctionEnable.dll" moduleName="UAP"></concreteOperator>
	<!--<concreteOperator isLoad="true" className="Ufida.T.SM.UserDefineArticle.FunctionEnable.UserDefineArticleFuncEnable" loadFrom="server\Ufida.T.SM.UserDefineArticle.FunctionEnable.dll" moduleName="UAP"></concreteOperator>-->
      </operators>
    </option>
    <!--TUFO-->
	  <option name="TUFO">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.EAP.FormReport.FunctionEnable.UFOFuncEnable" loadFrom="server\Ufida.T.EAP.FormReport.FunctionEnable.dll" moduleName="UAP"></concreteOperator>
		</operators>
    </option>

    <!--现金银行-出纳-->
    <option name="CS">
      <!--后置操作-->
      <operators>
	<!--<concreteOperator isLoad="true" className="Ufida.T.SM.UserDefineArticle.FunctionEnable.UserDefineArticleFuncEnable" loadFrom="server\Ufida.T.SM.UserDefineArticle.FunctionEnable.dll" moduleName="UAP"></concreteOperator>-->
      </operators>
    </option>
    <!--票据打印-->
    <option name="DocPrint">
      <!--后置操作-->
      <operators>
	<!--<concreteOperator isLoad="true" className="Ufida.T.SM.UserDefineArticle.FunctionEnable.UserDefineArticleFuncEnable" loadFrom="server\Ufida.T.SM.UserDefineArticle.FunctionEnable.dll" moduleName="UAP"></concreteOperator>-->
      </operators>
    </option>
    <!--税务核算与申报-->
    <option name="TaxAccrual">
      <!--后置操作-->
      <operators>
	<!--<concreteOperator isLoad="true" className="Ufida.T.SM.UserDefineArticle.FunctionEnable.UserDefineArticleFuncEnable" loadFrom="server\Ufida.T.SM.UserDefineArticle.FunctionEnable.dll" moduleName="UAP"></concreteOperator>-->
      </operators>
    </option>
    <!--所得税汇算-->
    <option name="IncomeTaxSettlement">
      <!--后置操作-->
      <operators>
	<!--<concreteOperator isLoad="true" className="Ufida.T.SM.UserDefineArticle.FunctionEnable.UserDefineArticleFuncEnable" loadFrom="server\Ufida.T.SM.UserDefineArticle.FunctionEnable.dll" moduleName="UAP"></concreteOperator>-->
      </operators>
    </option>
    <!--总体控制-->
    <option name="EnsembleControl">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
  </FunctionEnable>

    <!--期间结转处理器配置-->
    <CarryForward>
        <Processors>
            <Processor isLoad="true" className="Ufida.T.EAP.CarriedForward.Service.EAPForwardProcessor" moduleName="EAP" description="EAPIsCarryForwarding" loadFrom="server\Ufida.T.EAP.CarriedForward.Service.dll" />
        </Processors>
    </CarryForward>
	<!--审批流-->
	<option name="App_chanjet_ApprovalFlow">
		<!--后置操作-->
		<operators>
			<concreteOperator isLoad="true" className="Ufida.T.EAP.WF.Services.WorkFlowFuncEnable" loadFrom="server\Ufida.T.EAP.WF.Service.dll" moduleName="UAP"></concreteOperator>
		</operators>
	</option>
</Config>