<?xml version="1.0" encoding="utf-8"?>
<Config>
	<!--功能启用前置校验和后置操作-->
	<FunctionEnable>
		<!--会员管理-->
		<option name="Member">
			<validators>
				<concreteValidator isLoad="true" className="Ufida.T.UA.ME.SM.FunctionEnable.MEMEValidator" loadFrom="server\Ufida.T.UA.ME.dll" moduleName="ME" />
			</validators>
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.ME.SM.FunctionEnable.MEMEOperator" loadFrom="server\Ufida.T.UA.ME.dll" moduleName="ME" />
			</operators>
		</option>
		<!--促销管理（会员模块）-->
		<option name="Promotion">
			<validators>
				<concreteValidator isLoad="true" className="Ufida.T.UA.ME.SM.FunctionEnable.MEPRValidator" loadFrom="server\Ufida.T.UA.ME.dll" moduleName="ME" />
			</validators>
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.ME.SM.FunctionEnable.MEPROperator" loadFrom="server\Ufida.T.UA.ME.dll" moduleName="ME" />
			</operators>
		</option>
    <!--零售管理（会员模块）-->
    <option name="Retail">
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.ME.SM.FunctionEnable.MEREValidator" loadFrom="server\Ufida.T.UA.ME.dll" moduleName="ME" />
      </validators>
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.ME.SM.FunctionEnable.MEREOperator" loadFrom="server\Ufida.T.UA.ME.dll" moduleName="ME" />
      </operators>
    </option>
    <!--购销管理（会员模块）-->
    <option name="PS">
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.ME.SM.FunctionEnable.MEPSValidator" loadFrom="server\Ufida.T.UA.ME.dll" moduleName="ME" />
      </validators>
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.ME.SM.FunctionEnable.MEPSOperator" loadFrom="server\Ufida.T.UA.ME.dll" moduleName="ME" />
      </operators>
    </option>
  <!--普及进销存--><!--add by qiuff-->
		<option name="StdIERP">
			<validators>
				<concreteValidator isLoad="true" className="Ufida.T.UA.ME.SM.FunctionEnable.MEStdIERPValidate" loadFrom="server\Ufida.T.UA.ME.dll" moduleName="ME" />
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.ME.SM.FunctionEnable.MEStdIERPOperator" loadFrom="server\Ufida.T.UA.ME.dll" moduleName="ME"/>
			</operators>
		</option>
	</FunctionEnable>
	<!--账套选项前置校验和后置操作类配置-->
	<AccountOptions>
		<!-- 存货分类管理 -->
		<option name="IsInventoryClass">
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.ME.SM.AccountOption.MEInventoryClassOperator" loadFrom="server\Ufida.T.UA.ME.dll" moduleName="ME" />
			</operators>
		</option>
		<!--条形码管理-->
		<option name="BarCodeManage">
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.ME.SM.AccountOption.MEBarCodeManageOperator" loadFrom="server\Ufida.T.UA.ME.dll" moduleName="ME" />
			</operators>
		</option>
		<!-- 数量小数位 -->
		<option name="QuantityPrecision">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.ME.SM.AccountOption.MEQuantityPrecisionOperator" loadFrom="server\Ufida.T.UA.ME.dll" moduleName="ME" />
			</operators>
		</option>
		<!-- 单价小数位 -->
		<option name="PricePrecision">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.ME.SM.AccountOption.MEPricePrecisionOperator" loadFrom="server\Ufida.T.UA.ME.dll" moduleName="ME" />
			</operators>
		</option>
		<!-- 单价整数位 -->
		<option name="PriceIntegeration">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.ME.SM.AccountOption.MEPriceIntegerationOperator" loadFrom="server\Ufida.T.UA.ME.dll" moduleName="ME" />
			</operators>
		</option>
    <!-- 销售立账类型 -->
    <option name="SAAccount">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.ME.SM.AccountOption.MEInvoiceAccountOperator" loadFrom="server\Ufida.T.UA.ME.dll" moduleName="ME" />
      </operators>
    </option>
	</AccountOptions>
	<!--单据审核后置操作处理器配置-->
	<VoucherAudit>
		<Processors>
			<Processor isLoad="true" className="Ufida.T.UA.ME.SM.AuditProcessor.MEAuditProcessor" moduleName="ME" loadFrom="server\Ufida.T.UA.ME.dll" />
		</Processors>
	</VoucherAudit>
	<!--期末处理处理器配置-->
	<ClosingProcess>
		<Processors>
			<Processor isLoad="true" className="Ufida.T.UA.ME.SM.TerminalProcess.METerminalProcessor" moduleName="ME" description="METerminalProcessing" loadFrom="server\Ufida.T.UA.ME.dll" />
		</Processors>
		<UnProcessors>
			<UnProcessor isLoad="true" className="Ufida.T.UA.ME.SM.TerminalProcess.MEUnTerminalProcessor" moduleName="ME" description="MEUnTerminalProcessing" loadFrom="server\Ufida.T.UA.ME.dll" />
		</UnProcessors>
	</ClosingProcess>
	<!--期间结转处理器配置-->
	<CarryForward>
		<Processors>
			<Processor isLoad="true" className="Ufida.T.UA.ME.SM.CarryForward.MEForwardProcessor" moduleName="ME" description="MEIsCarryForwarding" loadFrom="server\Ufida.T.UA.ME.dll" />
		</Processors>
	</CarryForward>

	<!--版本控制处理器配置-->
	<VersionControl>
		<!--用友通专业版-->
		<Version name="YYTPro">
			<Processors>
				<!--会员模块-->
				<processor isLoad="true" className="Ufida.T.UA.ME.SM.VersionControl.ME_YYTPro_VersionControlProcessor" moduleName="ME" loadFrom="server\Ufida.T.UA.ME.dll" />
			</Processors>
		</Version>
	</VersionControl>

	<!--单据期间结转处理类配置-->
	<VoucherCarryForwards>
	</VoucherCarryForwards>

	<!--页面前置校验处理-->
	<PagePreCondition>
		<Runtimes>
			<!--页面前置校验处理类程序集-->
			<Runtime Assembly="Ufida.T.BAP.BusinessApplication.dll" />
			<!--DTO程序集，判断DTO是否被并发删除时使用-->
			<Runtime Assembly="Ufida.T.AA.DTO.dll" />
			<Runtime Assembly="Ufida.T.SA.DTO.dll" />
		</Runtimes>
		<PagePreConditions>
			<!--单据校验-->
			<PagePreCondition Code="ME01" Name="会员类型" Url="BAPView/BaseInfoList.aspx?sysId=AADR&amp;mId=aa1070&amp;pId=baseInfoList&amp;SourceType=FromMenu" Type="Ufida.T.UA.ME.SM.PagePreCondition.MEPreConditionForMemberType" loadFrom="server\Ufida.T.UA.ME.dll" />
			<PagePreCondition Code="ME05" Name="会员" Url="BAPView/BaseInfoList.aspx?sysId=AADR&amp;mId=AA1060&amp;pId=baseInfoList&amp;SourceType=FromMenu" Type="Ufida.T.UA.ME.SM.PagePreCondition.MEPreConditionForMember" loadFrom="server\Ufida.T.UA.ME.dll" />

			<PagePreCondition Code="ME25" Name="积分兑换礼品" Url="BAPView/Voucher.aspx?mId=ME25&amp;pId=voucherView&amp;sysId=ME&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="ME20" Name="积分兑换礼品设置" Url="BAPView/CommonList.aspx?mId=ME20&amp;pId=commonList&amp;sysId=ME&amp;cid=ME20_editList" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom=""  />
			<PagePreCondition Code="ME18" Name="积分抵现规则设置" Url="BAPView/OpenList.aspx?sysId=ME&amp;mId=ME18&amp;pId=openListView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom=""  />
			<PagePreCondition Code="ME15" Name="积分管理" Url="BAPView/VoucherList.aspx?sysId=ME&amp;mId=ME15&amp;pId=voucherListView&amp;SourceType=FromMenu&amp;cId=me15_integral" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom=""  />
			<PagePreCondition Code="ME10" Name="会员升级" Url="BAPView/CommonList.aspx?mid=ME10&amp;pid=commonList&amp;sysid=ME&amp;cid=me10_upgrade" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom=""  />
      <PagePreCondition Code="ME26" Name="会员储值单" Url="BAPView/Voucher.aspx?mId=ME26&amp;pId=voucherView&amp;sysId=ME&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="ME28" Name="积分转储值单" Url="BAPView/Voucher.aspx?mId=ME28&amp;pId=voucherView&amp;sysId=ME&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
		</PagePreConditions>
		<Reports>
			<Report ReportName="ME_MemberRetailDetailRpt" Code="ME3501" title="会员消费明细表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ME_MemberRetailDetailRpt" />
			<Report ReportName="ME_RetailIntegralDetailRpt" Code="ME3505" title="零售积分明细表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ME_RetailIntegralDetailRpt" />
			<Report ReportName="ME_IntegralForGiftDetailRpt" Code="ME3510" title="积分兑换礼品明细表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ME_IntegralForGiftDetailRpt" />
			<Report ReportName="ME_IntegralSteadCashDetailRpt" Code="ME3508" title="积分抵现明细表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ME_IntegralSteadCashDetailRpt" />
			<Report ReportName="ME_RetailNoRecordDetailRpt" Code="ME3515" title="无消费记录会员明细表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ME_RetailNoRecordDetailRpt" />
			<Report ReportName="ME_MemberUseSumRpt" Code="ME4001" title="会员使用统计表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ME_MemberUseSumRpt" />
			<Report ReportName="ME_IntegralChangeSumRpt" Code="ME4008" title="积分变动统计表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ME_IntegralChangeSumRpt" />
			<Report ReportName="ME_MemberIntegralTraceRpt" Code="ME4005" title="会员积分跟踪表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ME_MemberIntegralTraceRpt" />
			<Report ReportName="ME_MemberProfitAnalysisRpt" Code="ME4010" title="会员让利分析" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ME_MemberProfitAnalysisRpt" />
			<Report ReportName="ME_IntegralForStorageDetailRpt" Code="ME3525" title="积分转储值明细表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ME_IntegralForStorageDetailRpt" />
			<Report ReportName="ME_MemberStorageDetailRpt" Code="ME3520" title="会员储值明细表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ME_IntegralForStorageDetailRpt" />
			<Report ReportName="ME_MemberStorageSumRpt" Code="ME4015" title="会员储值统计表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ME_MemberStorageSumRpt" />
		</Reports>
	</PagePreCondition>

	<MessageCenter>
		<!--构建数据-->
		<ConstituteData>
			<!--单据消息设置-->
			<Module name="VoucherMessage">
				<!-- 积分兑换礼品 -->
				<Option name="ME25" >
					<add key="assemblyName" className="Ufida.T.ME.Service.IntegralForGiftService" classLoadFrom="server\Ufida.T.ME.Service.dll" dtoName="" dtoLoadFrom="" detailDTOName=""></add>
					<add key="methodName" findDTOList="FindListWithDetail" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable" getMemberInfo="getMemberInfo"></add>
				</Option>
				<!-- 会员储值单 -->
				<Option name="ME26" >
					<add key="assemblyName" className="Ufida.T.ME.Service.MemberStorageService" classLoadFrom="server\Ufida.T.ME.Service.dll" dtoName="" dtoLoadFrom="" detailDTOName=""></add>
					<add key="methodName" findDTOList="FindListWithDetail" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable" getMemberInfo="getMemberInfo"></add>
				</Option>
			</Module>
		</ConstituteData>
	</MessageCenter>

	<!--自由项后置 -->
	<FreeItemUpdated>
	</FreeItemUpdated>

	<!--自定义项后置 -->
	<UserDefineItemUpdated>
	</UserDefineItemUpdated>
  <!--数据清除-->
  <AccountManage>
    <AccountClear>
      <concreteOperator isLoad="true" className="Ufida.T.UA.ME.SM.AccountClear.MEAccountClearProcessor" loadFrom="server\Ufida.T.UA.ME.dll" moduleName="ME" />
    </AccountClear>
  </AccountManage>
</Config>