<?xml version="1.0" encoding="utf-8"?>
<Config>
  <!--功能启用前置校验和后置操作-->
  <FunctionEnable>
    <!--购销管理-->
    <option name="PS">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.FunctionEnable.MPPSOperator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP"></concreteOperator>
      </operators>
    </option>
    <!--自制加工-->
    <option name="Manufacture">
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.MP.SM.FunctionEnable.MPManufactureValidator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP" />
      </validators>
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.FunctionEnable.MPManufactureOperator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP"></concreteOperator>
      </operators>
    </option>
    <!--委外加工-->
    <option name="ConsignManufacture">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.FunctionEnable.MPConsignManufactureOperator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP"></concreteOperator>
      </operators>
    </option>
    <!--成本核算-->
    <option name="Costing">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.FunctionEnable.MPCostingOperator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP"></concreteOperator>
      </operators>
    </option>
    <!--MRP运算-->
    <option name="MRP">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.FunctionEnable.MPMRPOperator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP"></concreteOperator>
      </operators>
    </option>
    <!--工序管理-->
    <option name="Process">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.FunctionEnable.MPProcessOperator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP"></concreteOperator>
      </operators>
    </option>
    <!--工序管理-->
    <option name="Retail">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.FunctionEnable.MPRetailOperator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP"></concreteOperator>
      </operators>
    </option>
    <!--普及进销存-->
    <option name="StdIERP">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.FunctionEnable.MPStdIERPOperator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP"></concreteOperator>
      </operators>
    </option>
    <!--库存核算-->
    <option name="Stock">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.FunctionEnable.MPStockOperator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP"></concreteOperator>
      </operators>
    </option>
    <!--网店管理-->
    <option name="NetShop">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.FunctionEnable.MPNetShopOperator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP"></concreteOperator>
      </operators>
    </option>
  </FunctionEnable>

  <!--账套选项前置校验和后置操作类配置-->
  <AccountOptions>
    <!-- 多币种 -->
    <option name="IsMultiCurrency">
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.MP.SM.AccountOption.MPCurrencyValidator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP" />
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.AccountOption.MPCurrencyOperator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP" />
      </operators>
    </option>
    <!-- 存货批号管理 -->
    <option name="IsBatchNumberManage">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.AccountOption.MPBatchOperator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP" />
      </operators>
    </option>
    <!-- 存货与计价法联用 -->
    <option name="IsBatchNumberWithPriceMode">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.AccountOption.MPBatchWithPriceOperator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP" />
      </operators>
    </option>
    <!-- 按仓库计价 -->
    <option name="PriceMode">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.AccountOption.MPPriceModeOperator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP" />
      </operators>
    </option>
    <!-- 存货有效期管理 -->
    <option name="IsQualityPeriodManage">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.AccountOption.MPExpiryDateOperator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP" />
      </operators>
    </option>
    <!-- 数量小数位 -->
    <option name="QuantityPrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.AccountOption.MPQuantityPrecisionOperator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP" />
      </operators>
    </option>
    <!-- 单价小数位 -->
    <option name="PricePrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.AccountOption.MPPricePrecisionOperator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP" />
      </operators>
    </option>
    <!-- 单价整数位 -->
    <option name="PriceIntegeration">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.AccountOption.MPPriceIntegerationOperator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP" />
      </operators>
    </option>

    <!-- 汇率小数位 -->
    <option name="ExchangeRatePrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.AccountOption.MPExchangRateOperator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP" />
      </operators>
    </option>
    <!-- 换算率小数位 -->
    <option name="ProportionRatePrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.AccountOption.MPUnitExchangeRateOperator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP" />
      </operators>
    </option>
    <!-- 是否已经有货品使用了多计量 -->
    <option name="HaveUsedMultiUnit">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.AccountOption.MPMultiUnitOperator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP" />
      </operators>
    </option>
    <!-- 存货分类管理 -->
    <option name="IsInventoryClass">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.AccountOption.MPInventoryClassOperator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP" />
      </operators>
    </option>

    <option name="BarCodeManage">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.AccountOption.MPBarCodeOperator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP" />
      </operators>
    </option>    
    
    <!-- 往来单位分类管理 -->
    <option name="IsPartnerClass">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.AccountOption.MPPartnerClassOperator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP" />
      </operators>
    </option>
    <!-- 损耗率小数位 -->
    <option name="ShrinkageRateDecimalDigits">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.AccountOption.MPSonLossRateOperator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP" />
      </operators>
    </option>
    <!-- 成本计算方式 -->
    <option name="CostCalculateType">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.AccountOption.MPCostCalculateTypeOperator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP" />
      </operators>
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.MP.SM.AccountOption.MPCostCalculateTypeValidator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP" />
      </validators>
      <operators />
    </option>
    <!-- 在产品成本分配方式（原材料） -->
    <option name="WIPCostAllocationTypeMaterial">
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.MP.SM.AccountOption.MPWIPCostAllocationTypeMaterialValidator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP" />
      </validators>
      <operators />
    </option>
    <!-- 在产品成本分配方式（费用） -->
    <option name="WIPCostAllocationTypeCharges">
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.MP.SM.AccountOption.MPWIPCostAllocationTypeChargesValidator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP" />
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.AccountOption.MPWIPCostAllocationTypeChargesOperator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP" />
      </operators>
    </option>
    <!-- 项目分类管理 -->
    <option name="IsProgramDossier">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.AccountOption.MPProjectClassOperator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP" />
      </operators>
    </option>
    <!-- 营销机构管理 -->
    <option name="IsMultiMarketing">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.AccountOption.MPMarketingOrganOperator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP" />
      </operators>
    </option>
    <!-- 加盟店管理 -->
    <option name="APP_Chanjet_Franchise">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.AccountOption.MPMarketingOrganOperator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP" />
      </operators>
    </option>
    <!-- APP采购需求分析 -->
    <option name="App_chanjet_PRAnalysis">
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.MP.SM.AccountOption.MPAppPRAnalysisValidator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP" />
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.AccountOption.MPAppPRAnalysisOperator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP" />
      </operators>
    </option>
  </AccountOptions>

  <!--单据审核后置操作处理器配置-->
  <VoucherAudit>
    <Processors>
      <Processor isLoad="true" className="Ufida.T.UA.MP.SM.AuditProcessor.MPAuditProcessor" moduleName="MP" loadFrom="server\Ufida.T.UA.MP.dll" />
      <Processor isLoad="true" className="Ufida.T.UA.MP.SM.AuditProcessor.MPAuditProcessor" moduleName="ST" loadFrom="server\Ufida.T.UA.MP.dll" />	
    </Processors>
  </VoucherAudit>
  <!--期末处理处理器配置-->
  <ClosingProcess>
    <Processors>
      <Processor isLoad="true" className="Ufida.T.UA.MP.SM.TerminalProcess.MPTerminalProcessor" moduleName="MP" description="MPTerminalProcessing" loadFrom="server\Ufida.T.UA.MP.dll" />
    </Processors>
    <UnProcessors>
      <UnProcessor isLoad="true" className="Ufida.T.UA.MP.SM.TerminalProcess.MPUnTerminalProcessor" moduleName="MP" description="MPUnTerminalProcessing" loadFrom="server\Ufida.T.UA.MP.dll" />
    </UnProcessors>
  </ClosingProcess>
  <!--期间结转处理器配置-->
  <CarryForward>
    <Processors>
      <Processor isLoad="true" className="Ufida.T.UA.MP.SM.CarryForward.MPForwardProcessor" moduleName="MP" description="MPIsCarryForwarding" loadFrom="server\Ufida.T.UA.MP.dll" />
    </Processors>
  </CarryForward>


  <!--版本控制处理器配置-->
  <VersionControl>
    <Versions>
      <!--仓管通-->
      <Version name="CGTStd">
        <Processors>
          <!--生产模块-->
          <processor isLoad="true" className="Ufida.T.UA.MP.SM.VersionControl.MP_CGT_VersionControlProcessor" moduleName="MP" loadFrom="server\Ufida.T.UA.MP.dll" />
        </Processors>
      </Version>

      <!--业务通专业版-->
      <Version name="YWTPro">
        <Processors>
          <!--生产模块-->
          <processor isLoad="true" className="Ufida.T.UA.MP.SM.VersionControl.MP_YWTPro_VersionControlProcessor" moduleName="MP" loadFrom="server\Ufida.T.UA.MP.dll" />
        </Processors>
      </Version>

      <!--工贸通专业版-->
      <Version name="GMTPro">
        <Processors>
          <!--生产模块-->
          <processor isLoad="true" className="Ufida.T.UA.MP.SM.VersionControl.MP_GMTPro_VersionControlProcessor" moduleName="MP" loadFrom="server\Ufida.T.UA.MP.dll" />
        </Processors>
      </Version>

      <!--用友通专业版-->
      <Version name="YYTPro">
        <Processors>
          <!--生产模块-->
          <processor isLoad="true" className="Ufida.T.UA.MP.SM.VersionControl.MP_YYTPro_VersionControlProcessor" moduleName="MP" loadFrom="server\Ufida.T.UA.MP.dll" />
        </Processors>
      </Version>

      <!--财务通标准版-->
      <Version name="CWTStd">
        <Processors>
          <!--生产模块-->
          <processor isLoad="true" className="Ufida.T.UA.MP.SM.VersionControl.MP_CGT_VersionControlProcessor" moduleName="MP" loadFrom="server\Ufida.T.UA.MP.dll" />
        </Processors>
      </Version>

      <!--财务通专业版-->
      <Version name="CWTPro">
        <Processors>
          <!--生产模块-->
          <processor isLoad="true" className="Ufida.T.UA.MP.SM.VersionControl.MP_CGT_VersionControlProcessor" moduleName="MP" loadFrom="server\Ufida.T.UA.MP.dll" />
        </Processors>
      </Version>

    </Versions>
  </VersionControl>


  <!--单据期间结转处理类配置-->
  <VoucherCarryForwards>
    <!--生产模块-->
    <VoucherCarryForward isLoad="false" Code="MP2301" Name="倒冲料盘存单" Type="Ufida.T.UA.MP.SM.CarryForward.MPCarryForwardForBackflushMaterialCheckVoucher" loadFrom="server\Ufida.T.UA.MP.dll" />
    <VoucherCarryForward isLoad="false" Code="MP15" Name="委外加工单" Type="Ufida.T.UA.MP.SM.CarryForward.MPCarryForwardForConsignManufactureOrder" loadFrom="server\Ufida.T.UA.MP.dll" />
    <VoucherCarryForward isLoad="false" Code="MP20" Name="委外结算单" Type="Ufida.T.UA.MP.SM.CarryForward.MPCarryForwardForConsignManufactureSettleVoucher" loadFrom="server\Ufida.T.UA.MP.dll" />
    <VoucherCarryForward isLoad="true" Code="MP01" Name="预测单" Type="Ufida.T.UA.MP.SM.CarryForward.MPCarryForwardForIntendSaleOrder" loadFrom="server\Ufida.T.UA.MP.dll" />
    <VoucherCarryForward isLoad="true" Code="MP2810" Name="采购需求分析" Type="Ufida.T.UA.MP.SM.CarryForward.MPCarryForwardForPRA" loadFrom="server\Ufida.T.UA.MP.dll" />
    <VoucherCarryForward isLoad="false" Code="MP25" Name="成本核算单明细" Type="Ufida.T.UA.MP.SM.CarryForward.MPCarryForwardForManufactureCostDetail" loadFrom="server\Ufida.T.UA.MP.dll" />
    <VoucherCarryForward isLoad="false" Code="MP25" Name="成本核算单" Type="Ufida.T.UA.MP.SM.CarryForward.MPCarryForwardForManufactureCostVoucher" loadFrom="server\Ufida.T.UA.MP.dll" />
    <VoucherCarryForward isLoad="false" Code="MP10" Name="工序日报" Type="Ufida.T.UA.MP.SM.CarryForward.MPCarryForwardForManufactureDailyReport" loadFrom="server\Ufida.T.UA.MP.dll" />
    <VoucherCarryForward isLoad="true" Code="MP05" Name="生产加工单" Type="Ufida.T.UA.MP.SM.CarryForward.MPCarryForwardForManufactureOrder" loadFrom="server\Ufida.T.UA.MP.dll" />
    <VoucherCarryForward isLoad="false" Code="MP2320" Name="在产品盘存单" Type="Ufida.T.UA.MP.SM.CarryForward.MPCarryForwardForWorkCheckVoucher" loadFrom="server\Ufida.T.UA.MP.dll" />
    <VoucherCarryForward isLoad="true" Code="MP08" Name="成本分配单" Type="Ufida.T.UA.MP.SM.CarryForward.MPCarryForwardForCostAllocationOrder" loadFrom="server\Ufida.T.UA.MP.dll" />
    <VoucherCarryForward isLoad="true" Code="MP0801" Name="成本直接材料分配单" Type="Ufida.T.UA.MP.SM.CarryForward.MPCarryForwardForCostAllocationDirectMaterialSumOrder" loadFrom="server\Ufida.T.UA.MP.dll" />
  </VoucherCarryForwards>
  <!--页面前置校验处理-->
  <PagePreCondition>
    <Runtimes>
      <!--页面前置校验处理类程序集-->
      <Runtime Assembly="Ufida.T.BAP.BusinessApplication.dll" />
      <!--DTO程序集，判断DTO是否被并发删除时使用-->
      <Runtime Assembly="Ufida.T.AA.DTO.dll" />
      <Runtime Assembly="Ufida.T.SA.DTO.dll" />
    </Runtimes>
    <PagePreConditions>
      <!--单据校验-->
      <PagePreCondition Code="SYS0917" Name="生产成本核算期初" Url="BAPView/OpenList.aspx?mId=sys0917&amp;pId=openListView&amp;sysId=mp" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="MP2301" Name="倒冲料盘存单" Url="BAPView/Voucher.aspx?mId=mp2301&amp;sysId=mp&amp;pId=voucherView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom=""  />
      <PagePreCondition Code="MP15" Name="委外加工单" Url="BAPView/Voucher.aspx?mId=mp15&amp;sysId=mp&amp;pId=voucherView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="MP20" Name="委外结算单" Url="BAPView/Voucher.aspx?mId=mp20&amp;sysId=mp&amp;pId=voucherView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="MP01" Name="预测单" Url="BAPView/Voucher.aspx?mId=mp01&amp;sysId=mp&amp;pId=voucherView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom=""  />
      <PagePreCondition Code="MP25" Name="成本核算单" Url="BAPView/ReportBasic.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="MP10" Name="工序日报" Url="BAPView/Voucher.aspx?mId=mp10&amp;sysId=mp&amp;pId=voucherView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="MP05" Name="生产加工单" Url="BAPView/Voucher.aspx?mId=mp05&amp;sysId=mp&amp;pId=voucherView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="MP2320" Name="在产品盘存单" Url="BAPView/Voucher.aspx?mId=mp2320&amp;sysId=mp&amp;pId=voucherView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom=""  />
      <PagePreCondition Code="MP2801" Name="投产工具" Url="BAPView/Navigator.aspx?navId=produceTool" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="MP2805" Name="MRP运算" Url="BAPView/Voucher.aspx?mId=mp2805&amp;sysId=mp&amp;pId=voucherView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="MP2810" Name="采购需求分析" Url="MP/PRA/PraVoucher.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="MP5055" Name="生产加工单跟踪工具" Url="MP/Report/ManufactureOrderTraceTool/ManufactureOrderTrace.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="MP08" Name="产品成本分配" Url="BAPView/Voucher.aspx?mId=mp08&amp;sysId=mp&amp;pId=voucherView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
    </PagePreConditions>
    <Reports>
      <!-- 生产报表 -->
      <!--明细表-->
      <Report ReportName="MP_IntendSaleOrderDetailRpt" Code="MP3001" title="预测单明细表" />
      <Report ReportName="MP_ManufactureOrderDetailRpt" Code="MP3005" title="生产加工单产成品明细表" />
      <Report ReportName="MP_ManufactureOrderMaterialDetailRpt" Code="MP3010" title="生产加工单材料明细表" />
      <Report ReportName="MP_ManufactureOrderWorkingProcedureDetailRpt" Code="MP3015" title="生产加工单工序明细表" />
      <Report ReportName="MP_ManufactureDailyReportDetailRpt" Code="MP3020" title="工序日报明细表" />
      <Report ReportName="MP_ConsignManafactureOrderDetailRpt" Code="MP3025" title="委外加工单产成品明细表" />
      <Report ReportName="MP_ConsignManafactureOrderMaterialDetailRpt" Code="MP3030" title="委外加工单材料明细表" />
      <Report ReportName="MP_ConsignManufactureSettleVoucherDetailRpt" Code="MP3035" title="委外结算明细表" />
      <Report ReportName="MP_BackflushMaterialCheckVoucherDetailRpt" Code="MP3040" title="倒冲料盘存明细表" />
      <Report ReportName="MP_WorkCheckVoucherDetailRpt" Code="MP3045" title="在产品盘存明细表" />
      <!--统计表-->
      <Report ReportName="MP_IntendSaleOrderSumRpt" Code="MP3001" title="预测单统计表" />
      <Report ReportName="MP_ManufactureOrderSumRpt" Code="MP4005" title="生产加工单产成品统计表" />
      <Report ReportName="MP_ManufactureOrderMaterialSumRpt" Code="MP4010" title="生产加工单材料统计表" />
      <Report ReportName="MP_ManufactureOrderWorkingProcedureSumRpt" Code="MP4015" title="生产加工单工序统计表" />
      <Report ReportName="MP_ManufactureDailyReportSumRpt" Code="MP4020" title="工序日报统计表" />
      <Report ReportName="MP_ConsignManafactureOrderMaterialSumRpt" Code="MP4025" title="委外加工单产成品统计表" />
      <Report ReportName="MP_ConsignManafactureOrderMaterialSumRpt" Code="MP4030" title="委外加工单材料统计表" />
      <Report ReportName="MP_ConsignManufactureSettleVoucherSumRpt" Code="MP4035" title="委外结算统计表" />
      <!--执行表-->
      <Report ReportName="MP_IntendSaleOrderExecuteRpt" Code="MP5001" title="预测单执行表" />"
      <Report ReportName="MP_ManufactureOrderExecuteRpt" Code="MP5005" title="生产加工单执行表" />
      <Report ReportName="MP_ConsignManafactureOrderExecuteRpt" Code="MP5010" title="委外加工单执行表" />
      <Report ReportName="MP_ConsignManufactureSettleVoucherExecuteRpt" Code="MP5015" title="委外结算单执行表" />
      <!--结存表-->
      <Report ReportName="MP_MaterialBalanceDetailRpt" Code="MP6035" title="材料领用耗用结存表" />
      <Report ReportName="MP_ConsignMaterialBalanceDetailRpt" Code="MP6040" title="委外发料耗用结存表" />
    </Reports>
  </PagePreCondition>

  <!--反射调用接口方法-->
  <Methods>
    <Method name="UpdateFEVisibility" interfaceAssembly="Ufida.T.SM.FunctionEnableSetting.Interface" interface="Ufida.T.SM.FunctionEnableSetting.Interface.IFunctionEnable" methodName="UpdateIsVisibility" dtoAssembly=""/>
    <Method name="IsEnable" interfaceAssembly="Ufida.T.SM.Interface" interface="Ufida.T.SM.FunctionEnableSetting.Interface.IFunctionEnable" methodName="IsEnable" dtoAssembly=""/>
  </Methods>



  <MessageCenter>
    <!--构建数据-->
    <ConstituteData>
      <!--单据消息设置-->
      <Module name="VoucherMessage">

        <Option name="MP01" >
          <add key="assemblyName" className="Ufida.T.MP.Service.IntendSaleOrderService" classLoadFrom="server\Ufida.T.MP.Service.dll" dtoName="" dtoLoadFrom="" detailDTOName=""></add>
          <add key="methodName" findDTOList="FindListWithDetail" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
        </Option>

        <Option name="MP05" >
          <add key="assemblyName" className="Ufida.T.MP.Service.ManufactureOrderService" classLoadFrom="server\Ufida.T.MP.Service.dll" dtoName="" dtoLoadFrom="" detailDTOName=""></add>
          <add key="methodName" findDTOList="FindListWithDetail" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
        </Option>

        <Option name="MP2810" >
          <add key="assemblyName" className="Ufida.T.MP.Service.PraVoucherService" classLoadFrom="server\Ufida.T.MP.Service.dll" dtoName="" dtoLoadFrom="" detailDTOName=""></add>
          <add key="methodName" findDTOList="FindListWithDetail" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
        </Option>

      </Module>
    </ConstituteData>
  </MessageCenter>

  <!--自由项后置 -->
  <FreeItemUpdated>
     <operators>
	<concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.FreeItem.MPFreeItemOperator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP" />
     </operators>
  </FreeItemUpdated>

  <!--自定义项后置 -->
  <UserDefineItemUpdated>
    <!--存货-->
    <Voucher name="Inventory">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.DefineItem.MPDefineItemOperator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP" />
      </operators>     
    </Voucher>
  </UserDefineItemUpdated>


  <!--会计期间前置校验-->
  <PeriodSettings>
    <!--前置校验-->
    <validators>
      <concreteValidator isLoad="true" className="Ufida.T.UA.MP.SM.PeriodCondition.validator.MpPeriodValidator" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP"></concreteValidator>
    </validators>
  </PeriodSettings>
  
  <!--帐套整理-->
  <AccountManage>
    <AccountClear>
      <concreteOperator isLoad="true" className="Ufida.T.UA.MP.SM.AccountManage.MPAccountClear" loadFrom="server\Ufida.T.UA.MP.dll" moduleName="MP" />
    </AccountClear>
  </AccountManage>
  
</Config>