<?xml version="1.0" encoding="utf-8"?>
<Config>
  <!--功能启用前置校验和后置操作-->
  <FunctionEnable>
    <!--库存核算-->
    <option name="Stock">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    <!--购销管理-->
    <option name="PS">
      <!--后置操作-->
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.PU.FunctionEnable.Validate.PUPSValidate" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU" />
      </validators>
      <operators>
		<concreteOperator isLoad="true" className="Ufida.T.UA.PU.FunctionEnable.PUPSOperator" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU"></concreteOperator>
      </operators>
    </option>
	  <!--普及进销存-->
	  <option name="StdIERP">
		  <!--后置操作-->
		  <validators>
			  <concreteValidator isLoad="true" className="Ufida.T.UA.PU.FunctionEnable.Validate.PUPSValidate" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU" />
		  </validators>
		  <operators>
			  <concreteOperator isLoad="true" className="Ufida.T.UA.PU.FunctionEnable.SimplePurchase" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU"></concreteOperator>
		  </operators>
	  </option>
	  <!-- 零售管理-->
	  <option name="Retail">
		  <!--后置操作-->
		  <operators>
			  <concreteOperator isLoad="true" className="Ufida.T.UA.PU.FunctionEnable.PUDIOperator" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU"></concreteOperator>
		  </operators>
	  </option>
    <!--自制加工-->
    <option name="Manufacture">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    <!--委外加工-->
    <option name="ConsignManufacture">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    <!--成本核算-->
    <option name="Costing">
      <!--后置操作-->
      <operators>	
      </operators>
    </option>
    <!--MRP运算-->
    <option name="MRP">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    <!--工序管理-->
    <option name="Process">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    <!--普及账表-->
    <option name="StdAccount">
      <!--后置操作-->
      <operators>
		  <concreteOperator isLoad="true" className="Ufida.T.UA.PU.FunctionEnable.STD_PRO_AccountFunctionEnableOperator" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU" />
      </operators>
    </option>
    <!--专业账表-->
    <option name="ProAccount">
      <!--后置操作-->
      <operators>
		  <concreteOperator isLoad="true" className="Ufida.T.UA.PU.FunctionEnable.STD_PRO_AccountFunctionEnableOperator" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU" />
      </operators>
    </option>
    <!--现金银行-出纳-->
    <option name="CS">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    <!--票据打印-->
    <option name="DocPrint">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    <!--税务核算与申报-->
    <option name="TaxAccrual">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    <!--所得税汇算-->
    <option name="IncomeTaxSettlement">
      <!--后置操作-->
      <operators>
      </operators>
    </option>

  </FunctionEnable>

  <!--会计期间前置校验-->
  <PeriodSettings>
    <!--前置校验-->
   <validators>
      <!--业务配置-->
      <concreteValidator isLoad="true" className="Ufida.T.UA.PU.AccountOption.OptionModifyingValidate.PUAccountingPeriodValidator" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU"></concreteValidator>
    </validators>
  </PeriodSettings>

  <!--账套选项前置校验和后置操作类配置-->
  <AccountOptions>
    <!-- 多币种 -->
    <option name="IsMultiCurrency">
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.PU.AccountOption.PUCurrencyValidator" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU" />
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.PU.AccountOption.PUCurrencyOperator" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU" />
      </operators>
    </option>
    <!-- 存货批号管理 -->
    <option name="IsBatchNumberManage">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.PU.AccountOption.PUBatchOperator" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU" />
      </operators>
    </option>
    <!-- 存货有效期管理 -->
    <option name="IsQualityPeriodManage">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.PU.AccountOption.PUQualityOperator" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU" />
      </operators>
    </option>
    <!-- 货位管理 -->
    <option name="IsInvLocationManage">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.PU.AccountOption.PUInvLocationOperator" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU" />
      </operators>
    </option>
    <!-- 委外加工 -->
    <option name="IsMadeByOthers">
      <validators>
      </validators>
      <operators>
      </operators>
    </option>
    <!-- 数量小数位 -->
    <option name="QuantityPrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.PU.AccountOption.PUQuantityPrecisionOperator" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU" />
      </operators>
    </option>
    <!-- 单价小数位 -->
    <option name="PricePrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.PU.AccountOption.PUPricePrecisionOperator" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU" />
      </operators>
    </option>
	  <!-- 单价整数位 -->
	  <option name="PriceIntegeration">
		  <validators>
		  </validators>
		  <operators>
			  <concreteOperator isLoad="true" className="Ufida.T.UA.PU.AccountOption.PUPricePrecisionAndIntegerLengthOperator" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU" />
		  </operators>
	  </option>
    <!-- 发票单价小数位 -->
    <option name="InvoicePricePrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.PU.AccountOption.PUInvoicePrecisionOperator" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU" />
      </operators>
    </option>
	  <!-- 发票单价整数位 -->
	  <option name="InvoicePriceIntegeration">
		  <validators>
		  </validators>
		  <operators>
			  <concreteOperator isLoad="true" className="Ufida.T.UA.PU.AccountOption.PUInvoicePrecisionAndIntegerLengthOperator" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU" />
		  </operators>
	  </option>
    <!-- 汇率小数位 -->
    <option name="ExchangeRatePrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.PU.AccountOption.PUExchangRateOperator" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU" />
      </operators>
    </option>
    <!-- 换算率小数位 -->
    <option name="ProportionRatePrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.PU.AccountOption.PUSwapRateOperator" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU" />
      </operators>
    </option>
    <!-- 批号和计价法联用 -->
    <option name="IsBatchNumberWithPriceMode">
      <validators>
      </validators>
      <operators>
      </operators>
    </option>
    <!-- 计价模式 -->
    <option name="PriceMode">
      <validators>
      </validators>
      <operators>
      </operators>
    </option>
    <!-- 暂估处理方式 -->
    <option name="TemporayEstimateMode">
      <validators>
      </validators>
      <operators>
      </operators>
    </option>
    <!-- 计价时机 -->
    <option name="PriceOpportunity">
      <validators>
      </validators>
    </option>
    <!-- 销售流程 -->
    <option name="SAWorkflow">
      <operators>
		  <concreteOperator isLoad="true" className="Ufida.T.UA.PU.AccountOption.ConcreteSAWorkflowControl" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU" />
      </operators>
    </option>
    <!-- 采购流程 -->
    <option name="PUWorkflow">
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.PU.AccountOption.PUWorkflowValidator" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU" />
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.PU.AccountOption.ConcretePUWorkflowControl" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU" />
      </operators>
    </option>
    <!-- 进货单自动生成入库单 -->
    <option name="IsPurchaseOrderAutoStockOrder">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.PU.AccountOption.ConcretePUAutoGenerateInStock" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU" />
      </operators>
    </option>

    <!-- 超订单进货/入库 -->
    <option name="IsExceedingOrderWhenPurchase">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.PU.AccountOption.PUExceedingOrderOperator" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU" />
      </operators>
    </option>

    <!-- 销货单自动生成出库单 -->
    <option name="IsDeliveryOrderAutoStockOrder">
      <operators>
      </operators>
    </option>
    <!-- 是否已经有货品使用了多计量 -->
    <option name="HaveUsedMultiUnit">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.PU.AccountOption.PUMultiUnitOperator" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU" />
      </operators>
    </option>
    <!-- 存货分类管理 -->
    <option name="IsInventoryClass">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.PU.AccountOption.PUInventoryClassOperator" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU" />
      </operators>
    </option>
    <!-- 往来单位分类管理 -->
    <option name="IsPartnerClass">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.PU.AccountOption.PUPartnerClassOperator" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU" />
      </operators>
    </option>
    <!-- 账套性质 -->
    <option name="AccoutType">
      <operators>
      </operators>
    </option>
    <!-- 核销方式 -->
    <option name="CheckMode">
      <operators>
      </operators>
    </option>
    <!-- 采购立账类型 -->
    <option name="PUAccount">
      <validators>
          <concreteValidator isLoad="true" className="Ufida.T.UA.PU.AccountOption.PUInvoiceAccountValidator" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU" />
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.PU.AccountOption.PUInvoiceAccountOperator" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU"/>
      </operators>
    </option>
    <!-- 销售立账类型 -->
    <option name="SAAccount">
      <validators />
      <operators>
      </operators>
    </option>
    <!-- 项目档案分类管理 -->
    <option name="IsProgramDossier">
      <validators />
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.PU.AccountOption.PUProjectClassOperator" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU"/>
      </operators>
    </option>
    <!-- 条形码管理 -->
    <option name="BarCodeManage">
      <validators />
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.PU.AccountOption.PUBarCodeManageOperator" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU"/>
      </operators>
    </option>
	<!-- 营销机构 -->
	<option name="IsMultiMarketing">
		<validators>
		</validators>
		<operators>
			<concreteOperator isLoad="true" className="Ufida.T.UA.PU.AccountOption.PUMarketingOrganOperator" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU" />
		</operators>
	</option>
	  <!-- 独立应用采购需求分析 -->
	  <option name="App_chanjet_PRAnalysis">
		  <validators>
			  <concreteValidator isLoad="true" className="Ufida.T.UA.PU.AccountOption.APPPRAnalysisValidator" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU" />
		  </validators>
		  <operators>
			  <concreteOperator isLoad="true" className="Ufida.T.UA.PU.AccountOption.APPPRAnalysis" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU"/>
		  </operators>
	  </option>
	  <!-- 独立应用采购比价工具 -->
	  <option name="App_chanjet_ComparePriceTool">
		  <validators>
			  <concreteValidator isLoad="true" className="Ufida.T.UA.PU.AccountOption.APPPComparePriceToolValidate" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU" />
		  </validators>
		  <operators>
			  <concreteOperator isLoad="true" className="Ufida.T.UA.PU.AccountOption.APPPComparePriceTool" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU"/>
		  </operators>
	  </option>
    <!-- 成品率小数位 -->
    <option name="ProductRateDecimalDigits">
      <validators />
      <operators />
    </option>
    <!-- 损耗率小数位 -->
    <option name="ShrinkageRateDecimalDigits">
      <validators />
      <operators />
    </option>
    <!-- 考虑成品率 -->
    <option name="IsRelationWithProductRate">
      <validators />
      <operators />
    </option>
    <!-- 考虑损耗率 -->
    <option name="IsRelationWithShrinkageRate">
      <validators />
      <operators />
    </option>
    <!-- 采购需求累计下达数超建议 -->
    <option name="IsStockAcquireNumOvertopAdvice">
      <validators />
      <operators />
    </option>
    <!-- 已订未出货 -->
    <option name="IsOrderedButNoSend">
      <validators />
      <operators />
    </option>
    <!-- 销售应收款 -->
    <option name="IsReceivableAccount">
      <validators />
      <operators />
    </option>
    <!-- 预收款 -->
    <option name="IsPrepay">
      <validators />
      <operators />
    </option>
    <!-- 已出货未立账 -->
    <option name="IsSendedButNoBalance">
      <validators />
      <operators />
    </option>
    <!-- 收入单 -->
    <option name="IsRevenueBill">
      <validators />
      <operators />
    </option>
    <!-- 领料数量计算方式 -->
    <option name="CalculateTypeOfDrawMaterial">
      <validators />
      <operators />
    </option>
    <!-- 生产待入量 -->
    <option name="IsManufacturedWaitIncept">
      <validators />
      <operators />
    </option>
    <!-- 生产待发量 -->
    <option name="IsManufacturedWaitSend">
      <validators />
      <operators />
    </option>
    <!-- 计价周期类型 -->
    <option name="AccountValueCycleType">
      <validators />
      <operators />
    </option>
    <!-- 计价周期 -->
    <option name="AccountValueCycle">
      <validators />
      <operators />
    </option>
    <!-- 考虑成本率 -->
    <option name="MRPOprationWithProductRate">
      <validators />
      <operators />
    </option>
    <!-- 考虑损耗率 -->
    <option name="MRPOprationWithShrinkageRate">
      <validators />
      <operators />
    </option>
    <!-- MRP累计下达数量允许超建议量 -->
    <option name="IsMRPAcquireNumOvertopAdvice">
      <validators />
      <operators />
    </option>
    <!-- 产成品入库控制 -->
    <option name="ProductInceptControl">
      <validators />
      <operators />
    </option>
    <!-- 产成品入库控制范围 -->
    <option name="ProductInceptControlBound">
      <validators />
      <operators />
    </option>
    <!-- 产成品入库控制方式 -->
    <option name="ProductInceptControlType">
      <validators />
      <operators />
    </option>
    <!-- 产成品入库控制密码 -->
    <option name="ProductInceptControlPwd">
      <validators />
      <operators />
    </option>
    <!-- 委外价格控制 -->
    <option name="IsConsignTiptopPriceControl">
      <validators />
      <operators />
    </option>
    <!-- 委外价格控制方式 -->
    <option name="ConsignTiptopPriceControlType">
      <validators />
      <operators />
    </option>
    <!-- 委外价格控制密码 -->
    <option name="ConsignTiptopPriceControlPwd">
      <validators />
      <operators />
    </option>
    <!-- 成本计算方式 -->
    <option name="CostCalculateType">
      <validators />
      <operators />
    </option>
    <!-- 在产品成本分配方式（原材料） -->
    <option name="WIPCostAllocationTypeMaterial">
      <validators />
      <operators />
    </option>
    <!-- 在产品成本分配方式（费用） -->
    <option name="WIPCostAllocationTypeCharges">
      <validators />
      <operators />
    </option>
    <!-- 工序日报严格按工序流程控制 -->
    <option name="IsManuControlByProcess">
      <validators />
      <operators />
    </option>
    <!-- 控制范围 -->
    <option name="IsManuProcessControlRange">
      <validators />
      <operators />
    </option>
    <!-- 控制方式 -->
    <option name="IsManuProcessControlType">
      <validators />
      <operators />
    </option>
    <!-- 控制密码 -->
    <option name="IsManuProcessControlTypePwd">
      <validators />
      <operators />
    </option>
    <!-- 材料超计划领用 -->
    <option name="IsMaterialDrawExceedPlan">
      <validators />
      <operators />
    </option>
    <!-- 材料超计划领用控制方式 -->
    <option name="MaterialDrawControlType">
      <validators />
      <operators />
    </option>
    <!-- 材料超计划领用控制密码 -->
    <option name="MaterialDrawControlTypePwd">
      <validators />
      <operators />
    </option>
    <!-- 制单序时控制 -->
    <option name="IsControlWhenGenerateDoc">
      <validators />
      <operators />
    </option>
    <!-- 现金流量必录 -->
    <option name="IsCashFlowMustInput">
      <validators />
      <operators />
    </option>
    <!-- 制单人与审核人可为同一人 -->
    <option name="CanMakerIsAuditor">
      <validators />
      <operators />
    </option>
    <!-- 科目编码级次 -->
    <option name="AccountCodingLevel">
      <validators />
      <operators />
    </option>
    <!-- 凭证需审核才可记账 -->
    <option name="IsBookkeepOnlyWhenVoucherAudit">
      <validators />
      <operators />
    </option>
    <!-- 出纳凭证必须经由出纳签字 -->
    <option name="IsPayOnlyWhenCashierSignature">
      <validators />
      <operators />
    </option>
    <!-- 凭证必须经由主管签字 -->
    <option name="IsVoucherNeedSupervisorSign">
      <validators />
      <operators />
    </option>
    <!-- 资金及往来赤字控制 -->
    <option name="IsControlCapAndARAPDeficit">
      <validators />
      <operators />
    </option>
    <!-- 资金及往来赤字控制方式 -->
    <option name="IsControlCapAndARAPDeficitMode">
      <validators />
      <operators />
    </option>
    <!-- 支票是否自动核对 -->
    <option name="IsCheckAutoCheck">
      <validators />
      <operators />
    </option>
    <!-- 手工录入 -->
    <option name="IsManualInputData">
      <validators />
      <operators />
    </option>
    <!-- 引自业务数据 -->
    <option name="IsFromBusinessData">
      <validators />
      <operators />
    </option>
    <!-- 所得税汇算申报类型 -->
    <option name="IncomeTaxCalculateType">
      <validators />
      <operators />
    </option>
    <!-- 税务核算处理方式 -->
    <option name="TaxAccrualProcessingType">
      <validators />
      <operators />
    </option>
  </AccountOptions>
  <!--单据审核后置操作处理器配置-->
  <VoucherAudit>
    <Processors>
      <Processor isLoad="true" className="Ufida.T.UA.PU.AuditProcessor.PUAuditProcessor" moduleName="PU" loadFrom="server\Ufida.T.UA.PU.dll" />
    </Processors>
  </VoucherAudit>
  <!--期末处理处理器配置-->
  <ClosingProcess>
    <Processors>
      <Processor isLoad="true" className="Ufida.T.UA.PU.TerminalProcess.PUTerminalProcessor" moduleName="PU" description="PUTerminalProcessing" loadFrom="server\Ufida.T.UA.PU.dll" />
    </Processors>
    <UnProcessors>
      <UnProcessor isLoad="true" className="Ufida.T.UA.PU.TerminalProcess.PUUnTerminalProcessor" moduleName="PU" description="PUUnTerminalProcessing" loadFrom="server\Ufida.T.UA.PU.dll" />
    </UnProcessors>
  </ClosingProcess>
  <!-- 财务期末结账 -->
  <FITerminalProcessors>
    <Processors>
    </Processors>
    <UnProcessors>
    </UnProcessors>
  </FITerminalProcessors>
  <!--期间结转处理器配置-->
  <CarryForward>
    <Processors>
      <Processor isLoad="true" className="Ufida.T.UA.PU.CarryForward.ForwardProcessor.PUForwardProcessor" moduleName="PU" description="PUIsCarryForwarding" loadFrom="server\Ufida.T.UA.PU.dll" />
    </Processors>
  </CarryForward>


  <!--版本控制处理器配置-->
  <VersionControl>
    <Versions>
      <!--仓管通-->
      <Version name="CGTStd">
        <Processors>
          <!-- 采购模块 -->
          <processor isLoad="true" className="Ufida.T.UA.PU.VersionControl.PU_CGT_VersionControlProcessor" moduleName="PU" loadFrom="server\Ufida.T.UA.PU.dll" />
        </Processors>
      </Version>
      <!--业务通标准版-->
      <Version name="YWTStd">
        <Processors>
        </Processors>
      </Version>
      <!--业务通专业版-->
      <Version name="YWTPro">
        <Processors>
          <!--采购模块-->
          <processor isLoad="true" className="Ufida.T.UA.PU.VersionControl.PU_YWTPro_VersionControlProcessor" moduleName="PU" loadFrom="server\Ufida.T.UA.PU.dll" />
        </Processors>
      </Version>
      <!--工贸通标准版-->
      <Version name="GMTStd">
        <Processors>
        </Processors>
      </Version>
      <!--工贸通专业版-->
      <Version name="GMTPro">
        <Processors>
        </Processors>
      </Version>
      <!--财务通标准版-->
      <Version name="CWTStd">
        <Processors>
        </Processors>
      </Version>
      <!--财务通专业版-->
      <Version name="CWTPro">
        <Processors>
 	  <!--采购模块-->
          <processor isLoad="true" className="Ufida.T.UA.PU.VersionControl.PU_CWTPro_VersionControlProcessor" moduleName="PU" loadFrom="server\Ufida.T.UA.PU.dll" />
        </Processors>
      </Version>
      <!--用友通专业版-->
      <Version name="YYTPro">
        <Processors>
 	  <!--采购模块-->
          <processor isLoad="true" className="Ufida.T.UA.PU.VersionControl.PU_YYTPro_VersionControlProcessor" moduleName="PU" loadFrom="server\Ufida.T.UA.PU.dll" />
        </Processors>
      </Version>
    </Versions>
  </VersionControl>


  <!--单据期间结转处理类配置-->
  <VoucherCarryForwards>
    <!-- 采购模块-->
    <VoucherCarryForward isLoad="true" Code="PU01" Name="请购单" Type="Ufida.T.UA.PU.CarryForward.VoucherCarryForward.PurchaseRequisitionCarryForward" loadFrom="server\Ufida.T.UA.PU.dll" />
    <VoucherCarryForward isLoad="true" Code="PU02" Name="采购订单" Type="Ufida.T.UA.PU.CarryForward.VoucherCarryForward.PurchaseOrderCarryForward" loadFrom="server\Ufida.T.UA.PU.dll" />
    <VoucherCarryForward isLoad="true" Code="PU03" Name="采购进货单" Type="Ufida.T.UA.PU.CarryForward.VoucherCarryForward.PurchaseArrivalCarryForward" loadFrom="server\Ufida.T.UA.PU.dll" />
    <VoucherCarryForward isLoad="true" Code="PU04" Name="采购发票" Type="Ufida.T.UA.PU.CarryForward.VoucherCarryForward.PurchaseInvoiceCarryForward" loadFrom="server\Ufida.T.UA.PU.dll" />
  </VoucherCarryForwards>
  <!--页面前置校验处理-->
  <PagePreCondition>
    <PagePreConditions>
      <!--单据校验-->
      <!--基础档案-->
      <PagePreCondition Code="PU01" Name="请购单" Url="" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="PU02" Name="采购订单" Url="Purchase/PurchaseOrder/PurchaseOrderEdit.aspx?SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="PU03" Name="采购进货单" Url="Purchase/PurchaseArrival/PurchaseArrivalEdit.aspx?SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="PU04" Name="采购发票" Url="Purchase/PurchaseInvoice/PurchaseInvoiceEdit.aspx?SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="SYS0923" Name="期初进货单" Url="" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="PU05" Name="采购需求分析" Url="BAPView/Voucher.aspx?mId=mp2810&amp;sysId=mp&amp;pId=voucherView&amp;SourceType=FromMenu" Type="Ufida.T.UA.MP.SM.PagePreCondition.MPPreConditionForPRA" loadFrom="server\Ufida.T.UA.MP.dll"  />
      <PagePreCondition Code="AA5010" Name="采购价格查询" Url="Purchase/Report/PurchasePriceDetailRpt.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
    </PagePreConditions>
    <Reports>
      <!-- 采购报表 -->
      <Report ReportName="PU_PurchaseOrderDetailRpt" Code="PU4001" title="采购订单明细表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=PU_PurchaseOrderDetailRpt" />
      <Report ReportName="PU_PurchaseArrivalDetailRpt" Code="PU4002" title="进货单明细表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=PU_PurchaseArrivalDetailRpt" />
      <Report ReportName="PU_PuchaseRequisitionDetailRPT" Code="PU4000" title="请购单明细表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=PU_PuchaseRequisitionDetailRPT" />
      <Report ReportName="PU_PurchaseInvoiceDetailRPT" Code="PU4003" title="采购发票明细表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=PU_PurchaseInvoiceDetailRPT" />
      <Report ReportName="AA_PurchasePriceFluctuationRpt" Code="AA5030" title="采购价格波动分析表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=AA_PurchasePriceFluctuationRpt" />
      <Report ReportName="PU_PurchaseIntegratedSumRpt" Code="PU6001" title="采购综合统计分析表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=PU_PurchaseIntegratedSumRpt" />
      <Report ReportName="PU_PurchaseOrderSumRpt" Code="PU6002" title="采购订单统计表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=PU_PurchaseOrderSumRpt" />
      <Report ReportName="PU_PurchaseArrivalSumRpt" Code="PU6003" title="采购进货单统计表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=PU_PurchaseArrivalSumRpt" />
      <Report ReportName="PU_PurchaseInvoiceSumRPT" Code="PU6010" title="采购发票统计表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=PU_PurchaseInvoiceSumRPT" />
      <Report ReportName="PU_PuchaseRequisitionSumRPT" Code="PU6015" title="请购单统计表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=PU_PuchaseRequisitionSumRPT" />
      <Report ReportName="PU_PuchaseRequisitionExecuteRPT" Code="PU8003" title="请购单执行表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=PU_PuchaseRequisitionExecuteRPT" />
      <Report ReportName="PU_PurchaseOrderExecuteRpt" Code="PU8007" title="采购订单执行表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=PU_PurchaseOrderExecuteRpt" />
      <Report ReportName="PU_PurchaseArrivalExecuteRpt" Code="PU8008" title="采购进货单执行表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=PU_PurchaseArrivalExecuteRpt" />
      <Report ReportName="PU_PurchaseInvoiceExecuteRPT" Code="PU8020" title="采购发票付款执行表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=PU_PurchaseInvoiceExecuteRPT" />
     </Reports>
  </PagePreCondition>
  <MessageCenter>    
<!--构建数据-->
  <ConstituteData>
    <!--单据消息设置-->
    <Module name="VoucherMessage">
      <Option name="PU01" >
        <add key="assemblyName" className="Ufida.T.PU.Service.PurchaseRequisitionService" classLoadFrom="server\Ufida.T.PU.Service.dll" dtoName="Ufida.T.PU.DTO.PurchaseRequisitionDTO" dtoLoadFrom="server\Ufida.T.PU.DTO.dll" detailDTOName="Ufida.T.PU.DTO.PurchaseRequisitionDTO"></add>
        <add key="methodName" findDTOList="FindListForMessages" findDTOByID="FindById" findDetailDTO="FindDetailList2" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
      </Option>
      <Option name="PU02" >
        <add key="assemblyName" className="Ufida.T.PU.Service.PurchaseOrderService" classLoadFrom="server\Ufida.T.PU.Service.dll" dtoName="Ufida.T.PU.DTO.PurchaseOrderDTO" dtoLoadFrom="server\Ufida.T.PU.DTO.dll" detailDTOName="Ufida.T.PU.DTO.PurchaseOrderDetailDTO"></add>
        <add key="methodName" findDTOList="FindListForMessages" findDTOByID="FindById" findDetailDTO="FindDetailList2" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
      </Option>
      <Option name="PU03" >
        <add key="assemblyName" className="Ufida.T.PU.Service.PurchaseArrivalService" classLoadFrom="server\Ufida.T.PU.Service.dll" dtoName="Ufida.T.PU.DTO.PurchaseArrivalDTO" dtoLoadFrom="server\Ufida.T.PU.DTO.dll" detailDTOName="Ufida.T.PU.DTO.PurchaseArrivalDetailDTO"></add>
        <add key="methodName" findDTOList="FindListForMessages" findDTOByID="FindById" findDetailDTO="FindDetailList2" doReceiptMethod="Audit" getUFTableMethod="FindTable2" getDetailUFTableMethod="FindDetailTable"></add>
      </Option>
      <Option name="PU04" >
        <add key="assemblyName" className="Ufida.T.PU.Service.PurchaseInvoiceService" classLoadFrom="server\Ufida.T.PU.Service.dll" dtoName="Ufida.T.PU.DTO.PurchaseInvoiceDTO" dtoLoadFrom="server\Ufida.T.PU.DTO.dll" detailDTOName="Ufida.T.PU.DTO.PurchaseInvoiceDTO"></add>
        <add key="methodName" findDTOList="FindListForMessages" findDTOByID="FindById" findDetailDTO="FindDetailList2" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
      </Option>
      <Option name="SYS0923" >
        <add key="assemblyName" className="Ufida.T.PU.Service.PurchaseArrivalService" classLoadFrom="server\Ufida.T.PU.Service.dll" dtoName="Ufida.T.PU.DTO.PurchaseArrivalDTO" dtoLoadFrom="server\Ufida.T.PU.DTO.dll" detailDTOName="Ufida.T.PU.DTO.PurchaseArrivalDetailDTO"></add>
        <add key="methodName" findDTOList="FindListForMessages" findDTOByID="FindById" findDetailDTO="FindDetailList2" doReceiptMethod="Audit" getUFTableMethod="FindTable2" getDetailUFTableMethod="FindDetailTable"></add>
      </Option>
	  <Option name="MP2810" >
			<add key="assemblyName" className="Ufida.T.MP.Service.PraVoucherService" classLoadFrom="server\Ufida.T.MP.Service.dll" dtoName="" dtoLoadFrom="" detailDTOName=""></add>
			<add key="methodName" findDTOList="FindListWithDetail" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
	  </Option>
		<!--<Option><Instance className="类名" loadFrom="程序集"/>需要实现基类</Option>-->
    </Module>
	</ConstituteData>
</MessageCenter>
  <!--账套管理-->
  <AccountManage>
    <AccountClear>
      <concreteOperator isLoad="true" className="Ufida.T.UA.PU.AccountOption.PUClearOperator" loadFrom="server\Ufida.T.UA.PU.dll" moduleName="PU" />
    </AccountClear>
  </AccountManage>
</Config>