<?xml version="1.0" encoding="utf-8"?>
<Config>
  <!--功能启用前置校验和后置操作-->
  <FunctionEnable>
     <!--购销管理-->
    <option name="PS">
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.RE.SM.FunctionEnable.REPSValidator" loadFrom="server\Ufida.T.UA.RE.dll" moduleName="RE" />
      </validators>
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.RE.SM.FunctionEnable.REPSOperator" loadFrom="server\Ufida.T.UA.RE.dll" moduleName="RE"></concreteOperator>
      </operators>
    </option>
  
   <!--零售管理-->
    <option name="Retail">
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.RE.SM.FunctionEnable.REREValidator" loadFrom="server\Ufida.T.UA.RE.dll" moduleName="RE" />
      </validators>
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.RE.SM.FunctionEnable.REREOperator" loadFrom="server\Ufida.T.UA.RE.dll" moduleName="RE"></concreteOperator>
      </operators>
    </option>
	
     <!--会员管理-->
    <option name="Member">
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.RE.SM.FunctionEnable.REMEValidator" loadFrom="server\Ufida.T.UA.RE.dll" moduleName="RE" />
      </validators>
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.RE.SM.FunctionEnable.REMEOperator" loadFrom="server\Ufida.T.UA.RE.dll"    moduleName="RE"></concreteOperator>
      </operators>
    </option>
      <!--促销管理-->
      <option name="Promotion">
        <validators>
          <concreteValidator isLoad="true" className="Ufida.T.UA.RE.SM.FunctionEnable.REPRValidator" loadFrom="server\Ufida.T.UA.RE.dll" moduleName="RE" />
        </validators>
        <!--后置操作-->
        <operators>
          <concreteOperator isLoad="true" className="Ufida.T.UA.RE.SM.FunctionEnable.REPROperator" loadFrom="server\Ufida.T.UA.RE.dll" moduleName="RE"></concreteOperator>
        </operators>
    </option>
   <!--分销管理-->
    <option name="Distribution">
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.RE.SM.FunctionEnable.REDIValidator" loadFrom="server\Ufida.T.UA.RE.dll" moduleName="RE" />
      </validators>
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.RE.SM.FunctionEnable.REDIOperator" loadFrom="server\Ufida.T.UA.RE.dll" moduleName="RE"></concreteOperator>
      </operators>
    </option>

    <!--网店管理-->
    <option name="NetShop">
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.RE.SM.FunctionEnable.REESValidator" loadFrom="server\Ufida.T.UA.RE.dll" moduleName="RE" />
      </validators>
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.RE.SM.FunctionEnable.REESOperator" loadFrom="server\Ufida.T.UA.RE.dll" moduleName="RE"></concreteOperator>
      </operators>
    </option>
  </FunctionEnable>

  <!--账套选项前置校验和后置操作类配置-->
  <AccountOptions>
    <!-- 多币种 -->
    <option name="IsMultiCurrency">
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.RE.SM.AccountOption.RECurrencyValidator" loadFrom="server\Ufida.T.UA.RE.dll" moduleName="RE" />
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.RE.SM.AccountOption.RECurrencyOperator" loadFrom="server\Ufida.T.UA.RE.dll" moduleName="RE" />
      </operators>
    </option>
	  <!--加盟店APP-->
	<option name="APP_Chanjet_Franchise">
		<validators>
			<concreteValidator isLoad="true" className="Ufida.T.UA.RE.SM.AccountOption.REAPP_Chanjet_FranchiseValidator" loadFrom="server\Ufida.T.UA.RE.dll" moduleName="RE" />
		</validators>
		<operators>
			<concreteOperator isLoad="true" className="Ufida.T.UA.RE.SM.AccountOption.REAPP_Chanjet_FranchiseOperator" loadFrom="server\Ufida.T.UA.RE.dll" moduleName="RE" />
		</operators>
	</option>
    <!-- 收银对账方式 -->
    <option name="CashierCheckAccount">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.RE.SM.AccountOption.RECashierCheckAccount" loadFrom="server\Ufida.T.UA.RE.dll" moduleName="RE" />
      </operators>
    </option>
	  <!-- 存货批号管理 -->
	  <option name="IsBatchNumberManage">
		  <validators>
		  </validators>
		  <operators>
			  <concreteOperator isLoad="true" className="Ufida.T.UA.RE.SM.AccountOption.REBatchOperator" loadFrom="server\Ufida.T.UA.RE.dll" moduleName="RE" />
		  </operators>
	  </option>
    <!-- 营销机构管理 -->
    <option name="IsMultiMarketing">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.RE.SM.AccountOption.REIsMultiMarketingOperator" loadFrom="server\Ufida.T.UA.RE.dll" moduleName="RE" />
      </operators>
    </option>
    <!-- 存货有效期管理 -->
    <option name="IsQualityPeriodManage">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.RE.SM.AccountOption.REExpiryDateOperator" loadFrom="server\Ufida.T.UA.RE.dll" moduleName="RE" />
      </operators>
    </option>
    <!-- 数量小数位 -->
    <option name="QuantityPrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.RE.SM.AccountOption.REQuantityPrecisionOperator" loadFrom="server\Ufida.T.UA.RE.dll" moduleName="RE" />
      </operators>
    </option>
    <!-- 单价整数位 -->
    <option name="PriceIntegeration">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.RE.SM.AccountOption.REPriceIntegerationOperator" loadFrom="server\Ufida.T.UA.RE.dll" moduleName="RE" />
      </operators>
    </option>
    <!-- 单价小数位 -->
    <option name="PricePrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.RE.SM.AccountOption.REPricePrecisionOperator" loadFrom="server\Ufida.T.UA.RE.dll" moduleName="RE" />
      </operators>
    </option>
    <!-- 汇率小数位 -->
    <option name="ExchangeRatePrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.RE.SM.AccountOption.REExchangRateOperator" loadFrom="server\Ufida.T.UA.RE.dll" moduleName="RE" />
      </operators>
    </option>
    <!-- 换算率小数位 -->
    <option name="ProportionRatePrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.RE.SM.AccountOption.REUnitExchangeRateOperator" loadFrom="server\Ufida.T.UA.RE.dll" moduleName="RE" />
      </operators>
    </option>
    <!-- 是否已经有货品使用了多计量 -->
    <option name="HaveUsedMultiUnit">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.RE.SM.AccountOption.REMultiUnitOperator" loadFrom="server\Ufida.T.UA.RE.dll" moduleName="RE" />
      </operators>
    </option>
    <!-- 存货分类管理 -->
    <option name="IsInventoryClass">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.RE.SM.AccountOption.REInventoryClassOperator" loadFrom="server\Ufida.T.UA.RE.dll" moduleName="RE" />
      </operators>
    </option>
    <!--条形码管理-->
    <option name="BarCodeManage">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.RE.SM.AccountOption.REBarCodeManageOperator" loadFrom="server\Ufida.T.UA.RE.dll" moduleName="RE" />
      </operators>
    </option>    
    
    <!-- 往来单位分类管理 -->
    <option name="IsPartnerClass">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.RE.SM.AccountOption.REPartnerClassOperator" loadFrom="server\Ufida.T.UA.RE.dll" moduleName="RE" />
      </operators>
    </option>
    <!-- 项目分类管理 -->
    <option name="IsProgramDossier">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.RE.SM.AccountOption.REProjectClassOperator" loadFrom="server\Ufida.T.UA.RE.dll" moduleName="RE" />
      </operators>
    </option>
  </AccountOptions>
  <!--单据审核后置操作处理器配置-->
  <VoucherAudit>
    <Processors>
      <Processor isLoad="true" className="Ufida.T.UA.RE.SM.AuditProcessor.REAuditProcessor" moduleName="RE" loadFrom="server\Ufida.T.UA.RE.dll" />
    </Processors>
  </VoucherAudit>
  <!--期末处理处理器配置-->
  <ClosingProcess>
    <Processors>
      <Processor isLoad="true" className="Ufida.T.UA.RE.SM.TerminalProcess.RETerminalProcessor" moduleName="RE" description="RETerminalProcessing" loadFrom="server\Ufida.T.UA.RE.dll" />
    </Processors>
    <UnProcessors>
      <UnProcessor isLoad="true" className="Ufida.T.UA.RE.SM.TerminalProcess.REUnTerminalProcessor" moduleName="RE" description="REUnTerminalProcessing" loadFrom="server\Ufida.T.UA.RE.dll" />
    </UnProcessors>
  </ClosingProcess>
  <!--期间结转处理器配置-->
  <CarryForward>
    <Processors>
      <Processor isLoad="true" className="Ufida.T.UA.RE.SM.CarryForward.REForwardProcessor" moduleName="RE" description="REIsCarryForwarding" loadFrom="server\Ufida.T.UA.RE.dll" />
    </Processors>
  </CarryForward>


  <!--版本控制处理器配置-->
  <VersionControl>
    <Versions>
      <!--用友通专业版-->
      <Version name="YYTPro">
        <Processors>
          <!--零售模块-->
          <processor isLoad="true" className="Ufida.T.UA.RE.SM.VersionControl.RE_YYTPro_VersionControlProcessor" moduleName="RE" loadFrom="server\Ufida.T.UA.RE.dll" />
        </Processors>
      </Version>

    </Versions>
  </VersionControl>


  <!--单据期间结转处理类配置-->
  <VoucherCarryForwards>
    <VoucherCarryForward isLoad="true" Code="RE20" Name="零售结算单" Type="Ufida.T.UA.RE.SM.CarryForward.REForwardProcessorForRetailSettle" loadFrom="server\Ufida.T.UA.RE.dll"/>
    <VoucherCarryForward isLoad="true" Code="RE10" Name="零售单" Type="Ufida.T.UA.RE.SM.CarryForward.REForwardProcessorForRetail" loadFrom="server\Ufida.T.UA.RE.dll"/>
  </VoucherCarryForwards>
  <!--页面前置校验处理-->
  <PagePreCondition>
    <Runtimes>
      <!--页面前置校验处理类程序集-->
      <Runtime Assembly="Ufida.T.BAP.BusinessApplication.dll" />
      <!--DTO程序集，判断DTO是否被并发删除时使用-->
      <Runtime Assembly="Ufida.T.AA.DTO.dll" />
      <Runtime Assembly="Ufida.T.SA.DTO.dll" />
    </Runtimes>
    <PagePreConditions>
      <!--单据校验-->
       <PagePreCondition Code="RE05" Name="要货单" Url="BAPView/Voucher.aspx" Type="Ufida.T.UA.DI.PagePreCondition.DIPreConditionForStockRequest" loadFrom="server\Ufida.T.UA.DI.dll" />
      <!-- PagePreCondition Code="RE05" Name="要货单" Url="BAPView/Voucher.aspx?mId=DI15&sysId=DI&pId=voucherView&SourceType=FromMenu" Type="Ufida.T.UA.DI.SM.PagePreCondition.DIPreConditonForStockRequest" loadFrom="server\Ufida.T.UA.DI.dll"  / --> 
      <PagePreCondition Code="RE20" Name="零售结算单" Url="BAPView/Voucher.aspx?mId=RE20&amp;sysId=RE&amp;pId=voucherView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="RE10" Name="零售单" Url="BAPView/Voucher.aspx?mId=RE10&amp;sysId=RE&amp;pId=voucherView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
       <PagePreCondition Code="RE25" Name="对账收款" Url="BAPView/CommonList.aspx?mId=RE25&amp;pId=commonList&amp;sysid=RE&amp;cId=RE25_ReceiveDetail" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom=""  />
<PagePreCondition Code="RE15" Name="零售批量出库" Url="BAPView/CommonList.aspx?mId=RE15&amp;pId=commonList&amp;sysid=RE&amp;cId=RE15_BatchSaleOut" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom=""  />
    </PagePreConditions>
    <Reports>
      <!--零售报表-->
      <!--明细表-->
        <Report ReportName="DI_StockRequestDetailRpt" Code="RE4015" title="要货单明细表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=DI_StockRequestDetailRpt" />
        <Report ReportName="RE_RetailSettleDetailRpt" Code="RE4005" title="零售结算单明细表" />
        <Report ReportName="RE_RetailDetailRpt" Code="RE09" title="零售数据中心" />
      <Report ReportName="RE_DailyDetailRpt" Code="RE4010" title="日结明细表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=RE_DailyDetailRpt" />
      <!--<Report ReportName="RE_RetailPaymentDetailRpt" Code="RE4550" title="零售单结算明细表" Url="BAPView/ReportBasic.aspx?ReportName=RE_RetailPaymentDetailRpt" />-->
      <!--统计表-->
        <Report ReportName="DI_StockRequestSumRpt" Code="RE4540" title="要货单统计表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=DI_StockRequestSumRpt" />
        <Report ReportName="RE_RetailSettleSumRpt" Code="RE4505" title="零售结算单统计表" />
        <Report ReportName="RE_RetailSumRpt" Code="RE4501" title="零售单统计表" />
        <Report ReportName="DI_StockRequestExecuteRpt" Code="RE4545" title="要货单执行表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=DI_StockRequestExecuteRpt" />
        <Report ReportName="RE_CashierAccountSumRpt" Code="RE4530" title="收银账号统计表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=RE_CashierAccountSumRpt" />
      <Report ReportName="RE_ShiftVoucherSumRpt" Code="RE4510" title="零售交班统计表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=RE_ShiftVoucherSumRpt" />
      <Report ReportName="RE_RetailPeriodSumRpt" Code="RE4525" title="零售期间统计表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=RE_RetailPeriodSumRpt" />

      <Report ReportName="RE_RetailGrossProfitSumRpt" Code="RE4515" title="零售毛利统计表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=RE_RetailGrossProfitSumRpt" />
      <Report ReportName="RE_RetailRankRpt" Code="RE4520" title="零售排行榜" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=RE_RetailRankRpt" />
       <Report ReportName="RE_CounterCheck" Code="RE4535" title="专柜对账单" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=RE_CounterCheck" />
      <Report ReportName="RE_StoreRunSumRpt" Code="RE4555" title="门店经营情况统计表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=RE_StoreRunSumRpt" />

    </Reports>
  </PagePreCondition>

  <!--反射调用接口方法-->
  <Methods>
    <Method name="UpdateFEVisibility" interfaceAssembly="Ufida.T.SM.FunctionEnableSetting.Interface" interface="Ufida.T.SM.FunctionEnableSetting.Interface.IFunctionEnable" methodName="UpdateIsVisibility" dtoAssembly=""/>
    <Method name="IsEnable" interfaceAssembly="Ufida.T.SM.FunctionEnableSetting.Interface" interface="Ufida.T.SM.FunctionEnableSetting.Interface.IFunctionEnable" methodName="IsEnable" dtoAssembly=""/>
  </Methods>



  <MessageCenter>
    <!--构建数据-->
    <ConstituteData>
      <!--单据消息设置-->
      <Module name="VoucherMessage">
        <!-- 要货单 -->
	<Option name="DI15" >
	  <add key="assemblyName" className="Ufida.T.DI.Service.StockRequestService" classLoadFrom="server\Ufida.T.DI.Service.dll" dtoName="" dtoLoadFrom="" detailDTOName=""></add>
          <add key="methodName" findDTOList="FindListWithDetail" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
	</Option>
        <!-- 零售结算单 -->
        <Option name="RE20" >
          <add key="assemblyName" className="Ufida.T.RE.Service.RetailSettleService" classLoadFrom="server\Ufida.T.RE.Service.dll" dtoName="" dtoLoadFrom="" detailDTOName=""></add>
			<add key="methodName" findDTOList="FindListForMessages" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
        </Option>
	<!-- 零售单 -->
        <Option name="RE10" >
          <add key="assemblyName" className="Ufida.T.RE.Service.RetailService" classLoadFrom="server\Ufida.T.RE.Service.dll" dtoName="" dtoLoadFrom="" detailDTOName=""></add>
          <add key="methodName" findDTOList="FindListWithDetail" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Save" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"  getMemberInfo="getMemberInfo"></add>
        </Option>
      </Module>
    </ConstituteData>
  </MessageCenter>

  <!--会计期间前置校验-->
  <PeriodSettings>
    <!--前置校验-->
    <validators>
      <concreteValidator isLoad="true" className="Ufida.T.UA.RE.SM.PeriodCondition.PeriodValidator" loadFrom="server\Ufida.T.UA.RE.dll" moduleName="RE"></concreteValidator>
    </validators>
  </PeriodSettings>
  <!--数据清除-->
  <AccountManage>
    <AccountClear>
      <concreteOperator isLoad="true" className="Ufida.T.UA.RE.SM.AccountClear.REAccountClearProcessor" loadFrom="server\Ufida.T.UA.RE.dll" moduleName="RE" />
    </AccountClear>
  </AccountManage>
</Config>