<?xml version="1.0" encoding="utf-8"?>
<Config>
	<!--功能启用前置校验和后置操作-->
	<FunctionEnable>

		<!--报价单会员档案后置-->
		<option name="Member">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.FunctionEnable.Operators.SAMemberOperator" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA"></concreteOperator>
			</operators>
		</option>
		<!--库存核算-->
		<option name="Stock">
			<!--后置操作-->
			<operators>
			</operators>
		</option>
		<!--购销管理-->
		<option name="PS">
			<validators>
				<concreteValidator isLoad="true" className="Ufida.T.UA.SA.FunctionEnable.Validate.SAPSValidate" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.FunctionEnable.SAPSOperator" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA"></concreteOperator>
			</operators>

		</option>
		<!--自制加工-->
		<option name="Manufacture">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.FunctionEnable.ManufactureFunctionEnableOperator" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA"></concreteOperator>
			</operators>
		</option>
		<!--委外加工-->
		<option name="ConsignManufacture">
			<!--后置操作-->
			<operators>
			</operators>
		</option>
		<!--成本核算-->
		<option name="Costing">
			<!--后置操作-->
			<operators>
			</operators>
		</option>
		<!--MRP运算-->
		<option name="MRP">
			<!--后置操作-->
			<operators>
			</operators>
		</option>
		<!--工序管理-->
		<option name="Process">
			<!--后置操作-->
			<operators>
			</operators>
		</option>
		<!--普及账表-->
		<option name="StdAccount">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.FunctionEnable.STD_PRO_AccountFunctionEnableOperator" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</operators>
		</option>
		<!--专业账表-->
		<option name="ProAccount">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.FunctionEnable.STD_PRO_AccountFunctionEnableOperator" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</operators>
		</option>
		<!--现金银行-出纳-->
		<option name="CS">
			<!--后置操作-->
			<operators>
			</operators>
		</option>
		<!--票据打印-->
		<option name="DocPrint">
			<!--后置操作-->
			<operators>
			</operators>
		</option>
		<!--税务核算与申报-->
		<option name="TaxAccrual">
			<!--后置操作-->
			<operators>
			</operators>
		</option>
		<!--所得税汇算-->
		<option name="IncomeTaxSettlement">
			<!--后置操作-->
			<operators>
			</operators>
		</option>
		<!--零售管理-->
		<option name="Retail">
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.FunctionEnable.RetailFunctionEnableOperator" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA"></concreteOperator>
			</operators>
		</option>
		<!--分销管理-->
		<option name="Distribution">
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.FunctionEnable.DistributionFunctionEnableOperator" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA"></concreteOperator>
			</operators>
		</option>
		<!--网店管理-->
		<option name="NetShop">
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.FunctionEnable.NetShopFunctionEnableOperator" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA"></concreteOperator>
			</operators>
		</option>
		<!--普及进销存-->
		<option name="StdIERP">
			<validators>
				<concreteValidator isLoad="true" className="Ufida.T.UA.SA.FunctionEnable.Validate.SAStdIERPValidate" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.FunctionEnable.StdIERPFunctionEnableOperator" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA"></concreteOperator>
			</operators>
		</option>
	</FunctionEnable>

	<!--会计期间前置校验-->
	<PeriodSettings>
		<!--前置校验-->
		<validators>
			<!--事例:<concreteValidator isLoad="true" className="Ufida.T.UA.SA.FunctionEnable.Stock" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA"></concreteValidator>-->
			<!--业务配置-->
			<concreteValidator isLoad="true" className="Ufida.T.UA.SA.AccountOption.OptionModifyingValidate.SAAccountingPeriodValidator" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA"></concreteValidator>
		</validators>
	</PeriodSettings>

	<!--账套选项前置校验和后置操作类配置-->
	<AccountOptions>
		<!--多营销机构-->
		<option name="IsMultiMarketing">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.AccountOption.SAMultiMarketingControl" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA"></concreteOperator>
			</operators>
		</option>
		<!--智能补货-->
		<option name="App_chanjet_SmartReplenish">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.AccountOption.AppChanjetSmartReplenish" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA"></concreteOperator>
			</operators>
		</option>
		<!--进销项税对比查询表-->
		<option name="App_chanjet_PSTaxCompareTable">
			<validators>
				<concreteValidator isLoad="true" className="Ufida.T.UA.SA.AccountOption.APPPSTaxCompareTableValidate" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.AccountOption.APPPSTaxCompareTable" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA"></concreteOperator>
			</operators>
		</option>
		<!--销售比价工具-->
		<option name="App_chanjet_ComparePriceTool">
			<validators>
				<concreteValidator isLoad="true" className="Ufida.T.UA.SA.AccountOption.APPSComparePriceToolValidate" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.AccountOption.APPSComparePriceTool" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA"></concreteOperator>
			</operators>
		</option>
		<!-- 独立应用采购需求分析 -->
		<option name="App_chanjet_PRAnalysis">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.AccountOption.APPPRAnalysisOfSA" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA"/>
			</operators>
		</option>
		<!-- 多币种 -->
		<option name="IsMultiCurrency">
			<validators>
				<concreteValidator isLoad="true" className="Ufida.T.UA.SA.AccountOption.SACurrencyValidator" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.AccountOption.SACurrencyOperator" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</operators>
		</option>
		<!-- 存货批号管理 -->
		<option name="IsBatchNumberManage">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.AccountOption.SABatchOperator" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</operators>
		</option>
		<!-- 存货有效期管理 -->
		<option name="IsQualityPeriodManage">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.AccountOption.SAQualityOperator" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</operators>
		</option>
		<!-- 货位管理 -->
		<option name="IsInvLocationManage">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.AccountOption.SAInvLocationOperator" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</operators>
		</option>
		<!-- 委外加工 -->
		<option name="IsMadeByOthers">
			<validators>
			</validators>
			<operators>
			</operators>
		</option>
		<!-- 数量小数位 -->
		<option name="QuantityPrecision">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.AccountOption.SAQuantityPrecisionOperator" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</operators>
		</option>
		<!-- 单价小数位 -->
		<option name="PricePrecision">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.AccountOption.SAPricePrecisionOperator" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</operators>
		</option>
		<!-- 发票单价小数位 -->
		<option name="InvoicePricePrecision">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.AccountOption.SAInvoicePrecisionOperator" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</operators>
		</option>
		<!-- 单价整数位 -->
		<option name="PriceIntegeration">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.AccountOption.SAPriceIntegerationOperator" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</operators>
		</option>
		<!-- 发票单价整数位 -->
		<option name="InvoicePriceIntegeration">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.AccountOption.SAInvoicePriceIntegerationOperator" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</operators>
		</option>
		<!-- 汇率小数位 -->
		<option name="ExchangeRatePrecision">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.AccountOption.SAExchangRateOperator" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</operators>
		</option>
		<!-- 换算率小数位 -->
		<option name="ProportionRatePrecision">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.AccountOption.SASwapRateOperator" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</operators>
		</option>
		<!-- 批号和计价法联用 -->
		<option name="IsBatchNumberWithPriceMode">
			<validators>
			</validators>
			<operators>
			</operators>
		</option>
		<!-- 计价模式 -->
		<option name="PriceMode">
			<validators>
			</validators>
			<operators>
			</operators>
		</option>
		<!-- 暂估处理方式 -->
		<option name="TemporayEstimateMode">
			<validators>
			</validators>
			<operators>
			</operators>
		</option>
		<!-- 计价时机 -->
		<option name="PriceOpportunity">
			<validators>
			</validators>
		</option>
		<!-- 销售流程 -->
		<option name="SAWorkflow">
			<validators>
				<concreteValidator isLoad="true" className="Ufida.T.UA.SA.AccountOption.OptionModifyingValidate.SAWorkflowValidator" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.AccountOption.ConcreteSAWorkflowControl" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</operators>
		</option>
		<!-- 采购流程 -->
		<option name="PUWorkflow">
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.AccountOption.ConcretePUWorkflowControl" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</operators>
		</option>
		<!-- 进货单自动生成入库单 -->
		<option name="IsPurchaseOrderAutoStockOrder">
			<operators>
			</operators>
		</option>
		<!-- 销货单自动生成出库单 -->
		<option name="IsDeliveryOrderAutoStockOrder">
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.AccountOption.SAAutoGenerateSaleOutOperator" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</operators>
		</option>
		<!-- 是否已经有货品使用了多计量 -->
		<option name="HaveUsedMultiUnit">
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.AccountOption.SAMultiUnitOperator" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</operators>
		</option>
		<!-- 存货分类管理 -->
		<option name="IsInventoryClass">
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.AccountOption.SAInventoryClassOperator" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</operators>
		</option>
		<!-- 往来单位分类管理 -->
		<option name="IsPartnerClass">
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.AccountOption.SAPartnerClassOperator" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</operators>
		</option>
		<!-- 核销方式 -->
		<option name="CheckMode">
			<operators>
			</operators>
		</option>
		<!-- 采购立账类型 -->
		<option name="PUAccount">
			<validators />
			<operators>
			</operators>
		</option>
		<!-- 销售立账类型 -->
		<option name="SAAccount">
			<validators>
				<concreteValidator isLoad="true" className="Ufida.T.UA.SA.AccountOption.OptionModifyingValidate.SASAAccountValidator" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.AccountOption.SAInvoiceAccountOperator" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</operators>
		</option>
		<!-- 项目档案分类管理 -->
		<option name="IsProgramDossier">
			<validators />
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.AccountOption.SAProjectClassOperator" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</operators>
		</option>
		<!-- 条形码管理 -->
		<option name="BarCodeManage">
			<validators />
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.AccountOption.SABarCodeManageOperator" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA"/>
			</operators>
		</option>
		<!-- 超订单发货/出库 -->
		<option name="IsExceedingOrderWhenDelivery">
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.AccountOption.SAExceedingOrderOperator" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</operators>
		</option>
		<!-- 成品率小数位 -->
		<option name="ProductRateDecimalDigits">
			<validators />
			<operators />
		</option>
		<!-- 损耗率小数位 -->
		<option name="ShrinkageRateDecimalDigits">
			<validators />
			<operators />
		</option>
		<!-- 考虑成品率 -->
		<option name="IsRelationWithProductRate">
			<validators />
			<operators />
		</option>
		<!-- 考虑损耗率 -->
		<option name="IsRelationWithShrinkageRate">
			<validators />
			<operators />
		</option>
		<!-- 采购需求累计下达数超建议 -->
		<option name="IsStockAcquireNumOvertopAdvice">
			<validators />
			<operators />
		</option>
		<!-- 已订未出货 -->
		<option name="IsOrderedButNoSend">
			<validators />
			<operators >
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.AccountOption.SACustomerCreditIsOrderedButNoSend" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</operators>
		</option>
		<!-- 销售应收款 -->
		<option name="IsReceivableAccount">
			<validators />
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.AccountOption.SACustomerCreditIsReceivableAccount" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</operators>
		</option>
		<!-- 预收款 -->
		<option name="IsPrepay">
			<validators />
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.AccountOption.SACustomerCreditIsPrepay" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</operators>
		</option>
		<!-- 已出货未立账 -->
		<option name="IsSendedButNoBalance">
			<validators />
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.AccountOption.SACustomerCreditIsSendedButNoBalance" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</operators>
		</option>
		<!-- 收入单 -->
		<option name="IsRevenueBill">
			<validators />
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.SA.AccountOption.SACustomerCreditIsRevenueBill" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</operators>
		</option>
    <!-- 费用单 -->
    <option name="IsExpenseBill">
      <validators />
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SA.AccountOption.SACustomerCreditIsExpenseBill" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
      </operators>
    </option>
		<!-- 领料数量计算方式 -->
		<option name="CalculateTypeOfDrawMaterial">
			<validators />
			<operators />
		</option>
		<!-- 生产待入量 -->
		<option name="IsManufacturedWaitIncept">
			<validators />
			<operators />
		</option>
		<!-- 生产待发量 -->
		<option name="IsManufacturedWaitSend">
			<validators />
			<operators />
		</option>
		<!-- 计价周期类型 -->
		<option name="AccountValueCycleType">
			<validators />
			<operators />
		</option>
		<!-- 计价周期 -->
		<option name="AccountValueCycle">
			<validators />
			<operators />
		</option>
		<!-- 考虑成本率 -->
		<option name="MRPOprationWithProductRate">
			<validators />
			<operators />
		</option>
		<!-- 考虑损耗率 -->
		<option name="MRPOprationWithShrinkageRate">
			<validators />
			<operators />
		</option>
		<!-- MRP累计下达数量允许超建议量 -->
		<option name="IsMRPAcquireNumOvertopAdvice">
			<validators />
			<operators />
		</option>
		<!-- 产成品入库控制 -->
		<option name="ProductInceptControl">
			<validators />
			<operators />
		</option>
		<!-- 产成品入库控制范围 -->
		<option name="ProductInceptControlBound">
			<validators />
			<operators />
		</option>
		<!-- 产成品入库控制方式 -->
		<option name="ProductInceptControlType">
			<validators />
			<operators />
		</option>
		<!-- 产成品入库控制密码 -->
		<option name="ProductInceptControlPwd">
			<validators />
			<operators />
		</option>
		<!-- 委外价格控制 -->
		<option name="IsConsignTiptopPriceControl">
			<validators />
			<operators />
		</option>
		<!-- 委外价格控制方式 -->
		<option name="ConsignTiptopPriceControlType">
			<validators />
			<operators />
		</option>
		<!-- 委外价格控制密码 -->
		<option name="ConsignTiptopPriceControlPwd">
			<validators />
			<operators />
		</option>
		<!-- 成本计算方式 -->
		<option name="CostCalculateType">
			<validators />
			<operators />
		</option>
		<!-- 在产品成本分配方式（原材料） -->
		<option name="WIPCostAllocationTypeMaterial">
			<validators />
			<operators />
		</option>
		<!-- 在产品成本分配方式（费用） -->
		<option name="WIPCostAllocationTypeCharges">
			<validators />
			<operators />
		</option>
		<!-- 工序日报严格按工序流程控制 -->
		<option name="IsManuControlByProcess">
			<validators />
			<operators />
		</option>
		<!-- 控制范围 -->
		<option name="IsManuProcessControlRange">
			<validators />
			<operators />
		</option>
		<!-- 控制方式 -->
		<option name="IsManuProcessControlType">
			<validators />
			<operators />
		</option>
		<!-- 控制密码 -->
		<option name="IsManuProcessControlTypePwd">
			<validators />
			<operators />
		</option>
		<!-- 材料超计划领用 -->
		<option name="IsMaterialDrawExceedPlan">
			<validators />
			<operators />
		</option>
		<!-- 材料超计划领用控制方式 -->
		<option name="MaterialDrawControlType">
			<validators />
			<operators />
		</option>
		<!-- 材料超计划领用控制密码 -->
		<option name="MaterialDrawControlTypePwd">
			<validators />
			<operators />
		</option>
		<!-- 制单序时控制 -->
		<option name="IsControlWhenGenerateDoc">
			<validators />
			<operators />
		</option>
		<!-- 现金流量必录 -->
		<option name="IsCashFlowMustInput">
			<validators />
			<operators />
		</option>
		<!-- 制单人与审核人可为同一人 -->
		<option name="CanMakerIsAuditor">
			<validators />
			<operators />
		</option>
		<!-- 科目编码级次 -->
		<option name="AccountCodingLevel">
			<validators />
			<operators />
		</option>
		<!-- 凭证需审核才可记账 -->
		<option name="IsBookkeepOnlyWhenVoucherAudit">
			<validators />
			<operators />
		</option>
		<!-- 出纳凭证必须经由出纳签字 -->
		<option name="IsPayOnlyWhenCashierSignature">
			<validators />
			<operators />
		</option>
		<!-- 凭证必须经由主管签字 -->
		<option name="IsVoucherNeedSupervisorSign">
			<validators />
			<operators />
		</option>
		<!-- 资金及往来赤字控制 -->
		<option name="IsControlCapAndARAPDeficit">
			<validators />
			<operators />
		</option>
		<!-- 资金及往来赤字控制方式 -->
		<option name="IsControlCapAndARAPDeficitMode">
			<validators />
			<operators />
		</option>
		<!-- 支票是否自动核对 -->
		<option name="IsCheckAutoCheck">
			<validators />
			<operators />
		</option>
		<!-- 手工录入 -->
		<option name="IsManualInputData">
			<validators />
			<operators />
		</option>
		<!-- 引自业务数据 -->
		<option name="IsFromBusinessData">
			<validators />
			<operators />
		</option>
		<!-- 所得税汇算申报类型 -->
		<option name="IncomeTaxCalculateType">
			<validators />
			<operators />
		</option>
		<!-- 税务核算处理方式 -->
		<option name="TaxAccrualProcessingType">
			<validators />
			<operators />
		</option>
	</AccountOptions>
	<!--单据审核后置操作处理器配置-->
	<VoucherAudit>
		<Processors>
			<Processor isLoad="true" className="Ufida.T.UA.SA.VoucherTypeSetting.SAAuditProcessor" moduleName="SA" loadFrom="server\Ufida.T.UA.SA.dll" />
		</Processors>
	</VoucherAudit>
	<!--期末处理处理器配置-->
	<ClosingProcess>
		<Processors>
			<Processor isLoad="true" className="Ufida.T.UA.SA.TerminalProcess.SATerminalProcessor" moduleName="SA" description="SATerminalProcessing" loadFrom="server\Ufida.T.UA.SA.dll" />
		</Processors>
		<UnProcessors>
			<UnProcessor isLoad="true" className="Ufida.T.UA.SA.TerminalProcess.SAUnTerminalProcessor" moduleName="SA" description="SAUnTerminalProcessing" loadFrom="server\Ufida.T.UA.SA.dll" />
		</UnProcessors>
	</ClosingProcess>
	<!-- 财务期末结账 -->
	<FITerminalProcessors>
		<Processors>
		</Processors>
		<UnProcessors>
		</UnProcessors>
	</FITerminalProcessors>
	<!--期间结转处理器配置-->
	<CarryForward>
		<Processors>
			<Processor isLoad="true" className="Ufida.T.UA.SA.CarryForward.SAForwardProcessor" moduleName="SA" description="SAIsCarryForwarding" loadFrom="server\Ufida.T.UA.SA.dll" />
		</Processors>
	</CarryForward>


	<!--版本控制处理器配置-->
	<VersionControl>
		<Versions>
			<!--仓管通-->
			<Version name="CGTStd">
				<Processors>
					<!--销售模块-->
					<processor isLoad="true" className="Ufida.T.UA.SA.VersionControl.SA_CGT_VersionControlProcessor" moduleName="SA" loadFrom="server\Ufida.T.UA.SA.dll" />
				</Processors>
			</Version>
			<!--业务通标准版-->
			<Version name="YWTStd">
				<Processors>
				</Processors>
			</Version>
			<!--业务通专业版-->
			<Version name="YWTPro">
				<Processors>
					<!--销售模块-->
					<processor isLoad="true" className="Ufida.T.UA.SA.VersionControl.SA_YWTPro_VersionControlProcessor" moduleName="SA" loadFrom="server\Ufida.T.UA.SA.dll" />
				</Processors>
			</Version>
			<!--工贸通标准版-->
			<Version name="GMTStd">
				<Processors>
				</Processors>
			</Version>
			<!--工贸通专业版-->
			<Version name="GMTPro">
				<Processors>
				</Processors>
			</Version>
			<!--财务通标准版-->
			<Version name="CWTStd">
				<Processors>
				</Processors>
			</Version>
			<!--财务通专业版-->
			<Version name="CWTPro">
				<Processors>
					<!--销售模块-->
					<processor isLoad="true" className="Ufida.T.UA.SA.VersionControl.SA_CWTPro_VersionControlProcessor" moduleName="SA" loadFrom="server\Ufida.T.UA.SA.dll" />
				</Processors>
			</Version>
			<!--用友通专业版-->
			<Version name="YYTPro">
				<Processors>
				</Processors>
			</Version>
		</Versions>
	</VersionControl>


	<!--单据期间结转处理类配置-->
	<VoucherCarryForwards>
		<!--销售模块-->
		<VoucherCarryForward isLoad="true" Code="SA01" Name="报价单" Type="Ufida.T.UA.SA.CarryForward.SaleQuotationCarryForward" loadFrom="server\Ufida.T.UA.SA.dll" />
		<VoucherCarryForward isLoad="true" Code="SA03" Name="销售订单" Type="Ufida.T.UA.SA.CarryForward.SaleOrderCarryForward" loadFrom="server\Ufida.T.UA.SA.dll" />
		<VoucherCarryForward isLoad="true" Code="SA04" Name="销货单" Type="Ufida.T.UA.SA.CarryForward.SaleDeliveryCarryForward" loadFrom="server\Ufida.T.UA.SA.dll"/>
		<VoucherCarryForward isLoad="true" Code="SA05" Name="销售发票" Type="Ufida.T.UA.SA.CarryForward.SaleInvoiceCarryForward" loadFrom="server\Ufida.T.UA.SA.dll"/>
		<VoucherCarryForward isLoad="true" Code="SA08" Name="销售费用分摊单" Type="Ufida.T.UA.SA.CarryForward.SaleExpenseAllocationCarryForward" loadFrom="server\Ufida.T.UA.SA.dll"/>
		<VoucherCarryForward isLoad="true" Code="SAAcc001" Name="信用" Type="Ufida.T.UA.SA.CarryForward.CreditOccupancyCarryForwardBP" loadFrom="server\Ufida.T.UA.SA.dll"/>
	</VoucherCarryForwards>
	<!--页面前置校验处理-->
	<PagePreCondition>
		<PagePreConditions>
			<!--单据校验-->
			<!--基础档案-->
			<PagePreCondition Code="SA01" Name="报价单" Url="BAPView/Voucher.aspx?mId=SA01&amp;sysId=SA&amp;pId=voucherView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="SA03" Name="销售订单" Url="BAPView/Voucher.aspx?mId=SA03&amp;sysId=SA&amp;pId=voucherView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="SA04" Name="销货单" Url="BAPView/Voucher.aspx?mId=SA04&amp;sysId=SA&amp;pId=voucherView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="SA05" Name="销售发票" Url="BAPView/Voucher.aspx?mId=SA05&amp;sysId=SA&amp;pId=voucherView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="SA08" Name="销售费用分摊单" Url="SA/SaleExpenseAllocation/SaleExpenseAllocationEdit.aspx" Type="Ufida.T.UA.SA.PagePreCondition.SaleExpenseAllocationPreCondition" loadFrom="server\Ufida.T.UA.SA.dll" />
			<PagePreCondition Code="SA5003" Name="毛利预估" Url="SA/FutureGrossProfitVoucher/FutureGrossProfitVoucherEdit.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="SA10" Name="防伪税控接口" Url="SA/SaleInvoice/ExportSaleInvoiceList.aspx" Type="Ufida.T.UA.SA.PagePreCondition.ExportSaleInvoicePreCondition" loadFrom="server\Ufida.T.UA.SA.dll" />
			<PagePreCondition Code="SA02" Name="预测单" Url="BAPView/Voucher.aspx?mId=mp01&amp;sysId=mp&amp;pId=voucherView&amp;SourceType=FromMenu&amp;SourceMenu=sa" Type="Ufida.T.UA.MP.SM.PagePreCondition.MPPreConditonForIntendSaleOrder" loadFrom="server\Ufida.T.UA.MP.dll"  />
			<PagePreCondition Code="SAOrderSearch" Name="销售订单查询" Url="UA/CommonPage/AssociateSaleOrder.aspx" Type="Ufida.T.UA.SA.PagePreCondition.AssociateSaleOrderPreCondition" loadFrom="server\Ufida.T.UA.SA.dll"  />
			<PagePreCondition Code="SYS0921" Name="期初销货单" Url="BAPView/Voucher.aspx?mId=SYS0921&amp;sysId=SA&amp;pId=voucherView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="AA5020" Name="销售价格查询" Url="SA/SalePriceQuery/SalePriceDetailRpt.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
			<PagePreCondition Code="SA8016" Name="销售订单跟踪工具" Url="SA/Report/SaleOrderTraceTool/SaleOrderTrace.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
			<PagePreCondition Code="SA90" Name="销售比价工具" Url="PM/PriceComparisonTool.aspx?type=sale" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
			<!--其他处理-->
		</PagePreConditions>
		<Reports>
			<!-- 销售报表 -->
			<Report ReportName="SA_CustomerCreditQueryRpt" Code="SA15" title="信用查询" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=SA_CustomerCreditQueryRpt" />

			<Report ReportName="SA_SaleOrderDetailRpt" Code="SA4001" title="销售订单明细表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=SA_SaleOrderDetailRpt" />
			<Report ReportName="SA_SaleDeliveryDetailRpt" Code="SA4002" title="销货单明细表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=SA_SaleDeliveryDetailRpt" />
			<Report ReportName="SA_PriceFluctuationRpt" Code="AA5031" title="销售价格波动分析表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=SA_PriceFluctuationRpt" />
			<Report ReportName="SA_SaleInvoiceDetailRpt" Code="SA4010" title="销货发票明细表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=SA_SaleInvoiceDetailRpt" />
			<Report ReportName="SA_SaleQuotationDetailRPT" Code="SA4000" title="报价单明细表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=SA_SaleQuotationDetailRPT" />
			<Report ReportName="SA_SaleOrderSumRpt" Code="SA6001" title="销售订单统计表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=SA_SaleOrderSumRpt" />
			<Report ReportName="SA_SaleDeliverySumRpt" Code="SA6002" title="销货单统计表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=SA_SaleDeliverySumRpt" />
			<Report ReportName="SA_SaleInvoiceSumRpt" Code="SA6010" title="销货发票统计表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=SA_SaleInvoiceSumRpt" />
			<Report ReportName="SA_SaleSumAnalysisRpt" Code="SA6041" title="销售综合统计分析表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=SA_SaleSumAnalysisRpt" />
			<Report ReportName="SA_SaleQuotationSumRPT" Code="SA6000" title="报价单统计表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=SA_SaleQuotationSumRPT" />
			<Report ReportName="SA_GrossProfitAnalysisRpt" Code="SA6031" title="销售毛利分析表" Type="Ufida.T.UA.SA.PagePreCondition.StoctInventoryGrossProfitEstimateRptPreCondition" loadFrom="server\Ufida.T.UA.SA.dll" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=SA_GrossProfitAnalysisRpt" />
			<Report ReportName="SA_PurchaseSaleStockSumRpt" Code="SA6051" title="进销存统计表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=SA_PurchaseSaleStockSumRpt" />
			<Report ReportName="SA_SaleOrderRankRpt" Code="SA6061" title="销售排行榜" Type="Ufida.T.UA.SA.PagePreCondition.StoctInventoryGrossProfitEstimateRptPreCondition" loadFrom="server\Ufida.T.UA.SA.dll" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=SA_SaleOrderRankRpt" />

			<Report ReportName="SA_SalesComprehensiveRankRpt" Code="SA6066" title=" 商品销售综合排行榜" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=SA_SalesComprehensiveRankRpt" />
			<Report ReportName="SA_SaleDispatchBilledExecuteRpt" Code="SA8001" title="销售出库开单执行表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=SA_SaleDispatchBilledExecuteRpt" />
			<Report ReportName="SA_SaleOrderExecuteRpt" Code="SA8006" title="销售订单执行表"  Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=SA_SaleOrderExecuteRpt" />
			<Report ReportName="SA_SaleDeliveryExecuteRpt" Code="SA8007" title="销货单执行表"  Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=SA_SaleDeliveryExecuteRpt" />
			<Report ReportName="SA_SaleOrderPurchaseExecuteSumRpt" Code="SA8015" title="销售订单采购执行统计表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=SA_SaleOrderPurchaseExecuteSumRpt" />
			<Report ReportName="SA_SaleOrderPurManuExecuteRPT" Code="SA8015" title="销售订单采购生产执行统计表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=SA_SaleOrderPurManuExecuteRPT" />
			
			<Report ReportName="AA_StoctInventoryGrossProfitEstimateRpt" Code="AA5040" title="库存存货毛利预估表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=AA_StoctInventoryGrossProfitEstimateRpt" Type="Ufida.T.UA.SA.PagePreCondition.StoctInventoryGrossProfitEstimateRptPreCondition" loadFrom="server\Ufida.T.UA.SA.dll" />
			<Report ReportName="SA_SaleInvoiceExecuteRpt" Code="SA8009" title="销货发票收款执行表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=SA_SaleInvoiceExecuteRPT" />

			<Report ReportName="MP_IntendSaleOrderDetailRpt" Code="SA4003" title="预测单明细表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=MP_IntendSaleOrderDetailRpt" />
			<Report ReportName="MP_IntendSaleOrderSumRpt" Code="SA6003" title="预测单统计表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=MP_IntendSaleOrderSumRpt" />
			<Report ReportName="MP_IntendSaleOrderExecuteRpt" Code="SA8012" title="预测单执行表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=MP_IntendSaleOrderExecuteRpt" />
			<Report ReportName="SA_InOutTaxContrastQueryRpt" Code="SA8088" title="进销项税对比查询表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=SA_InOutTaxContrastQueryRpt" />

		</Reports>
	</PagePreCondition>
	<!--消息中心-->
	<MessageCenter>
		<!--构建数据-->
		<ConstituteData>
			<!--单据消息设置-->
			<Module name="VoucherMessage">
				<Option name="SA08" isDetailOption ="false">
					<add key="assemblyName" className="Ufida.T.SA.Service.SaleExpenseAllocationService" classLoadFrom="server\Ufida.T.SA.Service.dll" dtoName="Ufida.T.SA.DTO.SaleExpenseAllocationDTO" dtoLoadFrom="server\Ufida.T.SA.DTO.dll" detailDTOName="Ufida.T.SA.DTO.SaleExpenseAllocationDetailDTO"></add>
					<add key="methodName" findDTOList="FindListForMessages" findDTOByID="FindById" findDetailDTO="" doReceiptMethod=" " getUFTableMethod="FindTable" getDetailUFTableMethod=""></add>
				</Option>
				<Option name="SA01" >
					<add key="assemblyName" className="Ufida.T.SA.Service.SaleQuotationService" classLoadFrom="server\Ufida.T.SA.Service.dll" dtoName="Ufida.T.SA.DTO.SaleQuotationDTO" dtoLoadFrom="server\Ufida.T.SA.DTO.dll" detailDTOName="Ufida.T.SA.DTO.SaleQuotationDTO"></add>
					<add key="methodName" findDTOList="FindListForMessages" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"  getMemberInfo="getMemberInfo"></add>
				</Option>
				<Option name="SA03" >
					<add key="assemblyName" className="Ufida.T.SA.Service.SaleOrderService" classLoadFrom="server\Ufida.T.SA.Service.dll" dtoName="Ufida.T.SA.DTO.SaleOrderDTO" dtoLoadFrom="server\Ufida.T.SA.DTO.dll" detailDTOName="Ufida.T.SA.DTO.SaleOrderDetailDTO"></add>
					<add key="methodName" findDTOList="FindListForMessages" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"  getMemberInfo="getMemberInfo"></add>
				</Option>
				<Option name="SA04" >
					<add key="assemblyName" className="Ufida.T.SA.Service.SaleDeliveryService" classLoadFrom="server\Ufida.T.SA.Service.dll" dtoName="Ufida.T.SA.DTO.SaleDeliveryDTO" dtoLoadFrom="server\Ufida.T.SA.DTO.dll" detailDTOName="Ufida.T.SA.DTO.SaleDeliveryDetailDTO"></add>
					<add key="methodName" findDTOList="FindListForMessages" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"  getMemberInfo="getMemberInfo"></add>
				</Option>
				<Option name="SA05" >
					<add key="assemblyName" className="Ufida.T.SA.Service.SaleInvoiceService" classLoadFrom="server\Ufida.T.SA.Service.dll" dtoName="Ufida.T.SA.DTO.SaleInvoiceDTO" dtoLoadFrom="server\Ufida.T.SA.DTO.dll" detailDTOName="Ufida.T.SA.DTO.SaleInvoiceDTO"></add>
					<add key="methodName" findDTOList="FindListForMessages" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"  getMemberInfo="getMemberInfo"></add>
				</Option>
				<Option name="SYS0921" >
					<add key="assemblyName" className="Ufida.T.SA.Service.SaleDeliveryService" classLoadFrom="server\Ufida.T.SA.Service.dll" dtoName="Ufida.T.SA.DTO.SaleDeliveryDTO" dtoLoadFrom="server\Ufida.T.SA.DTO.dll" detailDTOName="Ufida.T.SA.DTO.SaleDeliveryDetailDTO"></add>
					<add key="methodName" findDTOList="FindListForMessages" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
				</Option>
				<Option name="MP01" >
					<add key="assemblyName" className="Ufida.T.MP.Service.IntendSaleOrderService" classLoadFrom="server\Ufida.T.MP.Service.dll" dtoName="" dtoLoadFrom="" detailDTOName=""></add>
					<add key="methodName" findDTOList="FindListWithDetail" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
				</Option>
				<!--<Option><Instance className="类名" loadFrom="程序集"/>需要实现基类</Option>-->
			</Module>
		</ConstituteData>
	</MessageCenter>
  <!--账套管理-->
  <AccountManage>
    <AccountClear>
      <concreteOperator isLoad="true" className="Ufida.T.UA.SA.AccountOption.SAClearOperator" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
    </AccountClear>
  </AccountManage>
  <SQLWhereHandlerSettings>
	 <add key="SA_SaleOrderList" className="Ufida.T.SA.Report.Service.SASqlHelper" methodName="GetPromotionSearchSql" loadFrom="server\Ufida.T.SA.Report.Service.dll"/>
	 <add key="SA_SaleDeliveryList" className="Ufida.T.SA.Report.Service.SASqlHelper" methodName="GetPromotionSearchSql" loadFrom="server\Ufida.T.SA.Report.Service.dll"/>
	 <add key="SA_SaleQuotationVoucherList" className="Ufida.T.SA.Report.Service.SASqlHelper" methodName="GetPromotionSearchSql" loadFrom="server\Ufida.T.SA.Report.Service.dll"/>
	 <add key="SA_SaleInvoiceList" className="Ufida.T.SA.Report.Service.SASqlHelper" methodName="GetPromotionSearchSql" loadFrom="server\Ufida.T.SA.Report.Service.dll"/>
  </SQLWhereHandlerSettings>
</Config>