<?xml version="1.0" encoding="utf-8"?>
<!--

//======================================================================
//
//        Copyright (C) UFIDA    
//        All rights reserved
//
//        
//        description :系统管理下 删除对象时 后置操作注册文件 
//
//					   配置文件支持热部署，修改不用重新Server 即时生效
//
//        created by fengyana at  2012-12-14 15:26
//
//======================================================================
-->
<Config>


  <!--删除后置注册-->
  <DeleteDTO>
    <!--删除用户后置-->
    <option name="User">
      <operators>

        <!-- 
		parameterMode   参数模式 可选值及意义 如下
						DTO 传入对应的DTO类型 例如 删除用户时 传入 UserDTO
						DTOOBJECT 将DTO包装成OBJECT
						ID 传入ID值 string 类型 
						IDObject 将ID包装成OBJECT传入
						none 不传入参数
		method方法      支持 静态和非静态方法 会自动根据 参数类型去调用相应方法
		-->


        <!--删除内部消息-->
        <concreteOperator
                              className="Ufida.T.EAP.MessageCenter.Service.MessageCenterServiceImpl"
                              loadFrom="server\Ufida.T.EAP.MessageCenter.Service.dll"
                              methodName="DeleteMessageByUser"
                              parameterMode="ID"/>
        <!--删除个人权限配置信息-->
        <concreteOperator
                          className="Ufida.T.EAP.Privilege.BE.AuthControl"
                          loadFrom="server\Ufida.T.EAP.Privilege.BE.dll"
                          methodName="DeleteUser"
                          parameterMode="ID"/>
        <!--删除个人ColumnSet配置信息-->
        <concreteOperator
                          className="Ufida.T.EAP.Services.ColumnSetService"
                          loadFrom="server\Ufida.T.EAP.ColumnSet.Service.dll"
                          methodName="DeleteUserColumnSet"
                          parameterMode="DTO"/>

        <!--删除个人报表方案及相关信息-->
        <concreteOperator
                          className="Ufida.T.EAP.Report.Services.ReportService"
                          loadFrom="server\Ufida.T.EAP.Report.Service.dll"
                          methodName="DeleteReportUserSolutionByUserID"
                          parameterMode="ID"/>

        <!--删除用户时基础档案相关处理-->
        <concreteOperator
                          className="Ufida.T.BAP.BusinessApplication.PagingService"
                          loadFrom="server\Ufida.T.BAP.BusinessApplication.dll"
                          methodName="AfterUserDeleted"
                          parameterMode="ID"/>
      </operators>
    </option>

 <!--删除用户前置-->
    <option name="UserBefore">
      <operators>

        <!-- 
		parameterMode   参数模式 可选值及意义 如下
						DTO 传入对应的DTO类型 例如 删除用户时 传入 UserDTO
						DTOOBJECT 将DTO包装成OBJECT
						ID 传入ID值 string 类型 
						IDObject 将ID包装成OBJECT传入
						none 不传入参数
		method方法      支持 静态和非静态方法 会自动根据 参数类型去调用相应方法
		                method方法注意：返回类型必须为 string 空或null代表 允许删除用户  其他字符串代表 不可删除 并会将字符串提示到前台用户
		-->


        <!--删除用户前置验证示例 配置
        <concreteOperator
                              className="Ufida.T.EAP.Privilege.Service.TestService"
                              loadFrom="server\Ufida.T.EAP.Privilege.Service.dll"
                              methodName="CanDelUser"
                              parameterMode="ID"/>
							  -->
		 <!--删除用户时检查用户是否审核了凭证  娄东生--> 
         <concreteOperator
           className="Ufida.T.GL.Service.Pub.UserDeleteBeforeService"
           loadFrom="server\Ufida.T.GL.Service.dll"
           methodName="CanDelUser"
           parameterMode="ID"/>
      </operators>
    </option>
    
  </DeleteDTO>

</Config>