<?xml version="1.0" encoding="utf-8"?>
<Config>
  <!--功能启用前置校验和后置操作-->
  <FunctionEnable>
    <!--普及进销存-->
    <option name="StdIERP">
      <!--<validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.Validator.StdIERPValidator" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM" />
      </validators>-->
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.SMStdIERPOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.InitNavigationManager" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
	<concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.PrivilegeFunctionEnableOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
      </operators>
    </option>    
    <!--库存核算-->
    <option name="Stock">
      <!--<validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.Validator.StockValidator" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM" />
      </validators>-->
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.SMStockOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.InitNavigationManager" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
	<concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.PrivilegeFunctionEnableOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
      </operators>
    </option>
    <!--购销管理-->
    <option name="PS">
      <!--<validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.Validator.PSValidator" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM" />
      </validators>-->
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.SMPSOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.InitNavigationManager" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
	<concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.PrivilegeFunctionEnableOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
      </operators>
    </option>
    <!--购销管理-->
    <option name="CashBankMoneyFlow">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.SMCashBankMoneyFlowOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.InitNavigationManager" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
	<concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.PrivilegeFunctionEnableOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
      </operators>
    </option>
    <!--自制加工-->
    <option name="Manufacture">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.SMManufactureOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.InitNavigationManager" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
	<concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.PrivilegeFunctionEnableOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
      </operators>
    </option>
    <!--委外加工-->
    <option name="ConsignManufacture">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.SMConsignManufactureOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.InitNavigationManager" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
	<concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.PrivilegeFunctionEnableOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
      </operators>
    </option>
    <!--成本核算-->
    <option name="Costing">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.SMCostingOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.InitNavigationManager" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
	<concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.PrivilegeFunctionEnableOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
      </operators>
    </option>
    <!--MRP运算-->
    <option name="MRP">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.SMMRPOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.InitNavigationManager" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
	<concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.PrivilegeFunctionEnableOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
      </operators>
    </option>
    <!--工序管理-->
    <option name="Process">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.SMProcessOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.InitNavigationManager" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
	<concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.PrivilegeFunctionEnableOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
      </operators>
    </option>
    <!--普及账表-->
    <option name="StdAccount">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.SMStdAccountOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.InitNavigationManager" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
	<concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.PrivilegeFunctionEnableOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
      </operators>
    </option>

    <!--总账-->
    <option name="Ledger">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.SMLedgerOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>        
      </operators>      
    </option>

    <!--TUFO-->
    <option name="TUFO">
	  <validators>
		<!--验证TUFO有数据不允许反启用-->
        <concreteValidator isLoad="true" className="Ufida.T.EAP.FormReport.FunctionEnable.TUFOValidator" loadFrom="server\Ufida.T.EAP.FormReport.FunctionEnable.dll" moduleName="SM"/>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.SMTUFOOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
      </operators>
    </option>
    
    <!--专业账表-->
    <option name="ProAccount">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.SMProAccountOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.InitNavigationManager" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
	<concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.PrivilegeFunctionEnableOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
      </operators>
    </option>
    <!--现金银行-出纳-->
    <option name="CS">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.SMCSOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.InitNavigationManager" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
	<concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.PrivilegeFunctionEnableOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
      </operators>
    </option>
    <!--票据打印-->
    <option name="DocPrint">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.SMDocPrintOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.InitNavigationManager" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
	<concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.PrivilegeFunctionEnableOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
      </operators>
    </option>
    <!--税务核算与申报-->
    <option name="TaxAccrual">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.SMTaxAccrualOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.InitNavigationManager" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
	<concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.PrivilegeFunctionEnableOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
      </operators>
    </option>
    <!--所得税汇算-->
    <option name="IncomeTaxSettlement">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.SMIncomeTaxSettlementOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.InitNavigationManager" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
	<concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.PrivilegeFunctionEnableOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
      </operators>
    </option>
    <!--会员管理-->
    <option name="Member">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.SMMemberOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.InitNavigationManager" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.PrivilegeFunctionEnableOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
      </operators>
    </option>
    <!--零售管理-->
    <option name="Retail">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.SMRetailOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.InitNavigationManager" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.PrivilegeFunctionEnableOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
      </operators>
    </option>
    <!--分销管理-->
    <option name="Distribution">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.SMDistributionOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.InitNavigationManager" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.PrivilegeFunctionEnableOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
      </operators>
    </option>
    <!--资产管理-->
    <option name="Asset">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.SMAssetOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.InitNavigationManager" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.PrivilegeFunctionEnableOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
      </operators>
    </option>
    <!--网店管理-->
    <option name="NetShop">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.SMNetShopOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.InitNavigationManager" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.PrivilegeFunctionEnableOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
      </operators>
    </option>
    <!--总体控制-->
    <option name="All">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.FunctionEnable.SMAllOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
      </operators>
    </option>
  </FunctionEnable>

  <!--会计期间前置校验-->
  <PeriodSettings>
    <!--前置校验-->
    <validators>
      <concreteValidator isLoad="false" className="Ufida.T.UA.SM.PeriodSetting.FunctionEnableValidate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteValidator>
    </validators>
  </PeriodSettings>

  <!--账套选项前置校验和后置操作类配置-->
  <AccountOptions>
    <!--启用、反启用审批流-->
    <option name="App_chanjet_ApprovalFlow">
      <validators>
        <summaryValidator isLoad="true" className="Ufida.T.UA.SM.AccountOption.Validator.SMWorkFlowValidator" loadFrom="server\Ufida.T.UA.SM.dll" />
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.AccountOption.Operate.SMWorkFlowOperator" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM" />
      </operators>
    </option>
    <!--启用营销机构-->
    <option name="IsMultiMarketing">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.AccountOption.SMIsMultiMarketingOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM" />
     </operators>
    </option>
    
    <!--启用加盟店：和启用多营销机构走的是一个后置-->
    <option name="APP_Chanjet_Franchise">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.AccountOption.SMIsMultiMarketingOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM" />
     </operators>
    </option>
    
    <!-- 多币种 -->
    <option name="IsMultiCurrency">
      <validators>
        <summaryValidator isLoad="true" className="Ufida.T.BAP.BusinessApplication.AccountOption.TrueTOFalseValidators" loadFrom="" />
      </validators>
      <operators>
        <summaryOperator className="Ufida.T.BAP.BusinessApplication.AccountOption.ChangeDoOperations" loadFrom="" />
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.AccountOption.Operate.SMIsMultiCurrencyOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM" />
      </operators>
    </option>
	  <!--按最高最低库存 -->
	  <option name="MaxMinSecurityWarehouse">
		  <operators>
			  <concreteOperator isLoad="true" className="Ufida.T.UA.AA.AccountOption.AAInventoryWareHouseOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="SM" />

		  </operators>
	  </option>


	  <!-- 存货批号管理 -->
    <option name="IsBatchNumberManage">
      <validators>
        <summaryValidator isLoad="true" className="Ufida.T.BAP.BusinessApplication.AccountOption.TrueTOFalseValidators" loadFrom="" />
      </validators>
      <operators>
        <summaryOperator className="Ufida.T.BAP.BusinessApplication.AccountOption.GeneralOperations" loadFrom="" />

      </operators>
    </option>
    <!-- 存货有效期管理 -->
    <option name="IsQualityPeriodManage">
      <validators>
        <summaryValidator isLoad="true" className="Ufida.T.BAP.BusinessApplication.AccountOption.TrueTOFalseValidators" loadFrom="" />
      </validators>
      <operators>
        <summaryOperator className="Ufida.T.BAP.BusinessApplication.AccountOption.GeneralOperations" loadFrom="" />
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.AccountOption.SMIsQualityPeriodManageOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM" />
      </operators>
    </option>
    <!-- 货位管理 -->
    <option name="IsInvLocationManage">
      <validators>
        <summaryValidator isLoad="true" className="Ufida.T.BAP.BusinessApplication.AccountOption.TrueTOFalseValidators" loadFrom="" />
      </validators>
      <operators>
        <summaryOperator className="Ufida.T.BAP.BusinessApplication.AccountOption.GeneralOperations" loadFrom="" />
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.AccountOption.Operate.SMIsInvLocationManageOprerate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM"></concreteOperator>
      </operators>
    </option>
    <!-- 委外加工 -->
    <option name="IsMadeByOthers">
      <validators>
        <summaryValidator isLoad="true" className="Ufida.T.BAP.BusinessApplication.AccountOption.TrueTOFalseValidators" loadFrom="" />
      </validators>
      <operators>
        <summaryOperator className="Ufida.T.BAP.BusinessApplication.AccountOption.GeneralOperations" loadFrom="" />
      </operators>
    </option>
    <!-- 数量小数位 -->
    <option name="QuantityPrecision">
      <validators>
        <summaryValidator isLoad="true" className="Ufida.T.BAP.BusinessApplication.AccountOption.BigToSmallValidators" loadFrom="" />
      </validators>
      <operators>
        <summaryOperator className="Ufida.T.BAP.BusinessApplication.AccountOption.GeneralOperations" loadFrom="" />
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.AccountOption.Operate.SMQuantityPrecisionOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM" />
      </operators>
    </option>
    <!-- 单价小数位 -->
    <option name="PricePrecision">
      <validators>
        <summaryValidator isLoad="true" className="Ufida.T.BAP.BusinessApplication.AccountOption.GeneralValidators" loadFrom="" />
      </validators>
      <operators>
        <summaryOperator className="Ufida.T.BAP.BusinessApplication.AccountOption.GeneralOperations" loadFrom="" />
      </operators>
    </option>
    <!-- 发票单价小数位 -->
    <option name="InvoicePricePrecision">
      <validators>
        <summaryValidator isLoad="true" className="Ufida.T.BAP.BusinessApplication.AccountOption.NumFourteenValidators" loadFrom="" />
      </validators>
      <operators>
        <summaryOperator className="Ufida.T.BAP.BusinessApplication.AccountOption.GeneralOperations" loadFrom="" />
      </operators>
    </option>
    <!-- 汇率小数位 -->
    <option name="ExchangeRatePrecision">
      <validators>
        <summaryValidator isLoad="true" className="Ufida.T.BAP.BusinessApplication.AccountOption.NumEightValidators" loadFrom="" />
      </validators>
      <operators>
        <summaryOperator className="Ufida.T.BAP.BusinessApplication.AccountOption.GeneralOperations" loadFrom="" />
      </operators>
    </option>
    <!-- 换算率小数位 -->
    <option name="ProportionRatePrecision">
      <validators>
        <summaryValidator isLoad="true" className="Ufida.T.BAP.BusinessApplication.AccountOption.BigToSmallValidators" loadFrom="" />
      </validators>
      <operators>
        <summaryOperator className="Ufida.T.BAP.BusinessApplication.AccountOption.GeneralOperations" loadFrom="" />
      </operators>
    </option>
    <!-- 批号和计价法联用 -->
    <option name="IsBatchNumberWithPriceMode">
      <validators>
        <summaryValidator isLoad="true" className="Ufida.T.BAP.BusinessApplication.AccountOption.GeneralValidators" loadFrom="" />
      </validators>
      <operators>
        <summaryOperator className="Ufida.T.BAP.BusinessApplication.AccountOption.GeneralOperations" loadFrom="" />
      </operators>
    </option>
    <!-- 计价模式 -->
    <option name="PriceMode">
      <validators>
        <summaryValidator isLoad="true" className="Ufida.T.BAP.BusinessApplication.AccountOption.GeneralValidators" loadFrom="" />
      </validators>
      <operators>
        <summaryOperator className="Ufida.T.BAP.BusinessApplication.AccountOption.GeneralOperations" loadFrom="" />
      </operators>
    </option>
    <!-- 暂估处理方式 -->
    <option name="TemporayEstimateMode">
      <validators>
        <summaryValidator isLoad="true" className="Ufida.T.BAP.BusinessApplication.AccountOption.GeneralValidators" loadFrom="" />
      </validators>
      <operators>
        <summaryOperator className="Ufida.T.BAP.BusinessApplication.AccountOption.GeneralOperations" loadFrom="" />
      </operators>
    </option>
    <!-- 计价时机 -->
    <option name="PriceOpportunity">
      <validators>
        <summaryValidator isLoad="true" className="Ufida.T.BAP.BusinessApplication.AccountOption.ChangeToZeroDoValidators" loadFrom="" />
      </validators>
    </option>
    <!-- 销售流程 -->
    <option name="SAWorkflow">
      <operators>
        <summaryOperator className="Ufida.T.BAP.BusinessApplication.AccountOption.GeneralOperations" loadFrom="" />
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.AccountOption.SMSAWorkflowOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM" />
      </operators>
    </option>
    <!-- 采购流程 -->
    <option name="PUWorkflow">
      <operators>
        <summaryOperator className="Ufida.T.BAP.BusinessApplication.AccountOption.GeneralOperations" loadFrom="" />
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.AccountOption.SMPUWorkflowOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM" />
      </operators>
    </option>
    <!-- 进货单自动生成入库单 -->
    <option name="IsPurchaseOrderAutoStockOrder">
      <operators>
        <summaryOperator className="Ufida.T.BAP.BusinessApplication.AccountOption.GeneralOperations" loadFrom="" />
      </operators>
    </option>
    <!-- 销货单自动生成出库单 -->
    <option name="IsDeliveryOrderAutoStockOrder">
      <operators>
        <summaryOperator className="Ufida.T.BAP.BusinessApplication.AccountOption.GeneralOperations" loadFrom="" />
      </operators>
    </option>
    <!-- 是否已经有货品使用了多计量 -->
    <option name="HaveUsedMultiUnit">
      <operators>
        <summaryOperator className="Ufida.T.BAP.BusinessApplication.AccountOption.GeneralOperations" loadFrom="" />
      </operators>
    </option>
    <!-- 存货分类管理 -->
    <option name="IsInventoryClass">
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.SM.AccountOption.Validator.SMIsInventoryClassValidator" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM" />
      </validators>
      <operators>
        <summaryOperator className="Ufida.T.BAP.BusinessApplication.AccountOption.GeneralOperations" loadFrom="" />
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.AccountOption.SMIsInventoryClassOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM" />
      </operators>
    </option>
    <!-- 往来单位分类管理 -->
    <option name="IsPartnerClass">
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.SM.AccountOption.Validator.SMIsPartnerClassValidator" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM" />
      </validators>
      <operators>
        <summaryOperator className="Ufida.T.BAP.BusinessApplication.AccountOption.MustDoOperations" loadFrom="" />
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.AccountOption.SMIsPartnerClassOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM" />
      </operators>
    </option>
    <!-- 账套性质 -->
    <option name="AccoutType">
      <operators>
        <summaryOperator className="Ufida.T.BAP.BusinessApplication.AccountOption.MustDoOperations" loadFrom="" />
      </operators>
    </option>
    <!-- 核销方式 -->
    <option name="CheckMode">
      <operators>
        <summaryOperator className="Ufida.T.BAP.BusinessApplication.AccountOption.GeneralOperations" loadFrom="" />
      </operators>
    </option>
    <!-- 采购立账类型 -->
    <option name="PUAccount">
      <validators />
      <operators>
      </operators>
    </option>
    <!-- 销售立账类型 -->
    <option name="SAAccount">
      <validators />
      <operators>
      </operators>
    </option>
    <!-- 项目档案分类管理 -->
    <option name="IsProgramDossier">
      <validators>
      </validators>
    <operators />
    </option>
    <!-- 成品率小数位 -->
    <option name="ProductRateDecimalDigits">
      <validators />
      <operators />
    </option>
    <!-- 损耗率小数位 -->
    <option name="ShrinkageRateDecimalDigits">
      <validators />
      <operators />
    </option>
    <!-- 考虑成品率 -->
    <option name="IsRelationWithProductRate">
      <validators />
      <operators />
    </option>
    <!-- 考虑损耗率 -->
    <option name="IsRelationWithShrinkageRate">
      <validators />
      <operators />
    </option>
    <!-- 采购需求累计下达数超建议 -->
    <option name="IsStockAcquireNumOvertopAdvice">
      <validators />
      <operators />
    </option>
    <!-- 已订未出货 -->
    <option name="IsOrderedButNoSend">
      <validators />
      <operators />
    </option>
    <!-- 销售应收款 -->
    <option name="IsReceivableAccount">
      <validators />
      <operators />
    </option>
    <!-- 预收款 -->
    <option name="IsPrepay">
      <validators />
      <operators />
    </option>
    <!-- 已出货未立账 -->
    <option name="IsSendedButNoBalance">
      <validators />
      <operators />
    </option>
    <!-- 收入单 -->
    <option name="IsRevenueBill">
      <validators />
      <operators />
    </option>
    <!-- 领料数量计算方式 -->
    <option name="CalculateTypeOfDrawMaterial">
      <validators />
      <operators />
    </option>
    <!-- 生产待入量 -->
    <option name="IsManufacturedWaitIncept">
      <validators />
      <operators />
    </option>
    <!-- 生产待发量 -->
    <option name="IsManufacturedWaitSend">
      <validators />
      <operators />
    </option>
    <!-- 计价周期类型 -->
    <option name="AccountValueCycleType">
      <validators />
      <operators />
    </option>
    <!-- 计价周期 -->
    <option name="AccountValueCycle">
      <validators />
      <operators />
    </option>
    <!-- 考虑成本率 -->
    <option name="MRPOprationWithProductRate">
      <validators />
      <operators />
    </option>
    <!-- 考虑损耗率 -->
    <option name="MRPOprationWithShrinkageRate">
      <validators />
      <operators />
    </option>
    <!-- MRP累计下达数量允许超建议量 -->
    <option name="IsMRPAcquireNumOvertopAdvice">
      <validators />
      <operators />
    </option>
    <!-- 产成品入库控制 -->
    <option name="ProductInceptControl">
      <validators />
      <operators />
    </option>
    <!-- 产成品入库控制范围 -->
    <option name="ProductInceptControlBound">
      <validators />
      <operators />
    </option>
    <!-- 产成品入库控制方式 -->
    <option name="ProductInceptControlType">
      <validators />
      <operators />
    </option>
    <!-- 产成品入库控制密码 -->
    <option name="ProductInceptControlPwd">
      <validators />
      <operators />
    </option>
    <!-- 委外价格控制 -->
    <option name="IsConsignTiptopPriceControl">
      <validators />
      <operators />
    </option>
    <!-- 委外价格控制方式 -->
    <option name="ConsignTiptopPriceControlType">
      <validators />
      <operators />
    </option>
    <!-- 委外价格控制密码 -->
    <option name="ConsignTiptopPriceControlPwd">
      <validators />
      <operators />
    </option>
    <!-- 成本计算方式 -->
    <option name="CostCalculateType">
      <validators />
      <operators />
    </option>
    <!-- 在产品成本分配方式（原材料） -->
    <option name="WIPCostAllocationTypeMaterial">
      <validators />
      <operators />
    </option>
    <!-- 在产品成本分配方式（费用） -->
    <option name="WIPCostAllocationTypeCharges">
      <validators>
        <summaryValidator isLoad="true" className="Ufida.T.BAP.BusinessApplication.AccountOption.GeneralValidators" loadFrom="" />
      </validators>
      <operators>
        <summaryOperator isLoad="true" className="Ufida.T.BAP.BusinessApplication.AccountOption.GeneralOperations" loadFrom="" />
        <concreteOperator isLoad="true" className="Ufida.T.UA.SM.AccountOption.Operate.SMWIPCostAllocationTypeChargesOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM" />
      </operators>
    </option>
    <!-- 工序日报严格按工序流程控制 -->
    <option name="IsManuControlByProcess">
      <validators />
      <operators />
    </option>
    <!-- 控制范围 -->
    <option name="IsManuProcessControlRange">
      <validators />
      <operators />
    </option>
    <!-- 控制方式 -->
    <option name="IsManuProcessControlType">
      <validators />
      <operators />
    </option>
    <!-- 控制密码 -->
    <option name="IsManuProcessControlTypePwd">
      <validators />
      <operators />
    </option>
    <!-- 材料超计划领用 -->
    <option name="IsMaterialDrawExceedPlan">
      <validators />
      <operators />
    </option>
    <!-- 材料超计划领用控制方式 -->
    <option name="MaterialDrawControlType">
      <validators />
      <operators />
    </option>
    <!-- 材料超计划领用控制密码 -->
    <option name="MaterialDrawControlTypePwd">
      <validators />
      <operators />
    </option>
    <!-- 制单序时控制 -->
    <option name="IsControlWhenGenerateDoc">
      <validators />
      <operators />
    </option>
    <!-- 现金流量必录 -->
    <option name="IsCashFlowMustInput">
      <validators />
      <operators />
    </option>
    <!-- 制单人与审核人可为同一人 -->
    <option name="CanMakerIsAuditor">
      <validators />
      <operators />
    </option>
    <!-- 科目编码级次 -->
    <option name="AccountCodingLevel">
      <validators />
      <operators />
    </option>
    <!-- 凭证需审核才可记账 -->
    <option name="IsBookkeepOnlyWhenVoucherAudit">
      <validators />
      <operators />
    </option>
    <!-- 出纳凭证必须经由出纳签字 -->
    <option name="IsPayOnlyWhenCashierSignature">
      <validators />
      <operators />
    </option>
    <!-- 凭证必须经由主管签字 -->
    <option name="IsVoucherNeedSupervisorSign">
      <validators />
      <operators />
    </option>
    <!-- 资金及往来赤字控制 -->
    <option name="IsControlCapAndARAPDeficit">
      <validators />
      <operators />
    </option>
    <!-- 资金及往来赤字控制方式 -->
    <option name="IsControlCapAndARAPDeficitMode">
      <validators />
      <operators />
    </option>
    <!-- 支票是否自动核对 -->
    <option name="IsCheckAutoCheck">
      <validators />
      <operators />
    </option>
    <!-- 手工录入 -->
    <option name="IsManualInputData">
      <validators />
      <operators />
    </option>
    <!-- 引自业务数据 -->
    <option name="IsFromBusinessData">
      <validators />
      <operators />
    </option>
    <!-- 所得税汇算申报类型 -->
    <option name="IncomeTaxCalculateType">
      <validators />
      <operators />
    </option>
    <!-- 税务核算处理方式 -->
    <option name="TaxAccrualProcessingType">
      <validators />
      <operators />
    </option>
  <!-- 条形码管理 -->
  <option name="BarCodeManage">
	  <validators/>
	  <operators>
		  <concreteOperator isLoad="true" className="Ufida.T.UA.SM.AccountOption.Operate.SMBarCodeManageOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM" />
	  </operators>
  </option>
  
  <!-- 应用商店-畅捷快递通 -->
  <option name="App_chanjet_ExpressDelivery">
	  <validators/>
	  <operators>
		  <concreteOperator isLoad="true" className="Ufida.T.UA.SM.AccountOption.Operate.SMAppStoreExpressDeliverOperate" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM" />
	  </operators>
  </option>
    
  </AccountOptions>
  <!--单据审核后置操作处理器配置-->
  <VoucherAudit>
    <Processors>
    </Processors>
  </VoucherAudit>
  <!--期末处理处理器配置-->
  <ClosingProcess>
    <Processors>
    </Processors>
    <UnProcessors>
    </UnProcessors>
  </ClosingProcess>
  <!-- 财务期末结账 -->
  <FITerminalProcessors>
    <Processors>
      <Processor isLoad="false" className="Ufida.T.SM.Test.FITerminalProcess.UAFITerminalProcessors" moduleName="UA" description="UAFITerminalProcess" loadFrom="server\Ufida.T.SM.Test.dll" processIndex="" >
        <FunctionName name="CS" functionEnabled="true" />
      </Processor>
    </Processors>
    <UnProcessors>
    </UnProcessors>
  </FITerminalProcessors>
  <!--期间结转处理器配置-->
  <CarryForward>
    <Processors>
      <Processor isLoad="true" className="Ufida.T.UA.SM.CarryForward.SMForwardProcessor" moduleName="SM" description="SMIsCarryForwarding" loadFrom="server\Ufida.T.UA.SM.dll" />
    </Processors>
  </CarryForward>


  <!--版本控制处理器配置-->
  <VersionControl>
    <Versions>
      <!--仓管通-->
      <Version name="CGTStd">
        <Processors>
          <processor isLoad="true" className="Ufida.T.UA.SM.VersionControl.UAVersionControl" moduleName="" loadFrom="server\Ufida.T.UA.SM.dll" />
          <!--系统设置-->
          <processor isLoad="true" className="Ufida.T.UA.SM.VersionControl.UA_CGT_VersionControlProcessor" moduleName="UA" loadFrom="server\Ufida.T.UA.SM.dll" />
        </Processors>
      </Version>
      <!--业务通标准版-->
      <Version name="YWTStd">
        <Processors>
          <processor isLoad="true" className="Ufida.T.UA.SM.VersionControl.UAVersionControl" moduleName="" loadFrom="server\Ufida.T.UA.SM.dll" />
        </Processors>
      </Version>
      <!--业务通专业版-->
      <Version name="YWTPro">
        <Processors>
          <processor isLoad="true" className="Ufida.T.UA.SM.VersionControl.UAVersionControl" moduleName="" loadFrom="server\Ufida.T.UA.SM.dll" />
          <!--系统设置-->
          <processor isLoad="true" className="Ufida.T.UA.SM.VersionControl.UA_YWTPro_VersionControlProcessor" moduleName="UA" loadFrom="server\Ufida.T.UA.SM.dll" />
        </Processors>
      </Version>
      <!--工贸通标准版-->
      <Version name="GMTStd">
        <Processors>
          <processor isLoad="true" className="Ufida.T.UA.SM.VersionControl.UAVersionControl" moduleName="" loadFrom="server\Ufida.T.UA.SM.dll" />
        </Processors>
      </Version>
      <!--工贸通专业版-->
      <Version name="GMTPro">
        <Processors>
          <processor isLoad="true" className="Ufida.T.UA.SM.VersionControl.UAVersionControl" moduleName="SM" loadFrom="server\Ufida.T.UA.SM.dll"/>
          <!--系统设置-->
          <processor isLoad="true" className="Ufida.T.UA.SM.VersionControl.UA_GMTPro_VersionControlProcessor" moduleName="UA" loadFrom="server\Ufida.T.UA.SM.dll" />
        </Processors>
      </Version>
      <!--财务通标准版-->
      <Version name="CWTStd">
        <Processors>
          <processor isLoad="true" className="Ufida.T.UA.SM.VersionControl.UAVersionControl" moduleName="" loadFrom="server\Ufida.T.UA.SM.dll" />
          <!--系统设置-->
          <processor isLoad="true" className="Ufida.T.UA.SM.VersionControl.UA_CWTStd_VersionControlProcessor" moduleName="UA" loadFrom="server\Ufida.T.UA.SM.dll" />
        </Processors>
      </Version>
      <!--财务通专业版-->
      <Version name="CWTPro">
        <Processors>
          <processor isLoad="true" className="Ufida.T.UA.SM.VersionControl.UAVersionControl" moduleName="SM" loadFrom="server\Ufida.T.UA.SM.dll"/>
          <!--系统设置-->
          <processor isLoad="true" className="Ufida.T.UA.SM.VersionControl.UA_CWTPro_VersionControlProcessor" moduleName="UA" loadFrom="server\Ufida.T.UA.SM.dll" />
        </Processors>
      </Version>
      <!--用友通专业版-->
      <Version name="YYTPro">
        <Processors>
          <processor isLoad="true" className="Ufida.T.UA.SM.VersionControl.UAVersionControl" moduleName="SM" loadFrom="server\Ufida.T.UA.SM.dll"/>
          <!--系统设置-->
          <processor isLoad="true" className="Ufida.T.UA.SM.VersionControl.UA_YYTPro_VersionControlProcessor" moduleName="UA" loadFrom="server\Ufida.T.UA.SM.dll" />
        </Processors>
      </Version>
    </Versions>
  </VersionControl>


  <!--单据期间结转处理类配置-->
  <VoucherCarryForwards>
  </VoucherCarryForwards>
  <!--页面前置校验处理-->
  <PagePreCondition>
    <Runtimes>
      <!--页面前置校验处理类程序集-->
      <Runtime Assembly="Ufida.T.BAP.BusinessApplication.dll" />
      <!--DTO程序集，判断DTO是否被并发删除时使用-->
      <Runtime Assembly="Ufida.T.AA.DTO.dll" />
      <Runtime Assembly="Ufida.T.SA.DTO.dll" />
    </Runtimes>
    <PagePreConditions>
      <!--单据校验-->
      <!--其他处理-->
      <PagePreCondition Code="SYS0701" Name="单据编码设置" Url="UA/VoucherTypeSetting/VoucherCoding.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherCodingPreCondition" loadFrom="" />
      <PagePreCondition Code="SYS0802" Name="基础档案编码设置" Url="UA/VoucherTypeSetting/BaseInfoCoding.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherCodingPreCondition" loadFrom="" />
      <PagePreCondition Code="SYS0404" Name="选项设置" Url="CommonPage/AccountSettings/OptionSetting.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherCodingPreCondition" loadFrom="" />
      <!--<PagePreCondition Code="SYS31" Name="期末处理" Url="CommonPage/TerminalProcess/TerminalProcess.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.TerminalProcessPreCondition" loadFrom="" />-->
      <!--<PagePreCondition Code="SYS0402" Name="业务期间" Url="CommonPage/SetupAccount/AccountDuration.aspx#590:420" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.CommonPagePreCondition" loadFrom="" />-->
      <PagePreCondition Code="SYS3101" Name="业务结账" Url="CommonPage/TerminalProcess/TerminalProcess.aspx#406:400" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherCodingPreCondition" loadFrom="" />
      <PagePreCondition Code="SYS3151" Name="财务结账" Url="CommonPage/TerminalProcess/FITerminalProcess.aspx#406:400" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherCodingPreCondition" loadFrom="" />
      <PagePreCondition Code="ST3001" Name="重新计价" Url="Stock/StockTools/RestartCostingVoucher.aspx" Type="Ufida.T.UA.ST.PagePreCondition.RestartCostingPreCondition" loadFrom="server\Ufida.T.UA.ST.dll" />
      <PagePreCondition Code="ST3003" Name="整理现存量" Url="Stock/StockTools/ReBuildCurrentStock.aspx" Type="Ufida.T.UA.ST.PagePreCondition.FinishingCurrentStockPreCondition" loadFrom="server\Ufida.T.UA.ST.dll" />
      <PagePreCondition Code="ST3006" Name="产成品成本分配" Url="Stock/StockTools/ProductionCostVoucherEdit.aspx" Type="Ufida.T.UA.ST.PagePreCondition.ProductionCostVoucherPreCondition" loadFrom="server\Ufida.T.UA.ST.dll" />
      <PagePreCondition Code="SYS0103" Name="备份账套" Url="CommonPage/BackUpRestore/AccBackTip.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.CommonPagePreCondition" loadFrom="" />
      <PagePreCondition Code="SYS0104" Name="恢复账套" Url="CommonPage/BackUpRestore/RestoreChoose.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.CommonPagePreCondition" loadFrom="" />
      <PagePreCondition Code="SYS9101" Name="模版下载" Url="CommonPage/DTS/DownLoadTemplate.aspx#500:400" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.CommonPagePreCondition" loadFrom="" />
      <PagePreCondition Code="SYS9102" Name="数据导入" Url="CommonPage/DTS/ImportData.aspx#480:360" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.CommonPagePreCondition" loadFrom="" />
      <PagePreCondition Code="SYS9103" Name="数据导出" Url="CommonPage/DTS/ExportData.aspx#480:320" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.CommonPagePreCondition" loadFrom="" />
      <PagePreCondition Code="SYS0401" Name="基本信息" Url="CommonPage/SetupAccount/BaseInfo.aspx#650:410" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.CommonPagePreCondition" loadFrom="" />
      <PagePreCondition Code="SYS0403" Name="业务流程" Url="CommonPage/SetupAccount/BusinessProcess.aspx#640:450" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.CommonPagePreCondition" loadFrom="" />
      <!--<PagePreCondition Code="SYS0803" Name="基础档案设置" Url="CommonPage/CardDesigner/BaseFilesSet.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.CommonPagePreCondition" loadFrom="" />-->
      <PagePreCondition Code="SYS0801" Name="枚举档案设置" Url="CommonPage/CardDesigner/RefFreeEnumFiles.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.CommonPagePreCondition" loadFrom="" />
      <PagePreCondition Code="SYS05" Name="用户权限" Url="CommonPage/Privilege/AuthDefault.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.CommonPagePreCondition" loadFrom="" />
      <PagePreCondition Code="SYS0203" Name="日志管理" Url="CommonPage/SystemManage/RunManage/LogManage.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.CommonPagePreCondition" loadFrom="" />
      <PagePreCondition Code="SYS0202" Name="任务管理" Url="CommonPage/SystemManage/RunManage/TaskManage.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.CommonPagePreCondition" loadFrom="" />
      <!--凭证接口开始-->
      <PagePreCondition Code="SYS2161" Name="凭证生成" Url="UA/FIInterface/TransactionDoc/UITransactionDoc.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.FCTransactionDocPreCondition" loadFrom="" />
      <PagePreCondition Code="SYS2101" Name="凭证接口设置" Url="UA/FIInterface/SOBDefine/UISOBDefine.aspx#425:335" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.FCTransactionDocPreCondition" loadFrom="" />
      <PagePreCondition Code="SYS2121" Name="用户设置" Url="UA/FIInterface/SOBUserSetting/UISOBUserSetting.aspx#400:300" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.FCTransactionDocPreCondition" loadFrom="" />
      <PagePreCondition Code="SYS2131" Name="基础档案对应" Url="UA/FIInterface/BaseMapping/UIBaseMapping.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.FCTransactionDocPreCondition" loadFrom="" />
      <PagePreCondition Code="SYS2141" Name="科目设置" Url="UA/FIInterface/AccountRule/UIAccountRule.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.FCTransactionDocPreCondition" loadFrom="" />
      <PagePreCondition Code="SYS2151" Name="摘要设置" Url="UA/FIInterface/DocSummary/UIDocSummary.aspx#1000:475" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.FCTransactionDocPreCondition" loadFrom="" />
      <PagePreCondition Code="SYS2171" Name="凭证查询" Url="UA/FIInterface/DocQryCancel/UIDocQryCancel.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.FCTransactionDocPreCondition" loadFrom="" />
      <!--凭证接口结束-->
      <!--报表-->
      <PagePreCondition Code="****" Name="报表" Url="UA/CommonPage/SumDetailReport.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.ReportPreCondition" loadFrom="" />
    </PagePreConditions>
    <Reports>
    </Reports>
  </PagePreCondition>

  <!--反射调用接口方法-->
  <Methods>
    <Method name="UpdateFEVisibility" interfaceAssembly="Ufida.T.SM.Interface" interface="Ufida.T.SM.FunctionEnableSetting.Interface.IFunctionEnable" methodName="UpdateIsVisibility" dtoAssembly=""/>
    <Method name="IsEnable" interfaceAssembly="Ufida.T.SM.Interface" interface="Ufida.T.SM.FunctionEnableSetting.Interface.IFunctionEnable" methodName="IsEnable" dtoAssembly=""/>
    <Method name="GetAccountInfo" interfaceAssembly="Ufida.T.SM.Interface" interface="Ufida.T.SM.AccountOption.Interface.IAccountOptionService" methodName="GetAccountInfo" dtoAssembly=""/>
  </Methods>
   
  <!--账套管理-->
  <AccountManage>
    <AccountClear>
      <concreteOperator isLoad="true" className="Ufida.T.UA.SM.AccountClear.SMAccountClear" loadFrom="server\Ufida.T.UA.SM.dll" moduleName="SM" />
    </AccountClear>
  </AccountManage>

  <!--消息中心-->
  <MessageCenter>
    <!--消息处理类型-->
    <MessageType>
	<Message name="Voucher" className="Ufida.T.UA.SM.MessageCenter.VoucherMessageProcessor" loadFrom="server\Ufida.T.UA.SM.dll"></Message>
	<Message name="Search" className="Ufida.T.UA.SM.MessageCenter.SearchMessageProcessor" loadFrom="server\Ufida.T.UA.SM.dll"></Message>
	<Message name="Warning" className="Ufida.T.UA.SM.MessageCenter.WarningMessageProcessor" loadFrom="server\Ufida.T.UA.SM.dll"></Message>
	<Message name="Individuation" className="Ufida.T.UA.SM.MessageCenter.IndMessageProcessor" loadFrom="server\Ufida.T.UA.SM.dll"></Message>
    </MessageType>

    <!--构建数据-->
    <ConstituteData>
      <!--单据消息设置-->
      <Module name="VoucherMessage">
        <Option name="SA03" interfaceLoadFrom="Ufida.T.SA.Interface.dll" dtoLoadFrom="Ufida.T.SA.DTO.dll" interfaceName="Ufida.T.SA.Interface.ISaleOrderService" dtoName="Ufida.T.SA.DTO.SaleOrderDTO" getDTOListMethod="获取符合条件dto的方法" findDTOByID="FindById" doReceiptMethod="Audit" getUFTableMethod="FindDetailTable"/>
        <!--<Option><Instance className="类名" loadFrom="程序集"/>需要实现基类</Option>-->
      </Module>
      <!--预警消息设置-->
      <Module name="WarningMessage">
      </Module>
      <!--查询消息设置-->
      <Module name="SearchMessage">
      </Module>
    </ConstituteData>

    <!--模板数据处理-->
    <TemplateDataFormats>
	<Template name="SMS" className="Ufida.T.UA.SM.MessageCenter.SMSTemplateDataFormat" loadFrom="server\Ufida.T.UA.SM.dll"></Template>
	<Template name="Print" className="Ufida.T.UA.SM.MessageCenter.PrintTemplateDataFormat" loadFrom="server\Ufida.T.UA.SM.dll"></Template>
	<Template name="Report" className="Ufida.T.UA.SM.MessageCenter.ReportTemplateDataFormat" loadFrom="server\Ufida.T.UA.SM.dll"></Template>
	<Template name="ColumnSet" className="Ufida.T.UA.SM.MessageCenter.ColumnSetTemplateDataFormat" loadFrom="server\Ufida.T.UA.SM.dll"></Template>
    </TemplateDataFormats>
  </MessageCenter>
</Config>
