<?xml version="1.0" encoding="utf-8"?>
<Config>
	<FreeItemUpdated>
		<operators>
			<concreteOperator isLoad="true" className="Ufida.T.UA.AA.AccountOptionService.FreeItemsOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
		</operators>
	</FreeItemUpdated>
	<!--功能启用前置校验和后置操作-->
	<FunctionEnable>
		<!--库存核算-->
		<option name="Stock">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AA.FunctionEnable.AAFunctionEnableOperate" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.PartnerSettingOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.InventorySettingOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.DistrictSettingOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.UnitSettingOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.WarehouseSettingOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.IncomeSettingOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.ExpenseSettingOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.PersonSettingOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.DepartmentSettingOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.AAProjectOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.BOMSettingOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
				<concreteOperator isLoad="true" className="Ufida.T.UA.AA.FunctionEnable.Operate.UserDefineArticleFuncEnable" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA"></concreteOperator>

			</operators>
		</option>
		<!--购销管理-->
		<option name="PS">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AA.FunctionEnable.AAFunctionEnableOperate" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.SettleStyleSettingOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.BankAccountSettingOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.CurrencySettingOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
				<concreteOperator isLoad="true" className="Ufida.T.UA.AA.FunctionEnable.Operate.UserDefineArticleFuncEnable" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA"></concreteOperator>
			</operators>
		</option>
		<option name="CashBankMoneyFlow">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AA.FunctionEnable.Operate.UserDefineArticleFuncEnable" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA"></concreteOperator>
			</operators>
		</option>
		<!--自制加工-->
		<option name="Manufacture">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AA.FunctionEnable.AAFunctionEnableOperate" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
				<concreteOperator isLoad="true" className="Ufida.T.UA.AA.FunctionEnable.Operate.UserDefineArticleFuncEnable" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA"></concreteOperator>
			</operators>
		</option>
		<!--委外加工-->
		<option name="ConsignManufacture">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AA.FunctionEnable.AAFunctionEnableOperate" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
			</operators>
		</option>
		<!--成本核算-->
		<option name="Costing">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AA.FunctionEnable.AAFunctionEnableOperate" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
				<concreteOperator isLoad="true" className="Ufida.T.UA.AA.FunctionEnable.Operate.UserDefineArticleFuncEnable" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA"></concreteOperator>
			</operators>
		</option>
		<!--MRP运算-->
		<option name="MRP">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AA.FunctionEnable.AAFunctionEnableOperate" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
				<concreteOperator isLoad="true" className="Ufida.T.UA.AA.FunctionEnable.Operate.UserDefineArticleFuncEnable" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA"></concreteOperator>
			</operators>
		</option>
		<!--工序管理-->
		<option name="Process">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AA.FunctionEnable.AAFunctionEnableOperate" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
				<concreteOperator isLoad="true" className="Ufida.T.UA.AA.FunctionEnable.Operate.UserDefineArticleFuncEnable" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA"></concreteOperator>
			</operators>
		</option>
		<!--普及账表-->
		<option name="StdAccount">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AA.FunctionEnable.AAFunctionEnableOperate" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
				<concreteOperator isLoad="true" className="Ufida.T.UA.AA.FunctionEnable.Operate.UserDefineArticleFuncEnable" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA"></concreteOperator>
			</operators>
		</option>
		<!--专业账表-->
		<option name="ProAccount">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AA.FunctionEnable.AAFunctionEnableOperate" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
				<concreteOperator isLoad="true" className="Ufida.T.UA.AA.FunctionEnable.Operate.UserDefineArticleFuncEnable" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA"></concreteOperator>
			</operators>
		</option>
		<!--现金银行-出纳-->
		<option name="CS">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AA.FunctionEnable.AAFunctionEnableOperate" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
				<concreteOperator isLoad="true" className="Ufida.T.UA.AA.FunctionEnable.Operate.UserDefineArticleFuncEnable" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA"></concreteOperator>
			</operators>
		</option>
		<!--票据打印-->
		<option name="DocPrint">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AA.FunctionEnable.AAFunctionEnableOperate" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
				<concreteOperator isLoad="true" className="Ufida.T.UA.AA.FunctionEnable.Operate.UserDefineArticleFuncEnable" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA"></concreteOperator>
			</operators>
		</option>
		<!--税务核算与申报-->
		<option name="TaxAccrual">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AA.FunctionEnable.AAFunctionEnableOperate" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
				<concreteOperator isLoad="true" className="Ufida.T.UA.AA.FunctionEnable.Operate.UserDefineArticleFuncEnable" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA"></concreteOperator>
			</operators>
		</option>
		<!--所得税汇算-->
		<option name="IncomeTaxSettlement">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AA.FunctionEnable.AAFunctionEnableOperate" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
				<concreteOperator isLoad="true" className="Ufida.T.UA.AA.FunctionEnable.Operate.UserDefineArticleFuncEnable" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA"></concreteOperator>
			</operators>
		</option>
		<!--零售-->
		<option name="Retail">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AA.FunctionEnable.AAFunctionEnableOperate" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
			</operators>
		</option>
		<!--会员-->
		<option name="Member">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AA.FunctionEnable.AAFunctionEnableOperate" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
			</operators>
		</option>
		<!--网店-->
		<option name="NetShop">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AA.FunctionEnable.AAFunctionEnableOperate" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
			</operators>
		</option>
    <!--普及进销存-->
    <option name="StdIERP">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AA.FunctionEnable.AAFunctionEnableOperate" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
      </operators>
    </option>

    <!--总账-->
    <option name="Ledger">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AA.FunctionEnable.AAFunctionEnableOperate" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
      </operators>
    </option>

    <!--TUFO-->
    <option name="TUFO">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AA.FunctionEnable.AAFunctionEnableOperate" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
      </operators>
    </option>
    
	</FunctionEnable>

	<!--会计期间前置校验-->
	<PeriodSettings>
		<!--前置校验-->
		<validators>
		</validators>
	</PeriodSettings>

	<!--账套选项前置校验和后置操作类配置-->
	<AccountOptions>
		<!-- 多币种 -->
		<option name="IsMultiCurrency">
			<validators>
				<concreteValidator isLoad="true" className="Ufida.T.UA.AccountOptionService.AACurrencyValidator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.CurrencyFieldControl" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
			</operators>
		</option>
		<!-- 存货批号管理 -->
		<option name="IsBatchNumberManage">
			<validators>
				<concreteValidator isLoad="true" className="Ufida.T.UA.AccountOptionService.InventoryBatchNumberValidator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.BasicInfoBatchControl" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
			</operators>
		</option>
		<!--存货按仓库设置最高、最低、安全库存-->
		<option name="MaxMinSecurityWarehouse">
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.AAInventoryWareHouseOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
			</operators>
		</option>
		<!-- 条形码管理 -->
		<option name="BarCodeManage">
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.AABarCodeOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
			</operators>
		</option>
		<!-- 条码标识位长度 -->
		<option name="BarCodeSolutionSignLength">
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.BarCodeSolutionSignLength" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
			</operators>
		</option>
		<!-- 存货有效期管理 -->
		<option name="IsQualityPeriodManage">
			<validators>
				<concreteValidator isLoad="true" className="Ufida.T.UA.AccountOptionService.InventoryQualityPeriodValidator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.AAQualityOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
			</operators>
		</option>
		<!-- 货位管理 -->
		<option name="IsInvLocationManage">
			<validators>
				<concreteValidator isLoad="true" className="Ufida.T.UA.AccountOptionService.WarehouseLocationValidator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.AAInvLocationOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.PriceStrategyInvLocationOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
			</operators>
		</option>
		<!-- 委外加工 -->
		<option name="IsMadeByOthers">
			<validators>
			</validators>
			<operators>
			</operators>
		</option>
		<!-- 数量小数位 -->
		<option name="QuantityPrecision">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.BasicInfoQuantiyPrecisionControl" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
			</operators>
		</option>

    <!-- 单价整数位 -->
    <option name="PriceIntegeration">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.AAPriceIntegerationOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
      </operators>
    </option>
    
		<!-- 单价小数位 -->
		<option name="PricePrecision">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.AAPricePrecisionOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.PriceStrategyPricePrecisionOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
			</operators>
		</option>
		<!-- 发票单价小数位 -->
		<option name="InvoicePricePrecision">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.AAInvoicePrecisionOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
			</operators>
		</option>
		<!-- 汇率小数位 -->
		<option name="ExchangeRatePrecision">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.AAExchangRateOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
			</operators>
		</option>
		<!-- 换算率小数位 -->
		<option name="ProportionRatePrecision">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.AASwapRateOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.PriceStrategySwapRateOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
			</operators>
		</option>
		<!-- 批号和计价法联用 -->
		<option name="IsBatchNumberWithPriceMode">
			<validators>
			</validators>
			<operators>
				<!--库存核算模块“批号&&计价法联用”选项的后置影响类-->
			</operators>
		</option>
		<!-- 计价模式 -->
		<option name="PriceMode">
			<validators>
			</validators>
			<operators>
			</operators>
		</option>
		<!-- 暂估处理方式 -->
		<option name="TemporayEstimateMode">
			<validators>
			</validators>
			<operators>
			</operators>
		</option>
		<!-- 计价时机 -->
		<option name="PriceOpportunity">
			<validators>
			</validators>
		</option>
		<!-- 销售流程 -->
		<option name="SAWorkflow">
			<operators>
			</operators>
		</option>
		<!-- 采购流程 -->
		<option name="PUWorkflow">
			<operators>
			</operators>
		</option>
		<!-- 进货单自动生成入库单 -->
		<option name="IsPurchaseOrderAutoStockOrder">
			<operators>
			</operators>
		</option>
		<!-- 销货单自动生成出库单 -->
		<option name="IsDeliveryOrderAutoStockOrder">
			<operators>
			</operators>
		</option>
		<!-- 是否已经有货品使用了多计量 -->
		<option name="HaveUsedMultiUnit">
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.AAMutiInventoryOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
			</operators>
		</option>
		<!-- 启用多营销机构 -->
		<option name="IsMultiMarketing">
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.MultiMarketingOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
			</operators>
		</option>
    
    <!-- 加盟店：跑的后置和多营销机构是一个文件 -->
		<option name="APP_Chanjet_Franchise">
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.MultiMarketingOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
			</operators>
		</option>
        
		<!-- 存货分类管理 -->
		<option name="IsInventoryClass">
			<validators>
				<concreteValidator isLoad="true" className="Ufida.T.UA.AA.AccountOption.OptionModifyingValidate.AAIsInventoryClassValidator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.AAInventoryClassOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.PriceStrategyInventoryClassOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
			</operators>
		</option>
		<!-- 往来单位分类管理 -->
		<option name="IsPartnerClass">
			<validators>
				<concreteValidator isLoad="true" className="Ufida.T.UA.AA.AccountOption.OptionModifyingValidate.AAIsPartnerClassValidator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.AAPartnerClassOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.PriceStrategyPartnerClassOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
			</operators>
		</option>
		<!-- 账套性质 -->
		<option name="AccoutType">
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.AAAccountTypeOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
			</operators>
		</option>
		<!-- 核销方式 -->
		<option name="CheckMode">
			<operators>
			</operators>
		</option>
		<!-- 采购立账类型 -->
		<option name="PUAccount">
			<validators />
			<operators>
			</operators>
		</option>
		<!-- 销售立账类型 -->
		<option name="SAAccount">
			<validators />
			<operators>
			</operators>
		</option>
		<!-- 项目档案分类管理 -->
		<option name="IsProgramDossier">
			<validators >
				<concreteValidator isLoad="true" className="Ufida.T.UA.AccountOptionService.AAProjectValidator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
			</validators>
			<operators >
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.AAProjectClassOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
			</operators>
		</option>
		<!-- 成品率小数位 -->
		<option name="ProductRateDecimalDigits">
			<validators />
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.AAYieldRateOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
			</operators>
		</option>
		<!-- 损耗率小数位 -->
		<option name="ShrinkageRateDecimalDigits">
			<validators />
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.AccountOptionService.AAWasteRateOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="AA" />
			</operators>
		</option>
		<!-- 考虑成品率 -->
		<option name="IsRelationWithProductRate">
			<validators />
			<operators />
		</option>
		<!-- 考虑损耗率 -->
		<option name="IsRelationWithShrinkageRate">
			<validators />
			<operators />
		</option>
		<!-- 采购需求累计下达数超建议 -->
		<option name="IsStockAcquireNumOvertopAdvice">
			<validators />
			<operators />
		</option>
		<!-- 已订未出货 -->
		<option name="IsOrderedButNoSend">
			<validators />
			<operators />
		</option>
		<!-- 销售应收款 -->
		<option name="IsReceivableAccount">
			<validators />
			<operators />
		</option>
		<!-- 预收款 -->
		<option name="IsPrepay">
			<validators />
			<operators />
		</option>
		<!-- 已出货未立账 -->
		<option name="IsSendedButNoBalance">
			<validators />
			<operators />
		</option>
		<!-- 收入单 -->
		<option name="IsRevenueBill">
			<validators />
			<operators />
		</option>
		<!-- 领料数量计算方式 -->
		<option name="CalculateTypeOfDrawMaterial">
			<validators />
			<operators />
		</option>
		<!-- 生产待入量 -->
		<option name="IsManufacturedWaitIncept">
			<validators />
			<operators />
		</option>
		<!-- 生产待发量 -->
		<option name="IsManufacturedWaitSend">
			<validators />
			<operators />
		</option>
		<!-- 计价周期类型 -->
		<option name="AccountValueCycleType">
			<validators />
			<operators />
		</option>
		<!-- 计价周期 -->
		<option name="AccountValueCycle">
			<validators />
			<operators />
		</option>
		<!-- 考虑成本率 -->
		<option name="MRPOprationWithProductRate">
			<validators />
			<operators />
		</option>
		<!-- 考虑损耗率 -->
		<option name="MRPOprationWithShrinkageRate">
			<validators />
			<operators />
		</option>
		<!-- MRP累计下达数量允许超建议量 -->
		<option name="IsMRPAcquireNumOvertopAdvice">
			<validators />
			<operators />
		</option>
		<!-- 产成品入库控制 -->
		<option name="ProductInceptControl">
			<validators />
			<operators />
		</option>
		<!-- 产成品入库控制范围 -->
		<option name="ProductInceptControlBound">
			<validators />
			<operators />
		</option>
		<!-- 产成品入库控制方式 -->
		<option name="ProductInceptControlType">
			<validators />
			<operators />
		</option>
		<!-- 产成品入库控制密码 -->
		<option name="ProductInceptControlPwd">
			<validators />
			<operators />
		</option>
		<!-- 委外价格控制 -->
		<option name="IsConsignTiptopPriceControl">
			<validators />
			<operators />
		</option>
		<!-- 委外价格控制方式 -->
		<option name="ConsignTiptopPriceControlType">
			<validators />
			<operators />
		</option>
		<!-- 委外价格控制密码 -->
		<option name="ConsignTiptopPriceControlPwd">
			<validators />
			<operators />
		</option>
		<!-- 成本计算方式 -->
		<option name="CostCalculateType">
			<validators />
			<operators />
		</option>
		<!-- 在产品成本分配方式（原材料） -->
		<option name="WIPCostAllocationTypeMaterial">
			<validators />
			<operators />
		</option>
		<!-- 在产品成本分配方式（费用） -->
		<option name="WIPCostAllocationTypeCharges">
			<validators />
			<operators />
		</option>
		<!-- 工序日报严格按工序流程控制 -->
		<option name="IsManuControlByProcess">
			<validators />
			<operators />
		</option>
		<!-- 控制范围 -->
		<option name="IsManuProcessControlRange">
			<validators />
			<operators />
		</option>
		<!-- 控制方式 -->
		<option name="IsManuProcessControlType">
			<validators />
			<operators />
		</option>
		<!-- 控制密码 -->
		<option name="IsManuProcessControlTypePwd">
			<validators />
			<operators />
		</option>
		<!-- 材料超计划领用 -->
		<option name="IsMaterialDrawExceedPlan">
			<validators />
			<operators />
		</option>
		<!-- 材料超计划领用控制方式 -->
		<option name="MaterialDrawControlType">
			<validators />
			<operators />
		</option>
		<!-- 材料超计划领用控制密码 -->
		<option name="MaterialDrawControlTypePwd">
			<validators />
			<operators />
		</option>
		<!-- 制单序时控制 -->
		<option name="IsControlWhenGenerateDoc">
			<validators />
			<operators />
		</option>
		<!-- 现金流量必录 -->
		<option name="IsCashFlowMustInput">
			<validators />
			<operators />
		</option>
		<!-- 制单人与审核人可为同一人 -->
		<option name="CanMakerIsAuditor">
			<validators />
			<operators />
		</option>
		<!-- 科目编码级次 -->
		<option name="AccountCodingLevel">
			<validators />
			<operators />
		</option>
		<!-- 凭证需审核才可记账 -->
		<option name="IsBookkeepOnlyWhenVoucherAudit">
			<validators />
			<operators />
		</option>
		<!-- 出纳凭证必须经由出纳签字 -->
		<option name="IsPayOnlyWhenCashierSignature">
			<validators />
			<operators />
		</option>
		<!-- 凭证必须经由主管签字 -->
		<option name="IsVoucherNeedSupervisorSign">
			<validators />
			<operators />
		</option>
		<!-- 资金及往来赤字控制 -->
		<option name="IsControlCapAndARAPDeficit">
			<validators />
			<operators />
		</option>
		<!-- 资金及往来赤字控制方式 -->
		<option name="IsControlCapAndARAPDeficitMode">
			<validators />
			<operators />
		</option>
		<!-- 支票是否自动核对 -->
		<option name="IsCheckAutoCheck">
			<validators />
			<operators />
		</option>
		<!-- 手工录入 -->
		<option name="IsManualInputData">
			<validators />
			<operators />
		</option>
		<!-- 引自业务数据 -->
		<option name="IsFromBusinessData">
			<validators />
			<operators />
		</option>
		<!-- 所得税汇算申报类型 -->
		<option name="IncomeTaxCalculateType">
			<validators />
			<operators />
		</option>
		<!-- 税务核算处理方式 -->
		<option name="TaxAccrualProcessingType">
			<validators />
			<operators />
		</option>

	</AccountOptions>
	<!--单据审核后置操作处理器配置-->
	<VoucherAudit>
		<Processors>
		</Processors>
	</VoucherAudit>
	<!--期末处理处理器配置-->
	<ClosingProcess>
		<Processors>
		</Processors>
		<UnProcessors>
		</UnProcessors>
	</ClosingProcess>
	<!-- 财务期末结账 -->
	<FITerminalProcessors>
		<Processors>
		</Processors>
		<UnProcessors>
		</UnProcessors>
	</FITerminalProcessors>
	<!--期间结转处理器配置-->
	<CarryForward>
		<Processors>
			<Processor isLoad="true" className="Ufida.T.UA.CarryForward.AA.AAForwardProcessor" moduleName="AA" description="AAIsCarryForwarding" loadFrom="server\Ufida.T.UA.AA.dll" />
		</Processors>
	</CarryForward>


	<!--版本控制处理器配置-->
	<VersionControl>
		<Versions>
			<!--仓管通-->
			<Version name="CGTStd">
				<Processors>
					<!--基础档案-->
					<processor isLoad="true" className="Ufida.T.UA.AA.VersionControl.BaseInfoVersionController" moduleName="AA" loadFrom="server\Ufida.T.UA.AA.dll" />
				</Processors>
			</Version>
			<!--业务通标准版-->
			<Version name="YWTStd">
				<Processors>
				</Processors>
			</Version>
			<!--业务通专业版-->
			<Version name="YWTPro">
				<Processors>
					<!--基础档案-->
					<processor isLoad="true" className="Ufida.T.UA.AA.VersionControl.BaseInfoVersionController" moduleName="AA" loadFrom="server\Ufida.T.UA.AA.dll" />
				</Processors>
			</Version>
			<!--工贸通标准版-->
			<Version name="GMTStd">
				<Processors>
				</Processors>
			</Version>
			<!--工贸通专业版-->
			<Version name="GMTPro">
				<Processors>
				</Processors>
			</Version>
			<!--财务通普及版-->
			<Version name="CWTPop">
				<Processors>
					<processor isLoad="true" className="Ufida.T.UA.AA.VersionControl.BaseInfoVersionController" moduleName="AA" loadFrom="server\Ufida.T.UA.AA.dll" />
				</Processors>
			</Version>
			<!--财务通专业版-->
			<Version name="CWTPro">
				<Processors>
					<processor isLoad="true" className="Ufida.T.UA.AA.VersionControl.BaseInfoVersionController" moduleName="AA" loadFrom="server\Ufida.T.UA.AA.dll" />
				</Processors>
			</Version>
			<!--用友通专业版-->
			<Version name="YYTPro">
				<Processors>
					<processor isLoad="true" className="Ufida.T.UA.AA.VersionControl.BaseInfoVersionController" moduleName="AA" loadFrom="server\Ufida.T.UA.AA.dll" />
				</Processors>
			</Version>
		</Versions>
	</VersionControl>

  <!--账套管理-->
  <AccountManage>
    <AccountClear>
      <concreteOperator isLoad="true" className="Ufida.T.UA.AA.AccountClear.AAClearOperator" loadFrom="server\Ufida.T.UA.AA.dll" moduleName="SM" />
    </AccountClear>
  </AccountManage>

	<!--单据期间结转处理类配置-->
	<VoucherCarryForwards>
	</VoucherCarryForwards>
	<!--页面前置校验处理-->
	<PagePreCondition>
		<PagePreConditions>
			<!--基础档案-->
			<PagePreCondition Code="AA1001" Name="部门" Url="BAPView/BaseInfoList.aspx?sysId=aa&amp;mId=aa1001&amp;pId=baseInfoList&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
			<PagePreCondition Code="AA1002" Name="员工" Url="BAPView/BaseInfoList.aspx?sysId=aa&amp;mId=aa1002&amp;pId=baseInfoList&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
			<PagePreCondition Code="AA1003" Name="往来单位" Url="BAPView/BaseInfoList.aspx?sysId=aa&amp;mId=aa1003&amp;pId=baseInfoList&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
			<PagePreCondition Code="AA1021" Name="计量单位" Url="BAPView/BaseInfoList.aspx?sysId=aa&amp;mId=aa1021&amp;pId=baseInfoList&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
			<PagePreCondition Code="AA1022" Name="存货" Url="BAPView/BaseInfoList.aspx?sysId=aa&amp;mId=aa1022&amp;pId=baseInfoList&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
			<PagePreCondition Code="AA1023" Name="仓库" Url="BAPView/BaseInfoList.aspx?sysId=aa&amp;mId=aa1023&amp;pId=baseInfoList&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
			<PagePreCondition Code="AA1024" Name="货位" Url="BAPView/BaseInfoList.aspx?sysId=aa&amp;mId=aa1024&amp;pId=baseInfoList&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
			<PagePreCondition Code="AA1025" Name="出入库类别" Url="BAPView/BaseInfoList.aspx?sysId=aa&amp;mId=aa1025&amp;pId=baseInfoList&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
			<PagePreCondition Code="AA1026" Name="业务类型" Url="BAPView/BaseInfoList.aspx?sysId=aa&amp;mId=aa1026&amp;pId=baseInfoList&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
			<PagePreCondition Code="AA1028" Name="地区" Url="BAPView/BaseInfoList.aspx?sysId=aa&amp;mId=aa1028&amp;pId=baseInfoList&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
			<PagePreCondition Code="AA1041" Name="物料清单" Url="BAPView/DoubleList.aspx?mId=aa1041&amp;pId=doubleListView&amp;&amp;sysId=aa" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
			<PagePreCondition Code="AA1061" Name="成套件" Url="BAPView/DoubleList.aspx?mId=aa1061&amp;pId=doubleListView&amp;&amp;sysId=aa" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
			<PagePreCondition Code="AA1080" Name="往来单位分类" Url="BaseInfo/PartnerClassList.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
			<PagePreCondition Code="AA1081" Name="存货分类" Url="BaseInfo/InventoryClassList.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
			<PagePreCondition Code="AA3001" Name="收入" Url="BAPView/BaseInfoList.aspx?sysId=aa&amp;mId=aa3001&amp;pId=baseInfoList&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
			<PagePreCondition Code="AA3002" Name="费用" Url="BAPView/BaseInfoList.aspx?sysId=aa&amp;mId=aa3002&amp;pId=baseInfoList&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
			<PagePreCondition Code="AA3004" Name="结算方式" Url="BAPView/BaseInfoList.aspx?sysId=aa&amp;mId=aa3004&amp;pId=baseInfoList&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
			<PagePreCondition Code="AA3005" Name="账号" Url="BAPView/BaseInfoList.aspx?sysId=aa&amp;mId=aa3005&amp;pId=baseInfoList&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
			<PagePreCondition Code="AA3006" Name="币种" Url="BAPView/BaseInfoList.aspx?sysId=aa&amp;mId=aa3006&amp;pId=baseInfoList&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />

			<PagePreCondition Code="AA3015" Name="券别" Url="BAPView/BaseInfoEditList.aspx?sysId=aa&amp;mId=aa3015&amp;pId=baseInfoEditList&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
			<PagePreCondition Code="AA3010" Name="票据用途" Url="BAPView/BaseInfoEditList.aspx?sysId=aa&amp;mId=aa3010&amp;pId=baseInfoEditList&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
			<PagePreCondition Code="AA3520" Name="常用摘要" Url="BAPView/BaseInfoEditList.aspx?sysId=aa&amp;mId=aa3520&amp;pId=baseInfoEditList&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />

			<PagePreCondition Code="AA3505" Name="科目" Url="BAPView/BaseInfoList.aspx?sysId=aa&amp;mId=aa3505&amp;pId=baseInfoListView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
			<PagePreCondition Code="AA3510" Name="凭证类别" Url="BAPView/BaseInfoEditList.aspx?sysId=aa&amp;mId=aa3510&amp;pId=baseInfoEditList&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
			<PagePreCondition Code="AA3525" Name="现金流量项目" Url="BAPView/BaseInfoEditList.aspx?sysId=aa&amp;mId=aa3525&amp;pId=baseInfoEditList&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
			<PagePreCondition Code="AA4001" Name="设置存货的最高进价" Url="BaseInfo/PriceStrategy/InventoryPrices.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
			<PagePreCondition Code="AA4002" Name="设置客户协议价格" Url="BaseInfo/PriceStrategy/CustomerInventoryPrices.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
			<PagePreCondition Code="AA4003" Name="设置部门价格" Url="BaseInfo/PriceStrategy/DepartmentInventoryPrices.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
			<PagePreCondition Code="AA4004" Name="设置供应商协议价格" Url="BaseInfo/PriceStrategy/VendorInventoryPrices.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
			<PagePreCondition Code="AA4005" Name="价格带出策略" Url="BaseInfo/PriceStrategy/PriceStrategyManagement.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="" />
			<!--客户中心和存货中心需要使用VoucherPreCondition-->
			<PagePreCondition Code="AA6040" Name="客户中心" Url="BaseInfo/CharacterCentre/CustomerCentre.aspx?sysId=aa&amp;mId=aa6040&amp;pId=voucherTreeView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="AA6050" Name="存货中心" Url="BaseInfo/CharacterCentre/InventoryCentre.aspx?sysId=ST&amp;mId=aa6050&amp;pId=voucherTreeView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="AA6051" Name="货品营销中心" Url="SA/CharacterCentre/InventoryBusinessCentre.aspx?sysId=SA&amp;mId=aa6051&amp;pId=queryInventoryListView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="SA6071" Name="管理全视图" Url="SA/Report/ManageFullView/FirstLayerView.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="SA6081" Name="经营毛利统计表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=SA_BusinessGrossProfitSumRpt" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="AA6010" Name="客户营销中心" Url="SA/CharacterCentre/CustomerBusinessCentre.aspx?sysId=SA&amp;mId=aa6010&amp;pId=queryCustomerListView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
		</PagePreConditions>
	</PagePreCondition>
</Config>