<?xml version="1.0" encoding="utf-8"?>
<Config>
  <!--功能启用前置校验和后置操作-->
  <FunctionEnable>
    <!--零售-->
    <option name="Retail">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.FunctionEnable.CS.CSRetailOperate" loadFrom="server\Ufida.T.UA.CS.dll" moduleName="CS"></concreteOperator>
      </operators>
    </option>    

    <!--库存核算-->
    <option name="Stock">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    <!--购销管理-->
    <option name="PS">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    <!--自制加工-->
    <option name="Manufacture">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    <!--委外加工-->
    <option name="ConsignManufacture">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.FunctionEnable.CS.CSConsignManufactureOperate" loadFrom="server\Ufida.T.UA.CS.dll" moduleName="CS"></concreteOperator>
      </operators>
    </option>
    <!--成本核算-->
    <option name="Costing">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    <!--MRP运算-->
    <option name="MRP">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    <!--工序管理-->
    <option name="Process">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    <!--普及账表-->
    <option name="StdAccount">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.FunctionEnable.CS.CSProAccountOperate" loadFrom="server\Ufida.T.UA.CS.dll" moduleName="CS"></concreteOperator>
      </operators>
    </option>
    <!--专业账表-->
    <option name="ProAccount">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.FunctionEnable.CS.CSProAccountOperate" loadFrom="server\Ufida.T.UA.CS.dll" moduleName="CS"></concreteOperator>
      </operators>
    </option>
    <!--总账-->
    <option name="Ledger">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.FunctionEnable.CS.CSProAccountOperate" loadFrom="server\Ufida.T.UA.CS.dll" moduleName="CS"></concreteOperator>
      </operators>
    </option>
    <!--现金银行-钱流-->
    <option name="CashBankMoneyFlow">
      <!--前置校验-->
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.FunctionEnable.CS.CSMoneyFlowValidate" loadFrom="server\Ufida.T.UA.CS.dll" moduleName="CS" />
      </validators>
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.FunctionEnable.CS.CSCashMoneyFlowOperate" loadFrom="server\Ufida.T.UA.CS.dll" moduleName="CS"></concreteOperator>
      </operators>
    </option>
    <!--现金银行-出纳-->
    <option name="CS">
      <!--前置校验-->
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.FunctionEnable.CS.CSCashiorValidate" loadFrom="server\Ufida.T.UA.CS.dll" moduleName="CS" />
      </validators>
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.FunctionEnable.CS.CSCashierOperate" loadFrom="server\Ufida.T.UA.CS.dll" moduleName="CS"></concreteOperator>
      </operators>
    </option>
    <!--票据打印-->
    <option name="DocPrint">
      <!--前置校验-->
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.CS.SM.FunctionEnable.Validate.CSNoteValidate" loadFrom="server\Ufida.T.UA.CS.dll" moduleName="CS" />
      </validators>
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.CS.SM.FunctionEnable.CS.CSNoteOperate" loadFrom="server\Ufida.T.UA.CS.dll" moduleName="CS"></concreteOperator>
      </operators>
    </option>
    <!--税务核算与申报-->
    <option name="TaxAccrual">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    <!--所得税汇算-->
    <option name="IncomeTaxSettlement">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
  </FunctionEnable>

  <!--会计期间前置校验-->
  <PeriodSettings>
    <!--前置校验-->
    <validators>
      <!--事例:<concreteValidator isLoad="true" className="Ufida.T.UA.SA.FunctionEnable.Stock" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA"></concreteValidator>-->
      <!--出纳模块-->
      <concreteValidator isLoad="true" className="Ufida.T.UA.CS.SM.PeriodCondition.validator.CashierPeriodValidator" loadFrom="server\Ufida.T.UA.CS.dll" moduleName="CS"></concreteValidator>
    </validators>
  </PeriodSettings>
  
  <!--数据清除-->
  <AccountManage>
    <AccountClear>
      <concreteOperator isLoad="true" className="Ufida.T.UA.AccountClear.CS.CSAccountClear" loadFrom="server\Ufida.T.UA.CS.dll" moduleName="CS" />
    </AccountClear>
  </AccountManage>

  <!--账套选项前置校验和后置操作类配置-->
  <AccountOptions>
    <!-- 多币种 -->
    <option name="IsMultiCurrency">
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.AccountOption.CS.CSCurrencyValidator" loadFrom="server\Ufida.T.UA.CS.dll" moduleName="CS" />
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.CS.CSCurrencyOperator" loadFrom="server\Ufida.T.UA.CS.dll" moduleName="CS" />
      </operators>
    </option>
     <!--票据打印-->
    <option name="App_chanjet_BillPrint">
      <!--前置校验-->
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.AccountOption.CS.CSNoteValidate" loadFrom="server\Ufida.T.UA.CS.dll" moduleName="CS" />
      </validators>
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.CS.CSNoteOperate" loadFrom="server\Ufida.T.UA.CS.dll" moduleName="CS"></concreteOperator>
      </operators>
    </option>
    <!-- 存货批号管理 -->
    <option name="IsBatchNumberManage">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.CS.CSBatchOperator" loadFrom="server\Ufida.T.UA.CS.dll" moduleName="CS" />
      </operators>
    </option>
    <!-- 存货有效期管理 -->
    <option name="IsQualityPeriodManage">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.CS.CSQualityOperator" loadFrom="server\Ufida.T.UA.CS.dll" moduleName="CS" />
      </operators>
    </option>
    <!-- 货位管理 -->
    <option name="IsInvLocationManage">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.CS.CSInvLocationOperator" loadFrom="server\Ufida.T.UA.CS.dll" moduleName="CS" />
      </operators>
    </option>
    <!-- 委外加工 -->
    <option name="IsMadeByOthers">
      <validators>
      </validators>
      <operators>
      </operators>
    </option>
    <!-- 数量小数位 -->
    <option name="QuantityPrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.CS.CSQuantityPrecisionOperator" loadFrom="server\Ufida.T.UA.CS.dll" moduleName="CS" />
      </operators>
    </option>
    <!-- 单价小数位 -->
    <option name="PricePrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.CS.CSPricePrecisionOperator" loadFrom="server\Ufida.T.UA.CS.dll" moduleName="CS" />
      </operators>
    </option>
    <!-- 发票单价小数位 -->
    <option name="InvoicePricePrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.CS.CSInvoicePrecisionOperator" loadFrom="server\Ufida.T.UA.CS.dll" moduleName="CS" />
      </operators>
    </option>
    <!-- 汇率小数位 -->
    <option name="ExchangeRatePrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.CS.CSExchangRateOperator" loadFrom="server\Ufida.T.UA.CS.dll" moduleName="CS" />
      </operators>
    </option>
    <!-- 换算率小数位 -->
    <option name="ProportionRatePrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.CS.CSSwapRateOperator" loadFrom="server\Ufida.T.UA.CS.dll" moduleName="CS" />
      </operators>
    </option>
    <!-- 批号和计价法联用 -->
    <option name="IsBatchNumberWithPriceMode">
      <validators>
      </validators>
      <operators>
      </operators>
    </option>
    <!-- 计价模式 -->
    <option name="PriceMode">
      <validators>
      </validators>
      <operators>
      </operators>
    </option>
    <!-- 暂估处理方式 -->
    <option name="TemporayEstimateMode">
      <validators>
      </validators>
      <operators>
      </operators>
    </option>
    <!-- 计价时机 -->
    <option name="PriceOpportunity">
      <validators>
      </validators>
    </option>
    <!-- 销售流程 -->
    <option name="SAWorkflow">
      <operators>
      </operators>
    </option>
    <!-- 采购流程 -->
    <option name="PUWorkflow">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.CS.ConcreteWorkflowControlByCS" loadFrom="server\Ufida.T.UA.CS.dll" moduleName="CS" />
      </operators>
    </option>
    <!-- 进货单自动生成入库单 -->
    <option name="IsPurchaseOrderAutoStockOrder">
      <operators>
      </operators>
    </option>
    <!-- 销货单自动生成出库单 -->
    <option name="IsDeliveryOrderAutoStockOrder">
      <operators>
      </operators>
    </option>
    <!-- 是否已经有货品使用了多计量 -->
    <option name="HaveUsedMultiUnit">
      <operators>
      </operators>
    </option>
    <!-- 存货分类管理 -->
    <option name="IsInventoryClass">
      <operators>
      </operators>
    </option>
    <!-- 往来单位分类管理 -->
    <option name="IsPartnerClass">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.CS.CSPartnerClassOperator" loadFrom="server\Ufida.T.UA.CS.dll" moduleName="CS" />
      </operators>
    </option>
    <!-- 账套性质 -->
    <option name="AccoutType">
      <operators>
      </operators>
    </option>
    <!-- 核销方式 -->
    <option name="CheckMode">
      <operators>
      </operators>
    </option>
    <!-- 采购立账类型 -->
    <option name="PUAccount">
      <validators />
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.CS.CSInvoiceAccountOperator" loadFrom="server\Ufida.T.UA.CS.dll" moduleName="CS"/>
      </operators>
    </option>
    <!-- 销售立账类型 -->
    <option name="SAAccount">
      <validators />
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.CS.CSInvoiceAccountOperator" loadFrom="server\Ufida.T.UA.CS.dll" moduleName="CS"/>
      </operators>
    </option>
    <!-- 项目档案分类管理 -->
    <option name="IsProgramDossier">
      <validators />
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.CS.CSProjectClassOperator" loadFrom="server\Ufida.T.UA.CS.dll" moduleName="CS" />
      </operators>
    </option>
    <!-- 成品率小数位 -->
    <option name="ProductRateDecimalDigits">
      <validators />
      <operators />
    </option>
    <!-- 损耗率小数位 -->
    <option name="ShrinkageRateDecimalDigits">
      <validators />
      <operators />
    </option>
    <!-- 考虑成品率 -->
    <option name="IsRelationWithProductRate">
      <validators />
      <operators />
    </option>
    <!-- 考虑损耗率 -->
    <option name="IsRelationWithShrinkageRate">
      <validators />
      <operators />
    </option>
    <!-- 采购需求累计下达数超建议 -->
    <option name="IsStockAcquireNumOvertopAdvice">
      <validators />
      <operators />
    </option>
    <!-- 已订未出货 -->
    <option name="IsOrderedButNoSend">
      <validators />
      <operators />
    </option>
    <!-- 销售应收款 -->
    <option name="IsReceivableAccount">
      <validators />
      <operators />
    </option>
    <!-- 预收款 -->
    <option name="IsPrepay">
      <validators />
      <operators />
    </option>
    <!-- 已出货未立账 -->
    <option name="IsSendedButNoBalance">
      <validators />
      <operators />
    </option>
    <!-- 收入单 -->
    <option name="IsRevenueBill">
      <validators />
      <operators />
    </option>
    <!-- 领料数量计算方式 -->
    <option name="CalculateTypeOfDrawMaterial">
      <validators />
      <operators />
    </option>
    <!-- 生产待入量 -->
    <option name="IsManufacturedWaitIncept">
      <validators />
      <operators />
    </option>
    <!-- 生产待发量 -->
    <option name="IsManufacturedWaitSend">
      <validators />
      <operators />
    </option>
    <!-- 计价周期类型 -->
    <option name="AccountValueCycleType">
      <validators />
      <operators />
    </option>
    <!-- 计价周期 -->
    <option name="AccountValueCycle">
      <validators />
      <operators />
    </option>
    <!-- 考虑成本率 -->
    <option name="MRPOprationWithProductRate">
      <validators />
      <operators />
    </option>
    <!-- 考虑损耗率 -->
    <option name="MRPOprationWithShrinkageRate">
      <validators />
      <operators />
    </option>
    <!-- MRP累计下达数量允许超建议量 -->
    <option name="IsMRPAcquireNumOvertopAdvice">
      <validators />
      <operators />
    </option>
    <!-- 产成品入库控制 -->
    <option name="ProductInceptControl">
      <validators />
      <operators />
    </option>
    <!-- 产成品入库控制范围 -->
    <option name="ProductInceptControlBound">
      <validators />
      <operators />
    </option>
    <!-- 产成品入库控制方式 -->
    <option name="ProductInceptControlType">
      <validators />
      <operators />
    </option>
    <!-- 产成品入库控制密码 -->
    <option name="ProductInceptControlPwd">
      <validators />
      <operators />
    </option>
    <!-- 委外价格控制 -->
    <option name="IsConsignTiptopPriceControl">
      <validators />
      <operators />
    </option>
    <!-- 委外价格控制方式 -->
    <option name="ConsignTiptopPriceControlType">
      <validators />
      <operators />
    </option>
    <!-- 委外价格控制密码 -->
    <option name="ConsignTiptopPriceControlPwd">
      <validators />
      <operators />
    </option>
    <!-- 成本计算方式 -->
    <option name="CostCalculateType">
      <validators />
      <operators />
    </option>
    <!-- 在产品成本分配方式（原材料） -->
    <option name="WIPCostAllocationTypeMaterial">
      <validators />
      <operators />
    </option>
    <!-- 在产品成本分配方式（费用） -->
    <option name="WIPCostAllocationTypeCharges">
      <validators />
      <operators />
    </option>
    <!-- 工序日报严格按工序流程控制 -->
    <option name="IsManuControlByProcess">
      <validators />
      <operators />
    </option>
    <!-- 控制范围 -->
    <option name="IsManuProcessControlRange">
      <validators />
      <operators />
    </option>
    <!-- 控制方式 -->
    <option name="IsManuProcessControlType">
      <validators />
      <operators />
    </option>
    <!-- 控制密码 -->
    <option name="IsManuProcessControlTypePwd">
      <validators />
      <operators />
    </option>
    <!-- 材料超计划领用 -->
    <option name="IsMaterialDrawExceedPlan">
      <validators />
      <operators />
    </option>
    <!-- 材料超计划领用控制方式 -->
    <option name="MaterialDrawControlType">
      <validators />
      <operators />
    </option>
    <!-- 材料超计划领用控制密码 -->
    <option name="MaterialDrawControlTypePwd">
      <validators />
      <operators />
    </option>
    <!-- 制单序时控制 -->
    <option name="IsControlWhenGenerateDoc">
      <validators />
      <operators />
    </option>
    <!-- 现金流量必录 -->
    <option name="IsCashFlowMustInput">
      <validators />
      <operators />
    </option>
    <!-- 制单人与审核人可为同一人 -->
    <option name="CanMakerIsAuditor">
      <validators />
      <operators />
    </option>
    <!-- 科目编码级次 -->
    <option name="AccountCodingLevel">
      <validators />
      <operators />
    </option>
    <!-- 凭证需审核才可记账 -->
    <option name="IsBookkeepOnlyWhenVoucherAudit">
      <validators />
      <operators />
    </option>
    <!-- 出纳凭证必须经由出纳签字 -->
    <option name="IsPayOnlyWhenCashierSignature">
      <validators />
      <operators />
    </option>
    <!-- 凭证必须经由主管签字 -->
    <option name="IsVoucherNeedSupervisorSign">
      <validators />
      <operators />
    </option>
    <!-- 资金及往来赤字控制 -->
    <option name="IsControlCapAndARAPDeficit">
      <validators />
      <operators />
    </option>
    <!-- 资金及往来赤字控制方式 -->
    <option name="IsControlCapAndARAPDeficitMode">
      <validators />
      <operators />
    </option>
    <!-- 支票是否自动核对 -->
    <option name="IsCheckAutoCheck">
      <validators />
      <operators />
    </option>
    <!-- 手工录入 -->
    <option name="IsManualInputData">
      <validators />
      <operators />
    </option>
    <!-- 引自业务数据 -->
    <option name="IsFromBusinessData">
      <validators />
      <operators />
    </option>
    <!-- 所得税汇算申报类型 -->
    <option name="IncomeTaxCalculateType">
      <validators />
      <operators />
    </option>
    <!-- 税务核算处理方式 -->
    <option name="TaxAccrualProcessingType">
      <validators />
      <operators />
    </option>
    <!-- 包含未记账 -->
    <option name="ContainsWithoutAccount">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.CS.SM.AccountOption.Operators.CSContainsWithoutAccountOperator" loadFrom="server\Ufida.T.UA.CS.dll" moduleName="CS" />
      </operators>
    </option>
    <!-- 多营销机构 -->
  <option name="IsMultiMarketing">
    <operators>
      <concreteOperator isLoad="true" className="Ufida.T.UA.AccountOption.CS.CSIsMultiMarketingOperator" loadFrom="server\Ufida.T.UA.CS.dll" moduleName="CS" />
    </operators>
  </option>
  </AccountOptions>
  <!--单据审核后置操作处理器配置-->
  <VoucherAudit>
    <Processors>
      <Processor isLoad="true" className="Ufida.T.UA.VoucherTypeSetting.CS.CSAuditProcessor" moduleName="CS" loadFrom="server\Ufida.T.UA.CS.dll" />
    </Processors>
  </VoucherAudit>
  <!--期末处理处理器配置-->
  <ClosingProcess>
    <Processors>
      <Processor isLoad="true" className="Ufida.T.UA.TerminalProcess.CS.CSTerminalProcessor" moduleName="CS" description="CSTerminalProcessing" loadFrom="server\Ufida.T.UA.CS.dll" >
        <FunctionName name="CS" functionEnabled="false" />
      </Processor>
    </Processors>
    <UnProcessors>
      <UnProcessor isLoad="true" className="Ufida.T.UA.TerminalProcess.CS.CSUnTerminalProcessor" moduleName="CS" description="CSUnTerminalProcessing" loadFrom="server\Ufida.T.UA.CS.dll" >
        <FunctionName name="CS" functionEnabled="false" />
      </UnProcessor>
    </UnProcessors>
  </ClosingProcess>
  <!-- 财务期末结账 -->
  <FITerminalProcessors>
    <Processors>
      <Processor isLoad="true" className="Ufida.T.UA.TerminalProcess.CS.CSFITerminalProcessor" moduleName="CS" description="CSTerminalProcessing" loadFrom="server\Ufida.T.UA.CS.dll"  processIndex="100">
        <FunctionName name="CS" functionEnabled="true" />
      </Processor>
    </Processors>
    <UnProcessors>
      <UnProcessor isLoad="true" className="Ufida.T.UA.TerminalProcess.CS.CSUnFITerminalProcessor" moduleName="CS" description="CSUnTerminalProcessing" loadFrom="server\Ufida.T.UA.CS.dll" processIndex="900">
        <FunctionName name="CS" functionEnabled="true" />
      </UnProcessor>
    </UnProcessors>
  </FITerminalProcessors>
  <!--期间结转处理器配置-->
  <CarryForward>
    <Processors>
      <Processor isLoad="true" className="Ufida.T.UA.CarryForward.CS.CSForwardProcessor" moduleName="CS" description="CSIsCarryForwarding" loadFrom="server\Ufida.T.UA.CS.dll" />
    </Processors>
  </CarryForward>


  <!--版本控制处理器配置-->
  <VersionControl>
    <Versions>
      <!--仓管通-->
      <Version name="CGTStd">
        <Processors>
          <!--现金模块-->
          <processor isLoad="true" className="Ufida.T.UA.VersionControl.CS.CS_CGT_VersionControlProcessor" moduleName="CS" loadFrom="server\Ufida.T.UA.CS.dll" />
        </Processors>
      </Version>
      <!--业务通标准版-->
      <Version name="YWTStd">
        <Processors>
        </Processors>
      </Version>
      <!--业务通专业版-->
      <Version name="YWTPro">
        <Processors>
          <!--现金模块-->
          <processor isLoad="true" className="Ufida.T.UA.VersionControl.CS.CS_YWTPro_VersionControlProcessor" moduleName="CS" loadFrom="server\Ufida.T.UA.CS.dll" />
        </Processors>
      </Version>
      <!--工贸通标准版-->
      <Version name="GMTStd">
        <Processors>
        </Processors>
      </Version>
      <!--工贸通专业版-->
      <Version name="GMTPro">
        <Processors>
        </Processors>
      </Version>
      <!--财务通普及版-->
      <Version name="CWTStd">
        <Processors>
          <processor isLoad="true" className="Ufida.T.UA.VersionControl.CS.CS_CWTStd_VersionControlProcessor" moduleName="CS" loadFrom="server\Ufida.T.UA.CS.dll" />
        </Processors>
      </Version>
      <!--财务通专业版-->
      <Version name="CWTPro">
        <Processors>
          <processor isLoad="true" className="Ufida.T.UA.VersionControl.CS.CS_CWTPro_VersionControlProcessor" moduleName="CS" loadFrom="server\Ufida.T.UA.CS.dll" />
        </Processors>
      </Version>
      <!--用友通专业版-->
      <Version name="YYTPro">
        <Processors>
          <processor isLoad="true" className="Ufida.T.UA.VersionControl.CS.CS_YYTPro_VersionControlProcessor" moduleName="CS" loadFrom="server\Ufida.T.UA.CS.dll" />
        </Processors>
      </Version>
    </Versions>
  </VersionControl>


  <!--单据期间结转处理类配置-->
  <VoucherCarryForwards>
    <!-- 现金模块-->
    <VoucherCarryForward Code="CS01" Name="银行存取款单" Type="Ufida.T.UA.CarryForward.CS.BankCashAccessVoucherCarryForwardBP" loadFrom="server\Ufida.T.UA.CS.dll" />
    <VoucherCarryForward Code="CS02" Name="费用单" Type="Ufida.T.UA.CarryForward.CS.ExpenseVoucherCarryForwardBP" loadFrom="server\Ufida.T.UA.CS.dll" />
    <VoucherCarryForward Code="CS03" Name="收入单" Type="Ufida.T.UA.CarryForward.CS.IncomeVoucherCarryForwardBP" loadFrom="server\Ufida.T.UA.CS.dll" />
    <VoucherCarryForward Code="SYS0913" Name="期初余额" Type="Ufida.T.UA.CarryForward.CS.CashAccountPeriodBeginningCarryForwardBP" loadFrom="server\Ufida.T.UA.CS.dll" />
    <VoucherCarryForward Code="CSXX" Name="现金银行账" Type="Ufida.T.UA.CarryForward.CS.CashAccountCarryForwardBP" loadFrom="server\Ufida.T.UA.CS.dll" />
    <VoucherCarryForward Code="CS07" Name="现金盘点单" Type="Ufida.T.UA.CarryForward.CS.CashCheckVoucherCarryForwardBP" loadFrom="server\Ufida.T.UA.CS.dll" />
    <VoucherCarryForward Code="CS25" Name="支票本支票" Type="Ufida.T.UA.CarryForward.CS.ChequeCarryForwardBP" loadFrom="server\Ufida.T.UA.CS.dll" />
  </VoucherCarryForwards>
  <!--页面前置校验处理-->
  <PagePreCondition>
    <PagePreConditions>
      <!--单据校验-->
      <PagePreCondition Code="SYS0913" Name="现金银行期初余额" Url="CS/CashAccountBeginningEdit.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="CS01" Name="银行存取款单" Url="CS/BankCashAccessVoucherEdit.aspx?SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="CS02" Name="费用单" Url="CS/ExpenseVoucherEdit.aspx?SourceType=FromMenu" Type="Ufida.T.UA.PagePreCondition.CS.ExpenseVoucherPreCondition" loadFrom="server\Ufida.T.UA.CS.dll" />
      <PagePreCondition Code="CS03" Name="收入单" Url="CS/IncomeVoucherEdit.aspx?SourceType=FromMenu" Type="Ufida.T.UA.PagePreCondition.CS.IncomeVoucherPreCondition" loadFrom="server\Ufida.T.UA.CS.dll" />
      <PagePreCondition Code="CS06" Name="现金银行日记账" Url="BAPView/OpenList.aspx?sysId=cs&amp;mId=cs06&amp;pId=openListView&amp;SourceType=FromMenu" Type="Ufida.T.UA.PagePreCondition.CS.CashDailyPreCondition" loadFrom="server\Ufida.T.UA.CS.dll" />

      <PagePreCondition Code="SYS0914" Name="银行对账期初" Url="BAPView/OpenList.aspx?sysId=cs&amp;mId=sys0914&amp;pId=openListView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="CS07" Name="现金盘点单" Url="BAPView/Voucher.aspx?sysId=cs&amp;mId=cs07&amp;pId=voucherView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="CS2001" Name="银行对账单" Url="BAPView/OpenList.aspx?sysId=cs&amp;mId=cs2001&amp;pId=openListView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="CS2005" Name="银行对账" Url="BAPView/DoubleList.aspx?sysId=cs&amp;mId=cs2005&amp;pId=doubleListView&amp;SourceType=FromMenu&amp;IsFirst=Yes" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="CS2010" Name="余额调节表" Url="BAPView/VoucherList.aspx?mId=cs2010&amp;pId=voucherListView&amp;sysId=cs&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="CS2501" Name="支票本管理" Url="BAPView/BaseInfoList.aspx?mId=cs2501&amp;pId=baseInfoListView&amp;sysId=cs&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="CS2505" Name="支票管理" Url="BAPView/BaseInfoList.aspx?mId=cs2505&amp;pId=baseInfoListView&amp;sysId=cs&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="CS27" Name="票据打印" Url="CS/NotePrint/NoteManager.aspx" Type="Ufida.T.UA.PagePreCondition.CS.NoteManagerPreCondition" loadFrom="server\Ufida.T.UA.CS.dll" />
    </PagePreConditions>
    <Reports>
      <!-- 现金报表 -->
      <Report ReportName="CS_BankCashAccessVoucherDetailRpt" Code="CS4001" title="银行存取款单明细表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=CS_BankCashAccessVoucherDetailRpt" />
      <Report ReportName="CS_ExpenseVoucherDetailRpt" Code="CS4002" title="费用单明细表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=CS_ExpenseVoucherDetailRpt" />
      <Report ReportName="CS_IncomeVoucherDetailRpt" Code="CS4003" title="收入单明细表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=CS_IncomeVoucherDetailRpt" />
      <Report ReportName="CS_BankCashAccessVoucherSumRpt" Code="CS6001" title="银行存取款单统计表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=CS_BankCashAccessVoucherSumRpt" />
      <Report ReportName="CS_ExpenseVoucherSumRpt" Code="CS6002" title="费用单统计表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=CS_ExpenseVoucherSumRpt" />
      <Report ReportName="CS_IncomeVoucherSumRpt" Code="CS6003" title="收入单统计表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=CS_IncomeVoucherSumRpt" />
      <Report ReportName="CS_CashDetailAccountRpt" Code="CS7002" title="现金银行日记账" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=CS_CashDetailAccountRpt" />
      <Report ReportName="CS_CashSumAccountRpt" Code="CS7001" title="现金银行余额表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=CS_CashSumAccountRpt" />

      <Report ReportName="CS_DailyAccountFICheckAccount" Code="CS29" title="日记账与总账对账" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=CS_DailyAccountFICheckAccount" />
      <Report ReportName="CS_FundSumAccountRpt" Code="CS6050" title="资金统计表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=CS_FundSumAccountRpt" />
      <Report ReportName="CS_CashierDailyBalanceRpt" Code="CS7003" title="现金银行余额表" Url="ReportWithSimpleSearch.aspx?ReportName=CS_CashierDailyBalanceRpt" />

    </Reports>
  </PagePreCondition>
  <MessageCenter>
    <!--构建数据-->
    <ConstituteData>
      <!--单据消息设置-->
      <Module name="VoucherMessage">
        <Option name="CS01" >
          <add key="assemblyName" className="Ufida.T.CS.Service.BankCashAccessVoucherService" classLoadFrom="server\Ufida.T.CS.Service.dll"></add>
          <add key="methodName" findDTOList="FindList" findDTOByID="FindById" doReceiptMethod="Audit" getUFTableMethod="FindTable"></add>
        </Option>
        <Option name="CS02" >
          <add key="assemblyName" className="Ufida.T.CS.Service.ExpenseVoucherService" classLoadFrom="server\Ufida.T.CS.Service.dll"></add>
          <add key="methodName" findDTOList="FindList" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
        </Option>
        <Option name="CS03" >
          <add key="assemblyName" className="Ufida.T.CS.Service.IncomeVoucherService" classLoadFrom="server\Ufida.T.CS.Service.dll"></add>
          <add key="methodName" findDTOList="FindList" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
        </Option>

        <Option name="CS06" className="Ufida.T.CS.Service.CashAccountDailyService" loadFrom="server\Ufida.T.CS.Service.dll"/>
        <Option name="CS07">
          <add key="assemblyName" className="Ufida.T.CS.Service.CashCheckVoucherService" classLoadFrom="server\Ufida.T.CS.Service.dll"></add>
          <add key="methodName" findDTOList="FindList" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
        </Option>

      </Module>
    </ConstituteData>
  </MessageCenter>

</Config>