<?xml version="1.0" encoding="utf-8"?>
<Config>
  <!--功能启用前置校验和后置操作-->
  <FunctionEnable>
    <!--零售管理-->
    <option name="Retail">
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.DI.FunctionEnable.REValidator" loadFrom="server\Ufida.T.UA.DI.dll" moduleName="DI" />
      </validators>
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.DI.FunctionEnable.REEnableOperator" loadFrom="server\Ufida.T.UA.DI.dll" moduleName="DI"></concreteOperator>
      </operators>
    </option>

    <!--分销管理-->
    <option name="Distribution">
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.DI.FunctionEnable.DIValidator" loadFrom="server\Ufida.T.UA.DI.dll" moduleName="DI" />
      </validators>
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.DI.FunctionEnable.DIEnableOperator" loadFrom="server\Ufida.T.UA.DI.dll" moduleName="DI"></concreteOperator>
      </operators>
    </option>

	  <!--购销管理-->
	  <option name="PS">
		  <!--后置操作-->
		  <operators>
			  <concreteOperator isLoad="true" className="Ufida.T.UA.DI.FunctionEnable.PSEnableOperator" loadFrom="server\UFIDA.T.UA.DI.dll" moduleName="DI"></concreteOperator>
		  </operators>
	  </option>
	  
	  <!--普及进销存-->
      <option name="StdIERP">
          <!--后置操作-->
          <operators>
              <concreteOperator isLoad="true" className="Ufida.T.UA.DI.FunctionEnable.StdIERPEnableOperator" loadFrom="server\UFIDA.T.UA.DI.dll" moduleName="DI"></concreteOperator>
          </operators>
      </option>
  </FunctionEnable>

  <!--账套选项前置校验和后置操作类配置-->
  <AccountOptions>
    <option name="SAWorkflow">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.DI.AccountOption.ConcreteSAWorkflowControl" loadFrom="server\Ufida.T.UA.DI.dll" moduleName="DI" />
      </operators>
    </option>
    <option name="App_chanjet_SmartReplenish">
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.DI.AccountOption.SmartReplenishValidator" loadFrom="server\Ufida.T.UA.DI.dll" moduleName="DI" />
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.DI.AccountOption.SmartReplenishOprator" loadFrom="server\Ufida.T.UA.DI.dll" moduleName="DI" />
      </operators>
    </option>
    <option name="UseRunShop">
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.DI.AccountOption.UseRunShopValidator" loadFrom="server\Ufida.T.UA.DI.dll" moduleName="DI" />
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.DI.AccountOption.UseRunShopOperator" loadFrom="server\Ufida.T.UA.DI.dll" moduleName="DI" />
      </operators>
    </option>
    <!--采购需求分析-->
    <option name="App_chanjet_PRAnalysis">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.DI.AccountOption.PurchaseDemandAnalyseOperator" loadFrom="server\Ufida.T.UA.DI.dll" moduleName="DI" />
      </operators>
    </option>
    <!--多营销机构-->
    <option name="IsMultiMarketing">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.DI.AccountOption.MultiMarketingOperator" loadFrom="server\Ufida.T.UA.DI.dll" moduleName="DI" />
      </operators>
    </option>
    <!-- 多币种 -->
    <option name="IsMultiCurrency">
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.DI.AccountOption.CurrencyValidator" loadFrom="server\Ufida.T.UA.DI.dll" moduleName="DI" />
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.DI.AccountOption.CurrencyOperator" loadFrom="server\Ufida.T.UA.DI.dll" moduleName="DI" />
      </operators>
    </option>
    <!-- 存货批号管理 -->
    <option name="IsBatchNumberManage">
      <validators>
      </validators>
      <operators>
      </operators>
    </option>
    <!-- 存货有效期管理 -->
    <option name="IsQualityPeriodManage">
      <validators>
      </validators>
      <operators>
      </operators>
    </option>
    <!-- 数量小数位 -->
    <option name="QuantityPrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.DI.AccountOption.QuantityPrecisionOperator" loadFrom="server\Ufida.T.UA.DI.dll" moduleName="DI" />
      </operators>
    </option>
	<!-- 单价整数位 -->
    <option name="PriceIntegeration">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.DI.AccountOption.PriceIntegerationOperator" loadFrom="server\Ufida.T.UA.DI.dll" moduleName="DI" />
      </operators>
    </option>
    <!-- 单价小数位 -->
    <option name="PricePrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.DI.AccountOption.PricePrecisionOperato" loadFrom="server\Ufida.T.UA.DI.dll" moduleName="DI" />
      </operators>
    </option>
    <!-- 汇率小数位 -->
    <option name="ExchangeRatePrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.DI.AccountOption.ExchangRateOperator" loadFrom="server\Ufida.T.UA.DI.dll" moduleName="DI" />
      </operators>
    </option>
    <!-- 换算率小数位 -->
    <option name="ProportionRatePrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.DI.AccountOption.ChangeRatePrecisionOperator" loadFrom="server\Ufida.T.UA.DI.dll" moduleName="DI" />
      </operators>
    </option>
    <!-- 是否已经有货品使用了多计量 -->
    <option name="HaveUsedMultiUnit">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.DI.AccountOption.MultiUnitOperator" loadFrom="server\Ufida.T.UA.DI.dll" moduleName="DI" />
      </operators>
    </option>
    <!-- 存货分类管理 -->
    <option name="IsInventoryClass">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.DI.AccountOption.InventoryClassOperator" loadFrom="server\Ufida.T.UA.DI.dll" moduleName="DI" />
      </operators>
    </option>

    <option name="BarCodeManage">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.DI.AccountOption.BarCodeManageOperator" loadFrom="server\Ufida.T.UA.DI.dll" moduleName="DI" />
      </operators>
    </option>

    <!-- 往来单位分类管理 -->
    <option name="IsPartnerClass">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.DI.AccountOption.PartnerClassOperator" loadFrom="server\Ufida.T.UA.DI.dll" moduleName="DI" />
      </operators>
    </option>
    <!-- 项目分类管理 -->
    <option name="IsProgramDossier">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.DI.AccountOption.ProjectClassOperator" loadFrom="server\Ufida.T.UA.DI.dll" moduleName="DI" />
      </operators>
    </option>
  </AccountOptions>
  <!--单据审核后置操作处理器配置-->
  <VoucherAudit>
    <Processors>
      <Processor isLoad="true" className="Ufida.T.UA.DI.AccountOption.DIVoucherAuditProcess" moduleName="DI" loadFrom="server\Ufida.T.UA.DI.dll" />
    </Processors>
  </VoucherAudit>
  <!--期末处理处理器配置-->
  <ClosingProcess>
    <Processors>
      <Processor isLoad="true" className="Ufida.T.UA.DI.TerminalProcess.TerminalProcessor" moduleName="DI" description="DITerminalProcessing" loadFrom="server\Ufida.T.UA.DI.dll" />
    </Processors>
    <UnProcessors>
      <UnProcessor isLoad="true" className="Ufida.T.UA.DI.TerminalProcess.UnTerminalProcessor" moduleName="DI" description="DIUnTerminalProcessing" loadFrom="server\Ufida.T.UA.DI.dll" />
    </UnProcessors>
  </ClosingProcess>
  <!--期间结转处理器配置-->
  <CarryForward>
    <Processors>
      <Processor isLoad="true" className="Ufida.T.UA.DI.CarryForward.CarryForwardProcessor" moduleName="DI" description="DIIsCarryForwarding" loadFrom="server\Ufida.T.UA.DI.dll" />
    </Processors>
  </CarryForward>


  <!--单据期间结转处理类配置-->
  <VoucherCarryForwards>
    <VoucherCarryForward Code="DI15" Name="要货单"  Type="Ufida.T.UA.DI.StockRequestCarryFarward" loadFrom="server\Ufida.T.UA.DI.dll" />
    <VoucherCarryForward Code="DI20" Name="配货单"  Type="Ufida.T.UA.DI.DistributionCarryFarward" loadFrom="server\Ufida.T.UA.DI.dll" />
    <VoucherCarryForward Code="DI25" Name="库存销量上报单"  Type="Ufida.T.UA.DI.StockSalesReportCarryForward" loadFrom="server\Ufida.T.UA.DI.dll" />
  </VoucherCarryForwards>
  <!--页面前置校验处理-->
  <PagePreCondition>
    <PagePreConditions>
      <!--单据校验-->
      <!--分销管理导航-->
      <PagePreCondition Code="DI01" Name="分销管理导航" Url="DR/Distributor/DistributorGuide/DIDistributorGuide.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />

      <PagePreCondition Code="DI15" Name="要货单" Url="BAPView/Voucher.aspx" Type="Ufida.T.UA.DI.PagePreCondition.DIPreConditionForStockRequest" loadFrom="server\Ufida.T.UA.DI.dll" />
      <PagePreCondition Code="DI1001" Name="门店补货规则" Url="DR/Distributor/RRA/ReplenishmentRuleSetting.aspx?mId=DI1001&amp;sysId=DI&amp;pId=openListView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="DI1003" Name="客户补货规则" Url="DR/Distributor/RRA/ReplenishmentRuleSetting.aspx?mId=DI1003&amp;sysId=DI&amp;pId=openListView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <PagePreCondition Code="DI1015" Name="补货需求分析" Url="DR/Distributor/RRA/RRATable.aspx?mId=DI1015&amp;sysId=DI&amp;pId=RRAView&amp;SourceType=FromMenu" Type="Ufida.T.UA.DI.PagePreCondition.RRAPreCondition" loadFrom="server\Ufida.T.UA.DI.dll" />
      <PagePreCondition Code="DI1010" Name="补货优先级" Url="DR/Distributor/RRA/PriorityLevel.aspx#620:320" Type="Ufida.T.UA.DI.PagePreCondition.RRAPriorityLevelPreCondition" loadFrom="server\Ufida.T.UA.DI.dll" />
      <!--配送单-->
      <PagePreCondition Code="DI20" Name="配送单" Url ="BAPView/Voucher.aspx?mId=DI20&amp;sysId=DI&amp;pId=voucherView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <!--要货单-->
      <PagePreCondition Code="DI15" Name="要货单" Url ="BAPView/Voucher.aspx?mId=DI15&amp;sysId=DI&amp;pId=voucherView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <!--库存销量上报单-->
      <PagePreCondition Code="DI25" Name="库存销量上报单" Url ="BAPView/Voucher.aspx?mId=DI25&amp;sysId=DI&amp;pId=voucherView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />

      <!--跑店向导-->
      <PagePreCondition Code="DI0501" Name="跑店向导" Url ="DR/Distributor/RunShop/RunShopGuide.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <!--路线规划-->
      <PagePreCondition Code="DI0505" Name="路线规划" Url ="BAPView/Voucher.aspx?pId=voucherView&amp;mId=DI0505&amp;sysId=DI&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <!--跑店跟踪-->
      <PagePreCondition Code="DI0515" Name="跑店跟踪" Url ="DR/Distributor/RunShop/RunShopRecordSearch.aspx?mId=DI0515&amp;pId=commonList&amp;sysId=DI&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />

    </PagePreConditions>
    <Reports>
      <!--<Report ReportName="ST_PurchaseReceiveDetailRpt" Code="ST4001" title="采购入库单明细表" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_PurchaseReceiveDetailRpt"/>-->

      <!--配送单明细表-->
      <Report ReportName="DI_DistributionDetailRpt" Code="DI3505" title="配送单明细表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=DI_DistributionDetailRpt" />
      <Report ReportName="DI_StockSalesDetailRpt" Code="DI3506" title="库存销量上报明细表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=DI_StockSalesDetailRpt" />
      <!-- Report ReportName="DI_DistributionDetailRpt" Code="DI3505" title="配送单明细表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=DI_DistributionDetailRpt" / -->

      <!--配送单统计表-->
      <Report ReportName="DI_DistributionSummaryRpt" Code="DI3515" title="要货单统计表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=DI_DistributionSummaryRpt" />
      <Report ReportName="DI_DistributionSummaryAnalysisRpt" Code="DI3520" title="配送综合统计表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=DI_DistributionSummaryAnalysisRpt" />
      <Report ReportName="DI_StockSalesAnalysisRpt" Code="DI3525" title="库存销量上报分析表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=DI_StockSalesAnalysisRpt" />
      <!-- Report ReportName="DI_StockRequestDetailRpt" Code="RE4015" title="要货单明细表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=DI_StockRequestDetailRpt" / -->
      <!--跑店记录明细表-->
      <Report ReportName="DI_RunShopDetailRpt" Code="DI3507" title="跑店记录明细表" />
      <!--跑店能力分析表-->
      <Report ReportName="DI_RunShopAnalysisRpt" Code="DI3535" title="跑店能力分析表" />
      <!--终端销售分析表-->
      <Report ReportName="DI_TerminalSaleAnalysisRpt" Code="DI3540" title="终端销售分析表" />
    </Reports>
  </PagePreCondition>

  <MessageCenter>
    <!--构建数据-->
    <ConstituteData>
      <!--单据消息设置-->
      <Module name="VoucherMessage">
        <!--<Option name="ST1001" >
					<add key="assemblyName" className="Ufida.T.ST.Service.PurchaseReceiveService" classLoadFrom="server\Ufida.T.ST.Service.dll" dtoName="Ufida.T.ST.DTO.RDRecordDTO" dtoLoadFrom="server\Ufida.T.ST.DTO.dll" detailDTOName="Ufida.T.ST.DTO.RDRecordDetailDTO"></add>
					<add key="methodName" findDTOList="FindListForMessages" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
				</Option>-->
	<!-- 要货单 -->
	<Option name="DI15" >
	  <add key="assemblyName" className="Ufida.T.DI.Service.StockRequestService" classLoadFrom="server\Ufida.T.DI.Service.dll" dtoName="" dtoLoadFrom="" detailDTOName=""></add>
          <add key="methodName" findDTOList="FindListWithDetail" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
	</Option>
        <Option name="DI20" >
          <add key="assemblyName" className="Ufida.T.DI.Service.DistributionVoucherService" classLoadFrom="server\Ufida.T.DI.Service.dll" dtoName="Ufida.T.DI.DTO" dtoLoadFrom="server\Ufida.T.DI.DTO.dll" detailDTOName="Ufida.T.DI.DTO.DistributionDetailDTO"></add>
          <add key="methodName" findDTOList="FindListForMessages" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
        </Option>
       <!--库存销量上报单-->
       <Option name="DI25" >
              <add key="assemblyName" className="Ufida.T.DI.Service.StockSalesReportService" classLoadFrom="server\Ufida.T.DI.Service.dll" dtoName="Ufida.T.DI.DTO" dtoLoadFrom="server\Ufida.T.DI.DTO.dll" detailDTOName="Ufida.T.DI.DTO.StockSalesReportDetailDTO"></add>
              <add key="methodName" findDTOList="FindListWithDetail" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
          </Option>
      </Module>
    </ConstituteData>
  </MessageCenter>




  <!--会计期间前置校验-->
  <PeriodSettings>
    <!--前置校验-->
  </PeriodSettings>

  <!--自定义项后置 -->
  <UserDefineItemUpdated>
    <!--往来单位-->
    <Voucher name="Partner">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.DI.DefineItem.PartnerUserDefineItemOperator" loadFrom="server\Ufida.T.UA.DI.dll" moduleName="DI" />
      </operators>     
    </Voucher>
  </UserDefineItemUpdated>

  <!--账套管理-->
  <AccountManage>
    <AccountClear>
      <concreteOperator isLoad="true" className="Ufida.T.UA.DI.AccountOption.DIClearOperator" loadFrom="server\Ufida.T.UA.DI.dll" moduleName="DI" />
    </AccountClear>
  </AccountManage>
  
</Config>