<?xml version="1.0" encoding="utf-8"?>
<Config>
	<!--功能启用前置校验和后置操作-->
	<FunctionEnable>
		<!--库存核算-->
		<option name="Stock">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FC.FunctionEnable.FCFunctionEnableOperate" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC" />
			</operators>
		</option>
		<!--购销管理-->
		<option name="PS">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FC.FunctionEnable.FCFunctionEnableOperate" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC" />
			</operators>
		</option>
		<!--零售管理-->
		<option name="Retail">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true"  className="Ufida.T.UA.FC.FunctionEnable.FCFunctionEnableOperate" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC"  />
			</operators>
		</option>
		<!--分销管理-->
		<option name="Distribution">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true"  className="Ufida.T.UA.FC.FunctionEnable.FCFunctionEnableOperate" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC"  />
			</operators>
		</option>
		<!--自制加工-->
		<option name="Manufacture">
			<!--后置操作-->
			<operators>
			</operators>
		</option>
		<!--委外加工-->
		<option name="ConsignManufacture">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FC.FunctionEnable.FCFunctionEnableOperate" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC" />
			</operators>
		</option>
		<!--成本核算-->
		<option name="Costing">
			<!--后置操作-->
			<operators>
			</operators>
		</option>
		<!--MRP运算-->
		<option name="MRP">
			<!--后置操作-->
			<operators>
			</operators>
		</option>
		<!--工序管理-->
		<option name="Process">
			<!--后置操作-->
			<operators>
			</operators>
		</option>
		<!--普及账表-->
		<option name="StdAccount">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FC.FunctionEnable.FCFunctionEnableOperate" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC" />
			</operators>
		</option>
		<!--总账-->
		<option name="Ledger">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FC.FunctionEnable.FCFunctionEnableOperate" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC" />
			</operators>
		</option>
		<!--现金银行-钱流-->
		<option name="CashBankMoneyFlow">
			<!--前置校验-->
			<validators>
			</validators>
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FC.FunctionEnable.FCFunctionEnableOperate" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC" />
			</operators>
		</option>
		<!--现金银行-出纳-->
		<option name="CS">
			<!--前置校验-->
			<validators>
			</validators>
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FC.FunctionEnable.FCFunctionEnableOperate" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC" />
			</operators>
		</option>
		<!--票据打印-->
		<option name="DocPrint">
			<!--后置操作-->
			<operators>
			</operators>
		</option>
		<!--税务核算与申报-->
		<option name="TaxAccrual">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FC.FunctionEnable.FCFunctionEnableOperate" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC" />
			</operators>
		</option>
		<!--所得税汇算-->
		<option name="IncomeTaxSettlement">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FC.FunctionEnable.FCFunctionEnableOperate" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC" />
			</operators>
		</option>
		<!--资产管理-->
		<option name="Asset">
			<!--前置校验-->
			<validators>
			</validators>
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FC.FunctionEnable.FCFunctionEnableOperate" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC" />
			</operators>
		</option>
		<!--普及进销存-->
		<option name="StdIERP">
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FC.FunctionEnable.FCFunctionEnableOperate" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC"/>
			</operators>
		</option>
	</FunctionEnable>

	<!--会计期间前置校验-->
	<PeriodSettings>
		<!--前置校验-->
		<validators>
			<!--事例:<concreteValidator isLoad="true" className="Ufida.T.UA.SA.FunctionEnable.Stock" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA"></concreteValidator>-->
		</validators>
	</PeriodSettings>

	<!--账套选项前置校验和后置操作类配置-->
	<AccountOptions>
		<!--按行业性质预置科目设置 -->
		<option name="IsSetAccountCodingByTradeKind">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FC.AccountOption.FCSetAcctRuleOperator" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC" />
			</operators>
		</option>
		<!--暂估金额含税设置 -->
		<option name="IsTemporayEstimatePayableTax">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FC.FunctionEnable.FCFunctionEnableOperate" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC" />
			</operators>
		</option>
		<!-- 多币种 -->
		<option name="IsMultiCurrency">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FC.AccountOption.FCCurrencyOperator" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC" />
			</operators>
		</option>
		<!-- 存货批号管理 -->
		<option name="IsBatchNumberManage">
			<validators>
			</validators>
			<operators>
			</operators>
		</option>
		<!-- 存货有效期管理 -->
		<option name="IsQualityPeriodManage">
			<validators>
			</validators>
			<operators>
			</operators>
		</option>
		<!-- 货位管理 -->
		<option name="IsInvLocationManage">
			<validators>
			</validators>
			<operators>
			</operators>
		</option>
		<!-- 委外加工 -->
		<option name="IsMadeByOthers">
			<validators>
			</validators>
			<operators>
			</operators>
		</option>
		<!-- 数量小数位 -->
		<option name="QuantityPrecision">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FC.AccountOption.FCQuantityPrecisionOperator" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC" />
			</operators>
		</option>
		<!-- 单价小数位 -->
		<option name="PricePrecision">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FC.AccountOption.FCPricePrecisionOperator" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC" />
			</operators>
		</option>
		<!-- 发票单价小数位 -->
		<option name="InvoicePricePrecision">
			<validators>
			</validators>
			<operators>
			</operators>
		</option>
		<!-- 汇率小数位 -->
		<option name="ExchangeRatePrecision">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FC.AccountOption.FCExchangRateOperator" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC" />
			</operators>
		</option>
		<!-- 换算率小数位 -->
		<option name="ProportionRatePrecision">
			<validators>
			</validators>
			<operators>
			</operators>
		</option>
		<!-- 批号和计价法联用 -->
		<option name="IsBatchNumberWithPriceMode">
			<validators>
			</validators>
			<operators>
			</operators>
		</option>
		<!-- 计价模式 -->
		<option name="PriceMode">
			<validators>
			</validators>
			<operators>
			</operators>
		</option>
		<!-- 暂估处理方式 -->
		<option name="TemporayEstimateMode">
			<validators>
			</validators>
			<operators>
			</operators>
		</option>
		<!-- 计价时机 -->
		<option name="PriceOpportunity">
			<validators>
			</validators>
		</option>
		<!-- 采购立账类型 -->
		<option name="PUAccount">
			<validators />
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FC.AccountOption.ConcretePUWorkflowControlByFC" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC" />
			</operators>
		</option>
		<!-- 销售立账类型 -->
		<option name="SAAccount">
			<validators />
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FC.AccountOption.ConcreteSAWorkflowControlByFC" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC" />
			</operators>
		</option>
		<!-- 销售流程 -->
		<option name="SAWorkflow">
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FC.AccountOption.ConcreteSAWorkflowControlByFC" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC" />
			</operators>
		</option>
		<!-- 采购流程 -->
		<option name="PUWorkflow">
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FC.AccountOption.ConcretePUWorkflowControlByFC" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC" />
			</operators>
		</option>
		<!-- 进货单自动生成入库单 -->
		<option name="IsPurchaseOrderAutoStockOrder">
			<operators>
			</operators>
		</option>
		<!-- 销货单自动生成出库单 -->
		<option name="IsDeliveryOrderAutoStockOrder">
			<operators>
			</operators>
		</option>
		<!-- 是否已经有货品使用了多计量 -->
		<option name="HaveUsedMultiUnit">
			<operators>
			</operators>
		</option>
		<!-- 存货分类管理 -->
		<option name="IsInventoryClass">
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FC.AccountOption.FCInventoryClassOperator" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC" />
			</operators>
		</option>
		<!-- 往来单位分类管理 -->
		<option name="IsPartnerClass">
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FC.AccountOption.FCPartnerClassOperator" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC" />
			</operators>
		</option>
		<!-- 账套性质 -->
		<option name="AccoutType">
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FC.AccountOption.FCAccoutTypeOperator" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC" />
			</operators>
		</option>
		<!-- 核销方式 -->
		<option name="CheckMode">
			<operators>
			</operators>
		</option>
		<!-- 项目档案分类管理 -->
		<option name="IsProgramDossier">
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FC.AccountOption.FCProjectClassOperator" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC" />
			</operators>
		</option>
		<!-- 成品率小数位 -->
		<option name="ProductRateDecimalDigits">
			<validators />
			<operators />
		</option>
		<!-- 损耗率小数位 -->
		<option name="ShrinkageRateDecimalDigits">
			<validators />
			<operators />
		</option>
		<!-- 考虑成品率 -->
		<option name="IsRelationWithProductRate">
			<validators />
			<operators />
		</option>
		<!-- 考虑损耗率 -->
		<option name="IsRelationWithShrinkageRate">
			<validators />
			<operators />
		</option>
		<!-- 采购需求累计下达数超建议 -->
		<option name="IsStockAcquireNumOvertopAdvice">
			<validators />
			<operators />
		</option>
		<!-- 已订未出货 -->
		<option name="IsOrderedButNoSend">
			<validators />
			<operators />
		</option>
		<!-- 销售应收款 -->
		<option name="IsReceivableAccount">
			<validators />
			<operators />
		</option>
		<!-- 预收款 -->
		<option name="IsPrepay">
			<validators />
			<operators />
		</option>
		<!-- 已出货未立账 -->
		<option name="IsSendedButNoBalance">
			<validators />
			<operators />
		</option>
		<!-- 收入单 -->
		<option name="IsRevenueBill">
			<validators />
			<operators />
		</option>
		<!-- 领料数量计算方式 -->
		<option name="CalculateTypeOfDrawMaterial">
			<validators />
			<operators />
		</option>
		<!-- 生产待入量 -->
		<option name="IsManufacturedWaitIncept">
			<validators />
			<operators />
		</option>
		<!-- 生产待发量 -->
		<option name="IsManufacturedWaitSend">
			<validators />
			<operators />
		</option>
		<!-- 计价周期类型 -->
		<option name="AccountValueCycleType">
			<validators />
			<operators />
		</option>
		<!-- 计价周期 -->
		<option name="AccountValueCycle">
			<validators />
			<operators />
		</option>
		<!-- 考虑成本率 -->
		<option name="MRPOprationWithProductRate">
			<validators />
			<operators />
		</option>
		<!-- 考虑损耗率 -->
		<option name="MRPOprationWithShrinkageRate">
			<validators />
			<operators />
		</option>
		<!-- MRP累计下达数量允许超建议量 -->
		<option name="IsMRPAcquireNumOvertopAdvice">
			<validators />
			<operators />
		</option>
		<!-- 产成品入库控制 -->
		<option name="ProductInceptControl">
			<validators />
			<operators />
		</option>
		<!-- 产成品入库控制范围 -->
		<option name="ProductInceptControlBound">
			<validators />
			<operators />
		</option>
		<!-- 产成品入库控制方式 -->
		<option name="ProductInceptControlType">
			<validators />
			<operators />
		</option>
		<!-- 产成品入库控制密码 -->
		<option name="ProductInceptControlPwd">
			<validators />
			<operators />
		</option>
		<!-- 委外价格控制 -->
		<option name="IsConsignTiptopPriceControl">
			<validators />
			<operators />
		</option>
		<!-- 委外价格控制方式 -->
		<option name="ConsignTiptopPriceControlType">
			<validators />
			<operators />
		</option>
		<!-- 委外价格控制密码 -->
		<option name="ConsignTiptopPriceControlPwd">
			<validators />
			<operators />
		</option>
		<!-- 成本计算方式 -->
		<option name="CostCalculateType">
			<validators />
			<operators />
		</option>
		<!-- 在产品成本分配方式（原材料） -->
		<option name="WIPCostAllocationTypeMaterial">
			<validators />
			<operators />
		</option>
		<!-- 在产品成本分配方式（费用） -->
		<option name="WIPCostAllocationTypeCharges">
			<validators />
			<operators />
		</option>
		<!-- 工序日报严格按工序流程控制 -->
		<option name="IsManuControlByProcess">
			<validators />
			<operators />
		</option>
		<!-- 控制范围 -->
		<option name="IsManuProcessControlRange">
			<validators />
			<operators />
		</option>
		<!-- 控制方式 -->
		<option name="IsManuProcessControlType">
			<validators />
			<operators />
		</option>
		<!-- 控制密码 -->
		<option name="IsManuProcessControlTypePwd">
			<validators />
			<operators />
		</option>
		<!-- 材料超计划领用 -->
		<option name="IsMaterialDrawExceedPlan">
			<validators />
			<operators />
		</option>
		<!-- 材料超计划领用控制方式 -->
		<option name="MaterialDrawControlType">
			<validators />
			<operators />
		</option>
		<!-- 材料超计划领用控制密码 -->
		<option name="MaterialDrawControlTypePwd">
			<validators />
			<operators />
		</option>
		<!-- 制单序时控制 -->
		<option name="IsControlWhenGenerateDoc">
			<validators />
			<operators />
		</option>
		<!-- 现金流量必录 -->
		<option name="IsCashFlowMustInput">
			<validators />
			<operators />
		</option>
		<!-- 制单人与审核人可为同一人 -->
		<option name="CanMakerIsAuditor">
			<validators />
			<operators />
		</option>
		<!-- 科目编码级次 -->
		<option name="AccountCodingLevel">
			<validators />
			<operators />
		</option>
		<!-- 凭证需审核才可记账 -->
		<option name="IsBookkeepOnlyWhenVoucherAudit">
			<validators />
			<operators />
		</option>
		<!-- 出纳凭证必须经由出纳签字 -->
		<option name="IsPayOnlyWhenCashierSignature">
			<validators />
			<operators />
		</option>
		<!-- 凭证必须经由主管签字 -->
		<option name="IsVoucherNeedSupervisorSign">
			<validators />
			<operators />
		</option>
		<!-- 资金及往来赤字控制 -->
		<option name="IsControlCapAndARAPDeficit">
			<validators />
			<operators />
		</option>
		<!-- 资金及往来赤字控制方式 -->
		<option name="IsControlCapAndARAPDeficitMode">
			<validators />
			<operators />
		</option>
		<!-- 支票是否自动核对 -->
		<option name="IsCheckAutoCheck">
			<validators />
			<operators />
		</option>
		<!-- 手工录入 -->
		<option name="IsManualInputData">
			<validators />
			<operators />
		</option>
		<!-- 引自业务数据 -->
		<option name="IsFromBusinessData">
			<validators />
			<operators />
		</option>
		<!-- 所得税汇算申报类型 -->
		<option name="IncomeTaxCalculateType">
			<validators />
			<operators />
		</option>
		<!-- 税务核算处理方式 -->
		<option name="TaxAccrualProcessingType">
			<validators />
			<operators />
		</option>
		<!-- 未销货的销售出库单 -->
		<option name="NoSaledDispatchVoucher">
			<validators />
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FC.FunctionEnable.FCFunctionEnableOperate" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC" />
			</operators>
		</option>
		<!-- 未出库的销货单 -->
		<option name="NoDispatchSaleDelivery">
			<validators />
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FC.FunctionEnable.FCFunctionEnableOperate" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC" />
			</operators>
		</option>
		<!-- 销货单结转出库成本取价方式 -->
		<option name="SaledToDispatchType">
			<validators />
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FC.FunctionEnable.FCFunctionEnableOperate" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC" />
			</operators>
		</option>
		<!-- 组装拆卸业务生成凭证的单据 -->
		<option name="AssemDetachToGL">
			<validators />
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FC.FunctionEnable.FCFunctionEnableOperate" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC" />
			</operators>
		</option>
		<!-- 形态转换业务生成凭证的单据 -->
		<option name="ShapeToGL">
			<validators />
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FC.FunctionEnable.FCFunctionEnableOperate" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC" />
			</operators>
		</option>
		<!-- 盘点业务生成凭证的单据 -->
		<option name="CheckBusinessToGL">
			<validators />
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FC.FunctionEnable.FCFunctionEnableOperate" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC" />
			</operators>
		</option>
	</AccountOptions>
	<!--单据审核后置操作处理器配置-->
	<VoucherAudit>
		<Processors>
		</Processors>
	</VoucherAudit>
	<!--期末处理处理器配置-->
	<ClosingProcess>
		<Processors>
		</Processors>
		<UnProcessors>
		</UnProcessors>
	</ClosingProcess>
	<!-- 财务期末结账 -->
	<FITerminalProcessors>
		<Processors>
		</Processors>
		<UnProcessors>
		</UnProcessors>
	</FITerminalProcessors>
	<!--期间结转处理器配置-->
	<CarryForward>
		<Processors>
		</Processors>
	</CarryForward>


	<!--版本控制处理器配置-->
	<VersionControl>
		<Versions>
			<!--仓管通-->
			<Version name="CGTStd">
				<Processors>
				</Processors>
			</Version>
			<!--业务通标准版-->
			<Version name="YWTStd">
				<Processors>
				</Processors>
			</Version>
			<!--业务通专业版-->
			<Version name="YWTPro">
				<Processors>
				</Processors>
			</Version>
			<!--工贸通标准版-->
			<Version name="GMTStd">
				<Processors>
				</Processors>
			</Version>
			<!--工贸通专业版-->
			<Version name="GMTPro">
				<Processors>
				</Processors>
			</Version>
			<!--财务通标准版-->
			<Version name="CWTStd">
				<Processors>
				</Processors>
			</Version>
			<!--财务通专业版-->
			<Version name="CWTPro">
				<Processors>
				</Processors>
			</Version>
			<!--用友通专业版-->
			<Version name="YYTPro">
				<Processors>
				</Processors>
			</Version>
		</Versions>
	</VersionControl>

	<!--单据期间结转处理类配置-->
	<VoucherCarryForwards>
	</VoucherCarryForwards>
	<!--页面前置校验处理-->
	<PagePreCondition>
		<PagePreConditions>
			<!--单据校验-->
			<!-- 期初同步校验-->
			<PagePreCondition Code="SYS0961" Name="期初同步" Url="FC/PeriodBeginSync/UIPeriodBeginSync.aspx" Type="Ufida.T.UA.FC.SM.PagePreCondition.PeriodBeginSyncPreCondition" loadFrom="server\Ufida.T.UA.FC.dll" />
			<PagePreCondition Code="SYS0971" Name="期初对账" Url="FC/PBSCheckAccount/UIPBSCheckAccount.aspx" Type="Ufida.T.UA.FC.SM.PagePreCondition.PbsCheckAccountPreCondition" loadFrom="server\Ufida.T.UA.FC.dll" />
			<PagePreCondition Code="SYS2143" Name="科目设置" Url="FC/AccountRule/AccountRulePage.aspx?sysId=sys&amp;mId=sys2143&amp;pId=AccountRulePage&amp;cId=sys2143_AccountRulePage&amp;SourceType=FromMenu" Type="Ufida.T.UA.FC.SM.PagePreCondition.FcWizardPreCondition" loadFrom="server\Ufida.T.UA.FC.dll" />
			<PagePreCondition Code="SYS2153" Name="摘要设置" Url="FC/DocSummary/UIDocSummary.aspx?sysId=sys&amp;mId=sys2153&amp;pId=openListView&amp;cId=sys2153_editList#1000:475" Type="Ufida.T.UA.FC.SM.PagePreCondition.FcWizardPreCondition" loadFrom="server\Ufida.T.UA.FC.dll" />
			<PagePreCondition Code="SYS2163" Name="凭证生成" Url="BAPView/Navigator.aspx?navId=FcWizard&amp;sysId=sys&amp;mId=SYS2163&amp;pId=voucherSearchView&amp;cId=sys2163_search" Type="Ufida.T.UA.FC.SM.PagePreCondition.FcWizardPreCondition" loadFrom="server\Ufida.T.UA.FC.dll" />
			<PagePreCondition Code="SYS2173" Name="凭证查询" Url="BAPView/VoucherList.aspx?pId=voucherView&amp;sysId=sys&amp;mId=SYS2173&amp;SourceType=FromMenu" Type="Ufida.T.UA.FC.SM.PagePreCondition.FcWizardPreCondition" loadFrom="server\Ufida.T.UA.FC.dll" />
			<PagePreCondition Code="SYS2183" Name="期末成本结转" Url="BAPView/Navigator.aspx?navId=FcWizard2183&amp;sysId=sys&amp;mId=SYS2183&amp;pId=voucherSearchView&amp;cId=sys2183_search" Type="Ufida.T.UA.FC.SM.PagePreCondition.FcWizardPreCondition" loadFrom="server\Ufida.T.UA.FC.dll" />
		</PagePreConditions>
		<Reports>
		</Reports>
	</PagePreCondition>

  <!--数据清除-->
  <AccountManage>
    <AccountClear>
      <concreteOperator isLoad="true" className="Ufida.T.UA.AccountClear.FC.FCAccountClear" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC" />
    </AccountClear>
  </AccountManage>
  
	<!--自定义项后置 -->
	<UserDefineItemUpdated>
		<!--所有单据-->
		<Voucher name="*">
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.FC.UserDefineItem.FCUDIOperator" loadFrom="server\Ufida.T.UA.FC.dll" moduleName="FC" />
			</operators>
		</Voucher>
	</UserDefineItemUpdated>
</Config>