<?xml version="1.0" encoding="utf-8"?>
<Config>
  <!--功能启用前置校验和后置操作-->
  <FunctionEnable>
    <!--总账-->
    <option name="Ledger">
      <!--前置校验-->
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.GL.SM.FunctionEnable.Validate.GLValidate" loadFrom="server\Ufida.T.UA.GL.dll" moduleName="GL" />
      </validators>
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.GL.SM.FunctionEnable.Operators.GLFunctionEnable" loadFrom="server\Ufida.T.UA.GL.dll" moduleName="GL"></concreteOperator>
        <concreteValidator isLoad="true" className="Ufida.T.UA.GL.SM.AccountOption.Operators.GLAssociateVoucherOperator" loadFrom="server\Ufida.T.UA.GL.dll" moduleName="GL" />
      </operators>
    </option>
    
    <!--普及账表-->
    <option name="StdAccount">
      <!--前置校验-->
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.GL.SM.FunctionEnable.Validate.GLValidate" loadFrom="server\Ufida.T.UA.GL.dll" moduleName="GL" />
      </validators>
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.GL.SM.FunctionEnable.Operators.GLFunctionEnable" loadFrom="server\Ufida.T.UA.GL.dll" moduleName="GL"></concreteOperator>
        <concreteValidator isLoad="true" className="Ufida.T.UA.GL.SM.AccountOption.Operators.GLAssociateVoucherOperator" loadFrom="server\Ufida.T.UA.GL.dll" moduleName="GL" />
      </operators>
    </option>
    
    <!--普及进销存-->
    <option name="StdIERP">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true"  className="Ufida.T.UA.GL.SM.FunctionEnable.Operators.OtherGlFunctionEnable" loadFrom="server\Ufida.T.UA.GL.dll" moduleName="GL" />
      </operators>
    </option>
    
    <!--库存核算-->
    <option name="Stock">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.GL.SM.FunctionEnable.Operators.OtherGlFunctionEnable" loadFrom="server\Ufida.T.UA.GL.dll" moduleName="GL" />
      </operators>
    </option>
    
    <!--购销管理-->
    <option name="PS">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.GL.SM.FunctionEnable.Operators.OtherGlFunctionEnable" loadFrom="server\Ufida.T.UA.GL.dll" moduleName="GL" />
      </operators>
    </option>

    <!--固定资产-->
    <option name="Asset">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.GL.SM.FunctionEnable.Operators.OtherGlFunctionEnable" loadFrom="server\Ufida.T.UA.GL.dll" moduleName="GL" />
      </operators>
    </option>

    <!--零售管理-->
    <option name="Retail">
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.GL.SM.FunctionEnable.Operators.OtherGlFunctionEnable" loadFrom="server\Ufida.T.UA.GL.dll" moduleName="GL" />
      </operators>
    </option>

    <!--现金银行-钱流-->
    <option name="CashBankMoneyFlow">
      <!--后置操作-->
      <operators>
        <!--<concreteValidator isLoad="true" className="Ufida.T.UA.GL.SM.AccountOption.Operators.GLAssociateVoucherOperator" loadFrom="server\Ufida.T.UA.GL.dll" moduleName="GL" />-->
      </operators>
    </option>

    <!--现金银行-出纳-->
    <option name="CS">
      <!--后置操作-->
      <operators>
         <concreteOperator isLoad="true" className="Ufida.T.UA.GL.SM.FunctionEnable.Operators.OtherGlFunctionEnable" loadFrom="server\Ufida.T.UA.GL.dll" moduleName="GL" />
      </operators>
    </option>

    <!--自制加工-->
    <option name="Manufacture">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    
    <!--委外加工-->
    <option name="ConsignManufacture">
      <!--后置操作-->
      <operators>
        <!--<concreteValidator isLoad="true" className="Ufida.T.UA.GL.SM.AccountOption.Operators.GLAssociateVoucherOperator" loadFrom="server\Ufida.T.UA.GL.dll" moduleName="GL" />-->
      </operators>
    </option>
    
    <!--成本核算-->
    <option name="Costing">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    
    <!--MRP运算-->
    <option name="MRP">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    
    <!--工序管理-->
    <option name="Process">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
   
    <!--票据打印-->
    <option name="DocPrint">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    
    <!--税务核算与申报-->
    <option name="TaxAccrual">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    
    <!--所得税汇算-->
    <option name="IncomeTaxSettlement">
      <!--后置操作-->
      <operators>
      </operators>
    </option>
    
  </FunctionEnable>
  <!--会计期间前置校验-->
  <PeriodSettings>
    <!--前置校验-->
    <validators>
      <!--事例:<concreteValidator isLoad="true" className="Ufida.T.UA.SA.FunctionEnable.Stock" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA"></concreteValidator>-->
      <!--业务配置-->
      <concreteValidator isLoad="true" className="Ufida.T.UA.GL.SM.PeriodSettings.Validate.GLValidate" loadFrom="server\Ufida.T.UA.GL.dll" moduleName="GL"></concreteValidator>
    </validators>
  </PeriodSettings>
  <!--账套选项前置校验和后置操作类配置-->
  <AccountOptions>
    <!--按行业性质预置TUFO系统模板和常用凭证内容和分类 -->
    <option name="IsSetAccountCodingByTradeKind">
      <validators>        
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.GL.SM.AccountOption.Operators.GLAccountCodingByTradeKindOperator" loadFrom="server\Ufida.T.UA.GL.dll" moduleName="GL" />
      </operators>
    </option>
    <!-- 多币种 -->
    <option name="IsMultiCurrency">
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.AccountOption.GL.GLCurrencyValidator" loadFrom="server\Ufida.T.UA.GL.dll" moduleName="GL" />
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.GL.SM.AccountOption.Operators.GLCurrencyOperator" loadFrom="server\Ufida.T.UA.GL.dll" moduleName="GL" />
      </operators>
    </option>
    <!-- 存货批号管理 -->
    <option name="IsBatchNumberManage">
      <validators>
      </validators>
      <operators>
      </operators>
    </option>
    <!-- 存货有效期管理 -->
    <option name="IsQualityPeriodManage">
      <validators>
      </validators>
      <operators>
      </operators>
    </option>
    <!-- 货位管理 -->
    <option name="IsInvLocationManage">
      <validators>
      </validators>
      <operators>
      </operators>
    </option>
    <!-- 委外加工 -->
    <option name="IsMadeByOthers">
      <validators>
      </validators>
      <operators>
      </operators>
    </option>
    <!-- 数量小数位 -->
    <option name="QuantityPrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.GL.SM.AccountOption.Operators.GLQuantityPrecisionOperator" loadFrom="server\Ufida.T.UA.GL.dll" moduleName="GL" />
      </operators>
    </option>
    <!-- 单价小数位 -->
    <option name="PricePrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.GL.SM.AccountOption.Operators.GLPricePrecisionOperator" loadFrom="server\Ufida.T.UA.GL.dll" moduleName="GL" />
      </operators>
    </option>
    <!-- 发票单价小数位 -->
    <option name="InvoicePricePrecision">
      <validators>
      </validators>
      <operators>
      </operators>
    </option>
    <!-- 汇率小数位 -->
    <option name="ExchangeRatePrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.GL.SM.AccountOption.Operators.GLExchangRateOperator" loadFrom="server\Ufida.T.UA.GL.dll" moduleName="GL" />
      </operators>
    </option>
    <!-- 换算率小数位 -->
    <option name="ProportionRatePrecision">
      <validators>
      </validators>
      <operators>
      </operators>
    </option>
    <!-- 批号和计价法联用 -->
    <option name="IsBatchNumberWithPriceMode">
      <validators>
      </validators>
      <operators>
      </operators>
    </option>
    <!-- 计价模式 -->
    <option name="PriceMode">
      <validators>
      </validators>
      <operators>
      </operators>
    </option>
    <!-- 暂估处理方式 -->
    <option name="TemporayEstimateMode">
      <validators>
      </validators>
      <operators>
      </operators>
    </option>
    <!-- 计价时机 -->
    <option name="PriceOpportunity">
      <validators>
      </validators>
    </option>
    <!-- 销售流程 -->
    <option name="SAWorkflow">
      <operators>
      </operators>
    </option>
    <!-- 采购流程 -->
    <option name="PUWorkflow">
      <operators>
      </operators>
    </option>
    <!-- 进货单自动生成入库单 -->
    <option name="IsPurchaseOrderAutoStockOrder">
      <operators>
      </operators>
    </option>
    <!-- 销货单自动生成出库单 -->
    <option name="IsDeliveryOrderAutoStockOrder">
      <operators>
      </operators>
    </option>
    <!-- 是否已经有货品使用了多计量 -->
    <option name="HaveUsedMultiUnit">
      <operators>
      </operators>
    </option>
    <!-- 存货分类管理 -->
    <option name="IsInventoryClass">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.GL.SM.AccountOption.Operators.GLInventoryClassOperator" loadFrom="server\Ufida.T.UA.GL.dll" moduleName="GL" />
      </operators>
    </option>
    <!-- 往来单位分类管理 -->
    <option name="IsPartnerClass">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.GL.SM.AccountOption.Operators.GLPartnerClassOperator" loadFrom="server\Ufida.T.UA.GL.dll" moduleName="GL" />
      </operators>
    </option>
    <!-- 账套性质 -->
    <option name="AccoutType">
      <operators>
      </operators>
    </option>
    <!-- 核销方式 -->
    <option name="CheckMode">
      <operators>
      </operators>
    </option>
    <!-- 采购立账类型 -->
    <option name="PUAccount">
      <validators />
      <operators>
      </operators>
    </option>
    <!-- 销售立账类型 -->
    <option name="SAAccount">
      <validators />
      <operators>
      </operators>
    </option>
    <!-- 项目档案分类管理 -->
    <option name="IsProgramDossier">
      <validators />
      <operators />
    </option>
    <!-- 成品率小数位 -->
    <option name="ProductRateDecimalDigits">
      <validators />
      <operators />
    </option>
    <!-- 损耗率小数位 -->
    <option name="ShrinkageRateDecimalDigits">
      <validators />
      <operators />
    </option>
    <!-- 考虑成品率 -->
    <option name="IsRelationWithProductRate">
      <validators />
      <operators />
    </option>
    <!-- 考虑损耗率 -->
    <option name="IsRelationWithShrinkageRate">
      <validators />
      <operators />
    </option>
    <!-- 采购需求累计下达数超建议 -->
    <option name="IsStockAcquireNumOvertopAdvice">
      <validators />
      <operators />
    </option>
    <!-- 已订未出货 -->
    <option name="IsOrderedButNoSend">
      <validators />
      <operators />
    </option>
    <!-- 销售应收款 -->
    <option name="IsReceivableAccount">
      <validators />
      <operators />
    </option>
    <!-- 预收款 -->
    <option name="IsPrepay">
      <validators />
      <operators />
    </option>
    <!-- 已出货未立账 -->
    <option name="IsSendedButNoBalance">
      <validators />
      <operators />
    </option>
    <!-- 收入单 -->
    <option name="IsRevenueBill">
      <validators />
      <operators />
    </option>
    <!-- 领料数量计算方式 -->
    <option name="CalculateTypeOfDrawMaterial">
      <validators />
      <operators />
    </option>
    <!-- 生产待入量 -->
    <option name="IsManufacturedWaitIncept">
      <validators />
      <operators />
    </option>
    <!-- 生产待发量 -->
    <option name="IsManufacturedWaitSend">
      <validators />
      <operators />
    </option>
    <!-- 计价周期类型 -->
    <option name="AccountValueCycleType">
      <validators />
      <operators />
    </option>
    <!-- 计价周期 -->
    <option name="AccountValueCycle">
      <validators />
      <operators />
    </option>
    <!-- 考虑成本率 -->
    <option name="MRPOprationWithProductRate">
      <validators />
      <operators />
    </option>
    <!-- 考虑损耗率 -->
    <option name="MRPOprationWithShrinkageRate">
      <validators />
      <operators />
    </option>
    <!-- MRP累计下达数量允许超建议量 -->
    <option name="IsMRPAcquireNumOvertopAdvice">
      <validators />
      <operators />
    </option>
    <!-- 产成品入库控制 -->
    <option name="ProductInceptControl">
      <validators />
      <operators />
    </option>
    <!-- 产成品入库控制范围 -->
    <option name="ProductInceptControlBound">
      <validators />
      <operators />
    </option>
    <!-- 产成品入库控制方式 -->
    <option name="ProductInceptControlType">
      <validators />
      <operators />
    </option>
    <!-- 产成品入库控制密码 -->
    <option name="ProductInceptControlPwd">
      <validators />
      <operators />
    </option>
    <!-- 委外价格控制 -->
    <option name="IsConsignTiptopPriceControl">
      <validators />
      <operators />
    </option>
    <!-- 委外价格控制方式 -->
    <option name="ConsignTiptopPriceControlType">
      <validators />
      <operators />
    </option>
    <!-- 委外价格控制密码 -->
    <option name="ConsignTiptopPriceControlPwd">
      <validators />
      <operators />
    </option>
    <!-- 成本计算方式 -->
    <option name="CostCalculateType">
      <validators />
      <operators />
    </option>
    <!-- 在产品成本分配方式（原材料） -->
    <option name="WIPCostAllocationTypeMaterial">
      <validators />
      <operators />
    </option>
    <!-- 在产品成本分配方式（费用） -->
    <option name="WIPCostAllocationTypeCharges">
      <validators />
      <operators />
    </option>
    <!-- 工序日报严格按工序流程控制 -->
    <option name="IsManuControlByProcess">
      <validators />
      <operators />
    </option>
    <!-- 控制范围 -->
    <option name="IsManuProcessControlRange">
      <validators />
      <operators />
    </option>
    <!-- 控制方式 -->
    <option name="IsManuProcessControlType">
      <validators />
      <operators />
    </option>
    <!-- 控制密码 -->
    <option name="IsManuProcessControlTypePwd">
      <validators />
      <operators />
    </option>
    <!-- 材料超计划领用 -->
    <option name="IsMaterialDrawExceedPlan">
      <validators />
      <operators />
    </option>
    <!-- 材料超计划领用控制方式 -->
    <option name="MaterialDrawControlType">
      <validators />
      <operators />
    </option>
    <!-- 材料超计划领用控制密码 -->
    <option name="MaterialDrawControlTypePwd">
      <validators />
      <operators />
    </option>
    <!-- 制单序时控制 -->
    <option name="IsControlWhenGenerateDoc">
      <validators />
      <operators />
    </option>
    <!-- 现金流量必录 -->
    <option name="IsCashFlowMustInput">
      <validators />
      <operators />
    </option>
    <!-- 制单人与审核人可为同一人 -->
    <option name="CanMakerIsAuditor">
      <validators />
      <operators />
    </option>
    <!-- 科目编码级次 -->
    <option name="AccountCodingLevel">
      <validators />
      <operators />
    </option>
    
    <!-- 科目编码级级长 （已转移到公共去控制）--><!--
    <option name="AccountCodingLevelItemLength">
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.AccountOption.GL.AccountCodingLevelValidator" loadFrom="server\Ufida.T.UA.GL.dll" moduleName="GL" />
      </validators>
      <operators />
    </option>-->
    <!-- 凭证需审核才可记账 -->
    <option name="IsBookkeepOnlyWhenVoucherAudit">
      <validators />
      <operators />
    </option>
   <!-- 包含未记账 -->
    <option name="ContainsWithoutAccount"> 
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.GL.SM.AccountOption.Operators.GLContainsWithoutAccountOperator" loadFrom="server\Ufida.T.UA.GL.dll" moduleName="GL" />
      </operators>
     
    </option>
    <!-- 出纳凭证必须经由出纳签字 -->
    <option name="IsPayOnlyWhenCashierSignature">
      <validators />
      <operators />
    </option>
    <!-- 凭证必须经由主管签字 -->
    <option name="IsVoucherNeedSupervisorSign">
      <validators />
      <operators />
    </option>
    <!-- 资金及往来赤字控制 -->
    <option name="IsControlCapAndARAPDeficit">
      <validators />
      <operators />
    </option>
    <!-- 资金及往来赤字控制方式 -->
    <option name="IsControlCapAndARAPDeficitMode">
      <validators />
      <operators />
    </option>
    <!-- 支票是否自动核对 -->
    <option name="IsCheckAutoCheck">
      <validators />
      <operators />
    </option>
    <!-- 手工录入 -->
    <option name="IsManualInputData">
      <validators />
      <operators />
    </option>
    <!-- 引自业务数据 -->
    <option name="IsFromBusinessData">
      <validators />
      <operators />
    </option>
    <!-- 所得税汇算申报类型 -->
    <option name="IncomeTaxCalculateType">
      <validators />
      <operators />
    </option>
    <!-- 税务核算处理方式 -->
    <option name="TaxAccrualProcessingType">
      <validators />
      <operators />
    </option>
  </AccountOptions>
  <!--单据审核后置操作处理器配置-->
  <VoucherAudit>
    <Processors>
    </Processors>
  </VoucherAudit>
  <!--期末处理处理器配置-->
  <ClosingProcess>
    <Processors>
    </Processors>
    <UnProcessors>
    </UnProcessors>
  </ClosingProcess>
  <!-- 财务期末结账 -->
  <FITerminalProcessors>
    <Processors>
    	    	<Processor isLoad="true" className="Ufida.T.UA.GL.SM.TerminalProcess.GLTerminalProcessor" moduleName="GL" description="GLTerminalProcessing" loadFrom="server\Ufida.T.UA.GL.dll" processIndex="999" />
    </Processors>
    <UnProcessors>
      <UnProcessor isLoad="true" className="Ufida.T.UA.GL.SM.TerminalProcess.GLUnTerminalProcessor" moduleName="GL" description="GLUnTerminalProcessing" loadFrom="server\Ufida.T.UA.GL.dll" processIndex="998" />
    </UnProcessors>
  </FITerminalProcessors>
  <!--期间结转处理器配置-->
  <CarryForward>
    <Processors>
    	<Processor isLoad="true" className="Ufida.T.UA.GL.SM.CarryForward.ForwardProcessor.GLForwardProcessor" moduleName="GL" description="GLIsCarryForwarding" loadFrom="server\Ufida.T.UA.GL.dll" />
    </Processors>
  </CarryForward>
  <!--版本控制处理器配置-->
  <VersionControl>
    <Versions>
      <!--仓管通--><!--
      <Version name="CGTStd">
        <Processors>
          --><!--总账模块--><!--
          <processor isLoad="true" className="Ufida.T.UA.VersionControl.GL.GL_CGT_VersionControlProcessor" moduleName="GL" loadFrom="server\Ufida.T.UA.GL.dll" />
        </Processors>
      </Version>
      --><!--业务通标准版--><!--
      <Version name="YWTStd">
        <Processors>
        </Processors>
      </Version>
      --><!--业务通专业版--><!--
      <Version name="YWTPro">
        <Processors>
          --><!--总账模块--><!--
          <processor isLoad="true" className="Ufida.T.UA.VersionControl.GL.GL_YWTPro_VersionControlProcessor" moduleName="GL" loadFrom="server\Ufida.T.UA.GL.dll" />
        </Processors>
      </Version>-->
      <!--工贸通标准版-->
      <!--<Version name="GMTStd">
        <Processors>
        </Processors>
      </Version>
      --><!--工贸通专业版--><!--
      <Version name="GMTPro">
        <Processors>
        </Processors>
      </Version>
      --><!--用友通专业版--><!--
      <Version name="YYTPro">
        <Processors>
          <processor isLoad="true" className="Ufida.T.UA.VersionControl.GL.GL_YYTPro_VersionControlProcessor" moduleName="GL" loadFrom="server\Ufida.T.UA.GL.dll" />
        </Processors>
      </Version>
      --><!--财务通普及版--><!--
      <Version name="CWTStd">
        <Processors>
          <processor isLoad="true" className="Ufida.T.UA.VersionControl.GL.GL_CWTStd_VersionControlProcessor" moduleName="GL" loadFrom="server\Ufida.T.UA.GL.dll" />
        </Processors>
      </Version>
      --><!--财务通专业版--><!--
      <Version name="CWTPro">
        <Processors>
          <processor isLoad="true" className="Ufida.T.UA.VersionControl.GL.GL_CWTPro_VersionControlProcessor" moduleName="GL" loadFrom="server\Ufida.T.UA.GL.dll" />
        </Processors>
      </Version>-->
    </Versions>
  </VersionControl>
  <!--单据期间结转处理类配置-->
  <VoucherCarryForwards>
    <!--总账模块-->
     <VoucherCarryForward Code="GLJournal" Name="明细账" Type="Ufida.T.UA.GL.SM.CarryForward.VoucherCarryForward.JournalCarryForwardBP"  loadFrom="server\Ufida.T.UA.GL.dll "/>
     <VoucherCarryForward Code="GLWriteOffHistory" Name="总账核销历史" Type="Ufida.T.UA.GL.SM.CarryForward.VoucherCarryForward.WirtOffHistoryCarryForwardBP"  loadFrom="server\Ufida.T.UA.GL.dll "/>
  </VoucherCarryForwards>
  <!--页面前置校验处理-->
  <PagePreCondition>
    <PagePreConditions>
      <!--单据校验-->
      <PagePreCondition Code="SYS09102" Name="科目期初余额" Url="BAPView/OpenList.aspx?SourceType=FromMenu" Type="Ufida.T.UA.PagePreCondition.GL.AccountPeriodBeginCondition" loadFrom="server\Ufida.T.UA.GL.dll" />
      <PagePreCondition Code="SYS09104" Name="现金流量期初" Url="BAPView/OpenList.aspx?SourceType=FromMenu" Type="Ufida.T.UA.PagePreCondition.GL.AccountPeriodBeginCondition" loadFrom="server\Ufida.T.UA.GL.dll" />
      <PagePreCondition Code="GL0101" Name="填制凭证" Url="BAPView/Voucher.aspx?mId=gl0101&amp;sysId=gl&amp;pId=voucherView" Type="Ufida.T.UA.PagePreCondition.GL.DocDTOCondition" loadFrom="server\Ufida.T.UA.GL.dll" />
      <PagePreCondition Code="GL10" Name="往来核销" Url="BAPView/DoubleList.aspx?mId=gl10&amp;pId=doubleListView&amp;sysId=gl&amp;cId=gl10_list" Type="Ufida.T.UA.PagePreCondition.GL.AuxAccWriteOffHistoryCondition" loadFrom="server\Ufida.T.UA.GL.dll" />
      <PagePreCondition Code="GL1002" Name="核销历史" Url="BAPView/OpenList.aspx?pId=WriteOffHistory&amp;sysId=gl&amp;mId=gl1002&amp;cId=gl1002_list&amp;SourceType=FromMenu" Type="Ufida.T.UA.PagePreCondition.GL.AuxAccWriteOffHistoryCondition" loadFrom="server\Ufida.T.UA.GL.dll" />
      <PagePreCondition Code="GL0105" Name="凭证管理" Url="BAPView/VoucherList.aspx?pId=voucherListView&amp;sysId=gl&amp;mId=gl0101" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="server\Ufida.T.BAP.BusinessApplication.dll" />
      <PagePreCondition Code="GL0110" Name="凭证整理" Url="GL/GLDoc/DocReorganize.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="server\Ufida.T.BAP.BusinessApplication.dll" />
      <PagePreCondition Code="GL0115" Name="凭证打印" Url="GL/GLDoc/DOCPrint.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="server\Ufida.T.BAP.BusinessApplication.dll" />
      <PagePreCondition Code="GL0120" Name="记账" Url="GL/GLDoc/Post.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="server\Ufida.T.BAP.BusinessApplication.dll" />
      <PagePreCondition Code="GL0125" Name="取消记账" Url="GL/GLDoc/UnPost.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="server\Ufida.T.BAP.BusinessApplication.dll" />
      <PagePreCondition Code="GL0130" Name="现金流量录入" Url="BAPView/DoubleList.aspx?mId=gl0130&amp;amp;pId=doubleListView&amp;amp;sysId=gl" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="server\Ufida.T.BAP.BusinessApplication.dll" />
      <PagePreCondition Code="GL3001" Name="自定义结转" Url="GL/UserDefinedTransform/UserDefinedTransformDetail.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="server\Ufida.T.BAP.BusinessApplication.dll" />
      <PagePreCondition Code="GL3005" Name="期间损益结转" Url="GL/PeriodLossProfitTransform/PeriodLossProfitTransform.aspx?mId=gl3005&amp;sysId=gl&amp;pId=voucherListView" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="server\Ufida.T.BAP.BusinessApplication.dll" />
      <PagePreCondition Code="GL3010" Name="汇兑损益结转" Url="BAPView/Navigator.aspx?navId=ExchangeTransform&amp;sysId=gl&amp;mId=SYS2164&amp;pId=ExchangeTransform&amp;cId=ExchangeTransform" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="server\Ufida.T.BAP.BusinessApplication.dll" />
      <PagePreCondition Code="AA3515" Name="常用凭证" Url="BAPView/BaseInfoList.aspx?pId=baseInfoListView&amp;sysId=gl&amp;mId=aa3515&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="server\Ufida.T.BAP.BusinessApplication.dll" />

      <PagePreCondition Code="GL9201" Name="账簿打印" Url="SM/PrintCenter/PrintCenter.aspx?sysId=sys&amp;mId=PrintCenter&amp;pId=PrintTreeView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.BaseInforPreCondition" loadFrom="server\Ufida.T.BAP.BusinessApplication.dll" />
      <!--其他处理-->
    </PagePreConditions>
    <Reports>
      <!-- 报表 -->
      <Report ReportName="GL_CustomerCheckAmountRpt"  Code="GL7005" title="客户往来对账单" />
      <Report ReportName="GL_SupplierCheckAmountRpt"  Code="GL7020" title="供应商往来对账单" />
      <Report ReportName="GL_PersonCheckAmountRpt"  Code="GL7035" title="个人往来对账单" />
      <Report ReportName="GL_AmountForecastSumRpt"  Code="GL7050" title="往来资金预测表" />
      <Report ReportName="GL_ArapWriteOffSumRpt"  Code="GL7055" title="往来核销报表" />
      <Report ReportName="GL_CashFlowDetailRpt"   Code="GL8010" title="现金流量明细表" />
      <Report ReportName="GL_CashFlowSumRpt"      Code="GL8005" title="现金流量统计表" />
      <Report ReportName="GL_CustomerAgeAnalysisSumRpt"      Code="GL7010" title="客户往来账龄分析" />
      <!-- Report ReportName="GL_CustomerAgeAnalysisDetailRpt"      Code="GL701001" title="客户往来账龄分析明细" Type="Ufida.T.UA.PagePreCondition.Report.ArapAgeAnalysisCondition" loadFrom="server\Ufida.T.UA.GL.dll"-->
      <Report ReportName="GL_PersonAgeAnalysisSumRpt"      Code="GL7040" title="个人往来账龄分析" />
      <!-- Report ReportName="GL_PersonAgeAnalysisDetailRpt"      Code="GL704001" title="个人往来账龄分析明细" Type="Ufida.T.UA.PagePreCondition.Report.ArapAgeAnalysisCondition" loadFrom="server\Ufida.T.UA.GL.dll" -->
      <Report ReportName="GL_SupplierAgeAnalysisSumRpt"      Code="GL7025" title="供应商往来账龄分析" />
      <!-- Report ReportName="GL_SupplierAgeAnalysisDetailRpt"      Code="GL702501" title="供应商往来账龄分析明细" Type="Ufida.T.UA.PagePreCondition.Report.ArapAgeAnalysisCondition" loadFrom="server\Ufida.T.UA.GL.dll" -->

      <Report ReportName="GL_GLDetailRpt"  Code="GL4020" title="明细账" />
      <Report ReportName="GL_GLSumRpt"  Code="GL4015" title="总账" />
      <Report ReportName="GL_BalanceSumRpt"  Code="GL4035" title="发生额及余额表" />  
      <Report ReportName="GL_AccountSumRpt"  Code="GL4045" title="科目汇总表" />    
      <Report ReportName="GL_AuxBalanceSumRpt"  Code="GL6020" title="辅助余额表" /> 
      <Report ReportName="GL_AuxGLSumRpt"  Code="GL6005" title="辅助总账" />   
      <Report ReportName="GL_AuxGLDetailRpt"  Code="GL6010" title="辅助明细账" />
      <Report ReportName="GL_AuxMultiColumnDetailRpt"  Code="GL6015" title="辅助多栏账" />     
      <Report ReportName="GL_DailyDetailRpt"  Code="GL4030" title="日记账" />    
      <Report ReportName="GL_DailySumRpt"  Code="GL4040" title="日报表" />   
      <Report ReportName="GL_MultiColumnDetailRpt"  Code="GL4025" title="多栏账" />
      <Report ReportName="GL_UserDefineSumRpt"  Code="GL6030" title="自定义账表" />
      
    </Reports>
  </PagePreCondition>
  <!--单据消息-->
  <MessageCenter>
    <!--构建数据-->
    <ConstituteData>
      <!--单据消息设置-->
      <Module name="VoucherMessage">
        <Option name="GL0101" >
          <add key="assemblyName" className="Ufida.T.GL.Service.GLDoc.DocService" classLoadFrom="server\Ufida.T.GL.Service.dll" dtoName="Ufida.T.GL.DTO.GLDoc.DocDTO" dtoLoadFrom="server\Ufida.T.GL.DTO.dll"></add>
          <add key="methodName" findDTOList="FindList_MessageCenter" findDTOByID="FindById" doReceiptMethod="Audit" getUFTableMethod="FindTable_MessageCenter" ></add>
        </Option>
      </Module>
    </ConstituteData>
  </MessageCenter>
	<!--数据清除-->
	<AccountManage>
		<AccountClear>
			<concreteOperator isLoad="true" className="Ufida.T.UA.GL.AccountClear.GLAccountClear" loadFrom="server\Ufida.T.UA.GL.dll" moduleName="GL" />
		</AccountClear>
	</AccountManage>
</Config>