<?xml version="1.0" encoding="utf-8"?>
<Config>
  <!--功能启用前置校验和后置操作-->
  <FunctionEnable>
    <!--促销管理（促销模块）-->
    <option name="Promotion">
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.PR.SM.FunctionEnable.PRPRValidator" loadFrom="server\Ufida.T.UA.PR.dll" moduleName="PR" />
      </validators>
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.PR.SM.FunctionEnable.PRPROperator" loadFrom="server\Ufida.T.UA.PR.dll" moduleName="PR" />
      </operators>
    </option>
    <!--会员管理（促销模块）-->
    <option name="Member">
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.PR.SM.FunctionEnable.PRMEValidator" loadFrom="server\Ufida.T.UA.PR.dll" moduleName="PR" />
      </validators>
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.PR.SM.FunctionEnable.PRMEOperator" loadFrom="server\Ufida.T.UA.PR.dll" moduleName="PR" />
      </operators>
    </option>
	<!--购销管理（促销模块）-->
	<option name="PS">
		<validators>
		  <concreteValidator isLoad="true" className="Ufida.T.UA.PR.SM.FunctionEnable.PRPSValidator" loadFrom="server\Ufida.T.UA.PR.dll" moduleName="PR" />
		</validators>
		<!--后置操作-->
		<operators>
		  <concreteOperator isLoad="true" className="Ufida.T.UA.PR.SM.FunctionEnable.PRPSOperator" loadFrom="server\Ufida.T.UA.PR.dll" moduleName="PR" />
		</operators>
	</option>
	<!--零售管理（促销模块）-->
	<option name="Retail">
		<validators>
		  <concreteValidator isLoad="true" className="Ufida.T.UA.PR.SM.FunctionEnable.PRREValidator" loadFrom="server\Ufida.T.UA.PR.dll" moduleName="PR" />
		</validators>
		<!--后置操作-->
		<operators>
		  <concreteOperator isLoad="true" className="Ufida.T.UA.PR.SM.FunctionEnable.PRREOperator" loadFrom="server\Ufida.T.UA.PR.dll" moduleName="PR" />
		</operators>
	</option>
      <!--普及进销存-->
      <option name="StdIERP">
          <!--后置操作-->
          <operators>
              <concreteOperator isLoad="true" className="Ufida.T.UA.PR.SM.FunctionEnable.PRStdIERPEnableOperator" loadFrom="server\Ufida.T.UA.PR.dll" moduleName="PR"></concreteOperator>
          </operators>
      </option>
  </FunctionEnable>

  <!--账套选项前置校验和后置操作类配置-->
  <AccountOptions>
    <!-- 多币种 -->
    <option name="IsMultiCurrency">
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.PR.SM.AccountOption.PRCurrencyValidator" loadFrom="server\Ufida.T.UA.PR.dll" moduleName="PR" />
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.PR.SM.AccountOption.PRCurrencyOperator" loadFrom="server\Ufida.T.UA.PR.dll" moduleName="PR" />
      </operators>
    </option>
    <!--加盟店APP-->
    <option name="APP_Chanjet_Franchise">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.PR.SM.AccountOption.PRAPP_Chanjet_FranchiseOperator" loadFrom="server\Ufida.T.UA.PR.dll" moduleName="PR" />
      </operators>
    </option>
    <!-- 存货有效期管理 -->
    <option name="IsQualityPeriodManage">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.PR.SM.AccountOption.PRExpiryDateOperator" loadFrom="server\Ufida.T.UA.PR.dll" moduleName="PR" />
      </operators>
    </option>
    <!-- 营销机构管理 -->
    <option name="IsMultiMarketing">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.PR.SM.AccountOption.PRIsMultiMarketingOperator" loadFrom="server\Ufida.T.UA.PR.dll" moduleName="PR" />
      </operators>
    </option>
    <!-- 数量小数位 -->
    <option name="QuantityPrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.PR.SM.AccountOption.PRQuantityPrecisionOperator" loadFrom="server\Ufida.T.UA.PR.dll" moduleName="PR" />
      </operators>
    </option>
    <!-- 单价小数位 -->
    <option name="PricePrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.PR.SM.AccountOption.PRPricePrecisionOperator" loadFrom="server\Ufida.T.UA.PR.dll" moduleName="PR" />
      </operators>
    </option>
	<!-- 单价整数位 -->
	<option name="PriceIntegeration">
		<validators>
		</validators>
		<operators>
			<concreteOperator isLoad="true" className="Ufida.T.UA.PR.SM.AccountOption.PRPriceIntegerationOperator" loadFrom="server\Ufida.T.UA.PR.dll" moduleName="PR" />
		</operators>
	</option>	
    <!-- 汇率小数位 -->
    <option name="ExchangeRatePrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.PR.SM.AccountOption.PRExchangRateOperator" loadFrom="server\Ufida.T.UA.PR.dll" moduleName="PR" />
      </operators>
    </option>
    <!-- 换算率小数位 -->
    <option name="ProportionRatePrecision">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.PR.SM.AccountOption.PRUnitExchangeRateOperator" loadFrom="server\Ufida.T.UA.PR.dll" moduleName="PR" />
      </operators>
    </option>
    <!-- 是否已经有货品使用了多计量 -->
    <option name="HaveUsedMultiUnit">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.PR.SM.AccountOption.PRMultiUnitOperator" loadFrom="server\Ufida.T.UA.PR.dll" moduleName="PR" />
      </operators>
    </option>
    <!-- 存货分类管理 -->
    <option name="IsInventoryClass">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.PR.SM.AccountOption.PRInventoryClassOperator" loadFrom="server\Ufida.T.UA.PR.dll" moduleName="PR" />
      </operators>
    </option>
    <!-- 往来单位分类管理 -->
    <option name="IsPartnerClass">
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.PR.SM.AccountOption.PRCustomerClassOperator" loadFrom="server\Ufida.T.UA.PR.dll" moduleName="PR" />
      </operators>
    </option>
    <!-- 销售立账类型-->
    <option name="SAAccount">
          <validators />
          <operators>
              <concreteOperator isLoad="true" className="Ufida.T.UA.PR.SM.AccountOption.PRSAAccountAccountOperator" loadFrom="server\Ufida.T.UA.PR.dll" moduleName="PR"/>
          </operators>
    </option>
  </AccountOptions>
  
  <!--单据审核后置操作处理器配置-->
  <VoucherAudit>
    <Processors>
      <Processor isLoad="true" className="Ufida.T.UA.PR.SM.AuditProcessor.PRAuditProcessor" moduleName="PR" loadFrom="server\Ufida.T.UA.PR.dll" />
    </Processors>
  </VoucherAudit>
  
  <!--期末处理处理器配置-->
  <ClosingProcess>
    <Processors>
      <Processor isLoad="true" className="Ufida.T.UA.PR.SM.TerminalProcess.PRTerminalProcessor" moduleName="PR" description="PRTerminalProcessing" loadFrom="server\Ufida.T.UA.PR.dll" />
    </Processors>
    <UnProcessors>
      <UnProcessor isLoad="true" className="Ufida.T.UA.PR.SM.TerminalProcess.PRUnTerminalProcessor" moduleName="PR" description="PRUnTerminalProcessing" loadFrom="server\Ufida.T.UA.PR.dll" />
    </UnProcessors>
  </ClosingProcess>
  
  <!--期间结转处理器配置-->
  <CarryForward>
    <Processors>
      <Processor isLoad="true" className="Ufida.T.UA.PR.SM.CarryForward.PRForwardProcessor" moduleName="PR" description="PRIsCarryForwarding" loadFrom="server\Ufida.T.UA.PR.dll" />
    </Processors>
  </CarryForward>

  <!--版本控制处理器配置-->
  <VersionControl>
    <Versions>
      <!--用友通专业版-->
      <Version name="YYTPro">
        <Processors>
          <!--促销单据-->
          <processor isLoad="true" className="Ufida.T.UA.PR.SM.VersionControl.PR_YYTPro_VersionControlProcessor" moduleName="PR" loadFrom="server\Ufida.T.UA.PR.dll" />
        </Processors>
      </Version>
    </Versions>
  </VersionControl>


  <!--单据期间结转处理类配置-->
  <VoucherCarryForwards>
    <!--促销单据-->
    <!--单品打折-->
    <VoucherCarryForward isLoad="true" Code="PR0501" Name="单品打折" Type="Ufida.T.UA.PR.SM.CarryForward.PRForwardProcessor" loadFrom="server\Ufida.T.UA.PR.dll" />
    <!--单品返现-->
    <VoucherCarryForward isLoad="true" Code="PR0502" Name="单品返现" Type="Ufida.T.UA.PR.SM.CarryForward.PRForwardProcessor" loadFrom="server\Ufida.T.UA.PR.dll" />
    <!--整单返现-->
	  <VoucherCarryForward isLoad="true" Code="PR0503" Name="整单返现" Type="Ufida.T.UA.PR.SM.CarryForward.PRForwardProcessor" loadFrom="server\Ufida.T.UA.PR.dll" />
    <!--组合满返-->
	  <VoucherCarryForward isLoad="true" Code="PR0504" Name="组合满返" Type="Ufida.T.UA.PR.SM.CarryForward.PRForwardProcessor" loadFrom="server\Ufida.T.UA.PR.dll" />
    <!--整单满单品优惠-->
    <VoucherCarryForward isLoad="true" Code="PR0505" Name="整单满单品优惠" Type="Ufida.T.UA.PR.SM.CarryForward.PRForwardProcessor" loadFrom="server\Ufida.T.UA.PR.dll" />
    <!--单品满赠-->
    <VoucherCarryForward isLoad="true" Code="PR0506" Name="单品满赠" Type="Ufida.T.UA.PR.SM.CarryForward.PRForwardProcessor" loadFrom="server\Ufida.T.UA.PR.dll" />   
    <!--整单满赠-->
    <VoucherCarryForward isLoad="true" Code="PR0507" Name="整单满赠" Type="Ufida.T.UA.PR.SM.CarryForward.PRForwardProcessor" loadFrom="server\Ufida.T.UA.PR.dll" />
    <!--组合满赠-->
    <VoucherCarryForward isLoad="true" Code="PR0508" Name="组合满赠" Type="Ufida.T.UA.PR.SM.CarryForward.PRForwardProcessor" loadFrom="server\Ufida.T.UA.PR.dll" />
    <!--销售单品返现-->
    <VoucherCarryForward isLoad="true" Code="PR0509" Name="销售单品返现" Type="Ufida.T.UA.PR.SM.CarryForward.PRForwardProcessor" loadFrom="server\Ufida.T.UA.PR.dll" />
    <!--销售单品满赠-->
    <VoucherCarryForward isLoad="true" Code="PR0510" Name="销售单品满赠" Type="Ufida.T.UA.PR.SM.CarryForward.PRForwardProcessor" loadFrom="server\Ufida.T.UA.PR.dll" />
  </VoucherCarryForwards>
  
  <!--页面前置校验处理-->
  <PagePreCondition>
    <Runtimes>
      <!--页面前置校验处理类程序集-->
      <Runtime Assembly="Ufida.T.BAP.BusinessApplication.dll" />
      <!--DTO程序集，判断DTO是否被并发删除时使用-->
      <Runtime Assembly="Ufida.T.AA.DTO.dll" />
    </Runtimes>
    <PagePreConditions>
	  <!--促销导航设置-->
      <PagePreCondition Code="PR01" Name="促销导航设置" Url="DR/Promotion/PromotionGuide/PRPromotionGuide.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <!--单据校验-->
      <!--单品打折-->
      <PagePreCondition Code="PR0501" Name="单品打折" Url="BAPView/Voucher.aspx?mId=PR0501&amp;sysId=PR&amp;pId=voucherView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <!--单品返现-->
      <PagePreCondition Code="PR0502" Name="单品返现" Url="BAPView/Voucher.aspx?mId=PR0502&amp;sysId=PR&amp;pId=voucherView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <!--整单返现-->
      <PagePreCondition Code="PR0503" Name="整单返现" Url="BAPView/Voucher.aspx?mId=PR0503&amp;sysId=PR&amp;pId=voucherView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <!--组合满返-->
      <PagePreCondition Code="PR0504" Name="组合满返" Url="BAPView/Voucher.aspx?mId=PR0504&amp;sysId=PR&amp;pId=voucherView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <!--整单满单品优惠-->
      <PagePreCondition Code="PR0505" Name="整单满单品优惠" Url="BAPView/Voucher.aspx?mId=PR0505&amp;sysId=PR&amp;pId=voucherView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <!--单品满赠-->
      <PagePreCondition Code="PR0506" Name="单品满赠" Url="BAPView/Voucher.aspx?mId=PR0506&amp;sysId=PR&amp;pId=voucherView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <!--整单满赠-->
      <PagePreCondition Code="PR0507" Name="整单满赠" Url="BAPView/Voucher.aspx?mId=PR0507&amp;sysId=PR&amp;pId=voucherView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <!--组合满赠-->
      <PagePreCondition Code="PR0508" Name="组合满赠" Url="BAPView/Voucher.aspx?mId=PR0508&amp;sysId=PR&amp;pId=voucherView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <!--销售单品返现-->
      <PagePreCondition Code="PR0509" Name="销售单品返现" Url="BAPView/Voucher.aspx?mId=PR0509&amp;sysId=PR&amp;pId=voucherView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
      <!--销售单品满赠-->
      <PagePreCondition Code="PR0510" Name="销售单品满赠" Url="BAPView/Voucher.aspx?mId=PR0510&amp;sysId=PR&amp;pId=voucherView&amp;SourceType=FromMenu" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
    </PagePreConditions>
    <Reports>
      <!-- 促销报表 -->
	  <Report ReportName="PR_PromotionDetailRpt" Code="PR4001" title="促销单列表" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=PR_PromotionDetailRpt"  />
	  <Report ReportName="PR_PromotionUseRankRpt" Code="PR4005" title="促销方案使用排名" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=PR_PromotionUseRankRpt"  />
	  <Report ReportName="PR_PromotionBenefitAnalysisRpt" Code="PR4010" title="促销让利分析" Url="BAPView/ReportWithSimpleSearch.aspx?ReportName=PR_PromotionBenefitAnalysisRpt"  />
    </Reports>
  </PagePreCondition>

  <!--反射调用接口方法-->
  <Methods>
    <Method name="UpdateFEVisibility" interfaceAssembly="Ufida.T.SM.Interface" interface="Ufida.T.SM.FunctionEnableSetting.Interface.IFunctionEnable" methodName="UpdateIsVisibility" dtoAssembly=""/>
    <Method name="IsEnable" interfaceAssembly="Ufida.T.SM.Interface" interface="Ufida.T.SM.FunctionEnableSetting.Interface.IFunctionEnable" methodName="IsEnable" dtoAssembly=""/>
  </Methods>

  <MessageCenter>
    <!--构建数据-->
    <ConstituteData>
      <!--单据消息设置-->
      <Module name="VoucherMessage">
        <Option name="PR0501">
          <add key="assemblyName" className="Ufida.T.PR.Service.SalesPromotionService" classLoadFrom="server\Ufida.T.PR.Service.dll" dtoName="" dtoLoadFrom="" detailDTOName=""></add>
          <add key="methodName" findDTOList="FindListWithDetail" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable" getMemberInfo="getMemberInfo"></add>
        </Option>
        <Option name="PR0502">
          <add key="assemblyName" className="Ufida.T.PR.Service.SalesPromotionService" classLoadFrom="server\Ufida.T.PR.Service.dll" dtoName="" dtoLoadFrom="" detailDTOName=""></add>
          <add key="methodName" findDTOList="FindListWithDetail" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable" getMemberInfo="getMemberInfo"></add>
        </Option>
        <Option name="PR0503">
          <add key="assemblyName" className="Ufida.T.PR.Service.SalesPromotionService" classLoadFrom="server\Ufida.T.PR.Service.dll" dtoName="" dtoLoadFrom="" detailDTOName=""></add>
          <add key="methodName" findDTOList="FindListWithDetail" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable" getMemberInfo="getMemberInfo"></add>
        </Option>
        <Option name="PR0504">
          <add key="assemblyName" className="Ufida.T.PR.Service.SalesPromotionService" classLoadFrom="server\Ufida.T.PR.Service.dll" dtoName="" dtoLoadFrom="" detailDTOName=""></add>
          <add key="methodName" findDTOList="FindListWithDetail" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable" getMemberInfo="getMemberInfo"></add>
        </Option>
        <Option name="PR0505">
          <add key="assemblyName" className="Ufida.T.PR.Service.SalesPromotionService" classLoadFrom="server\Ufida.T.PR.Service.dll" dtoName="" dtoLoadFrom="" detailDTOName=""></add>
          <add key="methodName" findDTOList="FindListWithDetail" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable" getMemberInfo="getMemberInfo"></add>
        </Option>
        <Option name="PR0506">
          <add key="assemblyName" className="Ufida.T.PR.Service.SalesPromotionService" classLoadFrom="server\Ufida.T.PR.Service.dll" dtoName="" dtoLoadFrom="" detailDTOName=""></add>
          <add key="methodName" findDTOList="FindListWithDetail" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable" getMemberInfo="getMemberInfo"></add>
        </Option>
        <Option name="PR0507">
          <add key="assemblyName" className="Ufida.T.PR.Service.SalesPromotionService" classLoadFrom="server\Ufida.T.PR.Service.dll" dtoName="" dtoLoadFrom="" detailDTOName=""></add>
          <add key="methodName" findDTOList="FindListWithDetail" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable" getMemberInfo="getMemberInfo"></add>
        </Option>
        <Option name="PR0508">
          <add key="assemblyName" className="Ufida.T.PR.Service.SalesPromotionService" classLoadFrom="server\Ufida.T.PR.Service.dll" dtoName="" dtoLoadFrom="" detailDTOName=""></add>
          <add key="methodName" findDTOList="FindListWithDetail" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable" getMemberInfo="getMemberInfo"></add>
        </Option>

        <Option name="PR0509">
          <add key="assemblyName" className="Ufida.T.PR.Service.SalesPromotionService" classLoadFrom="server\Ufida.T.PR.Service.dll" dtoName="" dtoLoadFrom="" detailDTOName=""></add>
          <add key="methodName" findDTOList="FindListWithDetail" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable" getMemberInfo="getMemberInfo"></add>
        </Option>
        <Option name="PR0510">
          <add key="assemblyName" className="Ufida.T.PR.Service.SalesPromotionService" classLoadFrom="server\Ufida.T.PR.Service.dll" dtoName="" dtoLoadFrom="" detailDTOName=""></add>
          <add key="methodName" findDTOList="FindListWithDetail" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable" getMemberInfo="getMemberInfo"></add>
        </Option>
      </Module>
    </ConstituteData>
  </MessageCenter>

  <!--会计期间前置校验-->
  <PeriodSettings>
    <!--前置校验-->
    <validators>
      <concreteValidator isLoad="true" className="Ufida.T.UA.PR.SM.PeriodCondition.validator.PRPeriodValidator" loadFrom="server\Ufida.T.UA.PR.dll" moduleName="PR"></concreteValidator>
    </validators>
  </PeriodSettings>
  <SQLWhereHandlerSettings>
	 <add key="PR_SingleDiscount_VoucherList" className="Ufida.T.PR.Service.PRSearchSqlService" methodName="GetPRCustmerSearchSql" loadFrom="server\Ufida.T.PR.Service.dll"/>
	 <add key="PR_SingleCashBack_VoucherList" className="Ufida.T.PR.Service.PRSearchSqlService" methodName="GetPRCustmerSearchSql" loadFrom="server\Ufida.T.PR.Service.dll"/>
	 <add key="PR_WholeCashBack_VoucherList" className="Ufida.T.PR.Service.PRSearchSqlService" methodName="GetPRCustmerSearchSql" loadFrom="server\Ufida.T.PR.Service.dll"/>
	 <add key="PR_TrussFullCashBack_VoucherList" className="Ufida.T.PR.Service.PRSearchSqlService" methodName="GetPRCustmerSearchSql" loadFrom="server\Ufida.T.PR.Service.dll"/>
	 <add key="PR_WholeFullSingleDiscount_VoucherList" className="Ufida.T.PR.Service.PRSearchSqlService" methodName="GetPRCustmerSearchSql" loadFrom="server\Ufida.T.PR.Service.dll"/>
	 <add key="PR_SingleFullGift_VoucherList" className="Ufida.T.PR.Service.PRSearchSqlService" methodName="GetPRCustmerSearchSql" loadFrom="server\Ufida.T.PR.Service.dll"/>
	 <add key="PR_WholeFullGift_VoucherList" className="Ufida.T.PR.Service.PRSearchSqlService" methodName="GetPRCustmerSearchSql" loadFrom="server\Ufida.T.PR.Service.dll"/>
	 <add key="PR_TrussFullGift_VoucherList" className="Ufida.T.PR.Service.PRSearchSqlService" methodName="GetPRCustmerSearchSql" loadFrom="server\Ufida.T.PR.Service.dll"/>
   <add key="PR_SaleSingleCashBack_VoucherList" className="Ufida.T.PR.Service.PRSearchSqlService" methodName="GetPRCustmerSearchSql" loadFrom="server\Ufida.T.PR.Service.dll"/>
    <add key="PR_SaleSingleFullGift_VoucherList" className="Ufida.T.PR.Service.PRSearchSqlService" methodName="GetPRCustmerSearchSql" loadFrom="server\Ufida.T.PR.Service.dll"/>
  </SQLWhereHandlerSettings>
  
  <!--账套管理-->
  <AccountManage>
    <AccountClear>
      <concreteOperator isLoad="true" className="Ufida.T.UA.PR.SM.AccountOption.PRClearOperator" loadFrom="server\Ufida.T.UA.PR.dll" moduleName="PR" />
    </AccountClear>
  </AccountManage>
</Config>