<?xml version="1.0" encoding="utf-8"?>
<Config>
	<!--功能启用前置校验和后置操作-->
	<FunctionEnable>
		<!--库存核算-->
		<option name="Stock">
			<!--后置操作-->
			<validators>
				<concreteValidator isLoad="true" className="UFIDA.T.UA.ST.STFunctionEnableVaildate" loadFrom="server\UFIDA.T.UA.ST.dll" moduleName="ST" />
				<concreteValidator isLoad="true" className="Ufida.T.UA.SA.FunctionEnable.Validate.SAPSValidate" loadFrom="server\Ufida.T.UA.SA.dll" moduleName="SA" />
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="UFIDA.T.UA.ST.STFunctionEnableOperator" loadFrom="server\UFIDA.T.UA.ST.dll" moduleName="ST"></concreteOperator>
			</operators>
		</option>
		<!--会员管理-->
		<option name="Member">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="UFIDA.T.UA.ST.STMemberFunctionEnableOperator" loadFrom="server\UFIDA.T.UA.ST.dll" moduleName="ST"></concreteOperator>
			</operators>
		</option>		
		<!--购销管理-->
		<option name="PS">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="UFIDA.T.UA.ST.PSFunctionEnableOperator" loadFrom="server\UFIDA.T.UA.ST.dll" moduleName="ST"></concreteOperator>
			</operators>
		</option>
		<!--自制加工-->
		<option name="Manufacture">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="UFIDA.T.UA.ST.ManufactureFunctionEnableOperator" loadFrom="server\UFIDA.T.UA.ST.dll" moduleName="ST"></concreteOperator>
			</operators>
		</option>

		<!--网店管理-->
		<option name="NetShop">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="UFIDA.T.UA.ST.EShopFunctionEnableOperator" loadFrom="server\UFIDA.T.UA.ST.dll" moduleName="ST"></concreteOperator>
			</operators>
		</option>
		<!--委外加工-->
		<option name="ConsignManufacture">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="UFIDA.T.UA.ST.ConsignManufactureFunctionEnableOperator" loadFrom="server\UFIDA.T.UA.ST.dll" moduleName="ST"></concreteOperator>
			</operators>
		</option>
		<!--工序管理-->
		<option name="Process">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="UFIDA.T.UA.ST.ProcessFunctionEnableOperator" loadFrom="server\UFIDA.T.UA.ST.dll" moduleName="ST"></concreteOperator>
			</operators>
		</option>
		<!--普及账表-->
		<option name="StdAccount">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="UFIDA.T.UA.ST.STD_PRO_AccountFunctionEnableOperator" loadFrom="server\UFIDA.T.UA.ST.dll" moduleName="ST" />
			</operators>
		</option>
		<!--专业账表-->
		<option name="ProAccount">
			<!--后置操作-->
			<operators>
				<concreteOperator isLoad="true" className="UFIDA.T.UA.ST.STD_PRO_AccountFunctionEnableOperator" loadFrom="server\UFIDA.T.UA.ST.dll" moduleName="ST" />
			</operators>
		</option>
		<!--零售管理-->
		<option name="Retail">
			<operators>
				<concreteOperator isLoad="true" className="UFIDA.T.UA.ST.RetailFunctionEnableOperator" loadFrom="server\UFIDA.T.UA.ST.dll" moduleName="ST"></concreteOperator>
			</operators>
		</option>
		<!--分销管理--><!--
		<option name="Distribution">
			<operators>
				<concreteOperator isLoad="true" className="UFIDA.T.UA.ST.DistributionFunctionEnableOperator" loadFrom="server\UFIDA.T.UA.ST.dll" moduleName="ST"></concreteOperator>
			</operators>
		</option>-->
		<!--普及进销存-->
		<option name="StdIERP">
			<operators>
				<concreteOperator isLoad="true" className="UFIDA.T.UA.ST.StdIERPFunctionEnableOperator" loadFrom="server\UFIDA.T.UA.ST.dll" moduleName="ST"></concreteOperator>
			</operators>
		</option>
		<!--促销管理 add by gaozc 2013-11-18 -->
		<option name="Promotion">
			<operators>
				<concreteOperator isLoad="true" className="UFIDA.T.UA.ST.PromotionFunctionEnableOperator" loadFrom="server\UFIDA.T.UA.ST.dll" moduleName="ST"></concreteOperator>
			</operators>
		</option>
	</FunctionEnable>

	<!--会计期间前置校验-->
	<PeriodSettings>
		<!--前置校验-->
		<validators>
			<concreteValidator isLoad="true" className="UFIDA.T.UA.ST.PeriodValidator" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST"></concreteValidator>
		</validators>
	</PeriodSettings>

	<!--账套选项前置校验和后置操作类配置-->
	<AccountOptions>
		<!--多营销机构-->
		<option name="IsMultiMarketing">
			<operators>
				<concreteOperator isLoad="true" className="UFIDA.T.UA.ST.IsMultiMarketingOperator" loadFrom="server\UFIDA.T.UA.ST.dll" moduleName="ST"></concreteOperator>
				<concreteOperator isLoad="true" className="Ufida.T.UA.ST.AccountOption.STSafeStockOperator" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST"/>
			</operators>
		</option>
		<!--智能补货-->
		<option name="App_chanjet_SmartReplenish">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.ST.AccountOption.AppChanjetSmartReplenish" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST"></concreteOperator>
			</operators>
		</option>
		<!-- 多币种 -->
		<option name="IsMultiCurrency">
			<validators>
				<concreteValidator isLoad="true" className="Ufida.T.UA.ST.AccountOption.STCurrencyValidator" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST" />
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.ST.AccountOption.STCurrencyOperator" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST" />
			</operators>
		</option>
		<!-- 存货批号管理 -->
		<option name="IsBatchNumberManage">
			<validators>
				<concreteValidator isLoad="true" className="Ufida.T.UA.ST.AccountOption.STBatchNumberValidator" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST" />
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.ST.AccountOption.STBatchOperator" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST" />
				<!--库存核算模块“启用批号+有效期管理”选项的后置影响类-->
				<concreteOperator isLoad="true" className="Ufida.T.UA.ST.AccountOption.STBatchWithExpiryDate" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST" />
			</operators>
		</option>
		<!-- 存货有效期管理 -->
		<option name="IsQualityPeriodManage">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.ST.AccountOption.STQualityOperator" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST" />
				<!--库存核算模块“启用批号+有效期管理”选项的后置影响类-->
				<concreteOperator isLoad="true" className="Ufida.T.UA.ST.AccountOption.STBatchWithExpiryDate" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST" />
			</operators>
		</option>
		<!-- 货位管理 -->
		<option name="IsInvLocationManage">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.ST.AccountOption.STInvLocationOperator" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST" />
			</operators>
		</option>
		<!-- 委外加工 -->
		<option name="IsMadeByOthers">
			<validators>
			</validators>
			<operators>
			</operators>
		</option>
		<!-- 数量小数位 -->
		<option name="QuantityPrecision">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.ST.AccountOption.STQuantityPrecisionOperator" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST" />
			</operators>
		</option>
		<!-- 单价小数位 -->
		<option name="PricePrecision">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.ST.AccountOption.STPricePrecisionOperator" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST" />
			</operators>
		</option>
		<!-- 单价整数位 -->
		<option name="PriceIntegeration">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.ST.AccountOption.STPriceIntegerationOperator" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST" />
			</operators>
		</option>
		<!-- 发票单价小数位 -->
		<option name="InvoicePricePrecision">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.ST.AccountOption.STInvoicePrecisionOperator" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST" />
			</operators>
		</option>
		<!-- 汇率小数位 -->
		<option name="ExchangeRatePrecision">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.ST.AccountOption.STExchangRateOperator" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST" />
			</operators>
		</option>
		<!-- 换算率小数位 -->
		<option name="ProportionRatePrecision">
			<validators>
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.ST.AccountOption.STSwapRateOperator" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST" />
			</operators>
		</option>
		<!-- 批号和计价法联用 -->
		<option name="IsBatchNumberWithPriceMode">
			<validators>
				<concreteValidator isLoad="true" className="Ufida.T.UA.ST.AccountOption.STBatchCombinePriceValidator" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST" />
			</validators>
			<operators>
				<!--库存核算模块“批号&&计价法联用”选项的后置影响类-->
				<concreteOperator isLoad="true" className="Ufida.T.UA.ST.AccountOption.STBatchWithPriceMode" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST" />
			</operators>
		</option>
		<!-- 计价模式 -->
		<option name="PriceMode">
			<validators>
				<concreteValidator isLoad="true" className="Ufida.T.UA.ST.AccountOption.STPriceModeValidator" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST" />
			</validators>
			<operators>
				<!--库存核算模块“计价模式”选项的后置影响类-->
				<concreteOperator isLoad="true" className="Ufida.T.UA.ST.AccountOption.STPriceMode" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST" />
			</operators>
		</option>
		<!-- 暂估处理方式 -->
		<option name="TemporayEstimateMode">
			<validators>
				<concreteValidator isLoad="true" className="Ufida.T.UA.ST.AccountOption.STTempEstimateModeValidator" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST" />
			</validators>
			<operators>
				<!--库存核算模块“暂估处理方式”选项的后置影响类-->
				<concreteOperator isLoad="true" className="Ufida.T.UA.ST.AccountOption.STTemporayEstimateModeOperator" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST" />
			</operators>
		</option>
		<!-- 计价时机 -->
		<option name="PriceOpportunity">
			<validators>
				<concreteValidator isLoad="true" className="Ufida.T.UA.ST.AccountOption.STPriceTimeValidator" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST" />
			</validators>
		</option>
		<!-- 销售流程 -->
		<option name="SAWorkflow">
			<validators>
				<concreteValidator isLoad="true" className="Ufida.T.UA.ST.SAWorkflowVaildate" loadFrom="server\UFIDA.T.UA.ST.dll" moduleName="ST" />
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.ST.AccountOption.ConcreteSAWorkflowControl" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST" />
			</operators>
		</option>
		<!-- 采购流程 -->
		<option name="PUWorkflow">
			<validators>
				<concreteValidator isLoad="true" className="Ufida.T.UA.ST.PUWorkflowVaildate" loadFrom="server\UFIDA.T.UA.ST.dll" moduleName="ST" />
			</validators>
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.ST.AccountOption.ConcretePUWorkflowControl" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST" />
			</operators>
		</option>
		<!-- 进货单自动生成入库单 -->
		<option name="IsPurchaseOrderAutoStockOrder">
			<operators>
			</operators>
		</option>
		<!-- 销货单自动生成出库单 -->
		<option name="IsDeliveryOrderAutoStockOrder">
			<operators>
			</operators>
		</option>
		<!-- 是否已经有货品使用了多计量 -->
		<option name="HaveUsedMultiUnit">
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.ST.AccountOption.STMultiUnitOperator" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST" />
			</operators>
		</option>
		<!-- 存货分类管理 -->
		<option name="IsInventoryClass">
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.ST.AccountOption.STInventoryClassOperator" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST" />
			</operators>
		</option>
		<!-- 往来单位分类管理 -->
		<option name="IsPartnerClass">
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.ST.AccountOption.STPartnerClassOperator" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST" />
			</operators>
		</option>
		<!-- 账套性质 -->
		<option name="AccoutType">
			<operators>
				<!--<concreteOperator isLoad="true" className="Ufida.T.UA.ST.AccountOption.STAccountTypeOperator" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST" />-->
			</operators>
		</option>
		<!-- 核销方式 -->
		<option name="CheckMode">
			<operators>
			</operators>
		</option>
		<!-- 采购立账类型 -->
		<option name="PUAccount">
			<validators />
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.ST.AccountOption.STPUInvoiceAccountOperator" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST" />
			</operators>
		</option>
		<!-- 销售立账类型 -->
		<option name="SAAccount">
			<validators />
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.ST.AccountOption.STSAInvoiceAccountOperator" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST" />
			</operators>
		</option>
		<!-- 项目档案分类管理 -->
		<option name="IsProgramDossier">
			<validators />
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.ST.AccountOption.STProjectClassOperator" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST" />
			</operators>
		</option>
    	<!-- 条形码管理 -->
    	<option name="BarCodeManage">
      		<validators />
      		<operators>
        		<concreteOperator isLoad="true" className="Ufida.T.UA.ST.AccountOption.STBarCodeManageOperator" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="PU"/>
      		</operators>
    	</option>
		<!-- 按仓库设置最高、最低、安全库存 -->
		<option name="MaxMinSecurityWarehouse">
			<validators />
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.UA.ST.AccountOption.STSafeStockOperator" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST"/>
			</operators>
		</option>
		<!-- 成品率小数位 -->
		<option name="ProductRateDecimalDigits">
			<validators />
			<operators />
		</option>
		<!-- 损耗率小数位 -->
		<option name="ShrinkageRateDecimalDigits">
			<validators />
			<operators />
		</option>
		<!-- 考虑成品率 -->
		<option name="IsRelationWithProductRate">
			<validators />
			<operators />
		</option>
		<!-- 考虑损耗率 -->
		<option name="IsRelationWithShrinkageRate">
			<validators />
			<operators />
		</option>
		<!-- 采购需求累计下达数超建议 -->
		<option name="IsStockAcquireNumOvertopAdvice">
			<validators />
			<operators />
		</option>
		<!-- 已订未出货 -->
		<option name="IsOrderedButNoSend">
			<validators />
			<operators />
		</option>
		<!-- 销售应收款 -->
		<option name="IsReceivableAccount">
			<validators />
			<operators />
		</option>
		<!-- 预收款 -->
		<option name="IsPrepay">
			<validators />
			<operators />
		</option>
		<!-- 已出货未立账 -->
		<option name="IsSendedButNoBalance">
			<validators />
			<operators />
		</option>
		<!-- 收入单 -->
		<option name="IsRevenueBill">
			<validators />
			<operators />
		</option>
		<!-- 领料数量计算方式 -->
		<option name="CalculateTypeOfDrawMaterial">
			<validators />
			<operators />
		</option>
		<!-- 生产待入量 -->
		<option name="IsManufacturedWaitIncept">
			<validators />
			<operators />
		</option>
		<!-- 生产待发量 -->
		<option name="IsManufacturedWaitSend">
			<validators />
			<operators />
		</option>
    <!-- 销售订单可用量登记时机 -->
    <option name="OrderUsingQuantityControlTime">
      <validators>
        <summaryValidator isLoad="true" className="UFIDA.T.UA.ST.AccountOption.OptionModifyingValidate.STSaleOrderUsingQuantityControlTime" loadFrom="server\Ufida.T.UA.ST.dll" moduleName="ST" />
      </validators>
    </option>
		<!-- 计价周期类型 -->
		<option name="AccountValueCycleType">
			<validators />
			<operators />
		</option>
		<!-- 计价周期 -->
		<option name="AccountValueCycle">
			<validators />
			<operators />
		</option>
		<!-- 考虑成本率 -->
		<option name="MRPOprationWithProductRate">
			<validators />
			<operators />
		</option>
		<!-- 考虑损耗率 -->
		<option name="MRPOprationWithShrinkageRate">
			<validators />
			<operators />
		</option>
		<!-- MRP累计下达数量允许超建议量 -->
		<option name="IsMRPAcquireNumOvertopAdvice">
			<validators />
			<operators />
		</option>
		<!-- 产成品入库控制 -->
		<option name="ProductInceptControl">
			<validators />
			<operators />
		</option>
		<!-- 产成品入库控制范围 -->
		<option name="ProductInceptControlBound">
			<validators />
			<operators />
		</option>
		<!-- 产成品入库控制方式 -->
		<option name="ProductInceptControlType">
			<validators />
			<operators />
		</option>
		<!-- 产成品入库控制密码 -->
		<option name="ProductInceptControlPwd">
			<validators />
			<operators />
		</option>
		<!-- 委外价格控制 -->
		<option name="IsConsignTiptopPriceControl">
			<validators />
			<operators />
		</option>
		<!-- 委外价格控制方式 -->
		<option name="ConsignTiptopPriceControlType">
			<validators />
			<operators />
		</option>
		<!-- 委外价格控制密码 -->
		<option name="ConsignTiptopPriceControlPwd">
			<validators />
			<operators />
		</option>
		<!-- 成本计算方式 -->
		<option name="CostCalculateType">
			<validators />
			<operators />
		</option>
		<!-- 在产品成本分配方式（原材料） -->
		<option name="WIPCostAllocationTypeMaterial">
			<validators />
			<operators />
		</option>
		<!-- 在产品成本分配方式（费用） -->
		<option name="WIPCostAllocationTypeCharges">
			<validators />
			<operators />
		</option>
		<!-- 工序日报严格按工序流程控制 -->
		<option name="IsManuControlByProcess">
			<validators />
			<operators />
		</option>
		<!-- 控制范围 -->
		<option name="IsManuProcessControlRange">
			<validators />
			<operators />
		</option>
		<!-- 控制方式 -->
		<option name="IsManuProcessControlType">
			<validators />
			<operators />
		</option>
		<!-- 控制密码 -->
		<option name="IsManuProcessControlTypePwd">
			<validators />
			<operators />
		</option>
		<!-- 材料超计划领用 -->
		<option name="IsMaterialDrawExceedPlan">
			<validators />
			<operators />
		</option>
		<!-- 材料超计划领用控制方式 -->
		<option name="MaterialDrawControlType">
			<validators />
			<operators />
		</option>
		<!-- 材料超计划领用控制密码 -->
		<option name="MaterialDrawControlTypePwd">
			<validators />
			<operators />
		</option>
		<!-- 制单序时控制 -->
		<option name="IsControlWhenGenerateDoc">
			<validators />
			<operators />
		</option>
		<!-- 现金流量必录 -->
		<option name="IsCashFlowMustInput">
			<validators />
			<operators />
		</option>
		<!-- 制单人与审核人可为同一人 -->
		<option name="CanMakerIsAuditor">
			<validators />
			<operators />
		</option>
		<!-- 科目编码级次 -->
		<option name="AccountCodingLevel">
			<validators />
			<operators />
		</option>
		<!-- 凭证需审核才可记账 -->
		<option name="IsBookkeepOnlyWhenVoucherAudit">
			<validators />
			<operators />
		</option>
		<!-- 出纳凭证必须经由出纳签字 -->
		<option name="IsPayOnlyWhenCashierSignature">
			<validators />
			<operators />
		</option>
		<!-- 凭证必须经由主管签字 -->
		<option name="IsVoucherNeedSupervisorSign">
			<validators />
			<operators />
		</option>
		<!-- 资金及往来赤字控制 -->
		<option name="IsControlCapAndARAPDeficit">
			<validators />
			<operators />
		</option>
		<!-- 资金及往来赤字控制方式 -->
		<option name="IsControlCapAndARAPDeficitMode">
			<validators />
			<operators />
		</option>
		<!-- 支票是否自动核对 -->
		<option name="IsCheckAutoCheck">
			<validators />
			<operators />
		</option>
		<!-- 手工录入 -->
		<option name="IsManualInputData">
			<validators />
			<operators />
		</option>
		<!-- 引自业务数据 -->
		<option name="IsFromBusinessData">
			<validators />
			<operators />
		</option>
		<!-- 所得税汇算申报类型 -->
		<option name="IncomeTaxCalculateType">
			<validators />
			<operators />
		</option>
		<!-- 税务核算处理方式 -->
		<option name="TaxAccrualProcessingType">
			<validators />
			<operators />
		</option>
	</AccountOptions>
	<!--单据审核后置操作处理器配置-->
	<VoucherAudit>
		<Processors>
			<Processor isLoad="true" className="Ufida.T.UA.ST.STAuditProcessor" moduleName="ST" loadFrom="server\Ufida.T.UA.ST.dll" />
		</Processors>
	</VoucherAudit>
	<!--期末处理处理器配置-->
	<ClosingProcess>
		<Processors>
			<Processor isLoad="true" className="Ufida.T.UA.ST.TerminalProcess.STTerminalProcessor" moduleName="ST" description="STTerminalProcessing" loadFrom="server\Ufida.T.UA.ST.dll" />
		</Processors>
		<UnProcessors>
			<UnProcessor isLoad="true" className="Ufida.T.UA.ST.TerminalProcess.STUnTerminalProcessor" moduleName="ST" description="STUnTerminalProcessing" loadFrom="server\Ufida.T.UA.ST.dll" />
		</UnProcessors>
	</ClosingProcess>
	<!-- 财务期末结账 -->
	<FITerminalProcessors>
		<Processors>
		</Processors>
		<UnProcessors>
		</UnProcessors>
	</FITerminalProcessors>
	<!--期间结转处理器配置-->
	<CarryForward>
		<Processors>
			<Processor isLoad="true" className="Ufida.T.UA.ST.CarryForward.STForwardProcessor" moduleName="ST" description="STIsCarryForwarding" loadFrom="server\Ufida.T.UA.ST.dll" />
		</Processors>
	</CarryForward>


	<!--版本控制处理器配置-->
	<VersionControl>
		<Versions>
			<!--仓管通-->
			<Version name="CGTStd">
				<Processors>
					<!--库存模块-->
					<processor isLoad="true" className="Ufida.T.UA.VersionControl.ST.ST_CGT_VersionControlProcessor" moduleName="ST" loadFrom="server\Ufida.T.UA.ST.dll" />
				</Processors>
			</Version>
			<!--业务通标准版-->
			<Version name="YWTStd">
				<Processors>
				</Processors>
			</Version>
			<!--业务通专业版-->
			<Version name="YWTPro">
				<Processors>
					<!--库存模块-->
					<processor isLoad="true" className="Ufida.T.UA.VersionControl.ST.ST_YWTPro_VersionControlProcessor" moduleName="ST" loadFrom="server\Ufida.T.UA.ST.dll" />
				</Processors>
			</Version>
			<!--工贸通标准版-->
			<Version name="GMTStd">
				<Processors>
				</Processors>
			</Version>
			<!--工贸通专业版-->
			<Version name="GMTPro">
				<Processors>
				</Processors>
			</Version>
			<!--财务通标准版-->
			<Version name="CWTStd">
				<Processors>
				</Processors>
			</Version>
			<!--财务通专业版-->
			<Version name="CWTPro">
				<Processors>
				</Processors>
			</Version>
			<!--用友通专业版-->
			<Version name="YYTPro">
				<Processors>
				</Processors>
			</Version>
		</Versions>
	</VersionControl>


	<!--单据期间结转处理类配置-->
	<VoucherCarryForwards>
		<!-- 库存模块-->
		<VoucherCarryForward Code="ST2004" Name="入库调整单" Type="Ufida.T.UA.ST.CarryForward.AdjustCostInCarryForwardBP" loadFrom="server\Ufida.T.UA.ST.dll" />
		<VoucherCarryForward Code="ST2005" Name="出库调整单" Type="Ufida.T.UA.ST.CarryForward.AdjustCostOutCarryForwardBP" loadFrom="server\Ufida.T.UA.ST.dll" />
		<VoucherCarryForward Code="ST2003" Name="采购费用分摊单" Type="Ufida.T.UA.ST.CarryForward.ShareExpenseCarryForwardBP" loadFrom="server\Ufida.T.UA.ST.dll" />
		<VoucherCarryForward Code="ST2002" Name="采购核算单" Type="Ufida.T.UA.ST.CarryForward.PurchaseSettleCarryForwardBP" loadFrom="server\Ufida.T.UA.ST.dll" />
		<VoucherCarryForward Code="ST1031" Name="调拨单" Type="Ufida.T.UA.ST.CarryForward.TransVoucherCarryForwardBP" loadFrom="server\Ufida.T.UA.ST.dll" />
		<VoucherCarryForward Code="ST1032" Name="盘点单" Type="Ufida.T.UA.ST.CarryForward.CheckVoucherCarryForwardBP" loadFrom="server\Ufida.T.UA.ST.dll" />
		<VoucherCarryForward Code="ST1033" Name="形态转换单" Type="Ufida.T.UA.ST.CarryForward.ShapeVoucherCarryForwardBP" loadFrom="server\Ufida.T.UA.ST.dll" />
		<VoucherCarryForward Code="ST1034" Name="组装拆卸单" Type="Ufida.T.UA.ST.CarryForward.AssemDetachVoucherCarryForwardBP" loadFrom="server\Ufida.T.UA.ST.dll" />
		<VoucherCarryForward Code="ST1035" Name="货位调整单" Type="Ufida.T.UA.ST.CarryForward.PositionAdjustVoucherCarryForwardBP" loadFrom="server\Ufida.T.UA.ST.dll" />
		<VoucherCarryForward Code="ST1002" Name="产成品入库单" Type="Ufida.T.UA.ST.CarryForward.ProductReceiveCarryForwardBP" loadFrom="server\Ufida.T.UA.ST.dll" />
		<VoucherCarryForward Code="ST1004" Name="其他入库单" Type="Ufida.T.UA.ST.CarryForward.OtherReceiveCarryForwardBP" loadFrom="server\Ufida.T.UA.ST.dll" />
		<VoucherCarryForward Code="ST1022" Name="材料出库单" Type="Ufida.T.UA.ST.CarryForward.MaterialDispatchCarryForwardBP" loadFrom="server\Ufida.T.UA.ST.dll" />
		<VoucherCarryForward Code="ST1024" Name="其他出库单" Type="Ufida.T.UA.ST.CarryForward.OtherDispatchCarryForwardBP" loadFrom="server\Ufida.T.UA.ST.dll" />
		<VoucherCarryForward Code="SYS0911" Name="库存期初" Type="Ufida.T.UA.ST.CarryForward.PeriodStartOfStockCarryForwardBP" loadFrom="server\Ufida.T.UA.ST.dll" />
		<VoucherCarryForward Code="SYS0931" Name="期初暂估入库单" Type="Ufida.T.UA.ST.CarryForward.PeriodStartPurchaseReceiveCarryForwardBP" loadFrom="server\Ufida.T.UA.ST.dll" />
		<VoucherCarryForward Code="SYS0932" Name="期初销售出库单" Type="Ufida.T.UA.ST.CarryForward.PeriodStartSaleDispatchCarryForwardBP" loadFrom="server\Ufida.T.UA.ST.dll" />
		<VoucherCarryForward Code="ST1001" Name="采购入库单" Type="Ufida.T.UA.ST.CarryForward.PurchaseReceiveCarryForwardBP" loadFrom="server\Ufida.T.UA.ST.dll" />
		<VoucherCarryForward Code="ST1021" Name="销售出库单" Type="Ufida.T.UA.ST.CarryForward.SaleDispatchCarryForwardBP" loadFrom="server\Ufida.T.UA.ST.dll" />
		<VoucherCarryForward Code="STAcc001" Name="货位帐" Type="Ufida.T.UA.ST.CarryForward.LocationAccountCarryForwardBP" loadFrom="server\Ufida.T.UA.ST.dll" />
		<VoucherCarryForward Code="STAcc002" Name="现存量" Type="Ufida.T.UA.ST.CarryForward.CurrentStockCarryForwardBP" loadFrom="server\Ufida.T.UA.ST.dll" />
		<VoucherCarryForward Code="STAcc003" Name="明细账" Type="Ufida.T.UA.ST.CarryForward.SubsidiaryBooKCarryForwardBP" loadFrom="server\Ufida.T.UA.ST.dll" />
		<VoucherCarryForward Code="STAcc004" Name="计价辅助数据" Type="Ufida.T.UA.ST.CarryForward.AssistantDataBooKCarryForwardBP" loadFrom="server\Ufida.T.UA.ST.dll" />
		<VoucherCarryForward Code="STAcc005" Name="计价辅助关系" Type="Ufida.T.UA.ST.CarryForward.AssistantDataRelationCarryForwardBP" loadFrom="server\Ufida.T.UA.ST.dll" />
		<VoucherCarryForward Code="STAcc006" Name="总账" Type="Ufida.T.UA.ST.CarryForward.SummaryBooKCarryForwardBP" loadFrom="server\Ufida.T.UA.ST.dll" />
		<VoucherCarryForward Code="ST1025" Name="零售出库单" Type="Ufida.T.UA.ST.CarryForward.RetailDispatchCarryForwardBP" loadFrom="server\Ufida.T.UA.ST.dll" />
	</VoucherCarryForwards>
	<!--页面前置校验处理-->
	<PagePreCondition>
		<PagePreConditions>
			<!--单据校验-->
			<PagePreCondition Code="ST3005" Name="货位补录" Url="Stock/StockTools/PositionInitVoucherEdit.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="ST3007" Name="拣货工具" Url="BAPView/Voucher.aspx"  Type="Ufida.T.UA.ST.PagePreCondition.PickingToolVoucherPreCondition" loadFrom="server\Ufida.T.UA.ST.dll" />
			<PagePreCondition Code="ST3008" Name="补货工具" Url="BAPView/OpenList.aspx" Type="UFIDA.T.UA.ST.PagePreCondition.ReplenishmentPreCondition" loadFrom="server\Ufida.T.UA.ST.dll" />
			<PagePreCondition Code="ST3009" Name="库存上下限设置" Url="BAPView/OpenList.aspx"  Type="Ufida.T.UA.ST.PagePreCondition.SafeStockSettingPreCondition" loadFrom="server\Ufida.T.UA.ST.dll" />
			<PagePreCondition Code="ST3004" Name="有效期维护" Url="Stock/StockTools/CurrentBatchVoucherEdit.aspx" Type="Ufida.T.UA.ST.PagePreCondition.CurrentBatchVoucherPreCondition" loadFrom="server\Ufida.T.UA.ST.dll" />
		    <PagePreCondition Code="ST103202" Name="盘点单向导" Url="Stock/StockInnerProcess/CheckVoucherGuide.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="SYS0911" Name="库存期初余额" Url="BAPView/OpenList.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
            <PagePreCondition Code="ST1001" Name="采购入库单" Url="Stock/ReceiveAndDispatch/PurchaseReceiveVoucherEdit.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="ST1002" Name="产成品入库单" Url="Stock/ReceiveAndDispatch/ProductReceiveVoucherEdit.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="ST1003" Name="委外入库单" Url="BAPView/Voucher.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="ST1004" Name="其它入库单" Url="Stock/ReceiveAndDispatch/OtherReceiveVoucherEdit.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="ST1021" Name="销售出库单" Url="Stock/ReceiveAndDispatch/SaleDispatchVoucherEdit.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="ST1025" Name="零售出库单" Url="Stock/ReceiveAndDispatch/SaleDispatchVoucherEdit.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="ST1022" Name="材料出库单" Url="Stock/ReceiveAndDispatch/MaterialDispatchVoucherEdit.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="ST1023" Name="委外发料单" Url="BAPView/Voucher.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="ST1024" Name="其它出库单" Url="Stock/ReceiveAndDispatch/OtherDispatchVoucherEdit.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="ST1031" Name="调拨单" Url="Stock/StockInnerProcess/TransVoucherEdit.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="ST1032" Name="盘点单" Url="Stock/StockInnerProcess/CheckVoucherEdit.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="ST1033" Name="形态转换单" Url="Stock/StockInnerProcess/ShapeVoucherEdit.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="ST1034" Name="组装拆卸单" Url="Stock/StockInnerProcess/AssemDetachVoucherEdit.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="ST1035" Name="货位调整单" Url="Stock/StockInnerProcess/PositionAdjustVoucherEdit.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="ST2008" Name="红字回冲单" Url="Stock/InventoryCost/RedBackVoucherEdit.aspx" Type="Ufida.T.UA.ST.PagePreCondition.RedBackVoucherPreCondition" loadFrom="server\Ufida.T.UA.ST.dll" />
			<PagePreCondition Code="ST2009" Name="蓝字回冲单" Url="Stock/InventoryCost/BlueBackVoucherEdit.aspx" Type="Ufida.T.UA.ST.PagePreCondition.BlueBackVoucherPreCondition" loadFrom="server\Ufida.T.UA.ST.dll" />
			<PagePreCondition Code="ST2002" Name="采购核算单" Url="Stock/CostAssess/PurchaseSettleVoucherEdit.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="ST2003" Name="费用分摊单" Url="Stock/CostAssess/ShareExpenseVoucherEdit.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="ST2004" Name="入库调整单" Url="Stock/CostAssess/AdjustCostInVoucherEdit.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="ST2005" Name="出库调整单" Url="Stock/CostAssess/AdjustCostOutVoucherEdit.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="SYS0931" Name="期初暂估入库单" Url="Stock/PeriodStart/PSPurchaseReceiveVoucherEdit.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="SYS0932" Name="期初销售出库单" Url="Stock/PeriodStart/PSSaleDispatchVoucherEdit.aspx" Type="Ufida.T.BAP.BusinessApplication.PagePreCondition.VoucherPreCondition" loadFrom="" />
			<PagePreCondition Code="ST3013" Name="产品成本分配" Url="BAPView/Voucher.aspx?mId=mp08&amp;sysId=mp&amp;pId=voucherView&amp;SourceType=FromMenu" Type="Ufida.T.UA.MP.SM.PagePreCondition.MPPreConditonForCostAllocationOrder" loadFrom="server\Ufida.T.UA.MP.dll"/>
		</PagePreConditions>
		<Reports>
			<!--明细表-->
			<Report ReportName="ST_PurchaseReceiveDetailRpt" Code="ST4001" title="采购入库单明细表" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_PurchaseReceiveDetailRpt"/>
			<Report ReportName="ST_ProductReceiveDetailRpt" Code="ST4002" title="产成品入库单明细表" url ="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_ProductReceiveDetailRpt"/>
			<Report ReportName="ST_DelegateReceiveDetailRpt" Code="ST4003" title="委外入库单明细表" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_DelegateReceiveDetailRpt"/>
			<Report ReportName="ST_OtherReceiveDetailRpt" Code="ST4004" title="其他入库单明细表" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_OtherReceiveDetailRpt"/>
			<Report ReportName="ST_SaleDispatchDetailRpt" Code="ST4005" title="销售出库单明细表" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_SaleDispatchDetailRpt"/>
			<Report ReportName="ST_MaterialDispatchDetailRpt" Code="ST4006" title="材料出库单明细表" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_MaterialDispatchDetailRpt"/>
			<Report ReportName="ST_DelegateDispatchDetailRpt" Code="ST4007" title="委外发料单明细表" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_DelegateDispatchDetailRpt"/>
			<Report ReportName="ST_OtherDispatchDetailRpt" Code="ST4008" title="其他出库单明细表" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_OtherDispatchDetailRpt"/>
			<Report ReportName="ST_AssemDetachDetailRpt" Code="ST4009" title="组装拆卸单明细表" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_AssemDetachDetailRpt"/>
			<Report ReportName="ST_ShapeVoucherDetailRpt" Code="ST4020" title="形态转换单明细表" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_ShapeVoucherDetailRpt"/>
			<Report ReportName="ST_TransVoucherDetailRpt" Code="ST4030" title="调拨单明细表" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_TransVoucherDetailRpt"/>
      <Report ReportName="ST_RetailDispatchDetailRpt" Code="ST4010" title="零售出库单明细表" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_RetailDispatchDetailRpt"/>
			<!--统计表-->
			<Report ReportName="ST_PurchaseReceiveSumRpt" Code="ST6001" title="采购入库单统计表" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_PurchaseReceiveSumRpt"/>
			<Report ReportName="ST_ProductReceiveSumRpt" Code="ST6002" title="产成品入库单统计表" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_ProductReceiveSumRpt"/>
			<Report ReportName="ST_DelegateReceiveSumRpt" Code="ST6003" title="委外入库单统计表" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_DelegateReceiveSumRpt"/>
			<Report ReportName="ST_OtherReceiveSumRpt" Code="ST6004" title="其他入库单统计表" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_OtherReceiveSumRpt"/>
			<Report ReportName="ST_SaleDispatchSumRpt" Code="ST6011" title="销售出库单统计表" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_SaleDispatchSumRpt"/>
			<Report ReportName="ST_MaterialDispatchSumRpt" Code="ST6012" title="材料出库单统计表" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_MaterialDispatchSumRpt"/>
			<Report ReportName="ST_DelegateDispatchSumRpt" Code="ST6013" title="委外发料单统计表" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_DelegateDispatchSumRpt"/>
			<Report ReportName="ST_OtherDispatchSumRpt" Code="ST6014" title="其他出库单统计表" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_OtherDispatchSumRpt"/>
			<Report ReportName="ST_AssemDetachSumRpt" Code="ST6031" title="组装拆卸单统计表" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_AssemDetachSumRpt"/>
			<Report ReportName="ST_ShapeVoucherSumRpt" Code="ST6032" title="形态转换单统计表" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_ShapeVoucherSumRpt"/>
			<Report ReportName="ST_TransVoucherSumRpt" Code="ST6033" title="调拨单统计表" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_TransVoucherSumRpt"/>
      <Report ReportName="ST_RetailDispatchSumRpt" Code="ST6010" title="零售出库单统计表" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_RetailDispatchSumRpt"/>
			<!--XXdp201807651-->
			<Report ReportName="ST_TempValueBalanceRpt" Code="ST6070" title="暂估入库余额表" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_TempValueBalanceRpt"/>
			<Report ReportName="ST_ObsoleteMaterialRpt" Code="ST6063" title="呆滞存货分析表" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_ObsoleteMaterialRpt"/>
			<Report ReportName="ST_CapitalOccupancyRpt" Code="ST6067" title="库存资金占用分析表" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_CapitalOccupancyRpt"/>
			<Report ReportName="ST_MaterialTurnoverRpt" Code="ST6065" title="库存周转率分析表" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_MaterialTurnoverRpt"/>
			<Report ReportName="ST_StockAgeRpt" Code="ST6075" title="库龄分析表" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_StockAgeRpt"/>
			<Report ReportName="ST_RevenueCostAnalysisRpt" Code="ST7017" title="销售收入成本配比表" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_RevenueCostAnalysisRpt"/>
			<!--XXdp201807651-->
			<!--执行表-->
			<Report ReportName="ST_RDSInventoryTotalRpt" Code="ST9020" title="存货总账" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_RDSInventoryTotalRpt"/>
			<Report ReportName="ST_RDSInventoryDetailRpt" Code="ST9021" title="存货明细账" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_RDSInventoryDetailRpt"/>
			<Report ReportName="ST_RDSOverViewRpt" Code="SA8031" title="进销存汇总表" url=""/>
			<Report ReportName="ST_RDSPositionDetailRpt" Code="ST9042" title="货位明细账" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_RDSPositionDetailRpt"/>
			<Report ReportName="ST_RDSPositionTotalRpt" Code="ST9041" title="货位总账" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_RDSPositionTotalRpt"/>
			<Report ReportName="ST_RDSRunningAccountRpt" Code="ST9002" title="库存台帐" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_RDSRunningAccountRpt"/>
			<Report ReportName="ST_RDSSummaryRpt" Code="ST6061" title="收发存汇总表" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_RDSSummaryRpt"/>
			<Report ReportName="ST_RDSTempValueRpt" Code="ST7010" title="暂估入库单核算执行表" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_RDSTempValueRpt"/>
			<Report ReportName="ST_RDSTraceRpt" Code="ST7020" title="出入库跟踪" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_RDSTraceRpt"/>
			<!--库存工具-->
			<Report ReportName="ST_CurrentStockRpt" Code="ST3011" title="现存量查询" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_CurrentStockRpt"/>
			<Report ReportName="ST_PeriodStartOfStockRpt" Code="SYS0911" title="出入库期初汇总" url="BAPView/ReportWithSimpleSearch.aspx?ReportName=ST_PeriodStartOfStockRpt"/>
			<!--++++++++++++++++++++++++++++++++++++++库存报表end++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
		</Reports>
	</PagePreCondition>
	<MessageCenter>
		<!--构建数据-->
		<ConstituteData>
			<!--单据消息设置-->
			<Module name="VoucherMessage">
				<Option name="ST1001" >
					<add key="assemblyName" className="Ufida.T.ST.Service.PurchaseReceiveService" classLoadFrom="server\Ufida.T.ST.Service.dll" dtoName="Ufida.T.ST.DTO.RDRecordDTO" dtoLoadFrom="server\Ufida.T.ST.DTO.dll" detailDTOName="Ufida.T.ST.DTO.RDRecordDetailDTO"></add>
					<add key="methodName" findDTOList="FindListForMessages" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
				</Option>
				<Option name="ST1002" >
					<add key="assemblyName" className="Ufida.T.ST.Service.ProductReceiveService" classLoadFrom="server\Ufida.T.ST.Service.dll" dtoName="Ufida.T.ST.DTO.RDRecordDTO" dtoLoadFrom="server\Ufida.T.ST.DTO.dll" detailDTOName="Ufida.T.ST.DTO.RDRecordDetailDTO"></add>
					<add key="methodName" findDTOList="FindListForMessages" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
				</Option>
				<Option name="ST1004" >
					<add key="assemblyName" className="Ufida.T.ST.Service.OtherReceiveService" classLoadFrom="server\Ufida.T.ST.Service.dll" dtoName="Ufida.T.ST.DTO.RDRecordDTO" dtoLoadFrom="server\Ufida.T.ST.DTO.dll" detailDTOName="Ufida.T.ST.DTO.RDRecordDetailDTO"></add>
					<add key="methodName" findDTOList="FindListForMessages" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
				</Option>
				<Option name="ST1021" >
					<add key="assemblyName" className="Ufida.T.ST.Service.SaleDispatchService" classLoadFrom="server\Ufida.T.ST.Service.dll" dtoName="Ufida.T.ST.DTO.RDRecordDTO" dtoLoadFrom="server\Ufida.T.ST.DTO.dll" detailDTOName="Ufida.T.ST.DTO.RDRecordDetailDTO"></add>
					<add key="methodName" findDTOList="FindListForMessages" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
				</Option>
				<Option name="ST1022" >
					<add key="assemblyName" className="Ufida.T.ST.Service.MaterialDispatchService" classLoadFrom="server\Ufida.T.ST.Service.dll" dtoName="Ufida.T.ST.DTO.RDRecordDTO" dtoLoadFrom="server\Ufida.T.ST.DTO.dll" detailDTOName="Ufida.T.ST.DTO.RDRecordDetailDTO"></add>
					<add key="methodName" findDTOList="FindListForMessages" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
				</Option>
				<Option name="ST1024" >
					<add key="assemblyName" className="Ufida.T.ST.Service.OtherDispatchService" classLoadFrom="server\Ufida.T.ST.Service.dll" dtoName="Ufida.T.ST.DTO.RDRecordDTO" dtoLoadFrom="server\Ufida.T.ST.DTO.dll" detailDTOName="Ufida.T.ST.DTO.RDRecordDetailDTO"></add>
					<add key="methodName" findDTOList="FindListForMessages" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
				</Option>

				<Option name="ST1031" >
					<add key="assemblyName" className="Ufida.T.ST.Service.TransVoucherService" classLoadFrom="server\Ufida.T.ST.Service.dll" dtoName="Ufida.T.ST.DTO.TransVoucherDTO" dtoLoadFrom="server\Ufida.T.ST.DTO.dll" detailDTOName="Ufida.T.ST.DTO.TransVoucherDetailDTO"></add>
					<add key="methodName" findDTOList="FindListForMessages" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
				</Option>
				<Option name="ST1032" >
					<add key="assemblyName" className="Ufida.T.ST.Service.CheckVoucherService" classLoadFrom="server\Ufida.T.ST.Service.dll" dtoName="Ufida.T.ST.DTO.CheckVoucherDTO" dtoLoadFrom="server\Ufida.T.ST.DTO.dll" detailDTOName="Ufida.T.ST.DTO.CheckVoucherDetailDTO"></add>
					<add key="methodName" findDTOList="FindListForMessages" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
				</Option>
				<Option name="ST1033" isDetailOption ="false">
					<add key="assemblyName" className="Ufida.T.ST.Service.ShapeVoucherService" classLoadFrom="server\Ufida.T.ST.Service.dll" dtoName="Ufida.T.ST.DTO.ShapeVoucherDTO" dtoLoadFrom="server\Ufida.T.ST.DTO.dll" detailDTOName="Ufida.T.ST.DTO.ShapeDetailDTO"></add>
					<add key="methodName" findDTOList="FindListForMessages" findDTOByID="FindById" findDetailDTO="" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod=""></add>
				</Option>
				<Option name="ST1034" isDetailOption ="false">
					<add key="assemblyName" className="Ufida.T.ST.Service.AssemDetachVoucherService" classLoadFrom="server\Ufida.T.ST.Service.dll" dtoName="Ufida.T.ST.DTO.AssemDetachVoucherDTO" dtoLoadFrom="server\Ufida.T.ST.DTO.dll" detailDTOName="Ufida.T.ST.DTO.AssemDetachDetailDTO"></add>
					<add key="methodName" findDTOList="FindListForMessages" findDTOByID="FindById" findDetailDTO="" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod=""></add>
				</Option>
				<Option name="ST1035" >
					<add key="assemblyName" className="Ufida.T.ST.Service.PositionAdjustVoucherService" classLoadFrom="server\Ufida.T.ST.Service.dll" dtoName="Ufida.T.ST.DTO.PositionAdjustVoucherDTO" dtoLoadFrom="server\Ufida.T.ST.DTO.dll" detailDTOName="Ufida.T.ST.DTO.PositionAdjustVoucherDetailDTO"></add>
					<add key="methodName" findDTOList="FindListForMessages" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
				</Option>

				<Option name="ST2002" >
					<add key="assemblyName" className="Ufida.T.ST.Service.PurchaseSettleVoucherService" classLoadFrom="server\Ufida.T.ST.Service.dll" dtoName="Ufida.T.ST.DTO.PurchaseSettleVoucherDTO" dtoLoadFrom="server\Ufida.T.ST.DTO.dll" detailDTOName="Ufida.T.ST.DTO.PurchaseSettleVoucherDetailDTO"></add>
					<add key="methodName" findDTOList="FindListForMessages" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
				</Option>
				<Option name="ST2003" isDetailOption ="false">
					<add key="assemblyName" className="Ufida.T.ST.Service.ShareExpenseVoucherService" classLoadFrom="server\Ufida.T.ST.Service.dll" dtoName="Ufida.T.ST.DTO.ShareExpenseVoucherDTO" dtoLoadFrom="server\Ufida.T.ST.DTO.dll" detailDTOName="Ufida.T.ST.DTO.ShareExpenseVoucherExpenseDetailDTO"></add>
					<add key="methodName" findDTOList="FindListForMessages" findDTOByID="FindById" findDetailDTO="" doReceiptMethod="" getUFTableMethod="FindTable" getDetailUFTableMethod=""></add>
				</Option>
				<Option name="ST2004" >
					<add key="assemblyName" className="Ufida.T.ST.Service.AdjustCostInVoucherService" classLoadFrom="server\Ufida.T.ST.Service.dll" dtoName="Ufida.T.ST.DTO.AdjustCostInVoucherDTO" dtoLoadFrom="server\Ufida.T.ST.DTO.dll" detailDTOName="Ufida.T.ST.DTO.AdjustCostInVoucherDetailDTO"></add>
					<add key="methodName" findDTOList="FindListForMessages" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
				</Option>
				<Option name="ST2005" >
					<add key="assemblyName" className="Ufida.T.ST.Service.AdjustCostOutVoucherService" classLoadFrom="server\Ufida.T.ST.Service.dll" dtoName="Ufida.T.ST.DTO.AdjustCostOutVoucherDTO" dtoLoadFrom="server\Ufida.T.ST.DTO.dll" detailDTOName="Ufida.T.ST.DTO.AdjustCostOutVoucherDetailDTO"></add>
					<add key="methodName" findDTOList="FindListForMessages" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
				</Option>

				<Option name="SYS0931" >
					<add key="assemblyName" className="Ufida.T.ST.Service.PurchaseReceiveService" classLoadFrom="server\Ufida.T.ST.Service.dll" dtoName="Ufida.T.ST.DTO.RDRecordDTO" dtoLoadFrom="server\Ufida.T.ST.DTO.dll" detailDTOName="Ufida.T.ST.DTO.RDRecordDetailDTO"></add>
					<add key="methodName" findDTOList="FindListForMessages" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
				</Option>
				<Option name="SYS0932" >
					<add key="assemblyName" className="Ufida.T.ST.Service.SaleDispatchService" classLoadFrom="server\Ufida.T.ST.Service.dll" dtoName="Ufida.T.ST.DTO.RDRecordDTO" dtoLoadFrom="server\Ufida.T.ST.DTO.dll" detailDTOName="Ufida.T.ST.DTO.RDRecordDetailDTO"></add>
					<add key="methodName" findDTOList="FindListForMessages" findDTOByID="FindById" findDetailDTO="FindDetailList" doReceiptMethod="Audit" getUFTableMethod="FindTable" getDetailUFTableMethod="FindDetailTable"></add>
				</Option>
				<!--<Option><Instance className="类名" loadFrom="程序集"/>需要实现基类</Option>-->
			</Module>
		</ConstituteData>
	</MessageCenter>
	<UserDefineItemUpdated>
		<!--产品成本分配单表头自定义项后置，用来处理重新计价中栏目-->
		<Voucher name="CostAllocationOrder">
			<operators>
				<concreteOperator isLoad="true" className="Ufida.T.ST.Service.CostAssess.VoucherUserDefOption.CostAllocationOrderUserDefService" loadFrom="server\Ufida.T.ST.Service.dll" moduleName="ST" />
			</operators>
		</Voucher>	
	</UserDefineItemUpdated>
  <!--账套管理-->
  <AccountManage>
    <AccountClear>
      <concreteOperator isLoad="true" className="UFIDA.T.UA.ST.AccountClear.STAccountClearOperator" loadFrom="server\UFIDA.T.UA.ST.dll" moduleName="ST" />
    </AccountClear>
  </AccountManage>

</Config>