<?xml version="1.0" encoding="utf-8"?>
<Config>
  <!--功能启用前置校验和后置操作-->
  <FunctionEnable>
    <!--普及账表-->
    <option name="StdAccount">
      <!--前置校验-->
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.TUFO.SM.FunctionEnable.Validate.TUFOValidate" loadFrom="server\Ufida.T.UA.TUFO.dll" moduleName="TUFO" />
      </validators>
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.TUFO.SM.FunctionEnable.TUFOProFunctionEnable" loadFrom="server\Ufida.T.UA.TUFO.dll" moduleName="TUFO"></concreteOperator>       
      </operators>
    </option>
    <!--TUFO-->
    <option name="TUFO">
      <!--前置校验-->
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.TUFO.SM.FunctionEnable.Validate.TUFOValidate" loadFrom="server\Ufida.T.UA.TUFO.dll" moduleName="TUFO" />
      </validators>
      <!--后置操作-->
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.TUFO.SM.FunctionEnable.TUFOProFunctionEnable" loadFrom="server\Ufida.T.UA.TUFO.dll" moduleName="TUFO"></concreteOperator>
      </operators>
    </option>
  </FunctionEnable>
  
  <AccountOptions>
    <!--按行业性质预置TUFO系统模板 -->
    <option name="IsSetAccountCodingByTradeKind">
      <validators>
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.TUFO.TUFOPresetData.Operators.TUFOPresetDataOperator" loadFrom="server\Ufida.T.UA.TUFO.dll" moduleName="TUFO" />
      </operators>
    </option>
    <!-- 多币种 -->
    <option name="IsMultiCurrency">
      <validators>
        <concreteValidator isLoad="true" className="Ufida.T.UA.TUFO.SM.AccountOption.Validate.TUFOCurrencyValidator" loadFrom="server\Ufida.T.UA.TUFO.dll" moduleName="TUFO" />
      </validators>
      <operators>
        <concreteOperator isLoad="true" className="Ufida.T.UA.TUFO.SM.AccountOption.Operators.TUFOCurrencyOperator" loadFrom="server\Ufida.T.UA.TUFO.dll" moduleName="TUFO" />
      </operators>
    </option>
  </AccountOptions>
</Config>