<?xml version="1.0" ?>
<Accinformation>
<Modle name="FunctionEnable" desc="功能启用" type="Grid">
<Field name="SubList">
<Property Name="Stock" Caption="库存核算" InfoId="301" DependItem="依赖项" mutexItem="互斥项"  ParentId="上级Id" Description="描述信息" IsVisible="true" IsEnable="true" default="" SameTo="" Type="" Version="YYTPro;CWTPro;CWTPop;"/>

<Property Name="PS" Caption="购销管理" InfoId="302" DependItem="依赖项" mutexItem="互斥项"  ParentId="上级Id" Description="描述信息" IsVisible="true" IsEnable="true" default="" SameTo="" Type="" Version="YYTPro;CWTPro;CWTPop;"/>

<Property Name="CashBankMoneyFlow" Caption="现金银行-钱流" InfoId="303" DependItem="依赖项" mutexItem="互斥项"  ParentId="上级Id" Description="描述信息" IsVisible="true" IsEnable="true" default="" SameTo="" Type="" Version="YYTPro;CWTPro;CWTPop;"/>

<Property Name="Manufacture" Caption="自制加工" InfoId="304" DependItem="依赖项" mutexItem="互斥项"  ParentId="上级Id" Description="描述信息" IsVisible="true" IsEnable="true" default="" SameTo="" Type="" Version="YYTPro;CWTPro;CWTPop;"/>

<Property Name="ConsignManufacture" Caption="委外加工" InfoId="305" DependItem="依赖项" mutexItem="互斥项"  ParentId="上级Id" Description="描述信息" IsVisible="true" IsEnable="true" default="" SameTo="" Type="" Version="YYTPro;CWTPro;CWTPop;"/>

<Property Name="Costing" Caption="成本核算" InfoId="306" DependItem="依赖项" mutexItem="互斥项"  ParentId="上级Id" Description="描述信息" IsVisible="true" IsEnable="true" default="" SameTo="" Type="" Version="YYTPro;CWTPro;CWTPop;"/>

<Property Name="MRP" Caption="MRP运算" InfoId="307" DependItem="依赖项" mutexItem="互斥项"  ParentId="上级Id" Description="描述信息" IsVisible="true" IsEnable="true" default="" SameTo="" Type="" Version="YYTPro;CWTPro;CWTPop;"/>

<Property Name="Process" Caption="工序管理" InfoId="308" DependItem="依赖项" mutexItem="互斥项"  ParentId="上级Id" Description="描述信息" IsVisible="true" IsEnable="true" default="" SameTo="" Type="" Version="YYTPro;CWTPro;CWTPop;"/>
</Field>
</Modle>
<Modle name="Option" desc="选项" type="Grid">
<Field name="SubList">
<Property SysId="SM" Name="Stock" Caption="科目编码级次设置" InfoId="" DependItem="科目编码级次设置" mutexItem="互斥项"  ParentId="上级Id" Description="描述信息" IsVisible="true" IsEnable="true"  default="" Type="" SameTo="" range="1:100" />
</Field>
</Modle>
<Modle name="GLOption" desc="财务选项" type="Grid">
<Field name="SubList">
<Property SysId="SM" Name="Stock" Caption="科目编码级次设置" InfoId="" DependItem="科目编码级次设置" mutexItem="互斥项"  ParentId="上级Id" Description="描述信息" IsVisible="true" IsEnable="true"  default="" Type="" SameTo="" range="1:100" />
</Field>
</Modle>
</Accinformation>
